Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: env imports on `/candidate/preregister` routes
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Preregistration nominations to context
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clear ID token button
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
Due: none

Case-insensitive candidate lookup, email validation
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: trigger `onChange` even when there's only one `Constituency`
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
Due: none

Display error also if Bank ID fails
  frontend/src/lib/candidate/utils/preregistrationError.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: update `yarn.lock`
  yarn.lock
Due: none

fix: use `$app/page` instead of `$app/state`
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

Email template
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Cleanup email template
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: yarn build:app-shared, prettier --write

Localised email
  backend/vaa-strapi/config/email-templates/confirm-email.html
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up i18n
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write

Add margins
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
Due: yarn build:app-shared, prettier --write

Revise preregister- function naming
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Comment on BACKEND_API_TOKEN
  .env.example
Due: none

Typing and naming improvements
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/claims/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituencies/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/elections/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Preregistration error handling (draft)
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Submit constituency per election
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Comment on exchangeCodeForIdToken
  frontend/src/lib/api/base/dataWriter.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add more translations
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add select components + session storage items
  .env.example
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Keep top bar settings in top-level layout
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

Add Strapi preregistration endpoint
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  packages/app-shared/src/auth/getIdTokenClaims.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Edit messages
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write

Integrate with Signicat's OIDC :wq#
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  packages/app-shared/README.md
  packages/app-shared/package.json
  packages/app-shared/src/auth/getUserData.ts
  packages/app-shared/src/index.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix param naming
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Content support button
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write

Add navigation between questions (draft)
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/claims/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `PUBLIC_DEBUG` env variable for logging debug messages
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/logger.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Rename env variables, getUserInfo => getIdTokenClaims
  .env.example
  docker-compose.dev.yml
  frontend/package.json
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Document ID Number => String in DataWriter / Context
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
