Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(92-03): complete voter goToPage/expectPageVisible fixture rollout plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(92-05): migrate single-Home-goto perm specs to voterHomePage.goToPage
  tests/tests/specs/perm/perm-disable-candidate-app.spec.ts
  tests/tests/specs/perm/perm-header-show-feedback.spec.ts
  tests/tests/specs/perm/perm-header-show-help.spec.ts
  tests/tests/specs/perm/perm-hide-all-nominations.spec.ts
  tests/tests/specs/perm/perm-missing-nominations.spec.ts
  tests/tests/specs/perm/perm-per-app-notifications.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(92-05): migrate perm-localisation voter Home + Results gotos to fixtures
  tests/tests/fixtures/candidate/perm-l10n.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(92-05): complete perm-spec voter-route goto migration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(92-04): central timeouts.ts buckets + barrel export
  tests/playwright.config.ts
  tests/tests/helpers/index.ts
  tests/tests/helpers/timeouts.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(92-04): migrate 4 local TIMEOUT objects + literals to central buckets
  tests/tests/fixtures/voter-mega.fixture.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
  tests/tests/utils/voterIntro.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(92-04): complete timeout-consolidation plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(92): add code review report
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-REVIEW.md
Due: yarn build:app-shared, prettier --write

fix(92-03): correct voter goToPage URL construction (CR-01/CR-02)
  tests/tests/fixtures/resultsPage.fixture.ts
  tests/tests/fixtures/voter/voterHomePage.fixture.ts
  tests/tests/fixtures/voter/voterIntroPage.fixture.ts
  tests/tests/fixtures/voter/voterQuestionsPage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(92): persist human verification items as UAT
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-HUMAN-UAT.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-92): complete phase execution (E2E gate passed 51/51)
  .planning/STATE.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-HUMAN-UAT.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(dev-seed): remove unused import, rename generic param, sort exports
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
  packages/dev-seed/src/templates/_helpers/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(runes-test): unnest <ol> from <p> to fix svelte autoclose compile error
  apps/frontend/src/routes/runes-test/nav-a11y/+page.svelte
Due: none

fix(quick-260603-c0g): correct MainContent relative-import depth in statistics page (build green)
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/statistics/+page.svelte
Due: none

style(quick-260603-c0g): clear 33 lint errors across frontend (lint:check green)
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
  apps/frontend/src/routes/(voters)/(located)/+layout.ts
  apps/frontend/src/routes/runes-test/+page.svelte
  apps/frontend/src/routes/runes-test/getroute-rune/getRouteRuneStore.svelte.ts
  apps/frontend/src/routes/runes-test/nav-a11y/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-a11y/+page.svelte
  apps/frontend/src/routes/runes-test/nav-a11y/questions/[[questionId]]/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/questions/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/questions/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/[[electionTab]]/KeyedInner.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/[[electionTab]]/[[entityTab]]/+page.svelte
  apps/frontend/src/routes/runes-test/nav-keyed-content/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-keyed-content/+page.svelte
  apps/frontend/src/routes/runes-test/nav-keyed-content/questions/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-keyed-content/questions/[[questionId]]/+page.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/+page.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/questions/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-transitions/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-transitions/+page.svelte
  apps/frontend/src/routes/runes-test/nav-transitions/questions/[[questionId]]/+page.svelte
  apps/frontend/src/routes/runes-test/ssr-hydration/appSettingsVariantA.svelte.ts
  apps/frontend/src/routes/runes-test/ssr-hydration/appSettingsVariantB.svelte.ts
  apps/frontend/src/routes/runes-test/voter-context-orchestration/+page.svelte
  apps/frontend/src/routes/runes-test/voter-context-orchestration/voterRuneContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260603-c0g): fix dev-seed lint + build breaks (lint:check + build green)
  .planning/STATE.md
  .planning/quick/260603-c0g-fix-3-dev-seed-lint-errors-runes-test-bu/260603-c0g-PLAN.md
  .planning/quick/260603-c0g-fix-3-dev-seed-lint-errors-runes-test-bu/260603-c0g-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(93): capture phase context
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-CONTEXT.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 93 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(93): add research + validation strategy
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-RESEARCH.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(93): create phase plan (6 plans, 5 waves)
  .planning/ROADMAP.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-01-PLAN.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-02-PLAN.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-03-PLAN.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-04-PLAN.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-05-PLAN.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-06-PLAN.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(93): fold plan-checker warnings into plan 93-03 (candidateMegaConstants spec consumers + Plan 05 labels)
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-03-PLAN.md
Due: yarn build:app-shared, prettier --write

test(93-01): quarantine variant-app-settings dev-seed suite
  packages/dev-seed/tests/templates/variant-app-settings.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(93-01): quarantine stale e2e.test.ts row-count assertion
  packages/dev-seed/tests/templates/e2e.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-01): capture pre-rewrite Playwright graph baseline
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-PLAYWRIGHT-LIST-BASELINE.txt
Due: none

docs(93-01): complete wave-0 dev-seed-gate-trust plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(93-02): move baseV1→e2e/base, retire e2e template, relocate perms to e2e/perm
  packages/dev-seed/src/cli/resolve-template.ts
  packages/dev-seed/src/index.ts
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
  packages/dev-seed/src/templates/e2e.ts
  packages/dev-seed/src/templates/e2e/base.ts
  packages/dev-seed/src/templates/e2e/perm/perm-1e1cg1co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-2e-asymmetric.ts
  packages/dev-seed/src/templates/e2e/perm/perm-2e-shared.ts
  packages/dev-seed/src/templates/e2e/perm/perm-answers-locked.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-allow-open.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-candidate-app.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-election-1co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-election-2co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-voter-app.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disjoint-1co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-header-show-feedback.ts
  packages/dev-seed/src/templates/e2e/perm/perm-header-show-help.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-all-nominations.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-category-tags.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-election-tags.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-hero.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-if-missing-answers.ts
  packages/dev-seed/src/templates/e2e/perm/perm-localisation-positive.ts
  packages/dev-seed/src/templates/e2e/perm/perm-missing-nominations.ts
  packages/dev-seed/src/templates/e2e/perm/perm-not-located-2e2cg.ts
  packages/dev-seed/src/templates/e2e/perm/perm-per-app-notifications.ts
  packages/dev-seed/src/templates/e2e/perm/perm-startfromcg.ts
  packages/dev-seed/src/templates/e2e/perm/shared.ts
  packages/dev-seed/src/templates/index.ts
  packages/dev-seed/tests/cli/likert-only.test.ts
  tests/seed-test-data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(93-02): retarget dev-seed template tests to base dataset (D-03 rewrite)
  packages/dev-seed/tests/templates/base-app-settings.test.ts
  packages/dev-seed/tests/templates/base.test.ts
  packages/dev-seed/tests/templates/e2e-app-settings.test.ts
  packages/dev-seed/tests/templates/e2e.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-02): drop retired baseV1/e2e naming from relocated perm shared.ts comment
  packages/dev-seed/src/templates/e2e/perm/shared.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-02): complete e2e/base seed family plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(93-03): move root voter fixtures into voter/ + rename voterMegaTest
  tests/tests/fixtures/candidate/perm-l10n.ts
  tests/tests/fixtures/voter/entityDetails.fixture.ts
  tests/tests/fixtures/voter/entityFilters.fixture.ts
  tests/tests/fixtures/voter/resultsPage.fixture.ts
  tests/tests/fixtures/voter/views.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/specs/a11y/a11y-smoke.spec.ts
  tests/tests/specs/perf/performance-budget.spec.ts
  tests/tests/specs/perm/perm-disable-allow-open.spec.ts
  tests/tests/specs/perm/perm-disable-candidate-app.spec.ts
  tests/tests/specs/perm/perm-header-show-feedback.spec.ts
  tests/tests/specs/perm/perm-header-show-help.spec.ts
  tests/tests/specs/perm/perm-hide-if-missing-answers.spec.ts
  tests/tests/specs/perm/perm-missing-nominations.spec.ts
  tests/tests/specs/perm/perm-per-app-notifications.spec.ts
  tests/tests/specs/visual/visual-regression.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(93-03): move cross-app fixtures to shared/, voterNav to voter/, rename candidate root
  tests/tests/fixtures/candidate/candidate-journey.ts
  tests/tests/fixtures/candidate/perm-l10n.ts
  tests/tests/fixtures/shared/emailBucket.fixture.ts
  tests/tests/fixtures/shared/langSelectorFixture.fixture.ts
  tests/tests/fixtures/shared/multilingualTextFieldFixture.fixture.ts
  tests/tests/fixtures/voter/voterNavFixture.fixture.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
  tests/tests/specs/visual/visual-regression.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(93-03): extract minimalVoterResultsPage fixture + rename candidate constants
  tests/tests/fixtures/voter/minimalVoterResultsPage.fixture.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/setup/candidate-mega.setup.ts
  tests/tests/setup/candidate-mega.teardown.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
  tests/tests/specs/perm/perm-disable-allow-open.spec.ts
  tests/tests/specs/perm/perm-hide-if-missing-answers.spec.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
  tests/tests/utils/candidateJourneyConstants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-03): complete role-based fixture taxonomy plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(93-04): merge data.setup/teardown into base chain, decouple e2eFixtureRefs (D-06)
  tests/debug-questions.ts
  tests/debug-setup.ts
  tests/tests/setup/data.setup.ts
  tests/tests/setup/data.teardown.ts
  tests/tests/utils/candidateJourneyConstants.ts
  tests/tests/utils/e2eFixtureRefs.ts
  tests/tests/utils/testCredentials.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(93-04): rewrite playwright.config project graph (D-08)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-04): complete setup taxonomy + base merge + playwright graph rewrite plan
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(93-04): update STATE + ROADMAP after setup/playwright graph rewrite plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

refactor(93-05): rename journey specs + repoint spec imports
  tests/tests/specs/candidate/candidate-journey.README.md
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/specs/perf/performance-budget.spec.ts
  tests/tests/specs/visual/visual-regression.spec.ts
  tests/tests/specs/voter/voter-journey.README.md
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(93-05): clean a11y + perm spec mega/baseV1 comment tokens
  tests/tests/specs/a11y/a11y-smoke.spec.ts
  tests/tests/specs/perm/perm-disable-allow-open.spec.ts
  tests/tests/specs/perm/perm-hide-category-tags.spec.ts
  tests/tests/specs/perm/perm-hide-election-tags.spec.ts
  tests/tests/specs/perm/perm-hide-if-missing-answers.spec.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
