Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

refactor(09): replace migration-based schema with declarative schema/ files
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/migrations/20260312200000_create_multi_tenant_tables.sql
  apps/supabase/supabase/migrations/20260312200001_create_localization_functions.sql
  apps/supabase/supabase/migrations/20260312200002_create_content_tables.sql
  apps/supabase/supabase/migrations/20260312200004_create_answers_jsonb.sql
  apps/supabase/supabase/migrations/20260312200005_create_answers_relational.sql
  apps/supabase/supabase/migrations/20260312200006_create_indexes.sql
  apps/supabase/supabase/migrations/20260312200007_enable_rls.sql
  apps/supabase/supabase/schema/000-functions.sql
  apps/supabase/supabase/schema/001-tenancy.sql
  apps/supabase/supabase/schema/002-elections.sql
  apps/supabase/supabase/schema/003-entities.sql
  apps/supabase/supabase/schema/004-questions.sql
  apps/supabase/supabase/schema/005-nominations.sql
  apps/supabase/supabase/schema/006-answers-jsonb.sql
  apps/supabase/supabase/schema/007-app-settings.sql
  apps/supabase/supabase/schema/008-views.sql
  apps/supabase/supabase/schema/009-indexes.sql
  apps/supabase/supabase/schema/010-rls.sql
  apps/supabase/supabase/schema/alternatives/answers-relational.sql
Due: none

refactor(09): remove QuestionTemplate from @openvaa/data
  packages/data/src/core/objectTypes.ts
  packages/data/src/internal.ts
  packages/data/src/objects/questions/template/questionTemplate.test.ts
  packages/data/src/objects/questions/template/questionTemplate.ts
  packages/data/src/objects/questions/template/questionTemplate.type.ts
  packages/data/src/root/dataRoot.ts
  packages/data/src/root/dataRoot.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(09): update column-map, add db diff script, gitignore config.local.toml
  .gitignore
  apps/supabase/package.json
  apps/supabase/scripts/lint-schema.mjs
  packages/supabase-types/src/column-map.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(09): mark Phase 9 complete, update state and roadmap
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(10): capture phase context
  .planning/phases/10-authentication-and-roles/10-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 10 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(10): research phase domain
  .planning/phases/10-authentication-and-roles/10-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(10): add validation strategy
  .planning/phases/10-authentication-and-roles/10-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(10): create phase plan
  .planning/ROADMAP.md
  .planning/phases/10-authentication-and-roles/10-01-PLAN.md
  .planning/phases/10-authentication-and-roles/10-02-PLAN.md
  .planning/phases/10-authentication-and-roles/10-03-PLAN.md
  .planning/phases/10-authentication-and-roles/10-04-PLAN.md
  .planning/phases/10-authentication-and-roles/10-05-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(10): revise plans based on checker feedback
  .planning/phases/10-authentication-and-roles/10-02-PLAN.md
  .planning/phases/10-authentication-and-roles/10-03-PLAN.md
  .planning/phases/10-authentication-and-roles/10-04-PLAN.md
  .planning/phases/10-authentication-and-roles/10-VALIDATION.md
Due: yarn build:app-shared, prettier --write

feat(10-01): create auth tables, auth_user_id columns, and published flags
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/003-entities.sql
  apps/supabase/supabase/schema/009-indexes.sql
  apps/supabase/supabase/schema/011-auth-tables.sql
  packages/supabase-types/src/column-map.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(10-01): add Custom Access Token Hook, RLS helpers, and test seed data
  apps/supabase/supabase/config.toml
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/012-auth-hooks.sql
  apps/supabase/supabase/seed.sql
Due: none

docs(10-01): complete auth foundation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-authentication-and-roles/10-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(10-03): install @supabase/ssr and create client factories
  frontend/package.json
  frontend/src/lib/supabase/browser.ts
  frontend/src/lib/supabase/server.ts
  frontend/tsconfig.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(10-03): integrate Supabase server client into hooks.server.ts and app.d.ts
  frontend/.env.example
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(10-02): replace deny-all RLS with role-based access policies
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/010-rls.sql
Due: none

feat(10-03): wire login and forgot-password to Supabase Auth
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(10-02): add column-level protections for candidate structural fields
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/013-auth-rls.sql
Due: none

docs(10-03): complete SvelteKit @supabase/ssr integration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-authentication-and-roles/10-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(10-02): complete RLS policies plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-authentication-and-roles/10-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(10-04): create invite-candidate Edge Function
  apps/supabase/supabase/functions/invite-candidate/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(10-05): create signicat-callback Edge Function for bank auth
  apps/supabase/supabase/functions/signicat-callback/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(10-04): complete invite-candidate Edge Function plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-authentication-and-roles/10-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(10-05): complete signicat-callback plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/10-authentication-and-roles/10-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-10): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-authentication-and-roles/10-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(10-05): handle empty request body in signicat-callback Edge Function
  apps/supabase/supabase/functions/signicat-callback/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(10-04): handle empty request body in invite-candidate Edge Function
  apps/supabase/supabase/functions/invite-candidate/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(10): complete UAT - 8 passed, 0 issues
  .planning/phases/10-authentication-and-roles/10-UAT.md
Due: yarn build:app-shared, prettier --write

docs(11): capture phase context
  .planning/phases/11-load-testing/11-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 11 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(11): research phase domain
  .planning/phases/11-load-testing/11-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(11): add research and validation strategy
  .planning/phases/11-load-testing/11-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(11): create phase plan
  .planning/ROADMAP.md
  .planning/phases/11-load-testing/11-01-PLAN.md
  .planning/phases/11-load-testing/11-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(11): create phase plans and fix verify command
  .planning/phases/11-load-testing/11-02-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(11-01): data generation and schema swap scripts
  apps/supabase/benchmarks/data/generate-candidates-jsonb.sql
  apps/supabase/benchmarks/data/generate-candidates-relational.sql
  apps/supabase/benchmarks/data/generate-shared-data.sql
  apps/supabase/benchmarks/results/.gitignore
  apps/supabase/benchmarks/scripts/parse-pgbench-log.py
  apps/supabase/benchmarks/scripts/swap-schema.sh
Due: none

feat(11-01): pgbench benchmark scripts for all query patterns
  apps/supabase/benchmarks/pgbench/aggregation-jsonb.sql
  apps/supabase/benchmarks/pgbench/aggregation-relational.sql
  apps/supabase/benchmarks/pgbench/candidate-full-save-jsonb.sql
  apps/supabase/benchmarks/pgbench/candidate-full-save-relational.sql
  apps/supabase/benchmarks/pgbench/candidate-write-jsonb.sql
  apps/supabase/benchmarks/pgbench/candidate-write-relational.sql
  apps/supabase/benchmarks/pgbench/voter-bulk-read-jsonb.sql
  apps/supabase/benchmarks/pgbench/voter-bulk-read-relational.sql
Due: none

feat(11-01): k6 HTTP test, orchestration script, and README
  apps/supabase/benchmarks/README.md
  apps/supabase/benchmarks/k6/config.js
  apps/supabase/benchmarks/k6/voter-bulk-read.js
  apps/supabase/benchmarks/scripts/run-benchmarks.sh
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(11-01): complete benchmark infrastructure plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-load-testing/11-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(11-02): write answer storage decision document with benchmark data
  .planning/phases/11-load-testing/11-DECISION.md
Due: yarn build:app-shared, prettier --write
