Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

remove comments not used in finding golden args
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/comments/hiilineutraalius.txt
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/comments/yksityinenTerveydenhuolto.txt
Due: none

add new finnish prompt for the map operation
  packages/argument-condensation/new_src/core/prompts/MAP/likertPros/condensationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REFINE/likertPros/refinementPrompt.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add finnish condensation prompts<
  packages/argument-condensation/new_src/core/prompts/METAEVALS/simpleEvaluator.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertPros/coalescingPrompt.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add instructions to condensation prompts
  packages/argument-condensation/new_src/core/prompts/GROUND/likertCons/groundingPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/GROUND/likertPros/groundingPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/MAP/likertCons/condensationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/MAP/likertPros/condensationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/METAEVALS/simpleEvaluator.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertCons/coalescingPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertPros/coalescingPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REFINE/likertCons/initialBatchPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REFINE/likertPros/initialBatchPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REFINE/likertPros/refinementPrompt.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add test cases for condensation metaevaluation
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/comments/perusterveydenhuolto.txt
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/comments/ulkomaaPalkkaus.txt
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertCons/fi/ulkomaaPalkkaus_v0.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/perusterveydenhuolto_v0.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/ulkomaaPalkkaus_v0.json
Due: yarn build:app-shared, prettier --write

add new meta-evaluation data generation script
  packages/argument-condensation/new_src/evaluation/metaEvaluation/generateSystemArguments.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

update meta-evaluation script with new utils
  packages/argument-condensation/new_src/evaluation/metaEvaluation/runMetaEvaluation.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/utils/index.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/utils/loadEvaluators.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/utils/loadTestData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add meta-evaluation CLI for evaluator performance analytics
  packages/argument-condensation/new_src/evaluation/metaEvaluation/README.md
  packages/argument-condensation/new_src/evaluation/metaEvaluation/runMetaEvaluationCLI.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add test cases for metaevaluation
  packages/argument-condensation/new_src/evaluation/metaEvaluation/example.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/comments/hiilineutraalius.txt
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/comments/yksityinenTerveydenhuolto.txt
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertCons/fi/hiilineutraalius_v0.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertCons/fi/ulkomaaPalkkaus_v1.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertCons/fi/ulkomaaPalkkaus_v2.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/hiilineutraalius_v0.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/kayttohuoneet_helsinki_v0.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/perusterveydenhuolto_v0.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/perusterveydenhuolto_v1.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/perusterveydenhuolto_v2.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/ulkomaaPalkkaus_v1.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/likertPros/fi/ulkomaaPalkkaus_v2.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

update standalone condensation script config
  packages/argument-condensation/new_src/runCondensation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix openai provider to be an llm provider
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add cleaner date to condensation runs
  packages/argument-condensation/new_src/core/operationTreeBuilder.ts
  packages/argument-condensation/new_src/core/types/operationTree.ts
  packages/argument-condensation/new_src/core/utils/readableTimestamp.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/generateSystemArguments.ts
  packages/argument-condensation/new_src/testData/kaivoshommia.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add new evaluator for baseline
  packages/argument-condensation/new_src/core/prompts/EVALS/baselineEvaluator.yaml
  packages/argument-condensation/new_src/core/prompts/EVALS/twoShotEvaluator.yaml
  packages/argument-condensation/new_src/core/utils/loadPrompt.ts
  packages/argument-condensation/new_src/evaluation/evaluators/abstractEvaluator.ts
  packages/argument-condensation/new_src/evaluation/evaluators/baselineEvaluator.ts
  packages/argument-condensation/new_src/evaluation/evaluators/twoShotEvaluator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add data
  packages/argument-condensation/new_src/data/README.md
  packages/argument-condensation/new_src/data/comments/aanestysikaraja.txt
  packages/argument-condensation/new_src/data/comments/kouluvakivalta.txt
  packages/argument-condensation/new_src/data/comments/muuttoToinenAste.txt
  packages/argument-condensation/new_src/data/comments/ulkomaaPalkkaus.txt
Due: yarn build:app-shared, prettier --write

clean up main condensation config file
  packages/argument-condensation/new_src/runCondensation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add retry to failed condensation calls
  packages/argument-condensation/new_src/core/condenser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add examples of operation trees
  packages/argument-condensation/operationTrees/demo_aanestysikaraja_cons.json
  packages/argument-condensation/operationTrees/demo_aanestysikaraja_pros.json
Due: yarn build:app-shared, prettier --write

add readme
  packages/argument-condensation/new_src/README.md
Due: yarn build:app-shared, prettier --write

fix data output dir for condensation visuals
  packages/argument-condensation/new_src/core/condenser.ts
  packages/argument-condensation/new_src/data/operationTrees/demo_aanestysikaraja_cons.json
  packages/argument-condensation/new_src/data/operationTrees/demo_aanestysikaraja_pros.json
  packages/argument-condensation/new_src/data/operationTrees/demo_kouluvakivalta_pros.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

remove redundant filesQ
  packages/argument-condensation/new_src/config/currentEvalConfig.ts
  packages/argument-condensation/operationTrees/demo_aanestysikaraja_cons.json
  packages/argument-condensation/operationTrees/demo_aanestysikaraja_pros.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix condensation input to have no metadata
  packages/argument-condensation/new_src/core/condenser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

clean condensation prompts
  packages/argument-condensation/new_src/core/prompts/MAP/likertCons/condensationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/MAP/likertPros/condensationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertCons/coalescingPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertPros/coalescingPrompt.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add new condensation operation 'map iteration'
  packages/argument-condensation/new_src/core/condenser.ts
  packages/argument-condensation/new_src/core/operationTreeBuilder.ts
  packages/argument-condensation/new_src/core/prompts/MAP/likertCons/condensationIterationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/MAP/likertPros/condensationIterationPrompt.yaml
  packages/argument-condensation/new_src/core/types/condensation/operation.ts
  packages/argument-condensation/new_src/core/types/condensation/processParams.ts
  packages/argument-condensation/new_src/core/visualization/config.js
  packages/argument-condensation/new_src/core/visualization/styles.css
  packages/argument-condensation/new_src/runCondensation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add data for validating condensation system
  packages/argument-condensation/new_src/data/README.md
  packages/argument-condensation/new_src/data/comments/validationSetEU/maalittaminen.txt
  packages/argument-condensation/new_src/data/comments/validationSetEU/tekoalyRegulaatio.txt
Due: yarn build:app-shared, prettier --write

add condensation prompt improvements
  packages/argument-condensation/new_src/core/prompts/MAP/likertCons/condensationIterationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/MAP/likertPros/condensationIterationPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertCons/coalescingPrompt.yaml
  packages/argument-condensation/new_src/core/prompts/REDUCE/likertPros/coalescingPrompt.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add parallelization to OpenAI provider
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.test.ts
  packages/llm/src/llm-providers/openai-provider.ts
  packages/llm/src/rateLimiters/modelState.ts
  packages/llm/src/rateLimiters/openaiRateLimiter.ts
  packages/llm/src/utils/dailyLimitError.ts
  packages/llm/src/utils/selectModel.ts
  packages/llm/src/utils/tokenCounter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix condenser to use new open ai provider
  packages/argument-condensation/new_src/core/condenser.ts
  packages/argument-condensation/new_src/core/operationTreeBuilder.ts
  packages/argument-condensation/new_src/runCondensation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor prompt registry to load prompts automatically
  packages/argument-condensation/new_src/core/prompts/EVALS/baselineEvaluator.yaml
  packages/argument-condensation/new_src/core/prompts/EVALS/twoShotEvaluator.yaml
  packages/argument-condensation/new_src/core/prompts/promptRegistry.ts
  packages/argument-condensation/new_src/scripts/runCondensation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[strapi]: `Alliance.parties` relation
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: yarn build:app-shared, prettier --write

fix: mock Alliance generation
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `parseQuestionInfoSections` utility
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `ConstituencySelector` component code style
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
Due: none

docs: add note for `getImpliedConstituencyIds`
  frontend/src/lib/utils/route/impliedParams.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Delete unused var
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

Default options for getIdTokenClaims
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

CandAppPreregisterIdentityProviderCallback to routes
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add PKCE
  .env.example
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Support decryption JWK rotation
  docker-compose.dev.yml
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/server/constants.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

generateChallenge to auth utils
  frontend/src/lib/api/utils/auth/generateChallenge.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
