Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(93-05): rewrite stale tests/README + CLAUDE.md docs + zero-token cleanup
  CLAUDE.md
  packages/dev-seed/src/templates/e2e/base.ts
  packages/dev-seed/src/templates/index.ts
  tests/README.md
  tests/tests/fixtures/candidate/candidate-journey.ts
  tests/tests/fixtures/candidate/candidateLoginPage.fixture.ts
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/fixtures/shared/emailBucket.fixture.ts
  tests/tests/fixtures/shared/feedbackDialog.fixture.ts
  tests/tests/fixtures/voter/entityDetails.fixture.ts
  tests/tests/fixtures/voter/minimalVoterResultsPage.fixture.ts
  tests/tests/fixtures/voter/resultsPage.fixture.ts
  tests/tests/fixtures/voter/views.ts
  tests/tests/fixtures/voter/voterQuestionsPage.fixture.ts
  tests/tests/helpers/timeouts.ts
  tests/tests/setup/candidate/candidate-journey.setup.ts
  tests/tests/setup/candidate/candidate-journey.teardown.ts
  tests/tests/setup/perm/perm-disable-candidate-app.setup.ts
  tests/tests/setup/perm/perm-disable-voter-app.setup.ts
  tests/tests/setup/perm/perm-localisation-positive.setup.ts
  tests/tests/setup/perm/perm-localisation-positive.teardown.ts
  tests/tests/setup/perm/perm-missing-nominations.setup.ts
  tests/tests/setup/perm/perm-per-app-notifications.setup.ts
  tests/tests/setup/shared/base.setup.ts
  tests/tests/setup/shared/base.teardown.ts
  tests/tests/setup/shared/setupFromTemplate.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/utils/candidateJourneyConstants.ts
  tests/tests/utils/testIds.ts
  tests/tests/utils/voterIntro.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-05): complete spec-renames + a11y + docs + zero-token plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(93-06): rewrite e2e/base external_ids to test-e2e-base- prefix
  packages/dev-seed/src/templates/e2e/base.ts
  packages/dev-seed/tests/templates/base-app-settings.test.ts
  packages/dev-seed/tests/templates/base.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(93-06): point base teardown + freshness guard at test-e2e-base-
  tests/tests/setup/shared/base.teardown.ts
  tests/tests/setup/shared/setupFromTemplate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(93-06): complete base prefix migration in tests/utils consumers
  tests/tests/utils/candidateJourneyConstants.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(93-06): serialize perm family after journeys to fix 3-election leak
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-06): align stale HIGH-2 comment with perm-1e1cg1co journey serialization
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(93-06): complete base-prefix rewrite + E2E phase gate plan
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(93-06): mark plan 6/6 complete in STATE + ROADMAP
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(93): add code review report
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-93): complete phase execution
  .planning/STATE.md
  .planning/phases/93-clean-up-and-reorganise-e2e-tests-fixtures-setup-and-seed-te/93-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(roadmap): add Phase 94 — final E2E suite de-planning + cleanup
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/.gitkeep
Due: yarn build:app-shared, prettier --write

docs(94): research phase domain — de-planning sweep inventory + WR-01..04 locations
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(94): resolve scope contradictions into CONTEXT.md (D-01..D-06)
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(94): add validation strategy
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(94): create phase plan — 8 plans across 3 waves
  .planning/ROADMAP.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-01-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-02-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-03-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-04-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-05-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-06-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-07-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-08-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(94): revise plans per checker — README link defer, throw-msg sweep, resolved Open Questions
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-01-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-06-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-08-PLAN.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(94): record planning complete (8 plans, 3 waves)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

chore(94-01): delete WR-01 husk test + retired diff tool (D-02)
  .gitignore
  packages/dev-seed/tests/templates/variant-app-settings.test.ts
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(94-01): WR-03 guard + WR-04 data-driven ordinal + WR-02 TODO; de-plan infra files
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
  tests/playwright.config.ts
  tests/tests/setup/shared/setupFromTemplate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-01): pin playwright --list baseline at 84 tests / 72 files
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-PLAYWRIGHT-LIST-BASELINE.txt
Due: none

docs(94-01): complete code-review-followups + retired-tool plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(94-02): de-plan perm setup files (22 *.setup.ts)
  tests/tests/setup/perm/perm-1e1cg1co.setup.ts
  tests/tests/setup/perm/perm-2e-asymmetric.setup.ts
  tests/tests/setup/perm/perm-2e-shared.setup.ts
  tests/tests/setup/perm/perm-answers-locked.setup.ts
  tests/tests/setup/perm/perm-disable-allow-open.setup.ts
  tests/tests/setup/perm/perm-disable-candidate-app.setup.ts
  tests/tests/setup/perm/perm-disable-election-1co.setup.ts
  tests/tests/setup/perm/perm-disable-election-2co.setup.ts
  tests/tests/setup/perm/perm-disable-voter-app.setup.ts
  tests/tests/setup/perm/perm-disjoint-1co.setup.ts
  tests/tests/setup/perm/perm-header-show-feedback.setup.ts
  tests/tests/setup/perm/perm-header-show-help.setup.ts
  tests/tests/setup/perm/perm-hide-all-nominations.setup.ts
  tests/tests/setup/perm/perm-hide-category-tags.setup.ts
  tests/tests/setup/perm/perm-hide-election-tags.setup.ts
  tests/tests/setup/perm/perm-hide-hero.setup.ts
  tests/tests/setup/perm/perm-hide-if-missing-answers.setup.ts
  tests/tests/setup/perm/perm-localisation-positive.setup.ts
  tests/tests/setup/perm/perm-missing-nominations.setup.ts
  tests/tests/setup/perm/perm-not-located-2e2cg.setup.ts
  tests/tests/setup/perm/perm-per-app-notifications.setup.ts
  tests/tests/setup/perm/perm-startfromcg.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-02): de-plan perm teardown files (22 *.teardown.ts)
  tests/tests/setup/perm/perm-1e1cg1co.teardown.ts
  tests/tests/setup/perm/perm-2e-asymmetric.teardown.ts
  tests/tests/setup/perm/perm-2e-shared.teardown.ts
  tests/tests/setup/perm/perm-answers-locked.teardown.ts
  tests/tests/setup/perm/perm-disable-allow-open.teardown.ts
  tests/tests/setup/perm/perm-disable-candidate-app.teardown.ts
  tests/tests/setup/perm/perm-disable-election-1co.teardown.ts
  tests/tests/setup/perm/perm-disable-election-2co.teardown.ts
  tests/tests/setup/perm/perm-disable-voter-app.teardown.ts
  tests/tests/setup/perm/perm-disjoint-1co.teardown.ts
  tests/tests/setup/perm/perm-header-show-feedback.teardown.ts
  tests/tests/setup/perm/perm-header-show-help.teardown.ts
  tests/tests/setup/perm/perm-hide-all-nominations.teardown.ts
  tests/tests/setup/perm/perm-hide-category-tags.teardown.ts
  tests/tests/setup/perm/perm-hide-election-tags.teardown.ts
  tests/tests/setup/perm/perm-hide-hero.teardown.ts
  tests/tests/setup/perm/perm-hide-if-missing-answers.teardown.ts
  tests/tests/setup/perm/perm-localisation-positive.teardown.ts
  tests/tests/setup/perm/perm-missing-nominations.teardown.ts
  tests/tests/setup/perm/perm-not-located-2e2cg.teardown.ts
  tests/tests/setup/perm/perm-per-app-notifications.teardown.ts
  tests/tests/setup/perm/perm-startfromcg.teardown.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-02): complete perm setup/teardown de-planning plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(94-03): de-plan + retitle the 22 perm specs
  tests/tests/specs/perm/perm-1e1cg1co.spec.ts
  tests/tests/specs/perm/perm-2e-asymmetric.spec.ts
  tests/tests/specs/perm/perm-2e-shared.spec.ts
  tests/tests/specs/perm/perm-answers-locked.spec.ts
  tests/tests/specs/perm/perm-disable-allow-open.spec.ts
  tests/tests/specs/perm/perm-disable-candidate-app.spec.ts
  tests/tests/specs/perm/perm-disable-election-1co.spec.ts
  tests/tests/specs/perm/perm-disable-election-2co.spec.ts
  tests/tests/specs/perm/perm-disable-voter-app.spec.ts
  tests/tests/specs/perm/perm-disjoint-1co.spec.ts
  tests/tests/specs/perm/perm-header-show-feedback.spec.ts
  tests/tests/specs/perm/perm-header-show-help.spec.ts
  tests/tests/specs/perm/perm-hide-all-nominations.spec.ts
  tests/tests/specs/perm/perm-hide-category-tags.spec.ts
  tests/tests/specs/perm/perm-hide-election-tags.spec.ts
  tests/tests/specs/perm/perm-hide-hero.spec.ts
  tests/tests/specs/perm/perm-hide-if-missing-answers.spec.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
  tests/tests/specs/perm/perm-missing-nominations.spec.ts
  tests/tests/specs/perm/perm-not-located-2e2cg.spec.ts
  tests/tests/specs/perm/perm-per-app-notifications.spec.ts
  tests/tests/specs/perm/perm-startfromcg.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(94-03): de-plan + retitle a11y/visual/perf specs
  tests/tests/specs/a11y/a11y-smoke.spec.ts
  tests/tests/specs/perf/performance-budget.spec.ts
  tests/tests/specs/visual/visual-regression.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-03): complete perm + a11y/visual/perf de-planning plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(94-04): de-plan candidate fixtures + setup files
  tests/tests/fixtures/candidate/candidate-journey.ts
  tests/tests/fixtures/candidate/candidateForgotPasswordPage.fixture.ts
  tests/tests/fixtures/candidate/candidateHomePage.fixture.ts
  tests/tests/fixtures/candidate/candidateLoginPage.fixture.ts
  tests/tests/fixtures/candidate/candidateLogoutButton.fixture.ts
  tests/tests/fixtures/candidate/candidatePasswordSetter.fixture.ts
  tests/tests/fixtures/candidate/candidatePreviewPage.fixture.ts
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/fixtures/candidate/candidateQuestionPage.fixture.ts
  tests/tests/fixtures/candidate/candidateQuestionsOverviewPage.fixture.ts
  tests/tests/fixtures/candidate/candidateTermsOfUsePage.fixture.ts
  tests/tests/fixtures/candidate/perm-l10n.ts
  tests/tests/setup/candidate/candidate-journey.setup.ts
  tests/tests/setup/candidate/candidate-journey.teardown.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(94-04): de-plan candidate specs + delete redundant README
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
  tests/tests/specs/candidate/candidate-journey.README.md
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-04): complete de-plan candidate suite plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(94-05): de-plan voter + shared E2E fixtures
  tests/tests/fixtures/shared/emailBucket.fixture.ts
  tests/tests/fixtures/shared/feedbackDialog.fixture.ts
  tests/tests/fixtures/shared/langSelectorFixture.fixture.ts
  tests/tests/fixtures/shared/multilingualTextFieldFixture.fixture.ts
  tests/tests/fixtures/voter/entityDetails.fixture.ts
  tests/tests/fixtures/voter/entityFilters.fixture.ts
  tests/tests/fixtures/voter/minimalVoterResultsPage.fixture.ts
  tests/tests/fixtures/voter/resultsPage.fixture.ts
  tests/tests/fixtures/voter/views.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/fixtures/voter/voterHomePage.fixture.ts
  tests/tests/fixtures/voter/voterIntroPage.fixture.ts
  tests/tests/fixtures/voter/voterNavFixture.fixture.ts
  tests/tests/fixtures/voter/voterQuestionsPage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(94-05): de-plan voter-journey spec, delete redundant README
  tests/tests/specs/voter/voter-journey.README.md
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-05): complete voter + shared fixture de-planning plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(94-06): de-plan 6 test utils + 5 helper-source files
  tests/tests/helpers/db-precondition.helper.ts
  tests/tests/helpers/navigation.helper.ts
  tests/tests/helpers/select.helper.ts
  tests/tests/helpers/settle.helper.ts
  tests/tests/helpers/timeouts.ts
  tests/tests/utils/candidateJourneyConstants.ts
  tests/tests/utils/supabaseAdminClient.ts
  tests/tests/utils/testCredentials.ts
  tests/tests/utils/testIds.ts
  tests/tests/utils/voterIntro.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-06): de-plan shared setup + root config + fix seed throw message
  tests/eslint.config.mjs
  tests/seed-test-data.ts
  tests/tests/setup/shared/auth.setup.ts
  tests/tests/setup/shared/base.setup.ts
  tests/tests/setup/shared/base.teardown.ts
  tests/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-06): complete utils + helpers + shared-setup + root-config de-planning plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(94-07): de-plan 22 e2e/perm dev-seed template files
  packages/dev-seed/src/templates/e2e/perm/perm-1e1cg1co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-2e-asymmetric.ts
  packages/dev-seed/src/templates/e2e/perm/perm-2e-shared.ts
  packages/dev-seed/src/templates/e2e/perm/perm-answers-locked.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-allow-open.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-candidate-app.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-election-1co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-election-2co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disable-voter-app.ts
  packages/dev-seed/src/templates/e2e/perm/perm-disjoint-1co.ts
  packages/dev-seed/src/templates/e2e/perm/perm-header-show-feedback.ts
  packages/dev-seed/src/templates/e2e/perm/perm-header-show-help.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-all-nominations.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-category-tags.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-election-tags.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-hero.ts
  packages/dev-seed/src/templates/e2e/perm/perm-hide-if-missing-answers.ts
  packages/dev-seed/src/templates/e2e/perm/perm-localisation-positive.ts
  packages/dev-seed/src/templates/e2e/perm/perm-missing-nominations.ts
  packages/dev-seed/src/templates/e2e/perm/perm-not-located-2e2cg.ts
  packages/dev-seed/src/templates/e2e/perm/perm-per-app-notifications.ts
  packages/dev-seed/src/templates/e2e/perm/perm-startfromcg.ts
  packages/dev-seed/src/templates/e2e/perm/shared.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(94-07): de-plan 9 root/defaults/_helpers dev-seed template files
  packages/dev-seed/src/templates/_helpers/buildMinimal.test.ts
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
  packages/dev-seed/src/templates/_helpers/index.ts
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/src/templates/defaults/alliances-override.ts
  packages/dev-seed/src/templates/defaults/candidates-override.ts
  packages/dev-seed/src/templates/defaults/nominations-override.ts
  packages/dev-seed/src/templates/defaults/questions-override.ts
  packages/dev-seed/src/templates/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
