Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

build: call `build:shared` when starting `dev`
  package.json
Due: yarn build:app-shared, prettier --write

feat: `ButtonWithConfirmation` and `ConfirmationModal` components
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.svelte
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.type.ts
  frontend/src/lib/components/buttonWithConfirmation/index.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.type.ts
  frontend/src/lib/components/modal/confirmation/index.ts
  frontend/src/lib/components/modal/timed/TimedModal.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update translations
  frontend/src/lib/i18n/translations/da/error.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: apply lint
  frontend/src/lib/admin/components/jobs/FeatureJobs.svelte
  frontend/src/lib/admin/components/jobs/JobDetails.svelte
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.svelte
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
  packages/argument-condensation/tests/setup.ts
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
  packages/argument-condensation/vitest.config.ts
  packages/core/src/controller/noOpController.ts
  packages/llm/README.md
  packages/llm/src/index.ts
  packages/llm/src/llm-providers/llmProvider.ts
  packages/llm/src/llm-providers/provider.types.ts
  packages/llm/src/modelPricing.ts
  packages/llm/src/prompts/localizationInstructions.ts
  packages/llm/src/utils/costCalculation.type.ts
  packages/llm/src/utils/latencyTracker.type.ts
  packages/question-info/README.md
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/index.ts
  packages/question-info/src/prompts/en/consts.ts
  packages/question-info/src/prompts/en/generateInfoSections.yaml
  packages/question-info/src/prompts/en/generateTerms.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: handle `abortJob` within `JobDetails`
  frontend/src/lib/admin/components/jobs/FeatureJobs.svelte
  frontend/src/lib/admin/components/jobs/FeatureJobs.type.ts
  frontend/src/lib/admin/components/jobs/JobDetails.svelte
  frontend/src/lib/admin/components/jobs/JobDetails.type.ts
  frontend/src/lib/admin/utils/abortJob.ts
  frontend/src/lib/components/controller/index.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use `ButtonWithConfirmation` for `performEmergencyCleanup`
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

refactor: `LanguageSelector` admin component
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.type.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `condenseArguments` and `generateQuestionInfo`
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/features/generateQuestionInfo.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `Select` component
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/lib/components/select/Select.type.ts
  frontend/src/lib/components/select/index.ts
  frontend/src/lib/i18n/translations/da/components.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix example code
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

wip: README
  README.md
Due: yarn build:app-shared, prettier --write

chore: clean code style in `HeroEmoji`
  frontend/src/lib/components/heroEmoji/HeroEmoji.svelte
Due: none

tmp: redis refactor
  docker-compose.dev.yml
  packages/chatbot/redisRefactorPlan.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

wip: README pt 2
  README.md
Due: yarn build:app-shared, prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: reorganise documentation
  README.md
  docs/README.md
  docs/app-and-repo-structure.md
  docs/app-customization.md
  docs/app-settings.md
  docs/backend.md
  docs/backend/README.md
  docs/candidate-app/candidates.md
  docs/candidate-app/email-templates.md
  docs/candidate-app/import-candidates-example.csv
  docs/candidate-app/import-functionality.md
  docs/candidate-app/password-validation.md
  docs/candidate-user-management.md
  docs/code-review-checklist.md
  docs/color-test.txt
  docs/contributing.md
  docs/contributing/CONTRIBUTING.md
  docs/contributing/how-to-use-labels.md
  docs/contributing/self-review.md
  docs/contributing/style-guides.md
  docs/deployment.md
  docs/development.md
  docs/docker-setup-guide.md
  docs/frontend.md
  docs/frontend/README.md
  docs/frontend/components.md
  docs/frontend/contexts.md
  docs/frontend/data-and-state-management.md
  docs/frontend/data-api.md
  docs/frontend/env-variables.md
  docs/frontend/routing.md
  docs/frontend/styling.md
  docs/llm-features.md
  docs/localization.md
  docs/quick-start.md
  docs/security.md
  docs/settings-and-customization.md
  docs/testing.md
  docs/troubleshooting.md
Due: yarn build:app-shared, prettier --write

build: add CLAUDE.md and local settings
  .claude/settings.local.json
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

build: edit Claude code review workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix/build: Claude code review trigger
  .github/workflows/claude-code-review.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix/build: Claude core view trigger pt 2
  .github/workflows/claude-code-review.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix/build: Claude core view trigger pt 3
  .github/workflows/claude-code-review.yml
  .husky/pre-commit
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Image` component
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/image/Image.svelte
  frontend/src/lib/components/image/Image.type.ts
  frontend/src/lib/components/image/index.ts
  frontend/src/lib/utils/image.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `hero` `CustomData` property and `Hero` component
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCategoryCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCustomData.ts
  frontend/src/lib/api/utils/translateHeroContent.ts
  frontend/src/lib/components/hero/Hero.svelte
  frontend/src/lib/components/hero/Hero.type.ts
  frontend/src/lib/components/hero/index.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/isEmoji.ts
  packages/app-shared/src/data/localized.type.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: improve documentation and code quality for hero feature
  frontend/src/lib/components/hero/Hero.svelte
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/isEmoji.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build/fix: revert accidental disabling of pre-commit workflow
  .husky/pre-commit
Due: none

feat[app-shared]: allow localized emojis in `LocalizedHeroContent`
  packages/app-shared/src/data/localized.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore/build[app-shared]: extend unit test coverage
  frontend/src/lib/api/utils/translateHeroContent.test.ts
  frontend/src/lib/utils/image.test.ts
  packages/app-shared/src/data/isEmoji.test.ts
  packages/app-shared/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: allow Claude to run unit tests
  .claude/settings.local.json
Due: yarn build:app-shared, prettier --write

chore: format code
  .claude/settings.local.json
Due: yarn build:app-shared, prettier --write
