Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(62-02): complete /results route shape consolidation plan
  .planning/phases/62-results-page-consolidation/62-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(62-03): URL-driven results layout + EntityListWithControls swap + drawer-first paint (Task 1)
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
  apps/frontend/src/lib/utils/route/route.ts
  apps/frontend/src/routes/(voters)/(located)/results/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/+layout.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(62-03): extend voter-results E2E for filter/tabs/drawer/paint contracts (Task 2)
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(62-03): human checkpoint manifest
  .planning/phases/62-results-page-consolidation/62-03-HUMAN-CHECKPOINT.md
Due: yarn build:app-shared, prettier --write

docs(62-03): complete plan summary — manual gate deferred to phase verification
  .planning/phases/62-results-page-consolidation/62-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-62): update tracking after all waves
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

fix(62): WR-01 use permanent 308 redirect for /results canonicalization
  apps/frontend/src/routes/(voters)/(located)/results/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(62): verification + review + ui-review artifacts
  .planning/STATE.md
  .planning/phases/62-results-page-consolidation/62-REVIEW.md
  .planning/phases/62-results-page-consolidation/62-UI-REVIEW.md
  .planning/phases/62-results-page-consolidation/62-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(63): research E2E template extension + greening phase
  .planning/phases/63-e2e-template-extension-greening/63-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(63): resolve open questions + validation strategy
  .planning/phases/63-e2e-template-extension-greening/63-RESEARCH.md
  .planning/phases/63-e2e-template-extension-greening/63-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(63): pattern map
  .planning/phases/63-e2e-template-extension-greening/63-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(63): create phase plan
  .planning/ROADMAP.md
  .planning/phases/63-e2e-template-extension-greening/63-01-PLAN.md
  .planning/phases/63-e2e-template-extension-greening/63-02-PLAN.md
  .planning/phases/63-e2e-template-extension-greening/63-03-PLAN.md
Due: yarn build:app-shared, prettier --write

test(63-01): add failing tests for mergeSettings in @openvaa/app-shared
  packages/app-shared/package.json
  packages/app-shared/src/utils/mergeSettings.test.ts
  packages/app-shared/src/utils/mergeSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(63-01): hoist mergeSettings deep-merge utility to @openvaa/app-shared
  packages/app-shared/src/index.ts
  packages/app-shared/src/utils/mergeSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(63-01): shim frontend merge.ts + add @openvaa/app-shared dep to dev-seed
  apps/frontend/src/lib/utils/merge.ts
  packages/dev-seed/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(63-01): complete mergeSettings hoist plan
  .planning/phases/63-e2e-template-extension-greening/63-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(63-02): add failing tests for e2e template app_settings.fixed[]
  packages/dev-seed/tests/templates/e2e-app-settings.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(63-02): add app_settings.fixed[] to e2e template + export E2E_BASE_APP_SETTINGS
  packages/dev-seed/src/index.ts
  packages/dev-seed/src/templates/e2e.ts
  packages/dev-seed/src/templates/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(63-02): add failing tests for variant template app_settings overlays
  packages/dev-seed/tests/templates/variant-app-settings.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(63-02): add app_settings overlays to 3 variant templates
  tests/tests/setup/templates/variant-constituency.ts
  tests/tests/setup/templates/variant-multi-election.ts
  tests/tests/setup/templates/variant-startfromcg.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(63-02): delete 4 legacy updateAppSettings + add post-seed assertions
  packages/dev-seed/src/supabaseAdminClient.ts
  tests/tests/setup/data.setup.ts
  tests/tests/setup/variant-constituency.setup.ts
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/setup/variant-startfromcg.setup.ts
  tests/tests/utils/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(63-02): complete e2e template extension + setup migration plan
  .planning/phases/63-e2e-template-extension-greening/63-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-63): mark 63-01 + 63-02 complete; 63-03 awaiting manual parity gate
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): record autonomous stop — defer 63-03 parity gate + flag NF-01 regression
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): clear false NF-01 regression flag (cold-cache flake; passes in 3-4s)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

wip: phase-63 paused at plan 3/3 (parity gate awaiting manual run)
  .planning/HANDOFF.json
  .planning/phases/63-e2e-template-extension-greening/.continue-here.md
Due: yarn build:app-shared, prettier --write

wip: voter-flow greening paused after commit c9e9af9bc
  .planning/HANDOFF.json
  .planning/phases/63-e2e-template-extension-greening/.continue-here.md
Due: yarn build:app-shared, prettier --write

fix(63-03): gate ToU layoutState on submit completion, not checkbox tick
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
Due: none

chore(63-03): capture post-v2.6 parity baseline + diff artifact
  .planning/phases/63-e2e-template-extension-greening/post-v2.6/diff.md
  .planning/phases/63-e2e-template-extension-greening/post-v2.6/playwright-report.json
  .planning/phases/63-e2e-template-extension-greening/post-v2.6/playwright.stderr.txt
Due: yarn build:app-shared, prettier --write

docs(63-03): complete plan summary + advance v2.6 to ready-for-milestone-close
  .planning/HANDOFF.json
  .planning/STATE.md
  .planning/phases/63-e2e-template-extension-greening/.continue-here.md
  .planning/phases/63-e2e-template-extension-greening/63-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(64): add Phase 64 — Voter Results Reactivity Completion (Phase 62-bis)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(64): rename Phase 64 dir + tidy ROADMAP entry
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(64): capture phase context + 2 deferred todos
  .planning/STATE.md
  .planning/phases/64-voter-results-reactivity-completion/64-CONTEXT.md
  .planning/phases/64-voter-results-reactivity-completion/64-DISCUSSION-LOG.md
  .planning/todos/pending/2026-04-27-extend-e2e-filter-type-coverage.md
  .planning/todos/pending/2026-04-27-remove-e2e-skip-modifiers.md
Due: yarn build:app-shared, prettier --write

docs(64): UI design contract — inherit Phase 62 + pin 5 failing-test contracts
  .planning/phases/64-voter-results-reactivity-completion/64-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(64): research phase domain — fixture-flake root cause + Svelte 5 createSubscriber survey
  .planning/phases/64-voter-results-reactivity-completion/64-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-64): add validation strategy
  .planning/phases/64-voter-results-reactivity-completion/64-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(64): create phase plans + pattern map
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/64-voter-results-reactivity-completion/64-01-PLAN.md
  .planning/phases/64-voter-results-reactivity-completion/64-02-PLAN.md
  .planning/phases/64-voter-results-reactivity-completion/64-03-PLAN.md
  .planning/phases/64-voter-results-reactivity-completion/64-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(64-01): reproduce voter-results failures + select fix path
  .planning/phases/64-voter-results-reactivity-completion/repro/repro-d14.log
  .planning/phases/64-voter-results-reactivity-completion/repro/repro-d15.log
  .planning/phases/64-voter-results-reactivity-completion/repro/repro-notes.md
  .planning/phases/64-voter-results-reactivity-completion/repro/repro-results-01-02.log
  .planning/phases/64-voter-results-reactivity-completion/repro/repro-run-1.log
Due: yarn build:app-shared, prettier --write

test(64-01): replace test.skip(true) skip-paths with expect.poll hard assertions
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
