Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(89-04): add 6 setup/teardown wrappers for 3 perm chains
  tests/tests/setup/perm-disable-candidate-app.setup.ts
  tests/tests/setup/perm-disable-candidate-app.teardown.ts
  tests/tests/setup/perm-disable-voter-app.setup.ts
  tests/tests/setup/perm-disable-voter-app.teardown.ts
  tests/tests/setup/perm-per-app-notifications.setup.ts
  tests/tests/setup/perm-per-app-notifications.teardown.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(89-04): add 3 perm spec files for TIR4-PERM-01..03
  tests/tests/specs/perm/perm-disable-candidate-app.spec.ts
  tests/tests/specs/perm/perm-disable-voter-app.spec.ts
  tests/tests/specs/perm/perm-per-app-notifications.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(89-04): append 9 playwright project entries for 3 perm chains
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(89-04): complete 3 settings-permutations plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(89-LAST): audit legacy PageObject class consumers per D-89-04
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-LAST-AUDIT.md
Due: yarn build:app-shared, prettier --write

test(89-LAST): retire 5 absorbed candidate specs + excise 7.1.2/3/4 from candidate-settings
  tests/tests/specs/candidate/candidate-auth.spec.ts
  tests/tests/specs/candidate/candidate-password.spec.ts
  tests/tests/specs/candidate/candidate-questions.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/candidate/candidate-required-info.spec.ts
  tests/tests/specs/candidate/candidate-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(89-LAST): prune unused PageObject classes per audit verdicts
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/deferred-items.md
  tests/tests/fixtures/index.ts
  tests/tests/pages/candidate/HomePage.ts
  tests/tests/pages/candidate/LoginPage.ts
  tests/tests/pages/candidate/PreviewPage.ts
  tests/tests/pages/candidate/SettingsPage.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(89-LAST): clean playwright.config.ts of defunct project entries
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(89-LAST): record full-suite verification ledger + operator runbook
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-LAST-VERIFY.txt
Due: none

docs(89-LAST): complete legacy candidate retirement plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-LAST-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(89): add code review report
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(89): persist verification + human verification items as UAT
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-HUMAN-UAT.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(90): add CONTEXT.md + roadmap + state entry for TIR5 permutations phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(90): research phase domain
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(90): absorb Stage A supportedLocales wiring into Phase 90 (D-90-10)
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(90): resolve plan-checker B1 + W2/W4 + accept W1/W3
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/.gitkeep
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-01-PLAN.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-02-PLAN.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-03-PLAN.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-04-PLAN.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-PATTERNS.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-PLAN-REVIEW.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(90): roadmap — Phase 90 goal + 4-plan breakdown
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(90): plan-check re-review — PLANS VERIFIED
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-PLAN-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(90-01): add failing type test for DynamicSettings.i18n.supportedLocales override
  packages/app-shared/src/settings/dynamicSettings.i18n.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-01): add optional DynamicSettings.i18n.supportedLocales runtime override
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(90-01): add failing tests for i18n init runtime supportedLocales override
  apps/frontend/src/lib/i18n/tests/init.override.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-01): thread runtime supportedLocales override through i18n init
  apps/frontend/src/lib/i18n/init.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(90-01): complete Stage A runtime supportedLocales override plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-01-SUMMARY.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/deferred-items.md
Due: yarn build:app-shared, prettier --write

feat(90-02): add perm-missing-nominations dev-seed template
  packages/dev-seed/src/templates/index.ts
  packages/dev-seed/src/templates/permutations/perm-missing-nominations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-02): add perm-missing-nominations setup/teardown wrappers + spec
  tests/tests/setup/perm-missing-nominations.setup.ts
  tests/tests/setup/perm-missing-nominations.teardown.ts
  tests/tests/specs/perm/perm-missing-nominations.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-02): wire perm-missing-nominations into Playwright project chain
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(90-02): complete perm-missing-nominations plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(90-03): author perm-localisation-negative template + add testids for langSelector/multilingualToggle
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/dynamic-components/navigation/languages/LanguageSelection.svelte
  packages/dev-seed/src/templates/index.ts
  packages/dev-seed/src/templates/permutations/perm-localisation-negative.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-03): author langSelector + multilingualTextField fixtures + perm-l10n composition root
  tests/tests/fixtures/candidate/langSelectorFixture.fixture.ts
  tests/tests/fixtures/candidate/multilingualTextFieldFixture.fixture.ts
  tests/tests/fixtures/candidate/perm-l10n.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-03): perm-localisation-negative setup/teardown/spec + 3 playwright.config.ts project entries
  tests/playwright.config.ts
  tests/tests/setup/perm-localisation-negative.setup.ts
  tests/tests/setup/perm-localisation-negative.teardown.ts
  tests/tests/specs/perm/perm-localisation-negative.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(90-03): complete perm-localisation-negative plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(90-04): add perm-localisation-positive template (supportedLocales=[en,fi])
  packages/dev-seed/src/templates/index.ts
  packages/dev-seed/src/templates/permutations/perm-localisation-positive.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-04): perm-localisation-positive setup/teardown + full spec
  tests/tests/setup/perm-localisation-positive.setup.ts
  tests/tests/setup/perm-localisation-positive.teardown.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(90-04): append perm-localisation-positive playwright project triplet
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(90-04): complete perm-localisation-positive plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(90): add code review report
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(90): verification — gaps_found (17/19 must-haves; 2 blockers)
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(90): add gap-closure plans 90-05 (Stage A wiring) + 90-06 (langSelector regex)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-05-PLAN.md
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/90-06-PLAN.md
Due: yarn build:app-shared, prettier --write

todo(90): vite plugin to tree-shake Paraglide translations by tenant locales
  .planning/todos/pending/2026-05-30-vite-plugin-paraglide-tree-shake-translations.md
Due: yarn build:app-shared, prettier --write

chore(90): pause work — handoff before /gsd:execute-phase 90 --gaps-only
  .planning/HANDOFF.json
  .planning/phases/90-tir5-permutations-missing-nominations-warning-localisation-n/.continue-here.md
Due: yarn build:app-shared, prettier --write
