Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(74-05): add E2E-05 4-case + E2E-07 SubMatch coverage to voter-detail.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(74-05): complete voter-detail E2E-05 + E2E-07 coverage plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/74-high-leverage-e2e-coverage/74-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(74-04): add variant-1e-Nc + variant-Ne-Nc dev-seed templates (E2E-04)
  tests/tests/setup/templates/variant-1e-Nc.ts
  tests/tests/setup/templates/variant-Ne-Nc.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(74-04): wire 1e-Nc + Ne-Nc variant setup drivers and Playwright projects
  tests/playwright.config.ts
  tests/tests/setup/variant-1e-Nc.setup.ts
  tests/tests/setup/variant-Ne-Nc.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(74-04): add 1e-Nc + Ne-Nc variant specs (E2E-04 cells 2 + 4)
  tests/tests/specs/variants/1e-Nc.spec.ts
  tests/tests/specs/variants/Ne-Nc.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(74-04): add additive E2E-04 matrix-cell blocks (cells 3 + 5)
  tests/tests/specs/variants/multi-election.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(74-04): complete E2E-04 selector matrix coverage plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/74-high-leverage-e2e-coverage/74-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(74-07): Task 1 - vite-cache wipe + DB reset + pre-run state capture
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/pre-run-state.txt
Due: none

chore(74-07): Task 2 - 3-run cold-start --workers=1 smoke + SHA-256 identity gate
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/run-1-report.json
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/run-1-sorted-status.txt
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/run-2-report.json
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/run-2-sorted-status.txt
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/run-3-report.json
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/run-3-sorted-status.txt
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/sha-identity.txt
Due: yarn build:app-shared, prettier --write

chore(74-07): Task 3 - regen parity-script constants + PARITY GATE PASS × 3
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/parity-gate-output.txt
  .planning/phases/74-high-leverage-e2e-coverage/post-fix/regen-output.txt
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(74-07): Task 4 - author 74-VERIFICATION.md + file E2E-01 follow-up todo
  .planning/phases/74-high-leverage-e2e-coverage/74-VERIFICATION.md
  .planning/todos/pending/2026-05-11-e2e-01-single-locale-runtime-override.md
Due: yarn build:app-shared, prettier --write

docs(74-07): complete verification gate plan — Phase 74 closes GREEN-WITH-DEFERRAL
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/74-high-leverage-e2e-coverage/74-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(74): gsd-verifier confirms phase goal achievement — 9/9 SCs
  .planning/phases/74-high-leverage-e2e-coverage/74-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): close Phase 74 — 9/9 SCs, ready to plan Phase 75
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(75): capture phase context
  .planning/phases/75-question-rendering-specs/75-CONTEXT.md
  .planning/phases/75-question-rendering-specs/75-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 75 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(75): research phase domain + validation strategy
  .planning/phases/75-question-rendering-specs/75-RESEARCH.md
  .planning/phases/75-question-rendering-specs/75-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(75): create phase plans — QSPEC-01 (boolean) + QSPEC-02 (categorical single-choice)
  .planning/ROADMAP.md
  .planning/phases/75-question-rendering-specs/75-01-PLAN.md
  .planning/phases/75-question-rendering-specs/75-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(75): create phase plan (revised post-checker)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/75-question-rendering-specs/75-01-PLAN.md
  .planning/phases/75-question-rendering-specs/75-02-PLAN.md
  .planning/phases/75-question-rendering-specs/75-02a-PLAN.md
  .planning/phases/75-question-rendering-specs/75-02b-PLAN.md
  .planning/phases/75-question-rendering-specs/75-PATTERNS.md
  .planning/phases/75-question-rendering-specs/75-VALIDATION.md
Due: yarn build:app-shared, prettier --write

feat(75-01): add boolean opinion question + category to e2e seed (Task 1)
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(75-01): bump Skip-Next fallback to 2-iter loop for sort 18 boolean (Task 2 — Option A)
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(75-01): add walkToQuestion(page, sortOrder) helper (Task 3)
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(75-01): add QSPEC-01 boolean opinion question E2E spec (Task 4)
  tests/tests/specs/voter/voter-question-rendering-boolean.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(75-01): complete QSPEC-01 boolean spec plan (Task 5 + final)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/75-question-rendering-specs/75-01-SUMMARY.md
  .planning/todos/pending/2026-05-12-qspec-01-i18n-hardening.md
Due: yarn build:app-shared, prettier --write

test(75-02a): QSPEC-02 — single-choice categorical opinion question E2E spec (Task 1)
  tests/tests/specs/voter/voter-question-rendering-categorical.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(75-02a): unified Phase 75 dedup audit artifact (Task 2, B-03)
  .planning/phases/75-question-rendering-specs/75-02-DEDUP-AUDIT.md
Due: yarn build:app-shared, prettier --write

docs(75-02a): complete QSPEC-02 categorical + unified dedup audit plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/75-question-rendering-specs/75-02a-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(75-02b): Task 1 — 3-run cold-start --workers=1 smoke captures
  .planning/phases/75-question-rendering-specs/post-fix/run-1-sorted-status.txt
  .planning/phases/75-question-rendering-specs/post-fix/run-1.json
  .planning/phases/75-question-rendering-specs/post-fix/run-2-sorted-status.txt
  .planning/phases/75-question-rendering-specs/post-fix/run-2.json
  .planning/phases/75-question-rendering-specs/post-fix/run-3-sorted-status.txt
  .planning/phases/75-question-rendering-specs/post-fix/run-3.json
Due: yarn build:app-shared, prettier --write

chore(75-02b): Task 2 — parity-script constants regen + 3 PARITY GATE PASS
  .planning/phases/73-determinism-baseline/post-fix/regen-output.txt
  .planning/phases/73-determinism-baseline/post-fix/run-3-report.json
  .planning/phases/75-question-rendering-specs/post-fix/parity-gate-output.txt
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(75-02b): Task 3 — author 75-VERIFICATION.md + QSPEC-02 multi-choice deferred-todo
  .planning/phases/75-question-rendering-specs/75-VERIFICATION.md
  .planning/todos/pending/2026-05-12-qspec-02-multi-choice-categorical-variant.md
Due: yarn build:app-shared, prettier --write

docs(75-02b): complete Plan 02b — verification gate + multi-choice deferred-todo
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/75-question-rendering-specs/75-02b-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(75): file optional 58-E2E-AUDIT addendum todo per operator approval
  .planning/todos/pending/2026-05-12-58-e2e-audit-addendum-qspec.md
Due: yarn build:app-shared, prettier --write

docs(75): close Phase 75 — operator approved GREEN-WITH-DEFERRAL
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/75-question-rendering-specs/75-02b-SUMMARY.md
  .planning/phases/75-question-rendering-specs/75-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(75): gsd-verifier confirms phase goal achievement — 4/4 SCs
  .planning/phases/75-question-rendering-specs/75-PHASE-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(76): capture phase context
  .planning/phases/76-profile-a11y/76-CONTEXT.md
  .planning/phases/76-profile-a11y/76-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(77): capture phase context
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-CONTEXT.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(78): capture phase context
  .planning/phases/78-cleanup-hygiene-phase/78-CONTEXT.md
  .planning/phases/78-cleanup-hygiene-phase/78-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 76/77/78 context sessions (batched --auto)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(76): research phase 76 (Profile + A11y) domain
  .planning/phases/76-profile-a11y/76-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(76): add validation strategy
  .planning/phases/76-profile-a11y/76-VALIDATION.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
