Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: don't preselect elections in pre-registration
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

feat[backend]: allow populate in `FindData` admin tool
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/README.md
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show election and constituency in `EntityInfo`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat[backend]: disable edits when `answersLocked`
  backend/vaa-strapi/src/api/candidate/routes/00-customRoutes.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/policies/not-answers-locked.ts
  backend/vaa-strapi/src/util/answersLocked.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: disable (pre)registration routes when `answersLocked`
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/i18n/translations/en/candidateApp.error.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.error.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.error.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/password/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: improve functionality with multiple `Election`s
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.type.ts
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/electionSelector/ElectionSelector.svelte
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/sv/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/impliedParams.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.ts
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: set checkbox background color
  frontend/src/app.css
Due: yarn build:app-shared, prettier --write

feat: `Alliance`s in entity details and lists
  frontend/src/lib/components/entityTag/EntityTag.svelte
  frontend/src/lib/components/entityTag/EntityTag.type.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: generate mock `Alliance`s
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Avatar` bg color and tweak text size
  frontend/src/lib/components/avatar/Avatar.svelte
Due: none

feat: show warning on `(located)` routes when no `Nomination`s
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/contexts/voter/voterContext.type.ts
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/error.json
  frontend/src/lib/i18n/translations/sv/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `color` parsing in `StrapiDataAdapter`
  frontend/src/lib/api/adapters/strapi/utils/parseOrganization.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[frontend][backend]: filter out `unconfirmed` `Nomination`s
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/base/getDataOptions.type.ts
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: reimplement video
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseBasics.ts
  frontend/src/lib/api/adapters/strapi/utils/parseCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/components/video/Video.type.ts
  frontend/src/lib/contexts/layout/layoutContext.ts
  frontend/src/lib/contexts/layout/layoutContext.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: imputed `Organization` and `Faction` matching
  backend/vaa-strapi/src/components/settings/matching.json
  backend/vaa-strapi/types/generated/components.d.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/i18n/translations/en/about.json
  frontend/src/lib/i18n/translations/fi/about.json
  frontend/src/lib/i18n/translations/sv/about.json
  frontend/src/lib/utils/matching/imputeParentAnswers.ts
  frontend/src/lib/utils/matching/index.ts
  frontend/src/lib/utils/matching/mean.test.ts
  frontend/src/lib/utils/matching/mean.ts
  frontend/src/lib/utils/matching/median.test.ts
  frontend/src/lib/utils/matching/median.ts
  frontend/src/lib/utils/matching/mode.test.ts
  frontend/src/lib/utils/matching/mode.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: question category preselection
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
Due: none

fix: `Tabs` component keyboard use
  frontend/src/lib/components/tabs/Tabs.svelte
Due: none

fix: apply `questions.categoryIntros` setting
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: track `QuestionExtendedInfo` events
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: `Question.customData.hidden` property
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/utils/questionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: autofocus
  frontend/src/lib/utils/aria/focus.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix `authToken` typing
  frontend/src/lib/contexts/candidate/userDataStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use vertical `InfoItem` only for `longText`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

refactor: `docker:delete-all` yarn script
  package.json
Due: yarn build:app-shared, prettier --write

fix: child match ordering
  frontend/src/lib/utils/matches.ts
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: disable auto scroll in `EntityList` in `EntityChildren`
  frontend/src/lib/dynamic-components/entityDetails/EntityChildren.svelte
  frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  frontend/src/lib/dynamic-components/entityList/EntityList.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! feat: `Question.customData.hidden` property
  frontend/src/lib/contexts/utils/questionStore.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Lookup candidates
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Candidate nominator file upload
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: County external ID + drop nickname from confirmed first name
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Test with switched first and last name
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: County and municipality code to constituency external ID
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

doc: Update comments
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Update type
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Do not update nickname question
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: always merge `answers` when importing data
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Return both the Bank ID and the CSV names from mapper
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat/fix[backend]: update `Nominations` and `Candidates`
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: translations for Nuorten vaalikone
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
