Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(168-06): complete the candidate app, admin app and app settings pages plan
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(168-06): update state and roadmap progress
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

docs[docs]: regenerate component and route pages
  apps/docs/src/routes/(content)/developers-guide/frontend/components/generated/components/questions/QuestionArguments/+page.md
  apps/docs/src/routes/(content)/developers-guide/frontend/components/generated/dynamic-components/entityCard/EntityCardAction/+page.md
  apps/docs/src/routes/(content)/developers-guide/frontend/routing/generated/+page.md
Due: yarn build:app-shared, prettier --write

docs(168-07): claims ledger for About these docs, the README and the generator text
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-CLAIMS.md
Due: yarn build:app-shared, prettier --write

docs[docs]: document the docs pipeline in About these docs and the README
  apps/docs/README.md
  apps/docs/src/routes/(content)/developers-guide/about-these-docs/+page.md
Due: yarn build:app-shared, prettier --write

docs(168-07): claims for the contributing, about and landing pages
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-CLAIMS.md
Due: yarn build:app-shared, prettier --write

docs[docs]: update contributing, about and landing pages
  apps/docs/src/routes/(content)/about/association/+page.md
  apps/docs/src/routes/(content)/about/features/+page.md
  apps/docs/src/routes/(content)/about/project/+page.md
  apps/docs/src/routes/(content)/about/roadmap/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/ai-agents/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/code-style-guide/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/contribute/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/issues/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/pull-request/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/recommended-ide-settings-code/+page.md
  apps/docs/src/routes/(content)/developers-guide/contributing/workflows/+page.md
Due: yarn build:app-shared, prettier --write

docs[docs]: audit the publishers' guide
  apps/docs/src/routes/(content)/about/features/+page.md
  apps/docs/src/routes/(content)/publishers-guide/data-collection/data-from-final-election-lists/+page.md
  apps/docs/src/routes/(content)/publishers-guide/data-collection/initial-data/+page.md
  apps/docs/src/routes/(content)/publishers-guide/preparing/candidates-and-parties-data-be/+page.md
  apps/docs/src/routes/(content)/publishers-guide/preparing/matching/+page.md
  apps/docs/src/routes/(content)/publishers-guide/preparing/the-application-be-hosted/+page.md
  apps/docs/src/routes/(content)/publishers-guide/preparing/the-statements-or-questions-posed/+page.md
  apps/docs/src/routes/(content)/publishers-guide/preparing/the-voter-see-when-using/+page.md
Due: yarn build:app-shared, prettier --write

docs(168-07): fold every page verdict into the audit ledger, record the pipeline run
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-CLAIMS.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-DOCS-AUDIT.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-07-pipeline.txt
Due: yarn build:app-shared, prettier --write

docs(168-07): complete the generated pages, contributing, about and publishers' guide plan
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-SUMMARY.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-07-pipeline.txt
Due: yarn build:app-shared, prettier --write

docs(168-07): update state and roadmap progress
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

docs(168-08): record the final D-22 gate set and the D-21 sweeps
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-DOCS-AUDIT.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-08-gates.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-08-sweeps.md
Due: yarn build:app-shared, prettier --write

docs[docs]: point the localization-in-strapi stub at Multi-locale data
  apps/docs/src/routes/(content)/developers-guide/localization/localization-in-strapi/+page.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(168-08): reconcile the verifier pass, run D-11, settle todos, finish the ledger
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-CLAIMS.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-DOCS-AUDIT.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-08-d11-runs.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-08-gates.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/gate-evidence/168-08-verifier-reconciliation.md
  .planning/todos/done/2026-08-28-broken-docs-script-references.md
  .planning/todos/done/configurable-mock-data.md
  .planning/todos/done/register-page-registrationkey-method.md
  .planning/todos/pending/2026-08-28-reintroduce-the-local-data-adapter.md
  .planning/todos/pending/2026-09-02-forgot-password-pkce-code-not-exchanged.md
  .planning/todos/pending/2026-09-15-refactor-candidate-and-entity-registration-flow-and-nominati.md
  .planning/todos/pending/2026-09-21-preregister-route-discards-email-and-nominations.md
  .planning/todos/pending/2026-10-01-claude-md-stale-claims-found-by-docs-rewrite.md
  .planning/todos/pending/2026-10-01-docs-link-check-on-pull-requests.md
  .planning/todos/pending/2026-10-02-admin-with-candidate-grant-locked-out-of-admin-app.md
  .planning/todos/pending/2026-10-02-app-settings-shallow-merge-and-no-admin-editor.md
  .planning/todos/pending/2026-10-02-deployment-config-gaps-found-by-docs-rewrite.md
  .planning/todos/pending/2026-10-02-oidc-callback-does-not-verify-nonce.md
  .planning/todos/pending/2026-10-02-password-validator-username-never-passed.md
  .planning/todos/pending/2026-10-02-readme-comment-and-skill-drift-found-by-docs-rewrite.md
  .planning/todos/pending/2026-10-02-routing-and-locale-findings-from-docs-rewrite.md
  .planning/todos/pending/2026-10-02-voter-statement-weights-and-live-top-results-not-implemented.md
  .planning/todos/pending/configurable-mock-data.md
  .planning/todos/pending/password-reset-code-method.md
Due: yarn build:app-shared, prettier --write

docs(168-08): complete the final gates, verifier reconciliation and close-out plan
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-08-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(168-08): update state, roadmap progress and DOCS-01..08
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

docs(168): state DOCS-02 against the re-anchored component base
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(168): code review, disposition and phase verification
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-REVIEW-DISPOSITION.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-REVIEW.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-168): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

docs(169): record operator legitimacy approvals A, B, C; begin execution
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-LEGITIMACY-APPROVALS.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(deps): enforce a 7-day minimum release age for new resolutions
  .yarnrc.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169): open the dependency-bump evidence ledger and runners
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-VERSION-TABLE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-e2e.sh
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-gates.sh
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-version-probe.mjs
Due: yarn build:app-shared, prettier --write

test(audit): require the audit gate to prove the audit ran
  packages/dev-seed/tests/auditBaselineShape.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(audit): key the audit gate's liveness on the audit's exit status
  scripts/assert-dependency-audit.mjs
  scripts/lib/audit-run.mjs
Due: none

chore(deps): refresh the lockfile within declared ranges
  yarn.lock
Due: none

chore(audit): accept the braces advisory that has no fixed release
  security/audit-baseline.json
Due: yarn build:app-shared, prettier --write

fix(build): stop package typechecks writing the build's tsbuildinfo
  packages/app-shared/package.json
  packages/argument-condensation/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/llm/package.json
  packages/matching/package.json
  packages/question-info/package.json
Due: yarn build:app-shared, prettier --write

style: reformat for the refreshed Prettier
  apps/frontend/src/lib/candidate/utils/loginError.ts
  apps/frontend/src/lib/components/questions/QuestionChoices.type.ts
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/dynamic-components/navigation/NavItem.type.ts
  apps/frontend/src/lib/utils/settings.ts
  packages/core/src/entity/entity.type.ts
  packages/data/src/core/collection.type.ts
  packages/data/src/core/dataAccessor.type.ts
  packages/data/src/root/dataRoot.ts
  packages/data/src/root/dataRoot.type.ts
  packages/dev-seed/README.md
  packages/dev-seed/src/template/linkSentinels.ts
  packages/dev-seed/src/templates/_helpers/buildMinimal.test.ts
  packages/dev-seed/tests/auditBaselineShape.test.ts
  packages/dev-seed/tests/templates/base-app-settings.test.ts
  packages/dev-seed/tests/templates/base.test.ts
  packages/filters/src/filter/base/filter.type.ts
  packages/supabase-types/src/database.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-01): record group 0 evidence — liveness controls, refresh, gates, E2E
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-e2e.sh
Due: yarn build:app-shared, prettier --write

docs(169-01): complete group 0 plan — age gate, audit liveness, in-range refresh
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(169-01): update state, roadmap progress and decisions
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-01-SUMMARY.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(toolchain): move Yarn to 4.18.1 at every pin site
  .github/trufflehog-exclude-paths.txt
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  apps/frontend/Dockerfile
  apps/frontend/package.json
  package.json
  packages/dev-seed/tests/assertDeclaredBinariesGate.test.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-02): record the Yarn 4.18.1 move and the install-script allow-list ruling
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

chore(toolchain): move to Node 24 at every pin site
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
  apps/frontend/Dockerfile
  apps/frontend/package.json
  apps/frontend/src/lib/server/admin/requireAdminIdentity.test.ts
  package.json
  packages/dev-seed/tests/assertDeclaredBinariesGate.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(ci): set up Node before Yarn so the first install runs on the pinned Node
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(dev-seed): build the userinfo fixture URL from parts
  packages/dev-seed/tests/localSupabaseUrl.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-02): record the isolated Node 24 gate run, image smoke, E2E and guard control
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

chore(deps): move @types/node to the Node 24 line
  .yarnrc.yml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move TypeScript to 6.0.3
  .yarnrc.yml
  packages/shared-config/tsconfig.base.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
