Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix: `color` parsing in `StrapiDataAdapter`
  frontend/src/lib/api/adapters/strapi/utils/parseOrganization.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Tabs` component keyboard use
  frontend/src/lib/components/tabs/Tabs.svelte
Due: none

fix: apply `questions.categoryIntros` setting
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: track `QuestionExtendedInfo` events
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: reimplement video
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseBasics.ts
  frontend/src/lib/api/adapters/strapi/utils/parseCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/components/video/Video.type.ts
  frontend/src/lib/contexts/layout/layoutContext.ts
  frontend/src/lib/contexts/layout/layoutContext.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Avatar` bg color and tweak text size
  frontend/src/lib/components/avatar/Avatar.svelte
Due: none

fix: autofocus
  frontend/src/lib/utils/aria/focus.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix `authToken` typing
  frontend/src/lib/contexts/candidate/userDataStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use vertical `InfoItem` only for `longText`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat: disable auto scroll in `EntityList` in `EntityChildren`
  frontend/src/lib/dynamic-components/entityDetails/EntityChildren.svelte
  frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  frontend/src/lib/dynamic-components/entityList/EntityList.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: child match ordering
  frontend/src/lib/utils/matches.ts
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Question.customData.hidden` property
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/utils/questionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `docker:delete-all` yarn script
  package.json
Due: yarn build:app-shared, prettier --write

feat: Candidate nominator file upload
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

doc: Update comments
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: County and municipality code to constituency external ID
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Test with switched first and last name
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Update type
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: County external ID + drop nickname from confirmed first name
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Lookup candidates
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Do not update nickname question
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat/fix[backend]: update `Nominations` and `Candidates`
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Return both the Bank ID and the CSV names from mapper
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: always merge `answers` when importing data
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build[backend]: raise max connections to 100
  backend/vaa-strapi/config/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: always return `Match`es from `findCandidateNominations`
  frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Support filtering by unconfirmed
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[backend]: generate mock answer for `link` questions
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: catch `getEntityAndTitle` error on `Results` route
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

feat: `Select` component with autocomplete support
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/lib/components/select/Select.type.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: no nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

fix: `compareMaybeWrappedEntities`
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: only show parent link when its included in results
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat[backend]: export feedback in Admin Tools
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: parent answer imputation
  frontend/src/lib/contexts/voter/matchStore.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.type.ts
  frontend/src/lib/utils/matching/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: set `EntityDetails` tabs based on settings
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
Due: none

fix: analytics translation keys
  frontend/src/lib/dynamic-components/dataConsent/DataConsent.svelte
  frontend/src/lib/dynamic-components/dataConsent/DataConsentInfoButton.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
Due: none

fix: Swedish translation
  frontend/src/lib/i18n/translations/sv/common.json
Due: yarn build:app-shared, prettier --write

feat: enable localization in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localPaths.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
