Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show `Alliance`s in the frontend
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseNominations.ts
  frontend/src/lib/api/adapters/strapi/utils/parsePartialNominations.ts
  packages/data/src/objects/nominations/variants/allianceNomination.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: reload data on language change
  frontend/src/lib/dynamic-components/navigation/languages/LanguageSelection.svelte
Due: none

docs: update sample code for Delete Data admin tool
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: use link question’s short name in link pill
  frontend/src/lib/components/infoAnswer/InfoAnswer.svelte
Due: none

build/docs: fix claude permissions and add docs
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  docs/README.md
  docs/contributing.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `isPregistered` local storage key
  frontend/src/lib/contexts/candidate/candidateContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[backend]: fix redundant typing
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show login prompt on candidate registration page
  frontend/src/lib/i18n/translations/da/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: import `answersByExternalId`
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/README.md
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: remove duplicate question index with category tags
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
Due: none

refactor: category tag display on Questions Intro page
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
Due: none

fix: filter questions by entity type in Candidate App
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/utils/questionCategoryStore.ts
  frontend/src/lib/contexts/utils/questionStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show `Questions`’ hero content in Candidate App
  frontend/src/lib/components/hero/Hero.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

working implementation: redis conversation state management, working widget, user page contextualization
  frontend/src/lib/chatbot/utils/onboarding.ts
  frontend/src/lib/components/chatbot/ChatbotWidget.svelte
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  packages/chatbot/src/controller/chatbotController.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tmp: chatbot & dev ui refactored but not yet chceked - packages build
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/core/rag/ragService.ts
  packages/chatbot/src/core/rag/ragService.type.ts
  packages/chatbot/src/core/tools/tools.ts
  packages/chatbot/src/defaultConfig/vectorStore.ts
  packages/file-processing/src/scripts/embeddingScript.ts
  packages/vector-store/README.md
  packages/vector-store/src/core/vectorStore.type.ts
  packages/vector-store/src/types.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: `render.yaml` example
  render.example.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: lint
  docs/backend.md
  frontend/src/lib/components/video/Video.svelte
Due: yarn build:app-shared, prettier --write

chore: change all `example.com` placeholders to `openvaa.org`
  .env.example
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  docs/deployment.md
  frontend/src/lib/api/utils/translateHeroContent.test.ts
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/utils/image.test.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/data/src/objects/questions/variants/imageQuestion.test.ts
  packages/data/src/testUtils/localizedTestData.ts
  packages/data/src/testUtils/testData.ts
  packages/data/src/utils/ensureValue.test.ts
  packages/data/src/utils/formatAnswer.test.ts
  tests/tests/candidateApp-advanced.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `LLM_OPENAI_API_KEY` env variable
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/server/constants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandidateLoginError` messages
  frontend/src/lib/candidate/utils/loginError.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add `llm` and `argument-condensation` to `frontend` deps
  frontend/package.json
  frontend/tsconfig.json
  packages/argument-condensation/package.json
  packages/argument-condensation/tsconfig.cjs.json
  packages/argument-condensation/tsconfig.esm.json
  packages/llm/package.json
  packages/llm/tsconfig.cjs.json
  packages/llm/tsconfig.esm.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat/refactor[backend][frontend]: user roles login and logout routes
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/functions/setDefaultApiPermissions.ts
  backend/vaa-strapi/src/index.ts
  backend/vaa-strapi/src/policies/user-is-admin.ts
  backend/vaa-strapi/types/customStrapiTypes.d.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseUser.ts
  frontend/src/lib/api/base/actionResult.type.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/api/utils/fail.ts
  frontend/src/lib/candidate/utils/loginError.ts
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/sv/error.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/api/auth/login/+server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/logout/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `AuthContext`
  docs/frontend.md
  frontend/src/lib/contexts/auth/authContext.ts
  frontend/src/lib/contexts/auth/authContext.type.ts
  frontend/src/lib/contexts/auth/index.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/contexts/candidate/candidateUserDataStore.ts
  frontend/src/lib/contexts/candidate/candidateUserDataStore.type.ts
  frontend/src/lib/contexts/candidate/index.ts
  frontend/src/lib/contexts/utils/prepareDataWriter.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: create a job logger and store for storing long ops
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
  frontend/src/lib/jobs/jobLogger.ts
  frontend/src/lib/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/complete/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/message/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/progress/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
