Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix(91-05): scope voter-mega feedback drawer + waitFor + EN-only regex (cycles 1-3)
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style(91-05): lint fixes — simple-import-sort + voterTest-as-test unification
  tests/tests/setup/perm-answers-locked.setup.ts
  tests/tests/setup/perm-disable-allow-open.setup.ts
  tests/tests/setup/perm-hide-hero.setup.ts
  tests/tests/specs/perm/perm-answers-locked.spec.ts
  tests/tests/specs/perm/perm-disable-allow-open.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(91-05): complete TIR6 perm gap-closure plan (CR-01 / CR-02 / CR-03)
  .planning/phases/91-tir6-perm-and-edit-test-additions-visual-perf-a11y-bank-auth/91-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-91): mark 91-05 complete in ROADMAP + STATE after gap closure
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(91): re-verification PASSED — all 3 CRs closed (22/22 must-haves)
  .planning/phases/91-tir6-perm-and-edit-test-additions-visual-perf-a11y-bank-auth/91-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-91): mark phase complete in STATE.md after re-verification PASSED
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(91): add phase learnings (decisions/lessons/patterns/surprises)
  .planning/phases/91-tir6-perm-and-edit-test-additions-visual-perf-a11y-bank-auth/91-LEARNINGS.md
Due: yarn build:app-shared, prettier --write

chore: bump STATE.md Last Activity after 91 learning extraction
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: capture todo - edit seed utility to use strict typing for templates
  .planning/todos/pending/2026-05-31-edit-the-seed-utility-to-use-strict-typing-for-the-templates.md
Due: yarn build:app-shared, prettier --write

feat(quick): implement SupabaseFeedbackWriter._postFeedback
  .planning/quick/260531-p0o-supabase-feedback-impl/PLAN.md
  apps/frontend/src/lib/api/adapters/supabase/feedbackWriter/supabaseFeedbackWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick): record 260531-p0o supabase feedback writer impl
  .planning/STATE.md
  .planning/quick/260531-p0o-supabase-feedback-impl/SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(supabase): allow authenticated users to insert feedback
  apps/supabase/supabase/migrations/00003_authenticated_insert_feedback.sql
  apps/supabase/supabase/schema/302-rls.sql
Due: none

fix(test): repoint candidate login fixture to canonical password testId
  .planning/STATE.md
  .planning/quick/260531-t1d-fix-login-password-testid/PLAN.md
  .planning/quick/260531-t1d-fix-login-password-testid/SUMMARY.md
  tests/tests/fixtures/candidate/candidateLoginPage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick): backfill 260531-t1d commit hash in STATE.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

fix(input): break self-invalidating $effect in select-multiple
  apps/frontend/src/lib/components/input/Input.svelte
Due: none

fix(candidate): resolve three candidate-mega-journey profile failures
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(candidate): format profile nominations from raw data, not dataRoot
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(todo): capture displaying nominating org in candidate profile nominations
  .planning/todos/pending/2026-05-31-display-nominating-org-in-candidate-profile-nominations.md
Due: yarn build:app-shared, prettier --write

test(candidate): fail fast on stuck-disabled ToU submit
  .planning/STATE.md
  .planning/quick/260531-vdn-tou-fixture-fail-fast-on-disabled-submit/PLAN.md
  .planning/quick/260531-vdn-tou-fixture-fail-fast-on-disabled-submit/SUMMARY.md
  tests/tests/fixtures/candidate/candidateTermsOfUsePage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick): backfill 260531-vdn commit hash in STATE.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(candidate): fill number inputs + fail fast + bracketed id matching
  .planning/STATE.md
  .planning/quick/260531-vqu-fillquestion-number-input-and-bracketed-id-match/PLAN.md
  .planning/quick/260531-vqu-fillquestion-number-input-and-bracketed-id-match/SUMMARY.md
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick): backfill 260531-vqu commit hash in STATE.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(candidate): fail fast on disabled profile submit
  .planning/quick/260531-vqu-fillquestion-number-input-and-bracketed-id-match/SUMMARY.md
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(quick-260531-we7): coerce number input value to a real number
  apps/frontend/src/lib/components/input/Input.svelte
Due: none

docs(quick-260531-we7): fix number input coercion (Answer for number question must be a number)
  .planning/STATE.md
  .planning/quick/260531-we7-fix-setanswers-number-question-must-be-a/260531-we7-PLAN.md
  .planning/quick/260531-we7-fix-setanswers-number-question-must-be-a/260531-we7-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(quick-260531-x5s-01): type updateAnswers/overwriteAnswers as LocalizedAnswers
  apps/frontend/src/lib/api/base/dataWriter.type.ts
  apps/frontend/src/lib/api/base/universalDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(quick-260531-x5s-01): add failing regression test for answers-only save dropping entity id
  apps/frontend/src/lib/contexts/candidate/candidateUserDataStore.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(quick-260531-x5s-01): merge answers into candidate.answers instead of replacing candidate
  apps/frontend/src/lib/contexts/candidate/candidateUserDataStore.svelte.test.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260531-x5s-01): complete fix-candidate-userdata-save-dropping-entity-id task
  .planning/STATE.md
  .planning/quick/260531-x5s-fix-candidate-userdata-save-dropping-ent/260531-x5s-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(data): promote `required` to first-class Question field + wire consumers
  apps/frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.svelte
  apps/frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.type.ts
  apps/frontend/src/lib/components/image/Image.svelte
  apps/frontend/src/lib/components/input/QuestionInput.svelte
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/dynamic-components/navigation/NavItem.svelte
  apps/frontend/src/lib/dynamic-components/navigation/NavItem.type.ts
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  apps/frontend/src/routes/candidate/forgot-password/+page.svelte
  apps/frontend/src/routes/candidate/password-reset/+page.svelte
  apps/frontend/src/routes/candidate/register/password/+page.svelte
  apps/frontend/tsconfig.tsbuildinfo
  package.json
  packages/app-shared/src/data/customData.type.ts
  packages/data/src/objects/questions/base/question.ts
  packages/data/src/objects/questions/base/question.type.ts
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/src/templates/baseV1.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(planning): add quick-260531-x5s PLAN.md + pending todos
  .planning/quick/260531-x5s-fix-candidate-userdata-save-dropping-ent/260531-x5s-PLAN.md
  .planning/todos/pending/2026-05-31-fix-nominations-route-fetch-all-questions.md
  .planning/todos/pending/2026-05-31-implement-multiple-text-question-input.md
Due: yarn build:app-shared, prettier --write

test(e2e): stabilize candidate/voter mega-journey chains
  tests/playwright.config.ts
  tests/tests/fixtures/candidate/candidateForgotPasswordPage.fixture.ts
  tests/tests/fixtures/candidate/candidateHomePage.fixture.ts
  tests/tests/fixtures/candidate/candidateLogoutButton.fixture.ts
  tests/tests/fixtures/candidate/candidatePasswordSetter.fixture.ts
  tests/tests/fixtures/shared/feedbackDialog.fixture.ts
  tests/tests/setup/candidate-mega.setup.ts
  tests/tests/setup/candidate-mega.teardown.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
  tests/tests/utils/candidateMegaConstants.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(frontend): bridge allow_open→customData.allowOpen + fix properties-save id drop
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataStore.svelte.test.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataStore.svelte.ts
  apps/frontend/src/routes/candidate/(protected)/questions/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(candidate-mega): fix steps 16-21 locators + walk navigation
  tests/tests/fixtures/candidate/candidatePreviewPage.fixture.ts
  tests/tests/fixtures/candidate/candidateQuestionPage.fixture.ts
  tests/tests/fixtures/candidate/candidateQuestionsOverviewPage.fixture.ts
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(todo): candidate home savedData.answers empty → logout modal (step 22 root cause)
  .planning/todos/pending/2026-06-01-candidate-home-savedanswers-empty-logout-modal.md
Due: yarn build:app-shared, prettier --write

docs(todo): deepen step-22 diagnosis — get_candidate_user_data returns empty answers (auth-linkage)
  .planning/todos/pending/2026-06-01-candidate-home-savedanswers-empty-logout-modal.md
Due: yarn build:app-shared, prettier --write

docs(quick-260601-q22): disprove step-22 auth-linkage hypothesis via instrumented run
  .planning/STATE.md
  .planning/quick/260601-q22-step22-logout-bug-data-layer-disproven/260601-q22-PLAN.md
  .planning/quick/260601-q22-step22-logout-bug-data-layer-disproven/260601-q22-SUMMARY.md
  .planning/todos/pending/2026-06-01-candidate-home-savedanswers-empty-logout-modal.md
Due: yarn build:app-shared, prettier --write

test(quick-260601-hn9): skip perm-per-app-notifications pending runes migration
  tests/tests/specs/perm/perm-per-app-notifications.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260601-hn9): file two pending todos for deferred notification work
  .planning/todos/pending/2026-06-01-convert-analytics-to-dynamic-setting-add-consent-e2e.md
  .planning/todos/pending/2026-06-01-reenable-perm-per-app-notifications-after-runes-migration.md
Due: yarn build:app-shared, prettier --write

docs(quick-260601-hn9): skip notification popup permutation tests + file 2 deferred todos
  .planning/STATE.md
  .planning/quick/260601-hn9-skip-popup-tests-add-todos/260601-hn9-PLAN.md
  .planning/quick/260601-hn9-skip-popup-tests-add-todos/260601-hn9-SUMMARY.md
Due: yarn build:app-shared, prettier --write
