Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

chore: update yarn.lock
  yarn.lock
Due: none

chore: add yarn command to reload packages if changes are made to them during development
  package.json
Due: yarn build:app-shared, prettier --write

feat[llm]: add fallback model configuration
  packages/llm/src/fallbackModels.ts
  packages/llm/src/llm-providers/llmProvider.ts
  packages/llm/src/modelPricing.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs[q-info]: update README
  packages/question-info/README.md
Due: yarn build:app-shared, prettier --write

fix: use `LLMPipelineMetrics` in `StrapiData` type
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: hot-reload packages in development
  frontend/docker-compose.dev.yml
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[arg-cond]: use same runId for the same question's cons and pros
  packages/argument-condensation/src/question-handlers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[llm]: add output language as a common param
  packages/argument-condensation/src/core/types/api/apiConfig.ts
  packages/llm/src/types/commonLLMParams.ts
  packages/question-info/src/types/generationOptions.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: add status 'aborted' for admin features
  backend/vaa-strapi/src/api/admin-job/content-types/admin-job/schema.json
  frontend/src/lib/api/base/dataWriter.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tests[llm]: remove tests for empty configuration logic (not implemented)
  packages/llm/tests/llmProvider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[q-info]: use new prompt registry & move prompt consts to .ts from .yaml files
  packages/question-info/src/api.ts
  packages/question-info/src/consts.ts
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/prompts/en/consts.ts
  packages/question-info/src/prompts/en/examples.yaml
  packages/question-info/src/prompts/en/generateBoth.yaml
  packages/question-info/src/prompts/en/generateInfoSections.yaml
  packages/question-info/src/prompts/en/generateTerms.yaml
  packages/question-info/src/utils/index.ts
  packages/question-info/src/utils/promptLoader.ts
  packages/question-info/tests/promptValidation.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[llm]: add localization instructions for all supported locales - use English as the only fallback language, pivot later if needed
  packages/llm/README.md
  packages/llm/package.json
  packages/llm/src/prompts/localizationInstructions.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: add minor todo comments
  packages/llm/src/llm-providers/llmProvider.ts
  packages/llm/src/utils/prompting/setPromptVars.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: frontend container name in script
  package.json
Due: yarn build:app-shared, prettier --write

feat[llm]: add prompt registry with output localization support
  packages/argument-condensation/src/index.ts
  packages/argument-condensation/src/prompts.ts
  packages/core/src/pipelines/promptRegistry.ts
  packages/llm/src/index.ts
  packages/llm/src/prompts/index.ts
  packages/llm/src/prompts/localizationInstructions.ts
  packages/llm/src/prompts/promptRegistry.ts
  packages/llm/src/prompts/types.ts
  packages/question-info/src/index.ts
  packages/question-info/src/prompts.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[llm]: add prompt registry set up for features that use prompts
  packages/argument-condensation/tests/setup.ts
  packages/argument-condensation/vitest.config.ts
  packages/question-info/tests/setup.ts
  packages/question-info/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[arg-cond]: update prompt yamls to conform to new prompt registry expectation
  frontend/src/lib/api/base/dataWriter.type.ts
  packages/argument-condensation/src/core/condensation/prompts/en/ITERATE_MAP/booleanCons/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/ITERATE_MAP/booleanPros/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/ITERATE_MAP/categoricalPros/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/ITERATE_MAP/likertCons/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/ITERATE_MAP/likertPros/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/MAP/booleanCons/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/MAP/booleanPros/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/MAP/categoricalPros/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/MAP/likertCons/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/MAP/likertPros/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REDUCE/booleanCons/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REDUCE/booleanPros/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REDUCE/categoricalPros/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REDUCE/likertCons/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REDUCE/likertPros/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REFINE/likertPros/initialBatchPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/en/REFINE/likertPros/refinementPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/GROUND/likertCons/groundingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/GROUND/likertPros/groundingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/ITERATE_MAP/likertCons/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/ITERATE_MAP/likertPros/condensationIterationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/MAP/likertCons/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/MAP/likertPros/condensationPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/REDUCE/likertCons/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/REDUCE/likertPros/coalescingPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/REFINE/likertCons/initialBatchPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/REFINE/likertPros/initialBatchPrompt.yaml
  packages/argument-condensation/src/core/condensation/prompts/fi/REFINE/likertPros/refinementPrompt.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[llm]: add no-op controller for testing
  packages/core/src/controller/noOpController.ts
  packages/core/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin]: create language selector component
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  frontend/src/lib/admin/components/languageFeatures/index.ts
  frontend/src/lib/i18n/translations/da/adminApp.languageFeatures.json
  frontend/src/lib/i18n/translations/en/adminApp.languageFeatures.json
  frontend/src/lib/i18n/translations/fi/adminApp.languageFeatures.json
  frontend/src/lib/i18n/translations/index.ts
  frontend/src/lib/i18n/translations/sv/adminApp.languageFeatures.json
  frontend/src/lib/server/admin/features/generateQuestionInfo.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[llm]: add better support for optional variables in prompt templates
  packages/llm/src/prompts/promptRegistry.ts
  packages/llm/src/utils/prompting/setPromptVars.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[arg-cond]: add separate runIds for cons and pros
  packages/argument-condensation/src/question-handlers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[arg-cond]: consolidate to prompt registry and 'app-shared' locales
  packages/argument-condensation/package.json
  packages/argument-condensation/src/api.ts
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/condensation/prompts/promptRegistry.ts
  packages/argument-condensation/src/core/types/base/supportedLanguages.ts
  packages/argument-condensation/src/core/types/condensation/processParams.ts
  packages/argument-condensation/src/core/types/index.ts
  packages/argument-condensation/src/core/types/llm/prompt.ts
  packages/argument-condensation/src/core/utils/condensation/defineCondensationSteps.ts
  packages/argument-condensation/src/core/utils/condensation/planValidation.ts
  packages/argument-condensation/src/core/utils/condensation/validateInputTokenCount.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
  packages/argument-condensation/tests/unit/defineCondensationPlan.test.ts
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
  packages/argument-condensation/tests/unit/planValidation.test.ts
  packages/argument-condensation/tests/unit/promptRegistry.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: test expected hardcoded error string
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: save generated data from admin jobs
  backend/vaa-strapi/src/api/admin-job/content-types/admin-job/schema.json
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/features/generateQuestionInfo.ts
  frontend/src/lib/server/admin/jobs/jobStore.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: add todo for testing fallback localization on arg-cond
  packages/argument-condensation/src/core/condensation/condenser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[q-info]: relocate types according to repo standards
  packages/question-info/README.md
  packages/question-info/src/api.ts
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/core/infoGeneration.type.ts
  packages/question-info/src/index.ts
  packages/question-info/src/types/generationOptions.ts
  packages/question-info/src/types/index.ts
  packages/question-info/src/types/promptTypes.ts
  packages/question-info/src/utils/determinePrompt.ts
  packages/question-info/src/utils/responseTransformer.ts
  packages/question-info/src/utils/schemaGenerator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[llm]: use fallbackLocalization flag
  packages/llm/src/prompts/promptRegistry.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: prompts' path resolution irrespective of usage environment
  packages/argument-condensation/tests/setup.ts
  packages/question-info/tests/setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[q-info]: update readme.md
  packages/question-info/README.md
Due: yarn build:app-shared, prettier --write

refactor[admin]: reduce boilerplate for aborting jobs
  frontend/src/lib/admin/utils/abortJob.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[llm]: remove dumb if-else logic for fallback prompts
  packages/llm/src/prompts/promptRegistry.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: some comments
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/jobs/pipelineController.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[arg-cond]: update readme
  packages/argument-condensation/README.md
Due: yarn build:app-shared, prettier --write

chore[llm]: clarify todos
  packages/llm/src/llm-providers/llmProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

clean[q-info]: remove old yamls that are replaced by .ts constants
  packages/question-info/src/prompts/en/examples.yaml
  packages/question-info/src/prompts/en/examples/transactionFees.yaml
  packages/question-info/src/prompts/en/instructions.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update translations
  frontend/src/lib/i18n/translations/da/error.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `ButtonWithConfirmation` and `ConfirmationModal` components
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.svelte
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.type.ts
  frontend/src/lib/components/buttonWithConfirmation/index.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.type.ts
  frontend/src/lib/components/modal/confirmation/index.ts
  frontend/src/lib/components/modal/timed/TimedModal.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: call `build:shared` when starting `dev`
  package.json
Due: yarn build:app-shared, prettier --write

refactor: use `ButtonWithConfirmation` for `performEmergencyCleanup`
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

refactor: `Select` component
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/lib/components/select/Select.type.ts
  frontend/src/lib/components/select/index.ts
  frontend/src/lib/i18n/translations/da/components.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
