Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(phase-65): research Svelte 5 audit sweeps domain
  .planning/phases/65-svelte-5-audit-sweeps/65-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(65): add validation strategy
  .planning/phases/65-svelte-5-audit-sweeps/65-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(65): create phase plan (3 plans, 1 revision cycle)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/65-svelte-5-audit-sweeps/65-01-PLAN.md
  .planning/phases/65-svelte-5-audit-sweeps/65-02-PLAN.md
  .planning/phases/65-svelte-5-audit-sweeps/65-03-PLAN.md
  .planning/phases/65-svelte-5-audit-sweeps/65-VALIDATION.md
Due: yarn build:app-shared, prettier --write

fix(65-01): convert Input.svelte mainInputs to $state for bind:this property writes
  apps/frontend/src/lib/components/input/Input.svelte
Due: none

docs(65-01): inline justifications for bind:* sites in candidate/, components/, admin/, utils/
  apps/frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  apps/frontend/src/lib/candidate/components/logoutButton/LogoutButton.svelte
  apps/frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  apps/frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.svelte
  apps/frontend/src/lib/candidate/components/passwordValidator/PasswordValidator.svelte
  apps/frontend/src/lib/candidate/components/preregisteredNotification/PreregisteredNotification.svelte
  apps/frontend/src/lib/candidate/components/termsOfUse/TermsOfUseForm.svelte
  apps/frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  apps/frontend/src/lib/components/alert/Alert.svelte
  apps/frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.svelte
  apps/frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  apps/frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  apps/frontend/src/lib/components/electionSelector/ElectionSelector.svelte
  apps/frontend/src/lib/components/entityFilters/enumerated/EnumeratedEntityFilter.svelte
  apps/frontend/src/lib/components/entityFilters/numeric/NumericEntityFilter.svelte
  apps/frontend/src/lib/components/entityFilters/text/TextEntityFilter.svelte
  apps/frontend/src/lib/components/icon/Icon.svelte
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/components/modal/Modal.svelte
  apps/frontend/src/lib/components/modal/ModalContainer.svelte
  apps/frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  apps/frontend/src/lib/components/modal/drawer/Drawer.svelte
  apps/frontend/src/lib/components/modal/timed/TimedModal.svelte
  apps/frontend/src/lib/components/notification/Notification.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/questions/QuestionOpenAnswer.svelte
  apps/frontend/src/lib/components/select/Select.svelte
  apps/frontend/src/lib/components/tabs/Tabs.svelte
  apps/frontend/src/lib/components/term/Term.svelte
  apps/frontend/src/lib/components/toggle/Toggle.svelte
  apps/frontend/src/lib/components/video/Video.svelte
  apps/frontend/src/lib/utils/color/PreviewColorContrast.svelte
Due: none

docs(65-01): inline justifications for bind:* sites in dynamic-components/ and Video.svelte
  apps/frontend/src/lib/components/video/Video.svelte
  apps/frontend/src/lib/dynamic-components/dataConsent/DataConsentInfoButton.svelte
  apps/frontend/src/lib/dynamic-components/dataConsent/popup/DataConsentPopup.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.svelte
  apps/frontend/src/lib/dynamic-components/feedback/Feedback.svelte
  apps/frontend/src/lib/dynamic-components/feedback/modal/FeedbackModal.svelte
  apps/frontend/src/lib/dynamic-components/feedback/popup/FeedbackPopup.svelte
  apps/frontend/src/lib/dynamic-components/survey/SurveyButton.svelte
  apps/frontend/src/lib/dynamic-components/survey/banner/SurveyBanner.svelte
  apps/frontend/src/lib/dynamic-components/survey/popup/SurveyPopup.svelte
Due: none

docs(65-01): complete bind:* audit + inline justifications plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/65-svelte-5-audit-sweeps/65-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(65-02): annotate {#key} sites + key Pattern B {#each} on profile editable infoQuestions
  apps/frontend/src/routes/(voters)/(located)/results/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

fix(65-02): split reactive-accessor destructures across candidate routes
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/candidate/login/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/constituencies/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/elections/+page.svelte
  apps/frontend/src/routes/candidate/preregister/+page.svelte
  apps/frontend/src/routes/candidate/register/password/+page.svelte
Due: none

docs(65-02): add Context Destructuring Rule + fix code-review-checklist link path
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

docs(65-02): complete {#key} + context-destructure + CLAUDE.md plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/65-svelte-5-audit-sweeps/65-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(65-03): add inline parity-diff helper for v2.6 baseline check
  .planning/phases/65-svelte-5-audit-sweeps/scripts/diff-parity.mjs
Due: none

fix(65-03): revert D-65-01-4 attribute reorderings to fix radio binding regression
  apps/frontend/src/lib/candidate/components/termsOfUse/TermsOfUseForm.svelte
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/select/Select.svelte
Due: none

docs(65-03): verification report + plan summary — Phase 65 PASS
  .planning/phases/65-svelte-5-audit-sweeps/65-03-SUMMARY.md
  .planning/phases/65-svelte-5-audit-sweeps/65-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-65): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/65-svelte-5-audit-sweeps/65-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-65): auto-close 2 todo(s) resolved by this phase
  .planning/todos/completed/2026-04-25-investigate-destructuring-contexts.md
  .planning/todos/completed/svelte5-cleanup.md
Due: yarn build:app-shared, prettier --write

docs(phase-65): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(65): polish QuestionChoices inline comment after root-cause correction
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
Due: none

docs(phase-66): research adapter type cleanup domain
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-66): add validation strategy
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(66): create phase plan (1 plan, single wave)
  .planning/ROADMAP.md
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(phase-66): record planning completion in STATE.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(66-01): add InternalFlatNomination type for adapter reverse-fill
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(66-01): retype reverse-fill via InternalFlatNomination
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(66-01): capture post-fix Playwright report for parity gate (PARITY GATE: PASS)
  .planning/phases/66-nominations-schema-adapter-type-cleanup/post-fix/playwright-report.json
Due: yarn build:app-shared, prettier --write

docs(66-01): write Phase 66 verification report (PARITY GATE: PASS) + advance STATE to Phase 67
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-01-SUMMARY.md
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-66): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-66): auto-close 2 todo(s) resolved by this phase
  .planning/todos/completed/2026-04-27-cleanup-sloppy-typing-supabaseDataProvider.md
  .planning/todos/completed/2026-04-28-cleanup-nominations-table.md
Due: yarn build:app-shared, prettier --write

docs(phase-66): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(67): research phase 67 (alliance seeding)
  .planning/phases/67-default-seed-alliances/67-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(67): add validation strategy
  .planning/phases/67-default-seed-alliances/67-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(67): add pattern map
  .planning/phases/67-default-seed-alliances/67-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(67): plan Phase 67 — Default Seed Alliances (2 plans)
  .planning/ROADMAP.md
  .planning/phases/67-default-seed-alliances/67-01-PLAN.md
  .planning/phases/67-default-seed-alliances/67-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(67): planning complete -- 2 plans ready to execute
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(67-01): add alliances-override.ts emitting 2 alliances + 10 alliance noms
  packages/dev-seed/src/templates/defaults/alliances-override.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(67-01): wire parent_nomination on alliance-member org-noms
  packages/dev-seed/src/templates/defaults/nominations-override.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(67-01): wire alliancesOverride + add 'alliance' to default app_settings.results.sections
  packages/dev-seed/src/templates/default.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(67-01): widen DynamicSettings.results.sections union to include Alliance
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(67-01): split alliance entity vs nomination emission across the two overrides
  packages/dev-seed/src/templates/defaults/alliances-override.ts
  packages/dev-seed/src/templates/defaults/nominations-override.ts
  packages/dev-seed/tests/templates/default.test.ts
  packages/dev-seed/tests/templates/nominations-override.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(67-01): extend default-template integration test with alliance + parent_nomination assertions
  packages/dev-seed/tests/integration/default-template.integration.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
