Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(151-18): the D-24 gate is GREEN on run 2, after a real fix and a re-cut
  .planning/phases/151-ship-v0-2-akita-review-stack/151-BYTE-IDENTITY-PROOF.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-18): write PR 12's body -- self-contained, with the route in
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/11.md
Due: yarn build:app-shared, prettier --write

docs(151-18): correct PR 12's counts to the published head and reconcile them
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/11.md
Due: yarn build:app-shared, prettier --write

fix: use `customData.vertical` to set display variant
  frontend/src/lib/components/questions/QuestionChoices.svelte
Due: none

feat[admin-tools]: don’t update `registrationKey` for registered
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: don’t show translation options with one locale
  frontend/src/lib/components/input/Input.svelte
Due: none

chore: fix typo in `QuestionBasicInfo` docs
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
Due: none

feat: `QuestionArguments` component
  frontend/src/lib/components/questions/QuestionArguments.svelte
  frontend/src/lib/components/questions/QuestionArguments.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/et/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show link to registration on candidate login page
  frontend/src/lib/i18n/translations/da/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/et/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: candidate password and registration manager tool
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateAuth.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateAuth.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: routing hooks and candidate login
  frontend/src/hooks.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: add candidate function
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/AddCandidate.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/addCandidate.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: candidate stats tool
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/candidateStats.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateStats.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/candidateStats.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/candidateStats.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateStats.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateStats.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add LocalStack auth token to `docker-compose`
  docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: correct pro/con labelling and rendering of question arguments
  frontend/src/lib/components/questions/QuestionArguments.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write

fix[admin-tools]: make candidate search results keyboard-accessible
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateAuth.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix stray doc paste and lint errors
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/addCandidate.ts
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[admin-tools]: apply Prettier formatting
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/AddCandidate.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateStats.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateStats.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: pin LocalStack image so the e2e stack starts again
  backend/vaa-strapi/docker-compose.dev.yml
  docs/src/routes/+page.svelte
  frontend/src/lib/components/input/Input.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
