Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix: settigs merging
  frontend/src/lib/utils/settings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show a notification to avoid preregistering again
  frontend/src/lib/candidate/components/preregisteredNotification/PreregisteredNotification.svelte
  frontend/src/lib/candidate/components/preregisteredNotification/index.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: gitignore `editTranslations` tool output
  frontend/tools/editTranslations/.gitignore
Due: none

fix[backend]: default settings and customization loading triggers
  backend/vaa-strapi/src/functions/loadDefaultAppSettings.ts
  backend/vaa-strapi/src/functions/loadDynamicTranslations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! chore: add all missing translations and edit some
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write

fixup! refactor: Candidate App layouts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: none

fixup! refactor: Candidate pre-registration layouts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

feat: show loading spinner in `Button`
  frontend/src/app.css
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/sv/common.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use `Button.loading` in Candidate App
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: none

fixup! feat: show notifications to users
  frontend/src/lib/components/alert/Alert.svelte
Due: none

fixup! fix: rerouting from unprotected Cand App pages
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/privacy/+page.svelte
Due: none

fixup! feat: add `url` type and error handling to `Input`
  frontend/src/lib/components/input/Input.svelte
Due: none

fixup! chore: add all missing translations and edit some
  frontend/src/lib/i18n/translations/en/candidateApp.common.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.common.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.common.json
  frontend/src/lib/i18n/translations/sv/components.json
Due: yarn build:app-shared, prettier --write

fixup! refactor: use `Button.loading` in Candidate App
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: none

feat: add return links to some Candidate App routes
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

fix: reset `CandidateContext` data only after logout is complete
  frontend/src/lib/contexts/candidate/candidateContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: reset answers and properties after update in `userDataStore`
  frontend/src/lib/contexts/candidate/userDataStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: umami analytics source url
  frontend/src/lib/components/analytics/umami/UmamiAnalytics.svelte
  frontend/src/lib/components/analytics/umami/UmamiAnalytics.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: 16px min input size for preventing iOS Safari auto-zoom
  frontend/src/app.css
Due: yarn build:app-shared, prettier --write

fixup! fixup! refactor: Candidate pre-registration layouts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: none

feat[app-shared]: `getCustomData` utility
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/contexts/voter/filters/filterStore.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/getCustomData.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `sortQuestions` utility
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  frontend/src/lib/utils/sorting.ts
  packages/data/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! fixup! refactor: Candidate App layouts
  frontend/src/lib/dynamic-components/entityDetails/InfoItem.svelte
  frontend/src/lib/i18n/translations/en/candidateApp.preview.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preview.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preview.json
Due: yarn build:app-shared, prettier --write

fixup! feat[app-shared]: `getCustomData` utility
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: none

feat: `locked` `customData` property for `Question`s
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: link layout in `EntityInfo`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat: info for `image` `Input`
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: increase `text-sm` font size
  frontend/tailwind.config.mjs
Due: none

fix: populate dynamic ordering config
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Feat: question ordering UI (#688)
  backend/vaa-strapi/src/components/settings/questions-ordering-config.json
  backend/vaa-strapi/src/components/settings/questions-ordering.json
  backend/vaa-strapi/src/components/settings/questions.json
  backend/vaa-strapi/types/generated/components.d.ts
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/contexts/voter/questionBlockStore.ts
  frontend/src/lib/contexts/voter/questionBlockStore.type.ts
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/common.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/templates/page/parts/VoterNav.svelte
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandAppProfile` layout
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[backend]: regenerate Strapi types
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/types/generated/components.d.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `Alliance` content type
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/alliance/controllers/alliance.ts
  backend/vaa-strapi/src/api/alliance/routes/alliance.ts
  backend/vaa-strapi/src/api/alliance/services/alliance.ts
  backend/vaa-strapi/src/api/constituency/content-types/constituency/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/api/question/content-types/question/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
  backend/vaa-strapi/src/util/api.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix translations
  frontend/src/lib/i18n/translations/fi/candidateApp.preview.json
Due: yarn build:app-shared, prettier --write

fix: don't show login error when there's no authToken
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandAppQuestion` cancel button label
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

chore: remove debug message
  frontend/src/lib/contexts/data/dataContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: placeholder for empty locked question in `CandAppProfile`
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: edit translations
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write
