Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update typing
  frontend/src/lib/i18n/init.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `ErrorMessage` component
  frontend/src/lib/components/errorMessage/ErrorMessage.svelte
  frontend/src/lib/components/errorMessage/ErrorMessage.type.ts
  frontend/src/lib/components/errorMessage/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: bg color in some Candidate App inputs
  frontend/src/lib/candidate/components/input/MultipleChoiceInput.svelte
  frontend/src/lib/candidate/components/input/SingleChoiceInput.svelte
  frontend/src/lib/components/common/form/Field.svelte
Due: none

chore: update frontend types
  frontend/src/app.d.ts
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: maximum Strapi item limit
  backend/vaa-strapi/config/api.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: increase number of mock candidates
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: access control restrictions
  backend/vaa-strapi/src/api/question-category/routes/question-category.ts
  backend/vaa-strapi/src/util/acl.ts
  backend/vaa-strapi/src/util/acl.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `build:app-shared` yarn script
  package.json
Due: yarn build:app-shared, prettier --write

fix: top-level `await` in Data API
  frontend/src/lib/api/dataProvider.ts
  frontend/src/lib/api/feedbackWriter.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/server/api/dataProvider.ts
  frontend/src/lib/server/api/feedbackWriter.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.ts
  frontend/src/routes/[[lang=locale]]/api/data/[collection]/+server.ts
  frontend/src/routes/[[lang=locale]]/api/feedback/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: remove deprecated content from Candidate App
  frontend/src/lib/candidate/templates/login/LoginPage.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/PasswordSetPage.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/RegistrationCodePage.svelte
Due: none

build: wait for mock data generation in `main.yaml`
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: update i18n docs
  docs/internationalization.md
Due: yarn build:app-shared, prettier --write

chore: format and lint
  README.md
  frontend/src/routes/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
Due: yarn build:app-shared, prettier --write

build: remove unused `qa` workflow
  .github/workflows/qa.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Yarn 4.6
  .github/workflows/main.yaml
  .gitignore
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  frontend/Dockerfile
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: upgrade dependencies
  backend/vaa-strapi/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

build: update to Node 20.18.1
  .github/workflows/main.yaml
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/README.md
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.tsbuildinfo
  docs/docker-setup-guide.md
  frontend/Dockerfile
  frontend/package.json
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove `strapi-plugin-import-export-entries`
  .github/workflows/main.yaml
  .gitmodules
  .prettierignore
  backend/vaa-strapi/.dockerignore
  backend/vaa-strapi/.prettierignore
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/README.md
  backend/vaa-strapi/config/plugins.ts
  backend/vaa-strapi/eslint.config.mjs
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/mockData/mockCandidateForTesting.json
  backend/vaa-strapi/tsconfig.json
  docs/candidate-app/import-functionality.md
  docs/docker-setup-guide.md
  tests/tests/candidateApp-advanced.spec.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: frontend unit tests
  frontend/package.json
  frontend/src/lib/utils/tests/answers.test.ts
  frontend/src/lib/utils/tests/navigation.test.ts
  frontend/svelte.config.js
  frontend/vitest.config.ts
  package.json
  vitest.workspace.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add `vitest` to root packaged dev deps
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

build: use yarn 4 workspace syntax
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/plugins/candidate-admin/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs: yarn 4 workspaces and internal dependencies
  README.md
Due: yarn build:app-shared, prettier --write

feat: add drawer component for question info
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/drawer/index.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: move layouts inside the `[[lang]]` route
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/about/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
  frontend/src/routes/[[lang=locale]]/+error.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.ts
  frontend/src/routes/[[lang=locale]]/Layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: initialize llm backend package
  frontend/package.json
  frontend/tsconfig.json
  packages/llm/.gitignore
  packages/llm/README.md
  packages/llm/package.json
  packages/llm/src/index.ts
  packages/llm/tsconfig.json
  packages/llm/vitest.config.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

update stuff
  .gitignore
  frontend/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
