Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: improve admin page question info generation question selection styling
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: none

Revert "re-add question terms explanations"
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

fix: broken question term explanations in voter view
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: type keys to name case
  packages/argument-condensation/src/core/condenser.ts
  packages/argument-condensation/src/core/types/condensationType.ts
  packages/argument-condensation/src/utils/commentProcessor.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: use name case
  packages/argument-condensation/tests/condenser.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: test name case
  packages/argument-condensation/tests/condenser.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: cleaning up
  packages/argument-condensation/src/core/condenser.ts
  packages/argument-condensation/src/core/types/argument.ts
  packages/argument-condensation/src/utils/fileOperations.ts
  packages/argument-condensation/src/utils/outputParser.ts
  packages/argument-condensation/tests/condenser.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

throw if language locale not found
  packages/argument-condensation/src/languageOptions/configs.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: fix package build
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  packages/argument-condensation/package.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove some logging
  packages/argument-condensation/src/core/condenser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: finish README & small fixes
  packages/argument-condensation/README.md
  packages/argument-condensation/src/languageOptions/english.ts
  packages/argument-condensation/tests/condenser.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add TODO for parallelization
  packages/argument-condensation/README.md
  packages/argument-condensation/src/core/condenser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add dependencies
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/types/generated/components.d.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add some TODOs for controller
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

remove some controller logging
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  backend/vaa-strapi/src/api/argument-condensation/services/question-service.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add TODOs for question-service
  backend/vaa-strapi/src/api/argument-condensation/services/question-service.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add frontend implementation for argument condensation
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

automatic linter changes
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  backend/vaa-strapi/types/generated/components.d.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
  packages/argument-condensation/README.md
  packages/argument-condensation/src/core/condenser.ts
  packages/argument-condensation/tests/condenser.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

last TODOs from Kalle's PR comments
  backend/vaa-strapi/src/api/argument-condensation/services/question-service.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add feature flag toggle for extended question info ui to strapi
  backend/vaa-strapi/src/components/settings/questions-interactive-info.json
  backend/vaa-strapi/src/components/settings/questions.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: export feedback in Admin Tools
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

disable unimplemented buttons in nav
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
Due: none

feat: admin ui (#711)
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
Due: none

chore: game mode translations
  frontend/src/lib/i18n/translations/en/gameMode.json
  frontend/src/lib/i18n/translations/fi/gameMode.json
  frontend/src/lib/i18n/translations/index.ts
  frontend/src/lib/i18n/translations/sv/gameMode.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tmp: dev settings
  docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: analytics translation keys
  frontend/src/lib/dynamic-components/dataConsent/DataConsent.svelte
  frontend/src/lib/dynamic-components/dataConsent/DataConsentInfoButton.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
Due: none

custom[game]: data
  frontend/.gitignore
  frontend/data/appCustomization.json
  frontend/data/appSettings.json
  frontend/data/constituencies.json
  frontend/data/elections.json
  frontend/data/entities - no answers.json
  frontend/data/entities.json
  frontend/data/nominations.json
  frontend/data/nuorten-vaalikone-2025-initial-data.json
  frontend/data/questions.json
Due: yarn build:app-shared, prettier --write

custom[game]: override `dataWriter` warning
  frontend/src/lib/api/dataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: enable localization in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localPaths.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom[game]: settings
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `GameContext`
  frontend/src/lib/contexts/game/gameContext.ts
  frontend/src/lib/contexts/game/gameContext.type.ts
  frontend/src/lib/contexts/game/index.ts
  frontend/src/lib/contexts/game/matchTargetResult.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `GameModeIntro` route
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/game/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom[game]: translations
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
Due: yarn build:app-shared, prettier --write

build: fix `frontend` workdir in Docker
  frontend/Dockerfile
Due: none

custom[game]: frontpage and `VoterNav`
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
Due: none

fix: don’t use `$app/server: read` in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localServerAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `QuestionExtendedInfo` text spacing
  frontend/src/app.css
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
Due: yarn build:app-shared, prettier --write

fix: Swedish translation
  frontend/src/lib/i18n/translations/sv/common.json
Due: yarn build:app-shared, prettier --write

fix: no nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

custom[game]: results
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
