Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(112-01): complete jobStores class conversion plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/112-admincontext-job-stores/112-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(112-02): convert adminContext factory to class AdminContextProvider
  apps/frontend/src/lib/contexts/admin/adminContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(112-02): narrow admin barrel to type-only class export + phase gate
  apps/frontend/src/lib/contexts/admin/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(112-02): complete adminContext-class plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/112-admincontext-job-stores/112-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(112): address code-review warnings in JobStoresProvider
  .planning/phases/112-admincontext-job-stores/112-PATTERNS.md
  .planning/phases/112-admincontext-job-stores/112-REVIEW.md
  apps/frontend/src/lib/contexts/admin/jobStores.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(113): auto-generated context (infrastructure phase, discuss skipped)
  .planning/phases/113-handle-flatten-de-duplication/113-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(113): research handle flatten + de-duplication domain
  .planning/phases/113-handle-flatten-de-duplication/113-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(113): create phase plan — handle flatten + de-duplication (4 plans, 4 waves)
  .planning/ROADMAP.md
  .planning/phases/113-handle-flatten-de-duplication/113-01-PLAN.md
  .planning/phases/113-handle-flatten-de-duplication/113-02-PLAN.md
  .planning/phases/113-handle-flatten-de-duplication/113-03-PLAN.md
  .planning/phases/113-handle-flatten-de-duplication/113-04-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(113): mark RESEARCH open questions resolved (plan-checker gate)
  .planning/phases/113-handle-flatten-de-duplication/113-RESEARCH.md
Due: yarn build:app-shared, prettier --write

feat(113-01): add idempotent inverse .current flatten codemod
  apps/frontend/scripts/flatten-current-codemod.mjs
Due: none

test(113-01): extend spike-009 audit set + pre-stage spread test for flatten
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/009-store-codemod-feasibility/spike-009-store-codemod.mjs
  apps/frontend/src/lib/contexts/app/appContext.spread.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(113-01): complete FLATTEN-02 tooling plan
  .planning/phases/113-handle-flatten-de-duplication/113-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(113-02): reroute orchestrators + admin routes off reactive* mirrors
  apps/frontend/src/lib/contexts/admin/adminContext.svelte.ts
  apps/frontend/src/lib/contexts/app/appContext.spread.svelte.test.ts
  apps/frontend/src/lib/contexts/app/getRoute.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/argument-condensation/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/argument-condensation/+page.svelte
  apps/frontend/src/routes/admin/(protected)/question-info/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(113-02): delete reactive* mirrors + dataRoot instance split (FLATTEN-01)
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/app/appContext.type.ts
  apps/frontend/src/lib/contexts/data/dataContext.svelte.ts
  apps/frontend/src/lib/contexts/data/dataContext.type.ts
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(113-02): complete FLATTEN-01 producer-collapse plan
  .planning/phases/113-handle-flatten-de-duplication/113-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(113-03): reclassify appSettings/dataRoot/locale stable→reactive in Context Destructuring Rule
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

docs(113-03): complete FLATTEN-02 part 1 destructure-trap repair plan
  .planning/phases/113-handle-flatten-de-duplication/113-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(113-04): finalize CLAUDE.md destructure rule for bare appSettings/dataRoot/locale
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

docs(113-04): complete FLATTEN-02 bare conversion + consumer codemod plan
  .planning/phases/113-handle-flatten-de-duplication/113-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(113): forward inherited reactive accessors live (CR-01)
  .planning/phases/113-handle-flatten-de-duplication/113-REVIEW.md
  apps/frontend/src/lib/contexts/admin/adminContext.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/contexts/utils/inheritContextMembers.test.ts
  apps/frontend/src/lib/contexts/utils/inheritContextMembers.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(113): close VoterNav destructure-trap; verification 10/10 (E2E→116)
  .planning/phases/113-handle-flatten-de-duplication/113-VERIFICATION.md
  apps/frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
Due: yarn build:app-shared, prettier --write

chore(113): mark phase complete in STATE + ROADMAP (8/11, 73%)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(114): auto-generated context (infrastructure phase, discuss skipped)
  .planning/phases/114-store-state-rename/114-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(114): create store-to-state rename phase plan (4 plans)
  .planning/ROADMAP.md
  .planning/phases/114-store-state-rename/114-01-PLAN.md
  .planning/phases/114-store-state-rename/114-02-PLAN.md
  .planning/phases/114-store-state-rename/114-03-PLAN.md
  .planning/phases/114-store-state-rename/114-04-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(114): add store-to-state rename research (rename map + exclusions)
  .planning/phases/114-store-state-rename/114-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(114): mark RESEARCH open questions resolved (plan-checker gate)
  .planning/phases/114-store-state-rename/114-RESEARCH.md
Due: yarn build:app-shared, prettier --write

feat(114-01): add allowlisted store-to-state rename codemod
  apps/frontend/scripts/store-to-state-codemod.mjs
Due: none

refactor(114-01): git mv voter/utils *Store file triplets to *State + fix imports
  apps/frontend/src/lib/contexts/candidate/candidateContext.type.ts
  apps/frontend/src/lib/contexts/filter/__tests__/FilterContextHarness.svelte
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.test.ts
  apps/frontend/src/lib/contexts/filter/filterContext.type.ts
  apps/frontend/src/lib/contexts/utils/paramState.svelte.ts
  apps/frontend/src/lib/contexts/utils/questionBlockState.type.ts
  apps/frontend/src/lib/contexts/voter/answerState.svelte.test.ts
  apps/frontend/src/lib/contexts/voter/answerState.svelte.ts
  apps/frontend/src/lib/contexts/voter/answerState.type.ts
  apps/frontend/src/lib/contexts/voter/filters/filterState.svelte.ts
  apps/frontend/src/lib/contexts/voter/index.ts
  apps/frontend/src/lib/contexts/voter/matchState.svelte.ts
  apps/frontend/src/lib/contexts/voter/nominationAndQuestionState.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.type.ts
  apps/frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.type.ts
  apps/frontend/src/lib/utils/entityDetails.ts
  apps/frontend/src/lib/utils/matches.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/statistics/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(114-01): rewrite voter/utils *Store identifiers + types to *State
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
  apps/frontend/src/lib/contexts/utils/paramState.svelte.ts
  apps/frontend/src/lib/contexts/voter/answerState.svelte.test.ts
  apps/frontend/src/lib/contexts/voter/answerState.svelte.ts
  apps/frontend/src/lib/contexts/voter/answerState.type.ts
  apps/frontend/src/lib/contexts/voter/filters/filterState.svelte.ts
  apps/frontend/src/lib/contexts/voter/matchState.svelte.ts
  apps/frontend/src/lib/contexts/voter/nominationAndQuestionState.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.type.ts
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(114-01): complete voter/utils store-to-state rename plan
  .planning/phases/114-store-state-rename/114-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(114-01): append self-check result to summary
  .planning/phases/114-store-state-rename/114-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(114-02): git mv popup + candidateUserDataStore triplets to *State + fix import specifiers
  apps/frontend/src/lib/contexts/app/popup/index.ts
  apps/frontend/src/lib/contexts/app/popup/popupState.svelte.test.ts
  apps/frontend/src/lib/contexts/app/popup/popupState.svelte.ts
  apps/frontend/src/lib/contexts/app/popup/popupState.type.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.type.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataState.svelte.test.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataState.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataState.type.ts
  apps/frontend/src/lib/contexts/candidate/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(114-02): rename popup + candidateUserData *Store identifiers to *State
  apps/frontend/src/lib/contexts/app/appContext.spread.svelte.test.ts
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/app/appContext.type.ts
  apps/frontend/src/lib/contexts/app/popup/popupState.svelte.test.ts
  apps/frontend/src/lib/contexts/app/popup/popupState.svelte.ts
  apps/frontend/src/lib/contexts/app/popup/popupState.type.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.type.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataState.svelte.test.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataState.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateUserDataState.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(114-02): complete popup + candidateUserData store→state rename plan
  .planning/phases/114-store-state-rename/114-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(114-03): rename client admin jobStores context to jobStates
  apps/frontend/src/lib/contexts/admin/adminContext.svelte.ts
  apps/frontend/src/lib/contexts/admin/adminContext.type.ts
  apps/frontend/src/lib/contexts/admin/index.ts
  apps/frontend/src/lib/contexts/admin/jobStates.svelte.test.ts
  apps/frontend/src/lib/contexts/admin/jobStates.svelte.ts
  apps/frontend/src/lib/contexts/admin/jobStates.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(114-03): complete admin jobStates rename plan
  .planning/phases/114-store-state-rename/114-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(114-04): update comment-only *Store refs to *State for a clean gate
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(114-04): capture empty grep-gate artifact + phase-final green gates
  .planning/phases/114-store-state-rename/114-GREP-GATE.txt
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
