Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

refactor(73-05): clear conditional warnings in 3 variant specs via module-level helper hoisting (10 sites cleared)
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/multi-election.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(73-05): clear conditional warnings in 6 setup hooks via Pattern 5 unconditional asserts + Pattern 4 hoists (11 sites cleared)
  tests/tests/setup/auth.setup.ts
  tests/tests/setup/data.setup.ts
  tests/tests/setup/re-auth.setup.ts
  tests/tests/setup/variant-constituency.setup.ts
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/setup/variant-startfromcg.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(73-05): record final pre-Plan-6 audit — 0/7 rules + 0 total + DETERM-01 closed
  .planning/phases/73-determinism-baseline/post-fix/plan-05-final-audit.txt
Due: none

docs(73-05): complete plan 05 — variants + setup-hooks cluster DETERM-02 + DETERM-03 sweep + pre-Plan-6 audit
  .planning/phases/73-determinism-baseline/73-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): update tracking after wave 5 (plan 05 complete)
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

chore(73-06): restore parity-script tooling + copy regen-constants.mjs
  .planning/phases/73-determinism-baseline/post-fix/regen-constants.mjs
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(73-06): capture 3 cold-start --workers=1 runs + parity gate (Task 2)
  .planning/phases/73-determinism-baseline/post-fix/parity-output.txt
  .planning/phases/73-determinism-baseline/post-fix/regen-constants.mjs
  .planning/phases/73-determinism-baseline/post-fix/run-1-report.json
  .planning/phases/73-determinism-baseline/post-fix/run-2-report.json
  .planning/phases/73-determinism-baseline/post-fix/run-3-report.json
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(73-06): regenerate parity-script constants against Phase 73 baseline (Task 3)
  .planning/phases/73-determinism-baseline/post-fix/parity-postregen.txt
  .planning/phases/73-determinism-baseline/post-fix/regen-output.txt
  .planning/phases/73-determinism-baseline/post-fix/self-identity-smoke.txt
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(73-06): bump playwright/* lint gate from 'warn' to 'error' (Task 4)
  tests/eslint.config.mjs
Due: none

test(73-06): record 4 regression-gate outputs at Phase 73 close (Task 5)
  .planning/phases/73-determinism-baseline/post-fix/regression-gates-output.txt
Due: none

docs(73-06): author 73-VERIFICATION.md — Phase 73 verdict PASS, 5/5 SC
  .planning/phases/73-determinism-baseline/73-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(73-06): complete Plan 06 — Phase 73 close + 5/5 SC PASS + 3x PARITY GATE: PASS
  .planning/phases/73-determinism-baseline/73-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): update tracking after wave 6 (plan 06 complete)
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(73): add code review report
  .planning/phases/73-determinism-baseline/73-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(73): verifier confirms phase goal achievement — 5/5 must-haves, status passed
  .planning/phases/73-determinism-baseline/73-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): complete phase execution
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): auto-close 2 todo(s) resolved by this phase
  .planning/todos/completed/2026-04-27-remove-e2e-skip-modifiers.md
  .planning/todos/completed/2026-05-10-tests-playwright-hygiene-sweep.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(state): close Phase 73 — refresh blockers + Session Continuity
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(v2.9): scope Phase 73 review backlog into Phase 78 CLEAN-05
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/todos/pending/2026-05-11-voter-fixture-heterogeneous-question-types.md
Due: yarn build:app-shared, prettier --write

docs(74): capture phase context
  .planning/phases/74-high-leverage-e2e-coverage/74-CONTEXT.md
  .planning/phases/74-high-leverage-e2e-coverage/74-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 74 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(74): research phase domain — 8 E2E gaps + variant templates + parity-script regen
  .planning/phases/74-high-leverage-e2e-coverage/74-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-74): add validation strategy
  .planning/phases/74-high-leverage-e2e-coverage/74-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-74): map analog file patterns
  .planning/phases/74-high-leverage-e2e-coverage/74-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(phase-74): create 7 plans for high-leverage E2E coverage
  .planning/ROADMAP.md
  .planning/phases/74-high-leverage-e2e-coverage/74-01-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-02-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-03-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-04-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-05-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-06-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-07-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(phase-74): revise plans per plan-checker (3 blockers + 3 warnings)
  .planning/phases/74-high-leverage-e2e-coverage/74-03-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-04-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-05-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-07-PLAN.md
  .planning/phases/74-high-leverage-e2e-coverage/74-RESEARCH.md
  .planning/phases/74-high-leverage-e2e-coverage/74-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(74): record planning completion — ready to execute
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(74-02): add variant-low-minimum-answers template + setup driver
  tests/tests/setup/templates/variant-low-minimum-answers.ts
  tests/tests/setup/variant-low-minimum-answers.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(74-02): wire variant-low-minimum-answers projects into playwright.config.ts
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(74-06): add voter-locale-switching spec for E2E-08
  tests/tests/specs/voter/voter-locale-switching.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(74-06): complete voter-locale-switching plan (E2E-08)
  .planning/phases/74-high-leverage-e2e-coverage/74-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(74-05): extend e2e dev-seed for E2E-05 4-case + E2E-07 directional
  packages/dev-seed/src/templates/e2e.ts
  packages/dev-seed/tests/templates/e2e.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(74-03): add voter-feedback-persistence.spec.ts (E2E-03)
  tests/tests/specs/voter/voter-feedback-persistence.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(74-03): add voter-navigation.spec.ts (E2E-06)
  tests/tests/specs/voter/voter-navigation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(74-03): complete plan (E2E-03 + E2E-06 voter-flow sequence specs)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/74-high-leverage-e2e-coverage/74-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(74-01): add candidate translation surface E2E spec (E2E-01)
  .planning/phases/74-high-leverage-e2e-coverage/deferred-items.md
  tests/playwright.config.ts
  tests/tests/specs/candidate/candidate-translation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(74-02): add voter-browse-without-match.spec.ts (E2E-02)
  tests/tests/specs/voter/voter-browse-without-match.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(74-01): complete plan — candidate translation surface E2E (E2E-01)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/74-high-leverage-e2e-coverage/74-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(74-02): complete browse-without-match E2E plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/74-high-leverage-e2e-coverage/74-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write
