Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(phase-70): add validation strategy
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(70): add patterns map (analogs for Cat A/B/C/D + BIND-strip)
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(70): create phase plan — 5 plans for Svelte 5 / SSR / a11y warning sweep + BIND strip
  .planning/ROADMAP.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-01-PLAN.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-02-PLAN.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-03-PLAN.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-04-PLAN.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-05-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(70): apply plan-checker revisions (wave 2 dep, RESOLVED markers, checkpoints, scope rationale)
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-04-PLAN.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-05-PLAN.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-RESEARCH.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-VALIDATION.md
  .planning/todos/pending/2026-05-09-claude-md-svelte-warning-accepted-format.md
Due: yarn build:app-shared, prettier --write

docs(state): begin phase 70 execution (Svelte 5 / SSR / a11y warning sweep + BIND strip)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

fix(70-01): silence Expander state_referenced_locally warning at line 76
  apps/frontend/src/lib/components/expander/Expander.svelte
Due: none

fix(70-01): silence NumericEntityFilter state_referenced_locally warnings at lines 41,45
  apps/frontend/src/lib/components/entityFilters/numeric/NumericEntityFilter.svelte
Due: none

fix(70-01): silence EnumeratedEntityFilter state_referenced_locally warnings at lines 48,65
  apps/frontend/src/lib/components/entityFilters/enumerated/EnumeratedEntityFilter.svelte
Due: none

fix(70-01): silence admin/login and candidate/register state_referenced_locally warnings
  apps/frontend/src/routes/admin/login/+page.svelte
  apps/frontend/src/routes/candidate/register/+page.svelte
Due: none

docs(70-01): summary — Cat A state_referenced_locally sweep complete (10 warnings → 0 across 5 files)
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(70-01): close plan — STATE/ROADMAP advance + WARN-01 traceability set to In Progress
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

fix(70-02): migrate WithPolling.svelte to Svelte 5 Snippet API
  apps/frontend/src/lib/admin/components/jobs/WithPolling.svelte
Due: none

docs(70-02): close plan — SUMMARY + STATE/ROADMAP/REQUIREMENTS advance
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(70-03): promote Input.svelte image-upload <label> to <button> (Cat C a11y)
  apps/frontend/src/lib/components/input/Input.svelte
Due: none

docs(70-03): close plan — SUMMARY + STATE/ROADMAP/REQUIREMENTS advance
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(70-04): capture pre-fix Cat D cold-start baseline (0 fetch-eagerly warnings on curl-driven SSR; WithPolling SSR path gap acknowledged)
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-04-CAPTURE.md
Due: yarn build:app-shared, prettier --write

fix(70-04): wrap WithPolling startPolling() in onMount to prevent SSR fetch-eagerness warning
  apps/frontend/src/lib/admin/components/jobs/WithPolling.svelte
Due: none

docs(70-04): record post-fix Cat D cold-start re-verification (0 fetch-eagerly warnings; admin DevTools smoke deferred to phase-close)
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-04-CAPTURE.md
Due: yarn build:app-shared, prettier --write

docs(70-04): close plan — SUMMARY + STATE/ROADMAP/REQUIREMENTS advance (Cat D fix landed; WARN-01 marked complete)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(70-05): strip Phase 65-01 // bind: (keep|ok|justified) rationale comments — audit complete
  apps/frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  apps/frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  apps/frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.svelte
  apps/frontend/src/lib/candidate/components/passwordValidator/PasswordValidator.svelte
  apps/frontend/src/lib/candidate/components/termsOfUse/TermsOfUseForm.svelte
  apps/frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  apps/frontend/src/lib/components/alert/Alert.svelte
  apps/frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  apps/frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  apps/frontend/src/lib/components/electionSelector/ElectionSelector.svelte
  apps/frontend/src/lib/components/modal/Modal.svelte
  apps/frontend/src/lib/components/modal/ModalContainer.svelte
  apps/frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  apps/frontend/src/lib/components/modal/timed/TimedModal.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/select/Select.svelte
  apps/frontend/src/lib/components/tabs/Tabs.svelte
  apps/frontend/src/lib/components/toggle/Toggle.svelte
  apps/frontend/src/lib/components/video/Video.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  apps/frontend/src/lib/dynamic-components/feedback/Feedback.svelte
  apps/frontend/src/lib/dynamic-components/feedback/modal/FeedbackModal.svelte
  apps/frontend/src/lib/dynamic-components/survey/SurveyButton.svelte
Due: none

docs(70-05): complete BIND-01 strip — SUMMARY + STATE/ROADMAP/REQUIREMENTS close
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(70): phase verification PASS-WITH-DEFERRALS + manual smoke followup todo
  .planning/REQUIREMENTS.md
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-VERIFICATION.md
  .planning/todos/pending/2026-05-09-phase-70-manual-smoke-followup.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 71 context confirmation session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(71): research phase 71 — frontend strict-typing cleanup
  .planning/phases/71-frontend-strict-typing-cleanup/71-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-71): add validation strategy
  .planning/phases/71-frontend-strict-typing-cleanup/71-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-71): add pattern map for typing cleanup clusters
  .planning/phases/71-frontend-strict-typing-cleanup/71-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(71): create phase plan — 3 plans for frontend strict-typing cleanup
  .planning/ROADMAP.md
  .planning/phases/71-frontend-strict-typing-cleanup/71-01-PLAN.md
  .planning/phases/71-frontend-strict-typing-cleanup/71-02-PLAN.md
  .planning/phases/71-frontend-strict-typing-cleanup/71-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 71 planning complete (3 plans ready to execute)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

fix(71-01): retire test-mock `as any` casts via asSupabaseMock helper
  apps/frontend/src/lib/api/adapters/supabase/adminWriter/supabaseAdminWriter.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
  apps/frontend/src/lib/api/adapters/supabase/utils/storageUrl.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(71-01): retire production-adapter `as any` casts via Json + Tables imports
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(71-01): retire route-layout `data: any` via SvelteKit `LayoutData` from ./$types
  apps/frontend/src/routes/(voters)/(located)/+layout.svelte
  apps/frontend/src/routes/(voters)/nominations/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/argument-condensation/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/question-info/+layout.svelte
Due: none

docs(71-01): complete no-explicit-any sweep plan
  .planning/phases/71-frontend-strict-typing-cleanup/71-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(71-02): rename type parameters to satisfy ^T[A-Z] in mapRow + Input.type + context helpers
  apps/frontend/src/lib/api/adapters/supabase/utils/mapRow.ts
  apps/frontend/src/lib/components/input/Input.type.ts
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.test.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(71-02): rename T → TFn/TVal + delete _Unused alias in EntityListWithControls cluster
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.helpers.ts
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(71-02): complete naming-convention sweep plan
  .planning/phases/71-frontend-strict-typing-cleanup/71-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(71-03): convert mechanical func-style arrow assignments to function declarations
  apps/frontend/src/lib/api/adapters/supabase/adminWriter/supabaseAdminWriter.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  apps/frontend/src/lib/api/adapters/supabase/utils/storageUrl.ts
  apps/frontend/src/lib/contexts/app/getRoute.svelte.ts
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
  apps/frontend/src/lib/contexts/utils/StackedState.svelte.test.ts
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.test.ts
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.svelte
  apps/frontend/src/routes/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(71-03): add inline-justified func-style disables for SvelteKit type-binding sites
  apps/frontend/src/routes/(voters)/(located)/results/+layout.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.ts
  apps/frontend/src/routes/candidate/auth/callback/+server.ts
  apps/frontend/src/routes/candidate/auth/logout/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(71-03): clear long-tail consistent-type-imports + no-unused-expressions errors
  apps/frontend/src/lib/api/utils/auth/__tests__/token-endpoint.test.ts
  apps/frontend/src/lib/api/utils/auth/getIdTokenClaims.test.ts
  apps/frontend/src/lib/components/button/Button.type.ts
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  tests/seed-test-data.ts
  tests/tests/setup/auth.setup.ts
  tests/tests/setup/data.setup.ts
  tests/tests/setup/data.teardown.ts
  tests/tests/setup/templates/variant-constituency.ts
  tests/tests/setup/templates/variant-multi-election.ts
  tests/tests/setup/templates/variant-startfromcg.ts
  tests/tests/setup/variant-constituency.setup.ts
  tests/tests/setup/variant-data.teardown.ts
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/setup/variant-startfromcg.setup.ts
  tests/tests/specs/candidate/candidate-auth.spec.ts
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
  tests/tests/specs/candidate/candidate-password.spec.ts
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/candidate/candidate-settings.spec.ts
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/multi-election.spec.ts
  tests/tests/specs/variants/results-sections.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
  tests/tests/specs/voter/voter-popups.spec.ts
  tests/tests/specs/voter/voter-settings.spec.ts
  tests/tests/specs/voter/voter-static-pages.spec.ts
  tests/tests/utils/emailHelper.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(71-03): complete func-style + long-tail sweep plan
  .planning/phases/71-frontend-strict-typing-cleanup/71-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-71): update tracking after wave 1 (3 plans complete)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write
