Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(130-01): complete EQTYP voter-side fixtures plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-01-SUMMARY.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-PATTERNS.md
Due: yarn build:app-shared, prettier --write

test(130-02): fillMultipleTextQuestion helper + step-13 multipleText fill
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/utils/candidateJourneyConstants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(130-02): step-21 multipleText preview round-trip assertions
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(130-02): complete EQTYP-03 candidate multipleText round-trip plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(130-03): assert EQTYP-01 100%-first-card matching + both new-type displays on the Special drawer
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(130-03): add EQTYP-02 number-scale boundary test + remove dead nominations block
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(130-03): complete EQTYP matching-incorporation + number-scale boundary plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(130-04): voter-alliance presence rider + card + clickable member children
  tests/playwright.config.ts
  tests/tests/specs/voter/voter-alliance.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(130-04): alliance drawer depth — member-orgs drawer + EPERM-04 tab control
  tests/tests/specs/voter/voter-alliance.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(130-04): voter-nominations dedicated leaf spec (UNBLK-04 rider)
  tests/playwright.config.ts
  tests/tests/specs/voter/voter-nominations.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(130-04): complete alliance + nominations leaf specs plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(130-05): EQTYP-01 multi-choice candidate type-specific step (18.5)
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(130-05): D-02 categorical + boolean candidate type-specific step (18.6)
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(130-05): complete EQTYP-01 candidate type-specific opinion contracts plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-05-SUMMARY.md
  .planning/phases/130-e2e-specs-new-feature-coverage/deferred-items.md
Due: yarn build:app-shared, prettier --write

fix(130-06): recognize number-scale slider at voter walk loop entry
  tests/tests/fixtures/voter/voter-journey.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(130-06): complete D-05 determinism gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(130): add code review report
  .planning/phases/130-e2e-specs-new-feature-coverage/130-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-130): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-130): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(phase-130): add security threat verification
  .planning/config.json
  .planning/phases/130-e2e-specs-new-feature-coverage/130-SECURITY.md
Due: yarn build:app-shared, prettier --write

docs(phase-130): update validation strategy — nyquist-compliant, 0 gaps
  .planning/phases/130-e2e-specs-new-feature-coverage/130-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(131): capture phase context
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-CONTEXT.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-LOG.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 131 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(131): research phase E2E flake/race triage domain
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-131): add validation strategy
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(131): create phase plan — 5 plans (tracer + helper-harden fix + 3 stale-closure clusters + closeout)
  .planning/ROADMAP.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-01-PLAN.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-02-PLAN.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-03-PLAN.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-04-PLAN.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-05-PLAN.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/.gitkeep
Due: yarn build:app-shared, prettier --write

docs(131): cite D-05 (scope=all 7) in closeout plan must_haves
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-05-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(phase-131): add pattern map
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(131): record planning completion — 5 plans, wave annotations
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(131-01): triage todo #5 (not-located CLEAN-02) CLOSED-AS-STALE
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-not-located-3x.txt
  .planning/todos/completed/2026-05-16-voter-not-located-redirect-clean-02.md
Due: yarn build:app-shared, prettier --write

docs(131-01): triage todo #6 (notifications.voterApp) CLOSED-AS-STALE
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-notifications-3x.txt
  .planning/todos/completed/2026-05-21-candidate-settings-notifications-voterapp-mount-lifecycle.md
Due: yarn build:app-shared, prettier --write

docs(131-01): add plan 01 SUMMARY (triage tracer — todos #5 + #6 CLOSED-AS-STALE)
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(131-01): complete triage-tracer plan — state, roadmap, requirements
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(131-02): harden navigateToFirstQuestion terminal answer-option settle
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-perm-hide-election-tags-3x.txt
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(131-02): D-10 5-consumer regression pass; stamp todo #7 FIXED
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-helper-consumer-regression.txt
  .planning/todos/completed/2026-07-16-perm-hide-election-tags-navigation-timing-flake.md
  .planning/todos/pending/2026-07-16-perm-hide-election-tags-navigation-timing-flake.md
Due: yarn build:app-shared, prettier --write

docs(131-02): complete navigateToFirstQuestion helper-harden plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(131-03): capture cold-entry-dataroot + voter-journey 3x cold-start evidence
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-cold-entry-dataroot-3x.txt
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-voter-journey-3x.txt
Due: none

docs(131-03): close todo #2 (qspec cold-start) CLOSED-AS-STALE
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/todos/completed/2026-05-14-qspec-walkToQuestion-cold-start-race.md
Due: yarn build:app-shared, prettier --write

docs(131-03): close todo #1 (party-drawer boundary) CLOSED-AS-STALE + 3x evidence
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-party-drawer-3x.txt
  .planning/todos/completed/2026-05-14-party-drawer-boundary-flake-residual.md
Due: yarn build:app-shared, prettier --write

docs(131-03): complete cold-deeplink cluster todos #1+#2 plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
