Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(83): capture phase context
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-CONTEXT.md
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 83 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(83): research phase 83 test-reliability follow-ups + v2.10 milestone-close hygiene
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-83): add validation strategy
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(83): add 83-01-PLAN.md (9 tasks across 6 waves) and record planning completion
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-01-PLAN.md
Due: yarn build:app-shared, prettier --write

chore(83): move DETERM-06+07 todos to done at phase entry
  .planning/todos/done/2026-05-13-candidate-profile-image-upload-cascade.md
  .planning/todos/done/2026-05-13-voter-matching-detail-flakes.md
Due: yarn build:app-shared, prettier --write

docs(83): IN-01 update A11Y-01 spec docstring count to 6
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): WR-01 strip Phase 82 required-empty answer in variant overlay
  tests/tests/setup/templates/variant-hidden-required.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-06 fix uploadImage selector drift post-Phase-70 button refactor
  tests/tests/pages/candidate/ProfilePage.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-07a add hydration-completeness guard before worst-match indexing
  tests/tests/specs/voter/voter-matching.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-07b add hydration-completeness guard before party-drawer click
  tests/tests/specs/voter/voter-detail.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-06 D-01b add pre-filechooser settle delay (escalation)
  tests/tests/pages/candidate/ProfilePage.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-06 D-01c re-enable supabase storage image_transformation (escalation)
  apps/supabase/supabase/config.toml
Due: none

fix(83): DETERM-06 Rule-2 fill required-empty before submit in CAND-03
  tests/tests/specs/candidate/candidate-profile.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-06 Rule-2 refine required-empty fill to disambiguate multilingual input
  tests/tests/specs/candidate/candidate-profile.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(83): DETERM-07b correct hydration guard locator (heading vs entity-card-action)
  tests/tests/specs/voter/voter-detail.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(83): DETERM-05 regen parity-script constants for v2.10 milestone-close anchor
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/imgproxy-audit.txt
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/parity-gate-output.txt
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/regen-constants.mjs
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/regen-output.txt
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-1.exit.log
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-1.json
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-1.stderr.log
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-2.exit.log
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-2.json
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-2.stderr.log
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-3.exit.log
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-3.json
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/run-3.stderr.log
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/sha-identity.mjs
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/sha256.txt
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/smoke-output.txt
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/post-fix/three-run-gate-driver.log
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(83-01): complete plan — DETERM-06 closed via 4-rung ladder, DETERM-07a/b via hydration guards, v2.10-close anchor regenerated
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(83): code review — has-issues (2 WARNING, 4 INFO, all advisory)
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-83): complete phase execution — 7/7 SCs passed, v2.10 milestone-close anchor regenerated
  .planning/phases/83-test-reliability-follow-ups-image-upload-cascade-voter-app-f/83-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): mark phase 83 complete — v2.10 milestone-close hygiene shipped
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(roadmap): extend v2.10 with All-Green Suite (Phases 84-87)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/.gitkeep
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/.gitkeep
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/.gitkeep
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/.gitkeep
Due: yarn build:app-shared, prettier --write

docs(84-87): batched discuss-phase context for All-Green Suite
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-CONTEXT.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-DISCUSSION-LOG.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-CONTEXT.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-CONTEXT.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phases 84-87 batched discuss session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(84): research phase imgproxy-decoupling — RCA verdict + branch 2 recommendation
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-RCA-FINDINGS.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-RESEARCH.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/capture-cold-start.spec.ts
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/capture-profile.spec.ts
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/01-login-page.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/02-login-submit-home.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/03-questions.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/04-home-again.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/05-help.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/06-privacy.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/99-summary.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/captures/profile-capture.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/playwright.profile.config.ts
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/playwright.rca.config.ts
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/rca-capture/register-alpha.mjs
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(84): research + RCA findings + validation strategy
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(84): create phase plan — 2 plans (DETERM-08 + DETERM-09 contingent)
  .planning/ROADMAP.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-01-PLAN.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-02-PLAN.md
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 84 planned (2 plans, ready to execute)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

fix(84-01): repoint re-auth-setup dependency to candidate-app (DETERM-08)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(84-01): capture 1-run cold-start smoke after DETERM-08 fix (D-03 gate)
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/smoke-output.txt
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/smoke.json
Due: yarn build:app-shared, prettier --write

docs(84-01): cross-ref Phase 83 baseline + D-03 ladder verdict analysis
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/smoke-output.txt
Due: none

fix(84-01): file-scoped re-auth in candidate-settings.spec.ts
  tests/tests/specs/candidate/candidate-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(84-01): recapture 1-run cold-start smoke after Rule 1 deviation
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/smoke-output.txt
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/smoke.json
Due: yarn build:app-shared, prettier --write

test(84-01): shrink IMGPROXY_TIED_TITLES 14 -> 3 (D-05 renegotiation prep)
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
Due: none

test(84-01): capture 3-run cold-start gate (D-05; checkpoint pending operator)
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/run-1.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/run-1.sha256
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/run-2.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/run-2.sha256
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/run-3.json
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/run-3.sha256
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/sha256.txt
Due: yarn build:app-shared, prettier --write

chore(84-01): atomic constants regen — Phase 84 anchor (DETERM-08)
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/post-fix/regen-output.txt
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(84-01): complete plan — DETERM-08 cascade-decouple shrinks DATA_RACE 15→3, new v2.10 anchor 04ddfdd85c…
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(84-02): plan skipped — contingent trigger not fired (DETERM-09 deferred-unnecessary)
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(84): phase verification passed-with-deferral — 5/5 SCs achieved
  .planning/phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): mark phase 84 complete — DETERM-08 closed (DATA_RACE 15→3)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
