Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(129-03): fetch question data in /nominations loader (UNBLK-04)
  apps/frontend/src/routes/(voters)/nominations/+layout.svelte
  apps/frontend/src/routes/(voters)/nominations/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(129-03): complete nominations-loader-question-data plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(129-04): add NumberScaleInput slider component (D-03/D-04)
  apps/frontend/src/lib/components/questions/NumberScaleInput.svelte
  apps/frontend/src/lib/components/questions/NumberScaleInput.type.ts
  apps/frontend/src/lib/components/questions/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-04): dispatch matchable number questions to NumberScaleInput
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
Due: none

docs(129-04): complete number-scale opinion input plan
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(129-05): add MultipleTextInput row-list component (D-01, D-02)
  apps/frontend/src/lib/components/input/MultipleTextInput.svelte
  apps/frontend/src/lib/components/input/MultipleTextInput.type.ts
  apps/frontend/src/lib/components/input/index.ts
  apps/frontend/src/lib/i18n/translations/da/components.json
  apps/frontend/src/lib/i18n/translations/en/components.json
  apps/frontend/src/lib/i18n/translations/et/components.json
  apps/frontend/src/lib/i18n/translations/fi/components.json
  apps/frontend/src/lib/i18n/translations/fr/components.json
  apps/frontend/src/lib/i18n/translations/lb/components.json
  apps/frontend/src/lib/i18n/translations/sv/components.json
  apps/frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-05): dispatch MultipleText from QuestionInput, remove the throw
  apps/frontend/src/lib/components/input/QuestionInput.svelte
Due: none

docs(129-05): complete MultipleText input plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-05-SUMMARY.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/deferred-items.md
Due: yarn build:app-shared, prettier --write

fix: resolve post-merge conflicts from wave 2 (svelte-check zero)
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
  apps/frontend/src/lib/components/questions/NumberScaleInput.svelte
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-06): QuestionChoices checkbox multi-select mode + helper text
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.type.ts
  apps/frontend/src/lib/i18n/translations/da/questions.json
  apps/frontend/src/lib/i18n/translations/en/questions.json
  apps/frontend/src/lib/i18n/translations/et/questions.json
  apps/frontend/src/lib/i18n/translations/fi/questions.json
  apps/frontend/src/lib/i18n/translations/fr/questions.json
  apps/frontend/src/lib/i18n/translations/lb/questions.json
  apps/frontend/src/lib/i18n/translations/sv/questions.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-06): OpinionQuestionInput multi-choice branch + bindable validity
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(129-06): regenerate TranslationKey type for multiChoice keys
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-06): caller wiring — Save gate, Skip gate, auto-advance suppression
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

docs(129-06): complete multi-choice categorical opinion input plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(129-07): register eight Phase-129 question-input locators (D-14)
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(129-07): extend voter-journey walk with slider + checkbox handling (D-14)
  tests/tests/fixtures/voter/voter-journey.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(129-07): complete fixture-layer plan (locators + journey walk)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(129-08): e2e/base seed — alliance sections + number/multi-choice opinions + multipleText restore (D-12, D-08, UNBLK-06)
  packages/dev-seed/src/templates/e2e/base.ts
  packages/dev-seed/tests/templates/base-app-settings.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(129-08): failing cases for number + multi-choice defaultAnswerForQuestion branches (D-16 RED)
  packages/dev-seed/src/templates/_helpers/buildMinimal.test.ts
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-08): buildMinimal number/multi-choice branches + default-template parity (D-16 GREEN, D-15)
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/src/templates/defaults/questions-override.ts
  packages/dev-seed/tests/integration/default-template.integration.test.ts
  packages/dev-seed/tests/templates/default.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(129-08): re-baseline journeys for number/multi-choice + multipleText + D-10 alliance (D-13, D-10)
  tests/tests/fixtures/candidate/candidateQuestionPage.fixture.ts
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/utils/candidateJourneyConstants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(129-08): complete coupled seed + journey re-baseline plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-08-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(129): add code review report
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(129): add verification report (gaps_found 4/5)
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(129): plan gap closure 129-09
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-09-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(129): create phase plan
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(129-09): add failing boundary-matrix test for isMultiChoiceCountValid
  apps/frontend/src/lib/utils/multiChoiceValidity.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-09): shared multi-choice validity helper + synchronous valid assignment (D-07)
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.type.ts
  apps/frontend/src/lib/utils/multiChoiceValidity.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(129-09): gate voter persistence on multi-choice validity + wipe-proof seed (D-07, WR-01)
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
Due: none

docs(129-09): complete voter multi-choice persistence gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-09-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(129): update code review report after 129-09 gap closure
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-129): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-129): auto-close 3 todos resolved by this phase
  .planning/todos/completed/2026-05-12-qspec-02-multi-choice-categorical-variant.md
  .planning/todos/completed/2026-05-31-fix-nominations-route-fetch-all-questions.md
  .planning/todos/completed/2026-05-31-implement-multiple-text-question-input.md
Due: yarn build:app-shared, prettier --write

docs(phase-129): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(130): research phase E2E new-feature coverage domain
  .planning/phases/130-e2e-specs-new-feature-coverage/130-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-130): add validation strategy
  .planning/phases/130-e2e-specs-new-feature-coverage/130-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(130): create phase plan — 6 plans, 3 waves (fixtures-first + specs + D-05 gate)
  .planning/ROADMAP.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-01-PLAN.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-02-PLAN.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-03-PLAN.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-04-PLAN.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-05-PLAN.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-06-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(130): create phase plan
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(130-01): add answerNumberScale fixture + numberScale probe skeleton
  tests/playwright.config.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/specs/_probes/numberScale.probe.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(130-01): expectQuestionDisplay multi-choice + number dual-marker, proven by probe
  tests/tests/fixtures/voter/entityDetails.fixture.ts
  tests/tests/specs/_probes/numberScale.probe.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
