Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

chore(auth): move @supabase/ssr to 0.12.7 and forward its cache headers
  .yarnrc.yml
  apps/frontend/src/lib/supabase/server.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(supabase): pin the Edge Functions' supabase-js and jose imports exactly, with jose 6
  apps/supabase/supabase/functions/identity-callback/envReadSites.test.ts
  apps/supabase/supabase/functions/identity-callback/index.ts
  apps/supabase/supabase/functions/identity-callback/verifyConfig.test.ts
  apps/supabase/supabase/functions/invite-candidate/callerAuthority.ts
  apps/supabase/supabase/functions/invite-candidate/flowConformance.test.ts
  apps/supabase/supabase/functions/invite-candidate/index.ts
  apps/supabase/supabase/functions/send-email/callerAuthority.ts
  apps/supabase/supabase/functions/send-email/flowConformance.test.ts
  apps/supabase/supabase/functions/send-email/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-07): evidence for supabase-js 2.117.2, ssr 0.12.7 and the Edge Function pins; nodemailer 10 held until 2026-10-04
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/deferred-items.md
  .planning/todos/pending/2026-10-03-nodemailer-10-edge-pin-held-until-2026-10-04.md
Due: yarn build:app-shared, prettier --write

docs(169-07): complete group 5b plan — supabase-js 2.117.2, ssr 0.12.7, exact Deno pins; gates 12/12, E2E 171/171, bank-auth x3; nodemailer 10 held to 2026-10-04
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(169-07): update state, roadmap progress, DEPS-07 complete, and the handoff to 169-08 (nodemailer 10 held to 2026-10-04)
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

fix(supabase): mark is_valid_choice_id STABLE
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/011-validation-functions.sql
Due: none

chore(supabase): local Postgres 17
  apps/supabase/supabase/config.toml
Due: none

test(frontend): specify the drawer focus return to the menu button
  apps/frontend/src/lib/layouts/main/Layout.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(frontend): return focus to the menu button when the drawer closes
  apps/frontend/src/lib/layouts/main/Header.svelte
  apps/frontend/src/lib/layouts/main/Layout.svelte
Due: none

chore(lint): move to ESLint 10
  .lintstagedrc.json
  .yarnrc.yml
  apps/frontend/package.json
  apps/frontend/src/lib/_guards/eslint-adapter-boundary-guard.test.ts
  apps/frontend/src/lib/_guards/eslint-adapter-singleton-guard.test.ts
  apps/frontend/src/lib/_guards/eslint-parse-posture-guard.test.ts
  apps/frontend/src/lib/_guards/eslint-store-guard.test.ts
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  apps/frontend/src/lib/components/video/Video.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  package.json
  packages/README.md
  packages/app-shared/package.json
  packages/argument-condensation/package.json
  packages/core/package.json
  packages/data/package.json
  packages/dev-seed/package.json
  packages/dev-tools/package.json
  packages/filters/package.json
  packages/llm/package.json
  packages/matching/package.json
  packages/question-info/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(frontend): make the drawer-focus test's fake video context reactive
  .planning/todos/done/2026-10-03-eslint-10-held-on-bindable-no-useless-assignment.md
  .planning/todos/done/2026-10-03-pg17-local-blocked-on-is-valid-choice-id-volatility.md
  apps/frontend/src/lib/layouts/main/Layout.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169): operator rulings 2026-10-03 — PG17 local, ESLint 10, drawer focus return, browser floor; gates 12/12, E2E 171/171 on PG17
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-RULINGS-SUMMARY.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/deferred-items.md
  .planning/todos/done/2026-10-03-eslint-10-held-on-bindable-no-useless-assignment.md
  .planning/todos/done/2026-10-03-pg17-local-blocked-on-is-valid-choice-id-volatility.md
  .planning/todos/pending/2026-10-03-remove-bindable-no-useless-assignment-disables.md
Due: yarn build:app-shared, prettier --write

docs(169): record the 2026-10-03 operator rulings in STATE, DEPS-04 complete, and the handoff to 169-08 (local stack PG17, ESLint 10)
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
Due: yarn build:app-shared, prettier --write

chore(deps): move @faker-js/faker to 10.6.0
  .yarnrc.yml
  packages/dev-seed/src/ctx.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-08): record the faker 10 seed diff, group-6 gates, E2E and visual runs
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-08): complete the faker 10 plan — SUMMARY, STATE, ROADMAP, DEPS-10 complete, handoff to 169-09
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-08-SUMMARY.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(llm): move the AI SDK to ai 7.0.116 with @ai-sdk/google 4.0.82 and @ai-sdk/openai 4.0.78
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/types/condensation/condensationResult.ts
  packages/llm/package.json
  packages/llm/src/llm-providers/llmProvider.ts
  packages/llm/src/llm-providers/provider.types.ts
  packages/llm/src/types/llmPipelineResult.ts
  packages/llm/src/utils/costCalculation.ts
  packages/llm/tests/llmProvider.test.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(llm): remove dependencies nothing imports
  packages/llm/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

style(llm): keep the system-message opt-in comment on single lines
  packages/llm/src/llm-providers/llmProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-09): record the AI SDK migration, the undici check, group-7 gates and E2E
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-09): add the AI SDK plan summary
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-09-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(169-09): complete the AI SDK plan — STATE, ROADMAP, DEPS-11 complete, handoff to 169-10
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(deps): move concurrently to 10.0.5
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

chore(deps): move lint-staged to 17.6.0
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

chore(deps): move changesets to 3.0.3 with changelog-github 1.0.1
  .changeset/config.json
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

chore(deps): move glob to 13.0.6
  apps/docs/package.json
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

chore(deps): remove the deprecated @types/cheerio stub
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

chore(deps): move js-yaml to 5.4.2
  .yarnrc.yml
  packages/llm/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move globals to 17.12.0 through the catalog
  .yarnrc.yml
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-10): record the group-8 small majors, holds, sweep and gates
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/todos/done/2026-10-02-declare-globals-in-shared-config.md
  .planning/todos/pending/2026-10-03-dotenv-18-and-intl-messageformat-12-held.md
Due: yarn build:app-shared, prettier --write

docs(169-10): add the small-majors plan summary
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-10-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(169-10): complete the small-majors plan — STATE, ROADMAP, handoff to 169-11
  .planning/HANDOFF.json
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

ci: move actions/checkout to v7
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-solve-issue.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
  packages/dev-seed/tests/ciDockerImageBuildGate.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move actions/setup-node to v7
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move actions/upload-artifact to v7
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move dorny/paths-filter to v4
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move supabase/setup-cli to v3
  .github/workflows/main.yaml
  packages/dev-seed/tests/rpcNullabilityGate.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move changesets/action to v2
  .github/workflows/release.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move actions/configure-pages to v6
  .github/workflows/docs.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ci: move actions/upload-pages-artifact to v5
  .github/workflows/docs.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
