Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(state): record phase 63 context session + batch-discuss complete
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(61): UI design contract
  .planning/phases/61-voter-app-question-flow/61-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(61): UI design contract
  .planning/config.json
  .planning/phases/61-voter-app-question-flow/61-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(61): research voter-app question flow domain
  .planning/phases/61-voter-app-question-flow/61-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(61): add research + validation strategy
  .planning/phases/61-voter-app-question-flow/61-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(61): pattern map
  .planning/phases/61-voter-app-question-flow/61-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(61): create phase plan — 3 plans covering QUESTION-01..04
  .planning/ROADMAP.md
  .planning/phases/61-voter-app-question-flow/61-01-PLAN.md
  .planning/phases/61-voter-app-question-flow/61-02-PLAN.md
  .planning/phases/61-voter-app-question-flow/61-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(61): mark RESEARCH open questions as RESOLVED
  .planning/phases/61-voter-app-question-flow/61-RESEARCH.md
Due: yarn build:app-shared, prettier --write

test(61-01): add failing isBooleanQuestion test cases
  packages/data/src/utils/typeGuards.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(61-01): add isBooleanQuestion type guard to @openvaa/data
  packages/data/src/index.ts
  packages/data/src/utils/typeGuards.test.ts
  packages/data/src/utils/typeGuards.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(61-01): widen QuestionChoices to accept BooleanQuestion + explicit choices
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(61-01): render boolean opinion questions via synthesized pseudo-choices
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
Due: none

docs(61-01): complete boolean-opinion-input plan summary
  .planning/phases/61-voter-app-question-flow/61-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(61-02): migrate selectedQuestionCategoryIds to rune-native $state
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(61-02): simplify questions intro onMount + add fresh-session E2E gate
  apps/frontend/src/routes/(voters)/(located)/questions/+page.svelte
  tests/tests/specs/voter/voter-questions.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(61-02): complete category-selection-reactivity plan summary
  .planning/phases/61-voter-app-question-flow/61-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(61-03): diagnose candidate-questions testId timeout — Hypothesis A (compound)
  .planning/phases/61-voter-app-question-flow/61-03-DIAGNOSIS.md
Due: yarn build:app-shared, prettier --write

fix(61-03): candidate questions reactivity + ctx-access pattern (QUESTION-04 Branch A)
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/routes/candidate/(protected)/questions/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(61-03): complete candidate-questions testId fix plan summary
  .planning/phases/61-voter-app-question-flow/61-03-DIAGNOSIS.md
  .planning/phases/61-voter-app-question-flow/61-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-61): update tracking after wave 1
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

fix(61): WR-01 guard candidate $effect blocks against DataNotFoundError
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(61): WR-02 remove dead Opinion branch in nextInfoQuestions
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(61): verification + review + ui-review artifacts
  .planning/STATE.md
  .planning/phases/61-voter-app-question-flow/61-REVIEW-FIX.md
  .planning/phases/61-voter-app-question-flow/61-REVIEW.md
  .planning/phases/61-voter-app-question-flow/61-UI-REVIEW.md
  .planning/phases/61-voter-app-question-flow/61-VERIFICATION.md
  .planning/ui-reviews/.gitignore
Due: yarn build:app-shared, prettier --write

docs(62): UI design contract
  .planning/phases/62-results-page-consolidation/62-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(62): clarify UI-SPEC token ownership (retrofit — inherited read-only)
  .planning/phases/62-results-page-consolidation/62-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(62): mark UI-SPEC approved
  .planning/phases/62-results-page-consolidation/62-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(62): research phase domain
  .planning/phases/62-results-page-consolidation/62-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(62): resolve open questions + add validation strategy
  .planning/phases/62-results-page-consolidation/62-RESEARCH.md
  .planning/phases/62-results-page-consolidation/62-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(62): pattern map
  .planning/phases/62-results-page-consolidation/62-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(62): create phase 62 plan (3 plans, 2 waves) — RESULTS-01/02/03
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/62-results-page-consolidation/62-01-PLAN.md
  .planning/phases/62-results-page-consolidation/62-02-PLAN.md
  .planning/phases/62-results-page-consolidation/62-03-PLAN.md
Due: yarn build:app-shared, prettier --write

test(62-01): add failing filterContext unit test
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(62-01): implement filterContext with FilterGroup.onChange → version counter bridge
  apps/frontend/src/lib/contexts/filter/__tests__/FilterContextHarness.svelte
  apps/frontend/src/lib/contexts/filter/__tests__/GetFilterContextHarness.svelte
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.test.ts
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
  apps/frontend/src/lib/contexts/filter/filterContext.type.ts
  apps/frontend/src/lib/contexts/filter/index.ts
  apps/frontend/src/lib/i18n/tests/__mocks__/app-state.ts
  apps/frontend/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(62-01): typecheck-clean filterContext via parseParams + test harness ignores
  apps/frontend/src/lib/contexts/filter/__tests__/FilterContextHarness.svelte
  apps/frontend/src/lib/contexts/filter/__tests__/GetFilterContextHarness.svelte
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.test.ts
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(62-01): wire filterContext through voterContext init + return shape
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(62-01): add failing EntityListWithControls helper unit test
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(62-01): implement EntityListWithControls (compound, $derived filter flow)
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.helpers.ts
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.type.ts
  apps/frontend/src/lib/dynamic-components/entityList/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(62-01): complete filterContext + EntityListWithControls plan
  .planning/phases/62-results-page-consolidation/62-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(62-02): add failing matcher unit tests (RED)
  apps/frontend/src/params/entityTypePlural.test.ts
  apps/frontend/src/params/entityTypeSingular.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(62-02): add entityTypePlural + entityTypeSingular param matchers (GREEN)
  apps/frontend/src/params/entityTypePlural.ts
  apps/frontend/src/params/entityTypeSingular.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(62-02): collapse /results route to 4-segment optional shape (D-08, D-11)
  apps/frontend/src/params/entityType.ts
  apps/frontend/src/routes/(voters)/(located)/results/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.ts
  apps/frontend/src/routes/(voters)/(located)/results/[entityType]/[entityId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
