Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add comment
  frontend/src/lib/candidate/utils/preregistrationError.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Delete Cancel button
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

Add preregister to dataWriter
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ID token claims to CandidateContext
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/claims/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituencies/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/elections/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Create a candidate with nomination(s) in Strapi
  .env.example
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  docker-compose.dev.yml
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
  packages/app-shared/README.md
  packages/app-shared/package.json
  packages/app-shared/src/auth/getIdTokenClaims.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add .env comments
  .env.example
Due: none

feat: `/server/constants` utility
  frontend/src/lib/server/constants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Handle userData & idTokenClaims states in layout (draft)
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

Add candidateApp.preregister to keys
  frontend/src/lib/i18n/translations/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Display error also if Bank ID fails
  frontend/src/lib/candidate/utils/preregistrationError.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add a TODO
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Move svelte APIs to universal data writer
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up i18n
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write

Send registration email
  backend/vaa-strapi/config/email-templates/confirm-email.html
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: trigger `onChange` even when there's only one `Constituency`
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
Due: none

fix: env imports on `/candidate/preregister` routes
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Delete unused imports
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
Due: none

Add translations
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Loading component on callback page
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: none

Add translation json:s
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write

Invalidate after getting ID token
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Direct user to start screen if session expired
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[backend]: reorganize Strapi utils
  backend/vaa-strapi/src/api/app-setting/controllers/app-setting.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/functions/loadDefaultAppSettings.ts
  backend/vaa-strapi/src/functions/loadDynamicTranslations.ts
  backend/vaa-strapi/src/functions/setDefaultApiPermissions.ts
  backend/vaa-strapi/src/util/api.ts
  backend/vaa-strapi/src/util/appCustomization.ts
  backend/vaa-strapi/src/util/appSettings.ts
  backend/vaa-strapi/src/util/drop.ts
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  tests/tests/translations.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: add `externalId` to mock data
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: go to `CandAppHome` when last missing `Question` is answered
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

feat[backend]: `externalId` property
  backend/vaa-strapi/src/api/candidate/content-types/candidate/schema.json
  backend/vaa-strapi/src/api/constituency-group/content-types/constituency-group/schema.json
  backend/vaa-strapi/src/api/constituency/content-types/constituency/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/api/question-category/content-types/question-category/schema.json
  backend/vaa-strapi/src/api/question-type/content-types/question-type/schema.json
  backend/vaa-strapi/src/api/question/content-types/question/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: yarn build:app-shared, prettier --write

fix: `ChoiceQuestions` with missing `choices` throw
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[backend]: increase upload limits to 20mb
  backend/vaa-strapi/config/middlewares.ts
  backend/vaa-strapi/config/plugins.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: import and delete data functions
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/utils/apiResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DataBase.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/Initializer.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/PluginIcon.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/App.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/data.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: edit and add translations
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/candidateApp.help.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/en/candidateApp.questions.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.questions.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.questions.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: rerouting from unprotected Cand App pages
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/help/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
Due: none

feat: add `url` type and error handling to `Input`
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/Input.type.ts
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/utils/links.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: allow saving of incomplete Candidate basic infos
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: none

feat: allow customizing `<main>` element
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/Layout.type.ts
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.type.ts
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandAppHelp` layout and texts
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write

build: `docker:delete-all` yarn script and fix `sync:translations`
  package.json
Due: yarn build:app-shared, prettier --write

refactor: make `CandAppHelp` route unprotected
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: translating objects
  frontend/src/lib/i18n/init.ts
  packages/app-shared/src/data/extendedData.type.ts
  packages/app-shared/src/data/isLocalized.ts
  packages/app-shared/src/data/isLocalizedString.ts
  packages/app-shared/src/data/utils/isPlainObject.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
