Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(166): keep AUTHID-06/07 pending until 166-03 lands
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

feat(166-02): find a returning identity's candidate through its editor grant
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
  apps/supabase/supabase/functions/identity-callback/candidateRecord.test.ts
  apps/supabase/supabase/functions/identity-callback/candidateRecord.ts
  apps/supabase/supabase/functions/identity-callback/flowConformance.test.ts
  apps/supabase/supabase/functions/identity-callback/index.ts
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(166-02): record NC-6, the second-login assertion red under a broken lookup
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
Due: yarn build:app-shared, prettier --write

feat(166-02): invite-candidate links the invitee through the grant only
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
  apps/supabase/supabase/functions/invite-candidate/flowConformance.test.ts
  apps/supabase/supabase/functions/invite-candidate/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(166-02): resolve E2E candidate identity from editor grants
  tests/tests/setup/admin/admin-access.teardown.ts
  tests/tests/setup/admin/admin-auth.setup.ts
  tests/tests/setup/candidate/bank-auth-journey.teardown.ts
  tests/tests/setup/shared/auth.setup.ts
  tests/tests/specs/candidate/candidate-bank-auth-journey.spec.ts
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/utils/adminCredentials.ts
  tests/tests/utils/candidateJourneyConstants.ts
  tests/tests/utils/supabaseAdminClient.ts
  tests/tests/utils/testCredentials.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(166-02): complete grant-based identity in Edge Functions and E2E harness plan
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(166-02): record plan progress, decisions and AUTHID-02/03 complete
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

feat(166-03): drop the entity auth link column; the editor grant is the only link
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/102-entities.sql
  apps/supabase/supabase/schema/200-indexes.sql
  apps/supabase/supabase/seed.sql
  apps/supabase/supabase/tests/database/00-helpers.test.sql
  apps/supabase/supabase/tests/database/03-anon-read.test.sql
  apps/supabase/supabase/tests/database/09-column-restrictions.test.sql
  apps/supabase/supabase/tests/database/21-entity-organization.test.sql
  apps/supabase/supabase/tests/database/36-entity-identity.test.sql
  packages/dev-seed/src/template/permittedKeys.ts
  packages/dev-seed/tests/generators/OrganizationsGenerator.test.ts
  packages/supabase-types/src/column-map.ts
  packages/supabase-types/src/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(166-03): schema comments and policy guards describe the grant as the only link
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/302-rls.sql
  apps/supabase/supabase/schema/303-column-grants.sql
  apps/supabase/supabase/schema/502-email-helpers.sql
  apps/supabase/supabase/schema/503-entity-rpcs.sql
  apps/supabase/supabase/tests/database/02-candidate-self-edit.test.sql
  apps/supabase/supabase/tests/database/05-organization-admin.test.sql
  apps/supabase/supabase/tests/database/20-storage-authority.test.sql
  packages/dev-seed/src/generators/OrganizationsGenerator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style(166-03): 14-grants-migration.test.sql comments describe the grant-only model
  apps/supabase/supabase/tests/database/14-grants-migration.test.sql
Due: none

style(166-03): templates/e2e/base.ts comments describe the grant-only model
  packages/dev-seed/src/templates/e2e/base.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style(166-03): 03-anon-read.test.sql comments describe the grant-only model
  apps/supabase/supabase/tests/database/03-anon-read.test.sql
Due: none

style(166-03): 00-helpers.test.sql comments describe the grant-only model
  apps/supabase/supabase/tests/database/00-helpers.test.sql
Due: none

docs(166-03): complete the entity auth link drop plan
  .planning/WINDOWS.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-03-SUMMARY.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(166-03): record plan progress, decisions and AUTHID-05/06/07 complete
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

test(166-04): record the static, unit, pgTAP and candidate E2E gates on the final tree
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-gate-evidence/GATES.md
Due: yarn build:app-shared, prettier --write

test(166-04): record bank-auth and bank-auth-journey passing three consecutive runs each
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-gate-evidence/GATES.md
Due: yarn build:app-shared, prettier --write

docs(166-04): the database skill and todos describe the grant as the only entity link
  .claude/skills/database/SKILL.md
  .claude/skills/database/extension-patterns.md
  .claude/skills/database/rls-policy-map.md
  .claude/skills/database/schema-reference.md
  .planning/todos/pending/2026-06-01-candidate-home-savedanswers-empty-logout-modal.md
  .planning/todos/pending/2026-10-01-identity-callback-compensating-delete-failure.md
  .planning/todos/pending/2026-10-01-nominations-created-by-readable-by-anon.md
Due: yarn build:app-shared, prettier --write

test(166-04): record the doc checks and the VM disk shortfall that holds the full suite
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-gate-evidence/GATES.md
Due: yarn build:app-shared, prettier --write

test(166-04): record the full E2E suite passing 171/171 and the gate verdict
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-gate-evidence/GATES.md
Due: yarn build:app-shared, prettier --write

docs(166-04): complete the final gates and grant-only identity docs plan
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(166-04): record plan progress, decisions and AUTHID-08/09 complete
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

docs(166): code review, disposition and phase verification
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-REVIEW-DISPOSITION.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-REVIEW.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-166): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

test[frontend]: pin every safeGetSession round trip and fail on any other client access
  apps/frontend/src/lib/supabase/safeGetSession.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(167-01): complete the safeGetSession round-trip pinning plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/167-origin-main-vestige-cleanup/167-01-SUMMARY.md
  .planning/phases/167-origin-main-vestige-cleanup/167-hygiene-baseline.tsv
  .planning/phases/167-origin-main-vestige-cleanup/167-phase-base.txt
  .planning/state.json
Due: yarn build:app-shared, prettier --write

refactor[frontend]: remove the /api/cache proxy, the backend-URL pair and BACKEND_API_TOKEN
  .env.example
  CLAUDE.md
  apps/frontend/docker-compose.dev.yml
  apps/frontend/package.json
  apps/frontend/src/lib/api/adapters/apiRoute/dataProvider/apiRouteDataProvider.ts
  apps/frontend/src/lib/api/adapters/supabase/feedbackWriter/supabaseFeedbackWriter.test.ts
  apps/frontend/src/lib/api/adapters/supabase/supabaseAdapter.test.ts
  apps/frontend/src/lib/api/base/universalAdapter.test.ts
  apps/frontend/src/lib/api/base/universalAdapter.ts
  apps/frontend/src/lib/api/base/universalAdapter.type.ts
  apps/frontend/src/lib/api/base/universalApiRoutes.ts
  apps/frontend/src/lib/api/utils/auth/__tests__/authorize-endpoint.test.ts
  apps/frontend/src/lib/api/utils/auth/__tests__/callback-endpoint.test.ts
  apps/frontend/src/lib/api/utils/auth/__tests__/token-endpoint.test.ts
  apps/frontend/src/lib/api/utils/auth/decryptAndVerifyIdToken.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/authorize-fail-closed.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/idura.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/signicat.test.ts
  apps/frontend/src/lib/api/utils/authHeaders.test.ts
  apps/frontend/src/lib/api/utils/authHeaders.ts
  apps/frontend/src/lib/api/utils/cachifyUrl.test.ts
  apps/frontend/src/lib/api/utils/cachifyUrl.ts
  apps/frontend/src/lib/routes/route.test.ts
  apps/frontend/src/lib/routes/voterAppPath.test.ts
  apps/frontend/src/lib/server/constants.ts
  apps/frontend/src/lib/utils/constants.ts
  apps/frontend/src/routes/+layout.server.ts
  apps/frontend/src/routes/README.md
  apps/frontend/src/routes/admin/+layout.server.ts
  apps/frontend/src/routes/api/cache/+server.ts
  apps/frontend/src/routes/candidate/+layout.server.ts
  docker-compose.dev.yml
  render.example.yaml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(167-02): complete the cache-proxy and backend-URL removal plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/167-origin-main-vestige-cleanup/167-02-SUMMARY.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

fix[deps]: declare js-yaml in @openvaa/llm, which imports it
  packages/llm/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs(167-03): complete the js-yaml declaration plan
  .planning/phases/167-origin-main-vestige-cleanup/167-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(167-03): record plan progress in STATE and ROADMAP
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore[deps]: remove unused dependencies; import eslint-plugin-svelte explicitly
  apps/docs/package.json
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
  packages/argument-condensation/README.md
  packages/argument-condensation/package.json
  packages/llm/package.json
  packages/question-info/package.json
  security/audit-baseline.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs(167-04): complete the unused-dependency removal plan
  .planning/phases/167-origin-main-vestige-cleanup/167-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(167-04): record plan progress in STATE, ROADMAP and REQUIREMENTS
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

refactor[docs]: OpenVAALogo and PeerNavigation use runes
  apps/docs/src/lib/components/PeerNavigation.svelte
  apps/docs/src/lib/components/openVAALogo/OpenVAALogo.svelte
  apps/docs/src/lib/components/openVAALogo/OpenVAALogo.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs[frontend]: the vite.config.ts env comment describes the root .env loading
  apps/frontend/vite.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(167-05): complete the docs runes ports and vite env comment plan
  .planning/phases/167-origin-main-vestige-cleanup/167-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(167-05): record plan progress in STATE, ROADMAP and REQUIREMENTS
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

style[docs]: format OpenVAALogo with the docs Prettier config
  apps/docs/src/lib/components/openVAALogo/OpenVAALogo.svelte
Due: none

docs(167): close the phase — gate-evidence, gates and reconciliation
  .planning/phases/167-origin-main-vestige-cleanup/167-06-SUMMARY.md
  .planning/phases/167-origin-main-vestige-cleanup/167-VALIDATION.md
  .planning/quick/261001-n8y-remove-the-legacy-src-lib-i18n-translati/261001-n8y-SUMMARY.md
  .planning/quick/261001-n8y-remove-the-legacy-src-lib-i18n-translati/261001-n8y-VESTIGES.md
  .planning/todos/done/2026-08-28-vite-envdir-root-would-fix-six-empty-constants.md
  .planning/todos/pending/2026-08-28-reintroduce-the-local-data-adapter.md
  .planning/todos/pending/2026-09-27-adapter-selection-entrypoints.md
  .planning/todos/pending/2026-10-02-declare-globals-in-shared-config.md
  .planning/todos/pending/2026-10-02-tracked-260930-kxi-gate-evidence-files.md
  .planning/todos/pending/2026-10-02-writer-second-getuser-round-trip.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
