Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(71): add code review report
  .planning/phases/71-frontend-strict-typing-cleanup/71-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(71): persist phase verification (PASS-WITH-DEFERRAL) + human verification items
  .planning/phases/71-frontend-strict-typing-cleanup/71-HUMAN-UAT.md
  .planning/phases/71-frontend-strict-typing-cleanup/71-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(71): close phase — PASS-WITH-DEFERRAL (Playwright manual smoke deferred)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

chore(v2.8): post-71 cleanup pass — IN-01/WR-01/OOS items + e2e fresh-DB precondition
  .planning/REQUIREMENTS.md
  .planning/phases/71-frontend-strict-typing-cleanup/71-OUT-OF-SCOPE-FINDINGS.md
  .planning/todos/pending/2026-05-09-phase-69-parity-gate-followup.md
  apps/frontend/src/lib/components/input/Input.type.ts
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.helpers.ts
  tests/tests/setup/data.setup.ts
  tests/tests/setup/templates/variant-constituency.ts
  tests/tests/setup/templates/variant-multi-election.ts
  tests/tests/setup/templates/variant-startfromcg.ts
  tests/tests/specs/voter/voter-popups.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(v2.8): post-71 cleanup pass batch 2 — locale-bug fix + remaining FIT items + v2.9 todos
  .planning/phases/71-frontend-strict-typing-cleanup/71-OUT-OF-SCOPE-FINDINGS.md
  .planning/todos/pending/2026-05-10-d04-per-cast-reason-distribution.md
  .planning/todos/pending/2026-05-10-getroute-setstore-cast-cleanup.md
  .planning/todos/pending/2026-05-10-tests-playwright-hygiene-sweep.md
  apps/frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  apps/frontend/src/lib/api/utils/auth/getIdTokenClaims.test.ts
  apps/frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  apps/frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.svelte
  apps/frontend/src/lib/candidate/components/passwordValidator/PasswordValidator.svelte
  apps/frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  apps/frontend/src/lib/components/controller/InfoMessages.svelte
  apps/frontend/src/lib/components/controller/ProgressBar.svelte
  apps/frontend/src/lib/components/controller/WarningMessages.svelte
  apps/frontend/src/lib/components/input/PreviewAllInputs.svelte
  apps/frontend/src/lib/contexts/admin/adminContext.svelte.ts
  apps/frontend/src/lib/contexts/app/popup/popupComponent.type.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.test.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/utils/components.ts
  apps/frontend/src/lib/utils/route/buildRoute.ts
  apps/frontend/src/routes/(voters)/(located)/results/+layout.svelte
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/argument-condensation/+page.svelte
  apps/frontend/src/routes/admin/(protected)/jobs/+page.svelte
  apps/frontend/src/routes/admin/(protected)/question-info/+page.svelte
  apps/frontend/src/routes/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(v2.8): close milestone — bundled parity gate PASSED + v2.9 framing inputs captured
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.8-MILESTONE-AUDIT.md
  .planning/notes/2026-05-10-v2.9-e2e-coverage-inventory.md
  .planning/phases/71-frontend-strict-typing-cleanup/71-VERIFICATION.md
  .planning/todos/completed/2026-05-09-phase-69-parity-gate-followup.md
  .planning/todos/completed/2026-05-09-phase-70-manual-smoke-followup.md
  .planning/todos/pending/2026-05-10-incorporate-luxembourg-and-danish-vaa-changes.md
  .planning/todos/pending/2026-05-10-redirect-unlocated-voter-to-selectors.md
  .planning/todos/pending/2026-05-10-rename-package-scripts-dev-to-db.md
Due: yarn build:app-shared, prettier --write

docs(v2.9): define requirements — 23 reqs across 6 categories (DETERM/E2E/QSPEC/A11Y/SETTINGS/CLEAN)
  .planning/REQUIREMENTS.md
  .planning/milestones/v2.8-REQUIREMENTS.md
  .planning/milestones/v2.8-ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(v2.9): create roadmap — 6 phases (73-78), 23 requirements mapped
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(v2.9): tag 8 pending todos with resolves_phase after roadmap
  .planning/todos/pending/2026-04-27-extend-e2e-filter-type-coverage.md
  .planning/todos/pending/2026-04-27-remove-e2e-skip-modifiers.md
  .planning/todos/pending/2026-05-09-tighten-i18n-wrapper.md
  .planning/todos/pending/2026-05-10-d04-per-cast-reason-distribution.md
  .planning/todos/pending/2026-05-10-getroute-setstore-cast-cleanup.md
  .planning/todos/pending/2026-05-10-redirect-unlocated-voter-to-selectors.md
  .planning/todos/pending/2026-05-10-rename-package-scripts-dev-to-db.md
  .planning/todos/pending/2026-05-10-tests-playwright-hygiene-sweep.md
Due: yarn build:app-shared, prettier --write

docs(73): capture phase context
  .planning/phases/73-determinism-baseline/73-CONTEXT.md
  .planning/phases/73-determinism-baseline/73-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 73 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(73): research phase domain — Playwright suite hardening
  .planning/phases/73-determinism-baseline/73-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): add validation strategy
  .planning/phases/73-determinism-baseline/73-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(73): create phase plan — 6 plans across 6 sequential waves (DETERM 01/02/03)
  .planning/ROADMAP.md
  .planning/phases/73-determinism-baseline/73-01-PLAN.md
  .planning/phases/73-determinism-baseline/73-02-PLAN.md
  .planning/phases/73-determinism-baseline/73-03-PLAN.md
  .planning/phases/73-determinism-baseline/73-04-PLAN.md
  .planning/phases/73-determinism-baseline/73-05-PLAN.md
  .planning/phases/73-determinism-baseline/73-06-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(73): record planning completion in STATE
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): begin phase 73
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

chore(73-01): capture 3 cold-start --workers=1 inventory runs
  .planning/phases/73-determinism-baseline/post-fix/inventory-run-1-report.json
  .planning/phases/73-determinism-baseline/post-fix/inventory-run-2-report.json
  .planning/phases/73-determinism-baseline/post-fix/inventory-run-3-report.json
Due: yarn build:app-shared, prettier --write

chore(73-01): re-baseline playwright/* lint warnings (CONTEXT D-03)
  .planning/phases/73-determinism-baseline/post-fix/lint-baseline.txt
Due: none

docs(73-01): author binding 36-test inventory + plan assignments
  .planning/phases/73-determinism-baseline/73-01-INVENTORY.md
Due: yarn build:app-shared, prettier --write

docs(73-01): complete inventory plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/73-determinism-baseline/73-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(73-02): add Task 0 (data.setup hotfix) + Task 0.5 (inventory re-capture) per operator approval
  .planning/phases/73-determinism-baseline/73-02-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(73-02): repair data-setup TypeError by removing async from query()
  tests/tests/setup/data.setup.ts
  tests/tests/utils/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(73-02): re-capture 3-run inventory against post-hotfix HEAD
  .planning/phases/73-determinism-baseline/post-fix/inventory-run-1-report.json
  .planning/phases/73-determinism-baseline/post-fix/inventory-run-2-report.json
  .planning/phases/73-determinism-baseline/post-fix/inventory-run-3-report.json
Due: yarn build:app-shared, prettier --write

docs(73-02): refresh INVENTORY.md with runtime-evidence failure-type classification
  .planning/phases/73-determinism-baseline/73-01-INVENTORY.md
Due: yarn build:app-shared, prettier --write

refactor(73-02): replace 6 playwright/no-networkidle sites with element-state waits
  tests/tests/specs/candidate/candidate-settings.spec.ts
  tests/tests/specs/visual/visual-regression.spec.ts
  tests/tests/specs/voter/voter-static-pages.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(73-02): replace 37 playwright/no-raw-locators sites with semantic locators
  tests/tests/pages/candidate/ProfilePage.ts
  tests/tests/pages/candidate/QuestionsPage.ts
  tests/tests/pages/voter/EntityDetailPage.ts
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-questions.spec.ts
  tests/tests/specs/candidate/candidate-settings.spec.ts
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/multi-election.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-popups.spec.ts
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(73-02): post-Plan-02 single-smoke + regression fix for nominations test
  .planning/phases/73-determinism-baseline/post-fix/post-plan-02-diff.txt
  .planning/phases/73-determinism-baseline/post-fix/post-plan-02-smoke.json
  tests/tests/specs/voter/voter-static-pages.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(73-02): complete Plan 02 — mechanical sweep + HEAD hotfix + inventory re-capture
  .planning/phases/73-determinism-baseline/73-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): update tracking after wave 2 (plan 02 complete)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

refactor(73-03): hoist exploration loops + replace race-mask conditionals in voter cluster A (11 sites cleared)
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
  tests/tests/specs/voter/voter-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(73-03): replace waitForTimeout(500) with expect.poll in voter-results filter test (1 site cleared)
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(73-03): capture voter-fixture heterogeneous-question-types escalation (16 voter-app failures, exceeds D-05 cap)
  .planning/todos/pending/2026-05-11-voter-fixture-heterogeneous-question-types.md
Due: yarn build:app-shared, prettier --write

docs(73-03): complete plan 03 — voter-specs cluster DETERM-02 + DETERM-03 sweep + fixture escalation
  .planning/phases/73-determinism-baseline/73-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): update tracking after wave 3 (plan 03 complete)
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

refactor(73-04): rewrite candidate-bank-auth.spec.ts — beforeAll probe + 3 inline-justified precondition gates (17 sites cleared)
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(73-04): clear conditional + expect-expect + wait-for-timeout warnings in 3 candidate spec files (8 sites cleared)
  tests/tests/specs/candidate/candidate-auth.spec.ts
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-questions.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(73-04): strengthen "keys-not-configured path" reason text per 73-VALIDATION criteria
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(73-04): complete plan 04 — candidate-specs cluster DETERM-01 + DETERM-02 + DETERM-03 sweep + D-07 inline-justification
  .planning/phases/73-determinism-baseline/73-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-73): update tracking after wave 4 (plan 04 complete)
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
