Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(85): research + validation strategy
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-RESEARCH.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(85): create phase plan — RCA (P01) + Path B structural decouple (P02)
  .planning/ROADMAP.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-01-PLAN.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(85): plan revision — 4 BLOCKERs + 5 WARNINGs from plan-checker resolved
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-01-PLAN.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 85 planned (2 plans, ready to execute)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(85-01): capture chain-head deterministic FAIL — H0 empirical confirmation
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/rca-capture/chain-head-failure.txt
Due: none

docs(85-01): disprove H1 (yarn-arg-forwarding) architecturally via variant-setup grep
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/rca-capture/h1-grep.txt
Due: none

docs(85-01): partition 47 CASCADE_TESTS + capture variant chain DAG
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/rca-capture/cascade-classification.txt
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/rca-capture/dependency-dag.md
Due: yarn build:app-shared, prettier --write

docs(85-01): RCA verdict — variant cascade is single-source (chain head voter-app-popups)
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-RCA-FINDINGS.md
Due: yarn build:app-shared, prettier --write

docs(85-01): plan 01 SUMMARY — RCA closed, Path B recommended, Plan 02 shape determined
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(85-02): structurally decouple variant chain from voter-app-popups (DETERM-11)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(85-02): 1-run cold-start smoke confirms variant cascade collapse
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/smoke-commands.txt
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/smoke-output.txt
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/smoke.json
Due: yarn build:app-shared, prettier --write

test(85-02): 3-run cold-start gate captured for DETERM-11 verification
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-1.json
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-1.sha256
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-2.json
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-2.sha256
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-3.json
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-3.sha256
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/sha256.txt
Due: yarn build:app-shared, prettier --write

chore(85-02): constants regen — Phase 85 v2.10 All-Green Suite anchor
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/regen-output.txt
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(85-02): complete plan SUMMARY — DETERM-11 closed, Phase 85 v2.10 anchor captured
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(85): phase verification passed-with-deferral — 5/5 SCs achieved
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): mark phase 85 complete — DETERM-10/11 closed (CASCADE 47→42, anchor 411e09f5ff…)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(86): research phase domain — Voter-App FAILURE-CLASS Cleanup
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(86): add research + validation strategy
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(86): add pattern map for planner
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(86): create phase plan — 4 plans across 2 waves for DETERM-12/13/14 voter-app FAILURE-CLASS cleanup
  .planning/ROADMAP.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-01-PLAN.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-02-PLAN.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-03-PLAN.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-04-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(86): finalize phase plan — 4 plans across 2 waves
  .planning/STATE.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-01-PLAN.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-03-PLAN.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-VALIDATION.md
Due: yarn build:app-shared, prettier --write

test(86-01): fix voter-popups strict-mode locator collision
  tests/tests/specs/voter/voter-popups.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-01): fix voter-popup-hydration LAYOUT-03 settle race
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-01): fix voter-navigation Skip-Next fallback for sort-17/18
  tests/tests/specs/voter/voter-navigation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-01): add domcontentloaded settle to chain-head CLEAN-02 redirect
  tests/tests/specs/voter/voter-not-located-redirect.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-01): harden party-drawer boundary flake via expect.poll guard
  tests/tests/specs/voter/voter-detail.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86-01): complete DETERM-12 popups+hydration+navigation cluster
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(86-02): fix voter-results filter-toggle H1 locator + H3 settle
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-02): fix voter-feedback-persistence dialog-close settle pattern
  tests/tests/specs/voter/voter-feedback-persistence.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86-02): complete DETERM-13 filter+feedback cluster
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(86-03): skip QSPEC-01 boolean per Phase 75 PASS-WITH-DEFERRAL inheritance
  .planning/todos/pending/2026-05-14-qspec-walkToQuestion-cold-start-race.md
  tests/tests/specs/voter/voter-question-rendering-boolean.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-03): skip QSPEC-02 categorical mirroring QSPEC-01 (shared root cause)
  tests/tests/specs/voter/voter-question-rendering-categorical.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-03): exclude voter-visibility-required from voter-app project (DETERM-14)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86-03): add hydration guard to voter-detail case (d) both-missing
  tests/tests/specs/voter/voter-detail.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86-03): complete DETERM-14 visibility+edge-cases+question-rendering cluster
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(86): close Phase 86 — DETERM-12/13/14 voter-app FAILURE-CLASS cleanup; v2.10 anchor regen at 9a6d74a3088ec2de933cce9ff40797ec1a1cf8180923f02fbfcaf6f690a30af9
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/notes/2026-05-14-vite-nohup-background-hangs-cold-runs.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-output.txt
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/86-04-SUMMARY.md
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/regen-output.txt
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/run-1.json
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/run-1.sha256
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/run-2.json
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/run-2.sha256
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/run-3.json
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/run-3.sha256
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/sha-identity-runner.mjs
  .planning/phases/86-voter-app-failure-class-cleanup-investigate-and-resolve-the-/post-fix/sha256.txt
  .planning/todos/pending/2026-05-14-party-drawer-boundary-flake-residual.md
Due: yarn build:app-shared, prettier --write

docs(87): add research + validation strategy (DETERM-15)
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-RESEARCH.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(87): map predecessor patterns for milestone-close
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(87): plan v2.10 all-green milestone-close (DETERM-15)
  .planning/ROADMAP.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(87): revise plan — add Task 0 pre-gate, restore D-05 tolerances
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-01-PLAN.md
Due: yarn build:app-shared, prettier --write
