Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: format code
  .claude/settings.local.json
Due: yarn build:app-shared, prettier --write

feat: `Image` component
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/image/Image.svelte
  frontend/src/lib/components/image/Image.type.ts
  frontend/src/lib/components/image/index.ts
  frontend/src/lib/utils/image.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore/build[app-shared]: extend unit test coverage
  frontend/src/lib/api/utils/translateHeroContent.test.ts
  frontend/src/lib/utils/image.test.ts
  packages/app-shared/src/data/isEmoji.test.ts
  packages/app-shared/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: improve documentation and code quality for hero feature
  frontend/src/lib/components/hero/Hero.svelte
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/isEmoji.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[app-shared]: allow localized emojis in `LocalizedHeroContent`
  packages/app-shared/src/data/localized.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: don't add host name when fetching local urls
  frontend/src/hooks.server.ts
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  frontend/src/lib/api/adapters/apiRoute/apiRoutes.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/api/utils/localPathToUrl.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `UniversalAdapter.get` and `post` methods
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.type.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.type.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalAdapter.ts
  frontend/src/lib/api/base/universalAdapter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/api/utils/addHeader.ts
  frontend/src/lib/api/utils/parseResponse.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix terms of use content translation
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
Due: yarn build:app-shared, prettier --write

chore: fix `exportTestData` tool default export folder
  packages/data/tools/exportTestData.ts
  packages/data/tools/generateTestDataJson.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: test `UniversalAdapter` and related utils
  frontend/src/lib/api/base/universalAdapter.test.ts
  frontend/src/lib/api/utils/cachifyUrl.test.ts
  frontend/src/lib/api/utils/parseResponse.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: use `/var/data/local` by default for local data
  .env.example
  frontend/docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[data]: fix example.ts
  packages/data/examples/example.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[core]: `haveSameIds` utility
  packages/core/src/id/haveSameId.ts
  packages/core/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: add avoid `any` to code style and review checklist
  docs/code-review-checklist.md
  docs/contributing.md
Due: yarn build:app-shared, prettier --write

feat[chatbot]: add redis for conversation management & rate limits
  .env.example
  docker-compose.dev.yml
  frontend/package.json
  frontend/src/lib/server/constants.ts
  frontend/src/lib/server/redis/client.ts
  frontend/src/lib/server/redis/conversationStore.ts
  frontend/src/lib/server/redis/rateLimiter.ts
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/api/conversation/[sessionId]/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/chatbot/redisRefactorPlan.md
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/server.ts
  packages/chatbot/src/types/storage.types.ts
  packages/chatbot/src/utils/conversationLogger.ts
  packages/chatbot/src/utils/index.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: `@claude, solve` and `@claude, review` triggers
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-solve-issue.yml
  .github/workflows/claude.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build/fix: claude workflow permissions
  .github/workflows/claude.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build/fix: claude workflow author permission check
  .github/workflows/claude.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build/fix: claude workflow plugins
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-solve-issue.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build/fix: disable not found claude plugins
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-solve-issue.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: import `answersByExternalId`
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/README.md
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: filter questions by entity type in Candidate App
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/utils/questionCategoryStore.ts
  frontend/src/lib/contexts/utils/questionStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show `Questions`’ hero content in Candidate App
  frontend/src/lib/components/hero/Hero.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

refactor: category tag display on Questions Intro page
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
Due: none

fix: remove duplicate question index with category tags
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
Due: none

feat: show login prompt on candidate registration page
  frontend/src/lib/i18n/translations/da/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
