Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

build[backend]: raise max connections to 100
  backend/vaa-strapi/config/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tmp: debug located layout
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

fix: catch `getEntityAndTitle` error on `Results` route
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

tmp: edit no nominations error message
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/results.json
Due: yarn build:app-shared, prettier --write

fix: parent answer imputation
  frontend/src/lib/contexts/voter/matchStore.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.type.ts
  frontend/src/lib/utils/matching/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: only show parent link when its included in results
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

tmp: hide children if `matches` are not available
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
Due: none

refactor: always return `Match`es from `findCandidateNominations`
  frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `compareMaybeWrappedEntities`
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: no nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

feat: user-is-admin policy and extended Strapi request.state.role type StrapiRole
  backend/vaa-strapi/src/policies/user-is-admin.ts
  backend/vaa-strapi/types/customStrapiTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! test: admin role backend requests
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! test: admin role backend requests
  backend/vaa-strapi/src/api/question/routes/01-generate-question-info.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add arguments for and againts to extended question info
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionTerms.ts
  frontend/src/lib/components/tooltip/Tooltip.svelte
  frontend/src/lib/components/tooltip/Tooltip.type.ts
  frontend/src/lib/components/tooltip/index.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.type.ts
  frontend/src/lib/utils/regexp.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Add disk cache proxy
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.type.ts
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
  frontend/src/lib/server/constants.ts
  frontend/src/routes/[[lang=locale]]/api/cache/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

temp: force hide submatches
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: convert `Tooltip` component to `Term`
  frontend/src/lib/components/term/Term.svelte
  frontend/src/lib/components/term/Term.type.ts
  frontend/src/lib/components/term/index.ts
  frontend/src/lib/components/tooltip/Tooltip.svelte
  frontend/src/lib/components/tooltip/Tooltip.type.ts
  frontend/src/lib/components/tooltip/index.ts
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add locales to term triggers
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionTerms.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add strapi types for question customData
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionTerms.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: make tooltips follow AGP tooltip pattern, styling changes
  frontend/src/lib/components/tooltip/Tooltip.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
Due: none

feat: custom tooltip implementation to better adhere to AGP, dynamic positioning within viewport
  frontend/src/lib/components/tooltip/Tooltip.svelte
Due: none

fix: candidate question view using an old component
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

feat: get term explanations from Strapi
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionTerms.ts
  frontend/src/lib/components/tooltip/Tooltip.type.ts
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/lib/types/global.d.ts
  frontend/src/lib/utils/regexp.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add stuff
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/dashboard/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/factor-analysis/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/factor-analysis/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/unauthorized/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

delete
  frontend/src/routes/[[lang=locale]]/admin/+page.svelte
Due: none

add stuff
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/admin/login/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/unauthorized/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: admin role check in frontend
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseUser.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/routes/[[lang=locale]]/admin/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/login/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: dont populate party image
  backend/vaa-strapi/src/api/nomination/controllers/nomination.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Make arguments into a list
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
Due: none

Improve deep merge function: update merge.ts to handle constructed objects, circular references and better error handling. Update merge.test.ts accordingly.
  frontend/src/lib/utils/merge.test.ts
  frontend/src/lib/utils/merge.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
