Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260522-mps): add tests/TEST-INVENTORY.md for Phase 88 audit
  tests/TEST-INVENTORY.md
Due: yarn build:app-shared, prettier --write

docs(quick-260522-mps): generate e2e test catalog inventory for Phase 88 audit
  .planning/STATE.md
  .planning/quick/260522-mps-generate-e2e-test-catalog-inventory-for-/260522-mps-PLAN.md
  .planning/quick/260522-mps-generate-e2e-test-catalog-inventory-for-/260522-mps-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: capture todo — remove CustomData[Question].vertical (redundant with QuestionSettings.display)
  .planning/todos/pending/2026-05-23-remove-customdata-question-vertical-redundant-with-questions.md
Due: yarn build:app-shared, prettier --write

plan(88-01): parallel-landing Wave 1 — baseV1 template + setupFromTemplate helper + voter-mega-journey
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-01-PLAN.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-CONTEXT.md
Due: yarn build:app-shared, prettier --write

chore(88-01): operator USER NOTEs on plan + relocate inventory docs to repo root
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-01-PLAN.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-CONTEXT.md
  TEST-INVENTORY-REFACTOR-1.md
  TEST-INVENTORY.md
Due: yarn build:app-shared, prettier --write

feat(dev-seed): add baseV1 BUILT_IN template for Phase 88 mega-journey scaffolding
  packages/dev-seed/src/index.ts
  packages/dev-seed/src/templates/baseV1.ts
  packages/dev-seed/src/templates/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(tests-v2): add setupFromTemplate generic helper for Phase 88 mega-journey
  tests/tests/setup/setupFromTemplate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(tests-v2): add voter-mega fixture with min/max answerMode
  tests/tests/fixtures/voter-mega.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(voter): add voter-mega-journey spec covering refactor-doc lines 204-378
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(playwright): add data-setup-baseV1 + voter-mega-journey + data-teardown-baseV1 projects
  packages/dev-seed/src/templates/baseV1.ts
  tests/playwright.config.ts
  tests/tests/setup/baseV1.setup.ts
  tests/tests/setup/baseV1.teardown.ts
  tests/tests/setup/setupFromTemplate.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(playwright): chain data-setup-baseV1 after variant-hidden-required-candidate
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(tests-v2): add voter-mega-journey README with absorbed-tests migration map
  tests/tests/specs/voter/voter-mega-journey.README.md
Due: yarn build:app-shared, prettier --write

docs(88-01): plan execution SUMMARY
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(88-01): update STATE + ROADMAP to reflect partial execution
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: capture todo — remove automatic sentinel fan-out from dev-seed pipeline
  .planning/todos/pending/2026-05-16-extend-e2e-tests-to-cover-election-and-constituency-scoped-q.md
  .planning/todos/pending/2026-05-23-remove-automatic-sentinel-fan-out-from-dev-seed-pipeline.md
Due: yarn build:app-shared, prettier --write

feat(dev-seed): resolve _constituencies sentinel on question_categories + questions
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/src/templates/baseV1.ts
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

plan(88-02): results route refactor — [[electionTab]] route param + entityTab/entity rename (name-disjoint from search-side electionId)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-02-PLAN.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-02-SCOPE.md
Due: yarn build:app-shared, prettier --write

plan(88-02): drop e2e regression verification + voter-spec URL audits
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-02-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(frontend/params): add etPl + etSg short-name matchers for Phase 88 results refactor
  apps/frontend/src/params/etPl.test.ts
  apps/frontend/src/params/etPl.ts
  apps/frontend/src/params/etSg.test.ts
  apps/frontend/src/params/etSg.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(frontend/routes): migrate results tree to [[electionTab]]/[[entityTab]]/[[entity]]/[[id]] shape
  apps/frontend/src/params/entityTypePlural.test.ts
  apps/frontend/src/params/entityTypePlural.ts
  apps/frontend/src/params/entityTypeSingular.test.ts
  apps/frontend/src/params/entityTypeSingular.ts
  apps/frontend/src/routes/(voters)/(located)/results/+layout.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/+page.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/statistics/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[entityTypePlural=entityTypePlural]]/[[entityTypeSingular=entityTypeSingular]]/[[id]]/+page.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(frontend/route): update ROUTE + DEFAULT_PARAMS for new results shape
  apps/frontend/src/lib/utils/route/route.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(frontend/route): rename entityTypePlural→entityTab + add electionTab route param (name-disjoint from search-side electionId)
  apps/frontend/src/lib/utils/route/buildRoute.ts
  apps/frontend/src/lib/utils/route/filterPersistent.ts
  apps/frontend/src/lib/utils/route/params.ts
  apps/frontend/src/lib/utils/route/parseParams.test.ts
  apps/frontend/src/lib/utils/route/parseParams.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(frontend/contexts): add currentResultsElection accessor + filterContext entityTab rename
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.test.ts
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
  apps/frontend/src/lib/contexts/filter/filterContext.type.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(frontend/routes): add server-side electionTab validation + auto-redirect guards
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(frontend/components): rename entityTypePlural→entityTab in $getRoute consumer sites (specs deferred to follow-on plan)
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCardAction.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

docs(88-02): complete results-route-refactor plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(88-02): drop entityTab force-fill from results route — voterContext implies active tab
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
  apps/frontend/src/lib/contexts/filter/filterContext.type.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.type.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/+page.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(260523-u53): implement deferred steps 1-10 in voter-mega-journey.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(260523-u53): implement deferred steps 11-19 + remove deferredStep helper
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(260523-u53): clear 89 lint errors in voter-mega-journey.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260523-u53): close all [deferred-88-nn] steps in voter-mega-journey.spec.ts
  .planning/STATE.md
  .planning/quick/260523-u53-implement-all-of-the-deferred-88-nn-test/260523-u53-PLAN.md
  .planning/quick/260523-u53-implement-all-of-the-deferred-88-nn-test/260523-u53-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(260524-l1t): timeout + regex consts, named-arg helpers, TS cleanup in voter-mega-journey
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(260524-l1t): replace .entitySelected raw locator with data-testid="entity-selected-answer"
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(260524-l1t): align variant specs with testIds.voter.elections.card→option rename (D6 ripple)
  tests/tests/specs/variants/Ne-Nc.spec.ts
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/multi-election.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(260524-l1t): RLS hardening — anon visibility gated by terms_of_use_accepted; nominations RLS-safe
  apps/supabase/supabase/migrations/00002_anon_select_terms_of_use_and_get_nominations_rls_guard.sql
  apps/supabase/supabase/schema/302-rls.sql
  apps/supabase/supabase/schema/503-entity-rpcs.sql
  apps/supabase/supabase/tests/database/00-helpers.test.sql
  apps/supabase/supabase/tests/database/03-anon-read.test.sql
Due: none

chore(260524-l1t): rename test-qg-opin-base-b/c → test-qg-opin-opt-a/b in baseV1
  packages/dev-seed/src/templates/baseV1.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260524-l1t): multi-deliverable refactor — TIMEOUT/RX consts, locator hardening, RLS hardening, baseV1 rename
  .planning/STATE.md
  .planning/quick/260524-l1t-refactor-voter-mega-journey-spec-ts-time/260524-l1t-PLAN.md
  .planning/quick/260524-l1t-refactor-voter-mega-journey-spec-ts-time/260524-l1t-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(spike-013): [VALIDATED] nav-mount-forensics — layout persistence behavior captured
  .planning/spikes/013-nav-mount-forensics/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/nav-forensics/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/LedgerPanel.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/mountLedger.svelte.ts
  apps/frontend/src/routes/runes-test/nav-forensics/questions/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/questions/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/questions/category/[categoryId]/+page.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/[[electionTab]]/KeyedInner.svelte
  apps/frontend/src/routes/runes-test/nav-forensics/results/[[electionTab]]/[[entityTab]]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spike-014a): [VALIDATED, with reframe] nested-layout-promotion — chrome already persists; user-perceived redraw is reactive-render churn
  .planning/spikes/014a-nested-layout-promotion/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/nav-promoted-layout/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/+page.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/questions/+layout.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/questions/MainContentMock.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/questions/QuestionActionsMock.svelte
  apps/frontend/src/routes/runes-test/nav-promoted-layout/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
