Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat: use `LOCAL_DATA_DIR` env variable for `local` adapter data dir
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/server/api/adapters/local/localPaths.ts
  frontend/src/lib/server/api/adapters/local/localServerAdapter.ts
  frontend/src/lib/server/constants.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: add Code settings to contributor guide
  docs/contributing/CONTRIBUTING.md
Due: yarn build:app-shared, prettier --write

feat: show election and constituency in `EntityInfo`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

fix[strapi]: `Alliance.parties` relation
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: yarn build:app-shared, prettier --write

fix: autofocus
  frontend/src/lib/utils/aria/focus.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Drawer` component and `modalStack` store
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/Modal.type.ts
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/drawer/index.ts
  frontend/src/lib/components/modal/index.ts
  frontend/src/lib/components/modal/timed/TimedModal.svelte
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/modal/index.ts
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `ConstituencySelector` component code style
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
Due: none

feat[backend]: always merge `answers` when importing data
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: imputed `Organization` and `Faction` matching
  backend/vaa-strapi/src/components/settings/matching.json
  backend/vaa-strapi/types/generated/components.d.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/i18n/translations/en/about.json
  frontend/src/lib/i18n/translations/fi/about.json
  frontend/src/lib/i18n/translations/sv/about.json
  frontend/src/lib/utils/matching/imputeParentAnswers.ts
  frontend/src/lib/utils/matching/index.ts
  frontend/src/lib/utils/matching/mean.test.ts
  frontend/src/lib/utils/matching/mean.ts
  frontend/src/lib/utils/matching/median.test.ts
  frontend/src/lib/utils/matching/median.ts
  frontend/src/lib/utils/matching/mode.test.ts
  frontend/src/lib/utils/matching/mode.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: parent answer imputation
  frontend/src/lib/contexts/voter/matchStore.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.type.ts
  frontend/src/lib/utils/matching/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: always return `Match`es from `findCandidateNominations`
  frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: only show parent link when its included in results
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat: disable (pre)registration routes when `answersLocked`
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/i18n/translations/en/candidateApp.error.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.error.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.error.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/password/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show warning on `(located)` routes when no `Nomination`s
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/contexts/voter/voterContext.type.ts
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/error.json
  frontend/src/lib/i18n/translations/sv/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: set `EntityDetails` tabs based on settings
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
Due: none

feat[backend]: disable edits when `answersLocked`
  backend/vaa-strapi/src/api/candidate/routes/00-customRoutes.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/policies/not-answers-locked.ts
  backend/vaa-strapi/src/util/answersLocked.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: don’t use `$app/server: read` in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localServerAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Return both the Bank ID and the CSV names from mapper
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: modal components and remove `modalStack`
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/candidate/components/logoutButton/LogoutButton.svelte
  frontend/src/lib/components/alert/Alert.svelte
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/timed/TimedModal.svelte
  frontend/src/lib/components/modal/timed/TimedModal.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfoButton.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfoDrawer.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/modal/index.ts
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.type.ts
  frontend/src/lib/dynamic-components/questionInfo/index.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: catch `getEntityAndTitle` error on `Results` route
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

feat: reimplement video
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseBasics.ts
  frontend/src/lib/api/adapters/strapi/utils/parseCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/components/video/Video.type.ts
  frontend/src/lib/contexts/layout/layoutContext.ts
  frontend/src/lib/contexts/layout/layoutContext.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Candidate nominator file upload
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `color` parsing in `StrapiDataAdapter`
  frontend/src/lib/api/adapters/strapi/utils/parseOrganization.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Question.customData.hidden` property
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/utils/questionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: disable auto scroll in `EntityList` in `EntityChildren`
  frontend/src/lib/dynamic-components/entityDetails/EntityChildren.svelte
  frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  frontend/src/lib/dynamic-components/entityList/EntityList.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: dynamic `QuestionExtendedInfoButton` component
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.type.ts
  frontend/src/lib/dynamic-components/questionInfo/index.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `parseQuestionInfoSections` utility
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

doc: Update comments
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: disk cache proxy
  .env.example
  docker-compose.dev.yml
  docs/frontend/data-and-state-management.md
  docs/frontend/data-api.md
  frontend/docker-compose.dev.yml
  frontend/package.json
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.type.ts
  frontend/src/lib/api/adapters/apiRoute/apiRoutes.ts
  frontend/src/lib/api/adapters/apiRoute/dataProvider/apiRouteDataProvider.ts
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.type.ts
  frontend/src/lib/api/base/universalAdapter.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/dataWriter.ts
  frontend/src/lib/api/utils/cachifyUrl.ts
  frontend/src/lib/server/constants.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/logger.ts
  frontend/src/routes/[[lang=locale]]/api/cache/+server.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[data]: `generateTestDataJson` dev tool
  packages/data/.gitignore
  packages/data/package.json
  packages/data/tools/generateTestDataJson.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: consisten eslint import rules
  package.json
  packages/shared-config/eslint.config.mjs
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

wip files
  backend/vaa-strapi/src/api/question/routes/01-generate-question-info.ts
  backend/vaa-strapi/src/api/question/tests/questionGenerateInfo.test.ts
  backend/vaa-strapi/src/functions/generateQuestionInfo.ts
  backend/vaa-strapi/src/policies/user-is-admin.ts
  backend/vaa-strapi/types/customStrapiTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: functions for generating question info
  backend/vaa-strapi/src/functions/generateQuestionInfo.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Add example prompts and LLM output template (#689)
  backend/vaa-strapi/src/functions/generateMockData.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add workflows to admin-ui-backend branch
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: admin role for roles & permissions plugin
  backend/vaa-strapi/src/api/question/controllers/question.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/generateQuestionInfo.ts
  backend/vaa-strapi/src/functions/setDefaultApiPermissions.ts
  backend/vaa-strapi/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: user-is-admin policy and extended Strapi request.state.role type StrapiRole
  backend/vaa-strapi/src/policies/user-is-admin.ts
  backend/vaa-strapi/types/customStrapiTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add stuff
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/dashboard/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/factor-analysis/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/factor-analysis/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/unauthorized/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

delete
  frontend/src/routes/[[lang=locale]]/admin/+page.svelte
Due: none
