Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(119-04): rename+extend show-feedback-survey, add perm-access-disable
  packages/dev-seed/src/templates/e2e/perm/perm-access-disable.ts
  packages/dev-seed/src/templates/e2e/perm/perm-header-show-feedback.ts
  packages/dev-seed/src/templates/e2e/perm/show-feedback-survey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(119-04): add customData.terms to e2e/base + reconcile registry
  packages/dev-seed/src/templates/e2e/base.ts
  packages/dev-seed/src/templates/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-04): complete settings-overlay perm templates + additive e2e/base terms plan
  .planning/phases/119-e2e-fixtures-helpers-seed/119-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(119-07): add entityFilters selectAll/selectNone + resultsPage expectSubMatch
  tests/tests/fixtures/voter/entityFilters.fixture.ts
  tests/tests/fixtures/voter/resultsPage.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(119-07): add trackingIntercept + theme(emulateMedia) + navMenu shared fixtures
  .planning/phases/119-e2e-fixtures-helpers-seed/deferred-items.md
  tests/tests/fixtures/shared/navMenu.fixture.ts
  tests/tests/fixtures/shared/theme.fixture.ts
  tests/tests/fixtures/shared/trackingIntercept.fixture.ts
  tests/tests/fixtures/voter/entityFilters.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-07): complete EFLOW fixtures/helpers plan
  .planning/phases/119-e2e-fixtures-helpers-seed/119-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(119): resolve cross-plan import-sort regression in dev-seed registry (DEF-119-07-01)
  .planning/phases/119-e2e-fixtures-helpers-seed/deferred-items.md
  packages/dev-seed/src/templates/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(119-08): add seed-backed probes (video, questionInfo, popupNotice, orgMatching)
  tests/tests/specs/_probes/orgMatching.probe.spec.ts
  tests/tests/specs/_probes/popupNotice.probe.spec.ts
  tests/tests/specs/_probes/questionInfo.probe.spec.ts
  tests/tests/specs/_probes/video.probe.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(119-08): add base/read-only probes (entityFilters, trackingIntercept, theme, navMenu)
  tests/tests/specs/_probes/entityFilters.probe.spec.ts
  tests/tests/specs/_probes/navMenu.probe.spec.ts
  tests/tests/specs/_probes/theme.probe.spec.ts
  tests/tests/specs/_probes/trackingIntercept.probe.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(119-08): harden navMenu.openMobileNav hydration race; robust video probe nav
  tests/tests/fixtures/shared/navMenu.fixture.ts
  tests/tests/specs/_probes/video.probe.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-08): summarize fixtures-first smoke/probes (paused at running-app checkpoint)
  .planning/phases/119-e2e-fixtures-helpers-seed/119-08-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: add Arabic localization planning and research notes
  .planning/phases/arabic-translations/01-PLAN.md
  .planning/phases/arabic-translations/01-SUMMARY.md
  .planning/phases/arabic-translations/02-PLAN.md
  .planning/phases/arabic-translations/02-SUMMARY.md
  .planning/phases/arabic-translations/03-PLAN.md
  .planning/phases/arabic-translations/03-SUMMARY.md
  .planning/phases/arabic-translations/04-PLAN.md
  .planning/phases/arabic-translations/04-SUMMARY.md
  .planning/phases/arabic-translations/05-PLAN.md
  .planning/phases/arabic-translations/05-SUMMARY.md
  .planning/phases/arabic-translations/06-PLAN.md
  .planning/phases/arabic-translations/06-SUMMARY.md
  .planning/phases/arabic-translations/07-PLAN.md
  .planning/phases/arabic-translations/07-SUMMARY.md
  .planning/phases/arabic-translations/GLOSSARY.md
  .planning/phases/arabic-translations/PHASE.md
  .planning/phases/arabic-translations/arabic-translations-CONTEXT.md
  .planning/phases/arabic-translations/arabic-translations-DISCUSSION-LOG.md
  .planning/phases/arabic-translations/arabic-translations-RESEARCH.md
  .planning/phases/arabic-translations/arabic-translations-REVIEW.md
  .planning/phases/arabic-translations/arabic-translations-VALIDATION.md
  .planning/phases/arabic-translations/arabic-translations-VERIFICATION.md
  .planning/quick/260614-qnb-two-rtl-layout-follow-up-fixes-from-manu/260614-qnb-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor[i18n]: migrate physical directional CSS to logical properties
  frontend/src/app.css
  frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  frontend/src/lib/components/alert/Alert.svelte
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/lib/components/entityFilters/EntityFilters.svelte
  frontend/src/lib/components/entityFilters/enumerated/EnumeratedEntityFilter.svelte
  frontend/src/lib/components/errorMessage/ErrorMessage.svelte
  frontend/src/lib/components/expander/Expander.svelte
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/lib/components/successMessage/SuccessMessage.svelte
  frontend/src/lib/components/warning/Warning.svelte
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  frontend/src/lib/dynamic-components/entityDetails/InfoItem.svelte
  frontend/src/lib/dynamic-components/footer/Footer.svelte
  frontend/src/lib/dynamic-components/navigation/NavGroup.svelte
  frontend/src/lib/dynamic-components/navigation/NavItem.svelte
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/nominations/+page.svelte
  frontend/src/routes/[[lang=locale]]/+error.svelte
  frontend/src/routes/[[lang=locale]]/Header.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.svelte
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/settings/+page.svelte
  frontend/tailwind.config.mjs
Due: yarn build:app-shared, prettier --write

feat[i18n]: add RTL direction infrastructure
  frontend/src/app.html
  frontend/src/hooks.server.ts
  frontend/src/lib/contexts/i18n/i18nContext.ts
  frontend/src/lib/contexts/i18n/i18nContext.type.ts
  frontend/src/lib/i18n/init.ts
  frontend/src/lib/i18n/tests/utils.test.ts
  frontend/src/lib/i18n/utils/getLocaleDir.ts
  frontend/src/lib/i18n/utils/index.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[i18n]: auto-detect text direction for author-supplied content
  frontend/src/lib/components/entityTag/EntityTag.svelte
  frontend/src/lib/components/infoAnswer/InfoAnswer.svelte
  frontend/src/lib/components/questions/QuestionOpenAnswer.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
  frontend/src/lib/dynamic-components/entityDetails/InfoItem.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[i18n]: mirror directional icons under RTL
  frontend/src/lib/components/icon/Icon.svelte
  frontend/src/lib/components/icon/Icon.type.ts
  frontend/src/lib/components/icon/icons.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[i18n]: register Arabic as a first-class RTL locale
  backend/vaa-strapi/src/util/appCustomization.ts
  frontend/src/lib/i18n/translations/index.ts
  frontend/src/lib/types/generated/translationKey.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
  tests/tests/rtl.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[i18n]: add Arabic placeholder-safety check script
  frontend/tools/checkArabicPlaceholders/checkArabicPlaceholders.ts
  frontend/tools/checkArabicPlaceholders/checkArabicPlaceholders.verify.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-08): close plan — operator deferred 4 probes to Phase 120
  .planning/phases/119-e2e-fixtures-helpers-seed/119-08-SUMMARY.md
  .planning/phases/119-e2e-fixtures-helpers-seed/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(phase-119): update tracking — 7/8 plans complete (119-02 awaiting running-app verify)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(119-02): record default-seed reconciliation + running-app verification (UNBLK-03 closed)
  .planning/phases/119-e2e-fixtures-helpers-seed/119-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-119): update tracking — all 8 plans complete (UNBLK-03 closed)
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(119): add code review report
  .planning/phases/119-e2e-fixtures-helpers-seed/119-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(119): persist human verification items as UAT + verification report (phase held pending)
  .planning/phases/119-e2e-fixtures-helpers-seed/119-UAT.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-119): hold phase pending UAT — revert premature plan-progress auto-complete (verification human_needed)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: capture todo - Fix view transition flicker in Results section
  .planning/todos/pending/2026-06-15-fix-view-transition-flicker-in-results-section.md
Due: yarn build:app-shared, prettier --write

fix(119): WR-01/WR-02 correct --help built-in template list to registered names
  packages/dev-seed/src/cli/help.ts
  packages/dev-seed/tests/cli/help.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(119): WR-04 reject non-integer --seed with strict integer guard
  packages/dev-seed/src/cli/seed.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(119): WR-05 document popupNotice.dismiss() locale caveat
  tests/tests/fixtures/shared/popupNotice.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119): add code-review fix report
  .planning/phases/119-e2e-fixtures-helpers-seed/119-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

docs(120): capture phase context
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-CONTEXT.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 120 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(120): create phase plan (8 plans, settings-permutation matrix)
  .planning/ROADMAP.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-01-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-02-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-03-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-04-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-05-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-06-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-07-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-08-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(120): add pattern map, fix 120-07 verify expr, record planning complete
  .planning/STATE.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-07-PLAN.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-PATTERNS.md
Due: yarn build:app-shared, prettier --write

test(120-01): wire committed _probes Playwright project
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(120-01): trace-first re-diagnose 4 deferred probes green in isolation
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-01-PROBE-DIAGNOSIS.md
  packages/dev-seed/src/templates/e2e/perm/show-feedback-survey.ts
  tests/tests/fixtures/voter/questionInfo.fixture.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/fixtures/voter/voterQuestionsPage.fixture.ts
  tests/tests/specs/_probes/orgMatching.probe.spec.ts
  tests/tests/specs/_probes/popupNotice.probe.spec.ts
  tests/tests/specs/_probes/questionInfo.probe.spec.ts
  tests/tests/specs/_probes/video.probe.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(120-01): summary + state — 4 probes green-in-isolation, paused at human-verify
  .planning/STATE.md
  .planning/phases/120-e2e-specs-settings-permutation-matrix/120-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(120): stop customData.terms popup polluting the question heading a11y name
  apps/frontend/src/lib/components/term/Term.svelte
Due: none

fix(120): exclude isolation-only @probe tests from the default e2e suite
  package.json
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
