Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix[frontend]: question arguments read for/against, open the extended info and render without info sections
  apps/frontend/messages/fi/questions.json
  apps/frontend/src/lib/components/questions/QuestionArguments.svelte
  apps/frontend/src/lib/components/questions/QuestionArguments.svelte.test.ts
  apps/frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  apps/frontend/src/lib/components/questions/QuestionExtendedInfo.svelte.test.ts
  apps/frontend/src/lib/i18n/tests/translations.test.ts
  apps/frontend/src/lib/i18n/translations/fi/questions.json
  apps/frontend/src/lib/utils/questions/extendedInfo.test.ts
  apps/frontend/src/lib/utils/questions/extendedInfo.ts
  apps/frontend/src/lib/utils/questions/index.ts
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
  packages/dev-seed/src/templates/e2e/perm/perm-interactive-info.ts
  tests/tests/specs/perm/perm-interactive-info.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[docker]: copy root lifecycle scripts before yarn install, and CI builds the production image
  .github/workflows/main.yaml
  apps/frontend/Dockerfile
  packages/dev-seed/tests/ciDockerImageBuildGate.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[build]: hash every tracked file of the Vite apps' turbo build tasks
  CLAUDE.md
  apps/docs/turbo.json
  apps/frontend/turbo.json
  packages/dev-seed/tests/turboBuildInputsGate.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[dev-seed]: service-role clients refuse a non-local Supabase host unless --allow-remote
  packages/dev-seed/README.md
  packages/dev-seed/src/cli/help.ts
  packages/dev-seed/src/cli/seed.ts
  packages/dev-seed/src/cli/teardown-help.ts
  packages/dev-seed/src/cli/teardown.ts
  packages/dev-seed/src/index.ts
  packages/dev-seed/src/localSupabaseUrl.ts
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/src/writer.ts
  packages/dev-seed/tests/cli/fixtures/simulateRootEnv.mjs
  packages/dev-seed/tests/cli/localityGuard.test.ts
  packages/dev-seed/tests/localSupabaseUrl.test.ts
  packages/dev-seed/tests/serviceRoleClientCallSites.test.ts
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style: results-redraw comments and E2E titles describe the code as it is now
  apps/docs/src/routes/(content)/developers-guide/frontend/components/generated/components/modal/drawerHost/DrawerHost/+page.md
  apps/frontend/src/lib/_guards/spike-scaffolding.test.ts
  apps/frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  apps/frontend/src/lib/components/modal/drawerHost/DrawerHost.svelte
  apps/frontend/src/lib/components/modal/drawerHost/drawerHostState.svelte.ts
  apps/frontend/src/lib/routes/route.ts
  apps/frontend/src/lib/utils/viewTransition.test.ts
  apps/frontend/src/lib/utils/viewTransition.ts
  apps/frontend/src/routes/(voters)/(located)/layout.tracking.test.ts
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/page.guards.test.ts
  tests/playwright.config.ts
  tests/tests/fixtures/voter/views.ts
  tests/tests/specs/perm/perm-interactive-info.spec.ts
  tests/tests/specs/voter/voter-results-redraw.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[db]: key the feedback rate limit on the client address, trusting cf-connecting-ip only behind Cloudflare
  .claude/skills/database/schema-reference.md
  .env.example
  apps/docs/src/routes/(content)/developers-guide/configuration/environmental-variables/+page.md
  apps/docs/src/routes/(content)/developers-guide/deployment/+page.md
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/107-feedback.sql
  apps/supabase/supabase/schema/301-auth-functions.sql
  apps/supabase/supabase/seed.sql
  apps/supabase/supabase/tests/database/35-feedback-rate-limit-key.test.sql
  tests/tests/fixtures/shared/feedbackDialog.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[i18n]: generate TranslationKey and edit translations from the Paraglide messages catalog
  apps/frontend/src/lib/i18n/tests/translations.test.ts
  apps/frontend/src/lib/types/generated/translationKey.ts
  apps/frontend/tools/editTranslations/editTranslations.ts
  apps/frontend/tools/translationKey/generateTranslationKeyType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style[i18n]: join the generator's wrapped comment lines
  apps/frontend/tools/translationKey/generateTranslationKeyType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[frontend]: drop the $voter path alias, whose target directory does not exist
  CLAUDE.md
  apps/frontend/README.md
  apps/frontend/svelte.config.js
  apps/frontend/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[deps]: remove dependencies nothing imports
  apps/frontend/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs: point root-relative frontend/ paths at apps/frontend
  ROADMAP.md
  apps/docs/src/routes/(content)/developers-guide/frontend/components/generated/dynamic-components/entityCard/EntityCardAction/+page.md
  apps/frontend/src/routes/+layout.svelte
Due: yarn build:app-shared, prettier --write

docs(quick-261001-n8y): legacy i18n catalog removal and origin/main-era vestige sweep
  .planning/STATE.md
  .planning/quick/261001-n8y-remove-the-legacy-src-lib-i18n-translati/261001-n8y-PLAN.md
  .planning/quick/261001-n8y-remove-the-legacy-src-lib-i18n-translati/261001-n8y-SUMMARY.md
  .planning/quick/261001-n8y-remove-the-legacy-src-lib-i18n-translati/261001-n8y-VESTIGES.md
Due: yarn build:app-shared, prettier --write

docs(roadmap): add phases 167-169 before v2.15 close
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/167-origin-main-vestige-cleanup/.gitkeep
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/.gitkeep
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.gitkeep
Due: yarn build:app-shared, prettier --write

fix[frontend]: a disabled NavItem keeps its secondary text colour
  apps/frontend/src/lib/dynamic-components/navigation/NavItem.svelte
Due: none

docs(166-169): discussion points for the last four v2.15 phases
  .planning/v2.15-166-169-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(166-169): record the filled discussion decisions
  .planning/v2.15-166-169-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(166-169): phase context from the filled discussion points
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-CONTEXT.md
  .planning/phases/167-origin-main-vestige-cleanup/167-CONTEXT.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-CONTEXT.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(168): research and validation strategy
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-RESEARCH.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(168): pattern map
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(167): research and validation strategy
  .planning/phases/167-origin-main-vestige-cleanup/167-RESEARCH.md
  .planning/phases/167-origin-main-vestige-cleanup/167-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(166): research and validation strategy
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-RESEARCH.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(167): pattern map
  .planning/phases/167-origin-main-vestige-cleanup/167-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(166): pattern map
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(169): research and validation strategy
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-RESEARCH.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(169): pattern map
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(167): phase plans
  .planning/phases/167-origin-main-vestige-cleanup/167-01-PLAN.md
  .planning/phases/167-origin-main-vestige-cleanup/167-02-PLAN.md
  .planning/phases/167-origin-main-vestige-cleanup/167-03-PLAN.md
  .planning/phases/167-origin-main-vestige-cleanup/167-04-PLAN.md
  .planning/phases/167-origin-main-vestige-cleanup/167-05-PLAN.md
  .planning/phases/167-origin-main-vestige-cleanup/167-06-PLAN.md
  .planning/phases/167-origin-main-vestige-cleanup/167-REQUIREMENTS-PROPOSED.md
  .planning/phases/167-origin-main-vestige-cleanup/167-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(166): phase plans
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-01-PLAN.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-02-PLAN.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-03-PLAN.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-PLAN.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-REQUIREMENTS-PROPOSED.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-VALIDATION.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-hygiene-scan.sh
Due: yarn build:app-shared, prettier --write

docs(168): phase plans
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-01-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-02-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-03-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-04-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-05-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-06-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-08-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-REQUIREMENTS-PROPOSED.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(166): revise plans after check (droppable sweep tail, resolved research questions)
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-03-PLAN.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-04-PLAN.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(168): split the tooling plan to fit the context budget
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-01-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-01.1-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-02-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-03-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-04-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-05-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-06-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-07-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-08-PLAN.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-REQUIREMENTS-PROPOSED.md
  .planning/phases/168-docs-site-rewrite-strapi-to-supabase/168-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(169): phase plans
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-01-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-02-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-03-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-04-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-05-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-06-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-07-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-08-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-09-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-10-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-11-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-12-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-13-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-LEGITIMACY-APPROVALS.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-REQUIREMENTS-PROPOSED.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(166-169): register requirements and plan lists
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(169): check legitimacy approvals at phase start
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-01-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-03-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-06-PLAN.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-LEGITIMACY-APPROVALS.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(166-169): record planning complete
  .planning/STATE.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

feat(166-01): resolve the caller's entity from their editor grant
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/301-auth-functions.sql
  apps/supabase/supabase/schema/503-entity-rpcs.sql
  apps/supabase/supabase/tests/database/36-entity-identity.test.sql
Due: yarn build:app-shared, prettier --write

feat(166-01): allow one editor per candidate and name the idempotent grant key
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
  apps/supabase/supabase/functions/identity-callback/entityGrant.test.ts
  apps/supabase/supabase/functions/identity-callback/entityGrant.ts
  apps/supabase/supabase/functions/invite-candidate/entityGrant.test.ts
  apps/supabase/supabase/functions/invite-candidate/entityGrant.ts
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/300-auth-tables.sql
  apps/supabase/supabase/tests/database/12-user-can.test.sql
  apps/supabase/supabase/tests/database/36-entity-identity.test.sql
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(166-01): census what anon can read and hold it as TODO until the drop
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-NEGATIVE-CONTROLS.md
  apps/frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  apps/supabase/supabase/tests/database/36-entity-identity.test.sql
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(166-01): complete entity identity from grants plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/166-retire-auth-user-id-entity-identity-from-grants/166-01-SUMMARY.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write
