Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix(138): WR-01 capture the settle baseline at the navigating click, not at wrapper entry
  tests/tests/helpers/index.ts
  tests/tests/helpers/navigation.ts
  tests/tests/specs/voter/eperm07-term-trigger.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(138): WR-02 close three ways stage 2 could pass without the swap landing
  tests/tests/helpers/navigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(138): WR-03 parse the EPERM07_* forcing knobs strictly
  tests/tests/specs/voter/eperm07-term-trigger.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(138): WR-04 record the residual URL-only-settle exposure at the two untouched call sites
  tests/tests/helpers/navigation.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(138): WR-05 refuse to adopt a foreign dev server, and scope the teardown kill
  tests/scripts/e2e-run.sh
Due: none

fix(138): WR-06 a flag given without a value now exits 2 with usage, not silently 1
  tests/scripts/determinism-batch.sh
  tests/scripts/e2e-run.sh
Due: none

fix(138): WR-07 parse df portably and refuse an unreadable free-space value
  tests/scripts/determinism-batch.sh
Due: none

fix(138): WR-08 stamp an incomplete batch from an EXIT trap
  tests/scripts/determinism-batch.sh
Due: none

fix(138): WR-09 make 'preflight-confirmed' a positive assertion
  tests/README.md
  tests/scripts/determinism-batch.sh
  tests/scripts/e2e-run.sh
  tests/tests/support/preflight.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(138): WR-10 put eperm07-term-trigger inside the perm-chain anchor
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(138): add code-review fix report
  .planning/phases/138-def-135-04-eperm-07-root-cause-cardinal-rule-waiver-discharg/138-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

docs(139): capture phase context
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-CONTEXT.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 139 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(139): research phase domain
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-139): add validation strategy
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(139): create phase plan — 7 plans, tracer-first, 15 verdict rows
  .planning/ROADMAP.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-01-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-02-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-03-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-04-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-05-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-06-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-07-PLAN.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(139): create phase plan
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

custom: enable the frontend disk cache in render.yaml
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(139-01): build the verdict apparatus and prove it on F20-4
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-01): F18 verdict - locale block size, run isolated and whole-file
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-01): complete the verdict-apparatus plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(139-02): verdict F16 and F20-6 by injection — both confirmed
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-02): verdict F15-B and F15-C from one shared injection — both confirmed
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-02): complete argument-condensation verdicts plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(139-03): F15-A verdict — confirmed on un-injectability proof plus substituted injection
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-03): F20-5 verdict — confirmed via two injections on one twelve-line test
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-03): complete F15-A and F20-5 verdicts plan
  .planning/REQUIREMENTS.md
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(139-03): update state and roadmap after F15-A and F20-5 verdicts
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(139-04): F19a and F19b verdicts — one JAR injection, two-column outcomes
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-04): F19c verdict — client assertion, two injections, two-column outcomes
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-04): summary — three F19 verdicts, two-column outcomes, R-6 recorded
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(139-04): append self-check to summary
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(139-04): complete the three-F19-sites plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(139-05): confirm F20-1 and F20-2 by injection
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-05): confirm F20-3 by two injections plus a positive control
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-05): confirm F17 on the import graph; all fifteen records filled
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-05): complete the last-four-verdicts plan
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(139-05): update state after the last-four-verdicts plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(139-06): complete § 4 — ordering audit, two-column check and roll-up
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write

docs(139-06): write § 7 scope limits and complete § 8 discarded-and-collateral
  .planning/phases/139-single-source-sweep-findings-confirm-or-withdraw/139-VERDICTS.md
Due: yarn build:app-shared, prettier --write
