Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: move infoSection visibility filtering to universalDataProvider
  frontend/src/lib/api/base/universalDataProvider.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: remove question preheading if showCategoryTags is false
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

fixup! feat: add more items to `CandidateNav` when not logged in
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
Due: none

refactor: Candidate pre-registration layouts
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.type.ts
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! fix: rerouting from unprotected Cand App pages
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: none

refactor: Candidate App layouts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/password/+page.svelte
Due: none

feat: `elections.showElectionTags` dynamic setting
  backend/vaa-strapi/src/components/settings/elections.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! refactor: Candidate App layouts
  frontend/src/lib/components/categoryTag/CategoryTag.svelte
  frontend/src/lib/components/categoryTag/CategoryTag.type.ts
  frontend/src/lib/components/electionTag/ElectionTag.svelte
  frontend/src/lib/components/electionTag/ElectionTag.type.ts
  frontend/src/lib/components/expander/Expander.svelte
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.type.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `access.candidateApp` and `access.voterApp` settings
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/access.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show notifications to users
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/notifications-notification-data.json
  backend/vaa-strapi/src/components/settings/notifications.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/components/notification/Notification.svelte
  frontend/src/lib/components/notification/Notification.type.ts
  frontend/src/lib/components/notification/index.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/popup/popupComponent.type.ts
  frontend/src/lib/contexts/app/popup/popupStore.ts
  frontend/src/lib/contexts/app/popup/popupStore.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Email template
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Cleanup email template
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: yarn build:app-shared, prettier --write

feat[backend]: add `externalId` to mock data
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[backend]: increase upload limits to 20mb
  backend/vaa-strapi/config/middlewares.ts
  backend/vaa-strapi/config/plugins.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[backend]: reorganize Strapi utils
  backend/vaa-strapi/src/api/app-setting/controllers/app-setting.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/functions/loadDefaultAppSettings.ts
  backend/vaa-strapi/src/functions/loadDynamicTranslations.ts
  backend/vaa-strapi/src/functions/setDefaultApiPermissions.ts
  backend/vaa-strapi/src/util/api.ts
  backend/vaa-strapi/src/util/appCustomization.ts
  backend/vaa-strapi/src/util/appSettings.ts
  backend/vaa-strapi/src/util/drop.ts
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  tests/tests/translations.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: import and delete data functions
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/utils/apiResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DataBase.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/Initializer.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/PluginIcon.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/App.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/data.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `externalId` property
  backend/vaa-strapi/src/api/candidate/content-types/candidate/schema.json
  backend/vaa-strapi/src/api/constituency-group/content-types/constituency-group/schema.json
  backend/vaa-strapi/src/api/constituency/content-types/constituency/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/api/question-category/content-types/question-category/schema.json
  backend/vaa-strapi/src/api/question-type/content-types/question-type/schema.json
  backend/vaa-strapi/src/api/question/content-types/question/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: yarn build:app-shared, prettier --write

fix: rerouting from unprotected Cand App pages
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/help/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
Due: none

chore: edit and add translations
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/candidateApp.help.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/en/candidateApp.questions.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.questions.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.questions.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: go to `CandAppHome` when last missing `Question` is answered
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

build: `docker:delete-all` yarn script and fix `sync:translations`
  package.json
Due: yarn build:app-shared, prettier --write

feat: allow saving of incomplete Candidate basic infos
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: none

feat: add `url` type and error handling to `Input`
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/Input.type.ts
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/utils/links.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `ChoiceQuestions` with missing `choices` throw
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: translating objects
  frontend/src/lib/i18n/init.ts
  packages/app-shared/src/data/extendedData.type.ts
  packages/app-shared/src/data/isLocalized.ts
  packages/app-shared/src/data/isLocalizedString.ts
  packages/app-shared/src/data/utils/isPlainObject.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: include metadata in support email
  frontend/src/lib/dynamic-components/feedback/Feedback.svelte
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/email.ts
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: make `CandAppHelp` route unprotected
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `Expander` styling
  frontend/src/lib/components/expander/Expander.svelte
Due: none

feat: allow customizing `<main>` element
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/Layout.type.ts
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.type.ts
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `preRegistration.enable` static setting
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `small-info` and `circled-on-shaded` styles
  frontend/src/app.css
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/components/scoreGauge/ScoreGauge.svelte
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/dynamic-components/footer/Footer.svelte
  frontend/src/lib/dynamic-components/survey/banner/SurveyBanner.svelte
  frontend/src/lib/dynamic-components/survey/popup/SurveyPopup.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandAppHelp` layout and texts
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write

refactor: Candidate pre-registration layouts
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.type.ts
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add more items to `CandidateNav` when not logged in
  frontend/src/lib/components/icon/icons.ts
  frontend/src/lib/components/icon/svg/material/login.ts
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: Candidate App layouts
  frontend/src/lib/components/categoryTag/CategoryTag.svelte
  frontend/src/lib/components/categoryTag/CategoryTag.type.ts
  frontend/src/lib/components/electionTag/ElectionTag.svelte
  frontend/src/lib/components/electionTag/ElectionTag.type.ts
  frontend/src/lib/components/expander/Expander.svelte
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.type.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/password/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `access.candidateApp` and `access.voterApp` settings
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/access.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `elections.showElectionTags` dynamic setting
  backend/vaa-strapi/src/components/settings/elections.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show notifications to users
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/notifications-notification-data.json
  backend/vaa-strapi/src/components/settings/notifications.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/components/alert/Alert.svelte
  frontend/src/lib/components/icon/index.ts
  frontend/src/lib/components/notification/Notification.svelte
  frontend/src/lib/components/notification/Notification.type.ts
  frontend/src/lib/components/notification/index.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/popup/popupComponent.type.ts
  frontend/src/lib/contexts/app/popup/popupStore.ts
  frontend/src/lib/contexts/app/popup/popupStore.type.ts
  frontend/src/lib/dynamic-components/dataConsent/popup/DataConsentPopup.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Candidate App privacy page
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/app.css
  frontend/src/lib/candidate/components/termsOfUse/TermsOfUse.svelte
  frontend/src/lib/candidate/components/termsOfUse/index.ts
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/en/candidateApp.privacy.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.privacy.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/index.ts
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.privacy.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/privacy/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: poll app for updates and reload if updated
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/svelte.config.js
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
