Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix(128-02): concrete-type candidate +layout.server.ts serverClient seam (TYPE-07)
  apps/frontend/src/routes/candidate/(protected)/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(128-02): align setPassword type-truth, drop dead confirm-password prop (TYPE-07)
  apps/frontend/src/lib/contexts/auth/authContext.svelte.ts
  apps/frontend/src/lib/contexts/auth/authContext.type.ts
  apps/frontend/src/routes/candidate/(protected)/settings/+page.svelte
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(128-02): complete production-side type-truth seams plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(128-03): use SendingStatus 'default' idle member in FeedbackPopup
  apps/frontend/src/lib/dynamic-components/feedback/popup/FeedbackPopup.svelte
Due: none

fix(128-03): use built-in ViewTransition lib types in viewTransition.ts
  apps/frontend/src/lib/utils/viewTransition.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(128-03): collapse dead entity-type branch in EntityInfo
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

fix(128-03): pass numeric tabindex to QuestionHeading component prop
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

docs(128-03): complete long-tail type-truth singles plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(128-04): rework Term.svelte trigger to focusable button, clearing a11y_no_noninteractive_tabindex
  apps/frontend/src/lib/components/term/Term.svelte
Due: none

fix(128-04): add role=group to docs screenshot carousel, clearing a11y_no_static_element_interactions
  apps/docs/src/routes/+page.svelte
Due: none

docs(128-04): complete long-tail a11y svelte-check warnings plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(128-05): complete D-07 full acceptance gate — svelte-check 24/1→0/0 frontend + 0/1→0/0 docs, build 14/14, unit 19/19, E2E 125/0/0
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(128): add code review report
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(128): persist human verification items as UAT
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-UAT.md
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(128): WR-01/WR-02 rework Term.svelte trigger as accessible toggletip button
  apps/frontend/src/lib/components/term/Term.svelte
Due: none

fix(128): WR-03 return undefined for already-answered question in getNextQuestionId
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

fix(128): WR-04 use saveFailed message for empty-payload guard in setAnswer
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

docs(128): add code review fix report
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

fix(128): revert WR-03 — the -1 fall-through in getNextQuestionId is load-bearing
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

docs(128): amend fix report — WR-03 reverted after E2E falsification; trusted 125/0/0
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

feat(dev-seed): default template — 1/5 of questions carry customData.terms
  packages/dev-seed/src/templates/defaults/questions-override.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(128): complete UAT - 1 passed, 0 issues
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-UAT.md
Due: yarn build:app-shared, prettier --write

docs(phase-128): add security threat verification
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-SECURITY.md
Due: yarn build:app-shared, prettier --write

docs(phase-128): complete phase execution
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/128-svelte-check-0-long-tail-tests-docs/128-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(129): capture batch discussion + generate 129/130 context
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-130-DISCUSSION.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-CONTEXT.md
  .planning/phases/130-e2e-specs-new-feature-coverage/130-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(129): research phase domain — pin alliance residual gap + input dispatch sites
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-129): add validation strategy
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(129): UI design contract
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(129): UI design contract — probe-reconciled UI Considerations
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(129): pattern map for planner
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(129): create phase plans (8 plans, 4 waves)
  .planning/ROADMAP.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-01-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-02-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-03-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-04-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-05-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-06-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-07-PLAN.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-08-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(129): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(129-01): add failing tests for MultipleChoiceCategorical matching
  packages/data/src/objects/questions/variants/multipleChoiceCategoricalQuestion.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-01): implement MultipleChoiceCategorical matching trio (D-06)
  packages/data/src/objects/questions/variants/multipleChoiceCategoricalQuestion.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-01): add isNumberQuestion type guard and export from @openvaa/data
  packages/data/src/index.ts
  packages/data/src/utils/typeGuards.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(129-01): complete MultipleChoiceCategorical matching + isNumberQuestion plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(129-02): add six customData.Question keys (D-02, D-07, number range)
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(129-02): add failing test for number min/max customData bridge
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(129-02): bridge custom_data.min/max into NumberQuestionData min/max
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(129-02): complete customData keys + number min/max bridge plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/129-new-feature-build-question-inputs-alliance-render-nomination/129-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write
