Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `ErrorMessage` component
  frontend/src/lib/components/errorMessage/ErrorMessage.svelte
  frontend/src/lib/components/errorMessage/ErrorMessage.type.ts
  frontend/src/lib/components/errorMessage/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: make some CSS styles global
  frontend/src/app.css
  frontend/tailwind.config.mjs
Due: yarn build:app-shared, prettier --write

chore: update typing
  frontend/src/lib/i18n/init.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update frontend types
  frontend/src/app.d.ts
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: bg color in some Candidate App inputs
  frontend/src/lib/candidate/components/input/MultipleChoiceInput.svelte
  frontend/src/lib/candidate/components/input/SingleChoiceInput.svelte
  frontend/src/lib/components/common/form/Field.svelte
Due: none

refactor: increase number of mock candidates
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `build:app-shared` yarn script
  package.json
Due: yarn build:app-shared, prettier --write

fix: top-level `await` in Data API
  frontend/src/lib/api/dataProvider.ts
  frontend/src/lib/api/feedbackWriter.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/server/api/dataProvider.ts
  frontend/src/lib/server/api/feedbackWriter.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.ts
  frontend/src/routes/[[lang=locale]]/api/data/[collection]/+server.ts
  frontend/src/routes/[[lang=locale]]/api/feedback/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! docs: `DataProvider` API, contexts and state management
  docs/frontend/README.md
  docs/frontend/components.md
  docs/frontend/contexts.md
  docs/frontend/data-and-state-management.md
  docs/frontend/data-api.md
  docs/frontend/data-provider.md
  docs/frontend/routing.md
Due: yarn build:app-shared, prettier --write

fixup! feat: static and dynamic components
  frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
Due: none

fix: access control restrictions
  backend/vaa-strapi/src/api/question-category/routes/question-category.ts
  backend/vaa-strapi/src/util/acl.ts
  backend/vaa-strapi/src/util/acl.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: maximum Strapi item limit
  backend/vaa-strapi/config/api.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! feat: full `DataProvider` api for the Voter App
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.type.ts
  frontend/src/lib/api/adapters/strapi/utils/buildFilterParams.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! refactor: increase number of mock candidates
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! feat: remake Voter App routes
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

fixup! fixup! feat: static and dynamic components
  frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
Due: none

build: wait for mock data generation in `main.yaml`
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Node 20.18.1
  .github/workflows/main.yaml
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/README.md
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.tsbuildinfo
  docs/docker-setup-guide.md
  frontend/Dockerfile
  frontend/package.json
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove `strapi-plugin-import-export-entries`
  .github/workflows/main.yaml
  .gitmodules
  .prettierignore
  backend/vaa-strapi/.dockerignore
  backend/vaa-strapi/.prettierignore
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/README.md
  backend/vaa-strapi/config/plugins.ts
  backend/vaa-strapi/eslint.config.mjs
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/mockData/mockCandidateForTesting.json
  backend/vaa-strapi/tsconfig.json
  docs/candidate-app/import-functionality.md
  docs/docker-setup-guide.md
  tests/tests/candidateApp-advanced.spec.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: remove unused `qa` workflow
  .github/workflows/qa.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Yarn 4.6
  .github/workflows/main.yaml
  .gitignore
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  frontend/Dockerfile
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: upgrade dependencies
  backend/vaa-strapi/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

fix: frontend unit tests
  frontend/package.json
  frontend/src/lib/utils/tests/answers.test.ts
  frontend/src/lib/utils/tests/navigation.test.ts
  frontend/svelte.config.js
  frontend/vitest.config.ts
  package.json
  vitest.workspace.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add `vitest` to root packaged dev deps
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs: update README.md
  README.md
Due: yarn build:app-shared, prettier --write

chore: TODO notes for future `DataWriter` update
  packages/app-shared/src/settings/settings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: harmonize variant naming
  packages/data/src/objects/entities/base/exports.ts
  packages/data/src/objects/entities/variants/variants.ts
  packages/data/src/objects/nominations/variants/variants.ts
  packages/data/src/root/dataRoot.ts
  packages/data/src/root/dataRoot.type.ts
  packages/data/src/testUtils/parseNominations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: question getters by category type
  packages/data/src/root/dataRoot.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: additional exports from `@openvaa/data`
  packages/data/src/core/exports.ts
  packages/data/src/objects/entities/exports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: rename `Colors.default` property
  packages/data/src/core/colors.type.ts
  packages/data/src/testUtils/testData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run prettier
  frontend/src/lib/candidate/components/input/PhotoInput.svelte
  frontend/src/lib/candidate/templates/question/QuestionPage.svelte
  frontend/src/lib/components/entityCard/EntityCard.svelte
  frontend/src/lib/components/entityDetails/EntityDetails.svelte
  frontend/src/lib/components/entityListControls/EntityListControls.svelte
  frontend/src/lib/components/feedback/Feedback.svelte
  frontend/src/lib/components/survey/SurveyButton.svelte
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/templates/page/Page.svelte
  frontend/src/lib/templates/page/parts/VoterNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/results/[entityType]/[entityId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/preview/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/settings/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/PasswordResetPage.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/PasswordSetPage.svelte
Due: none

refactor: update `ensureColors`
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/index.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/legacyEnsureColors.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/parseCustomData.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/parseParty.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/parseQuestionCategory.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

deps: add `qs` to frontend
  frontend/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
