Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(151-11): record F-18's discharge in slice 02's item-7 cell
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-11): write the PR body for stack slice 02
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/02.md
Due: yarn build:app-shared, prettier --write

docs(151-11): record slice 03's cut, slice 02's re-cut and PR #865
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-11): correct five citations of an amended commit hash
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-11): complete sweep-and-cut plan for the Supabase slice
  .planning/phases/151-ship-v0-2-akita-review-stack/151-11-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-11): record state, roadmap and windows-ledger entries for the Supabase slice
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-11-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-12): complete the dev-seed public-API inventory
  packages/dev-seed/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-12): correct the dev-seed README's retired built-in template name
  packages/dev-seed/README.md
Due: yarn build:app-shared, prettier --write

docs(151-12): state the dev-seed teardown path's real environment guard
  packages/dev-seed/README.md
Due: yarn build:app-shared, prettier --write

fix(151-12): report the cause when the built-in template registry fails to load
  packages/dev-seed/src/cli/seed.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-12): document the reason for the dev-seed test any-suppressions
  packages/dev-seed/tests/cli/teardown.test.ts
  packages/dev-seed/tests/supabaseAdminClient.test.ts
  packages/dev-seed/tests/writer.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-12): correct the developers' guide's dev-seed testing claims
  apps/docs/src/routes/(content)/developers-guide/development/testing/+page.md
Due: yarn build:app-shared, prettier --write

docs(151-12): disposition slice 04 against the 12 per-slice checklist items
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-12): record slice 04's cut and PR #866
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/03.md
Due: yarn build:app-shared, prettier --write

docs(151-12): complete sweep-and-cut plan for the dev-seed slice
  .planning/phases/151-ship-v0-2-akita-review-stack/151-12-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-12): record state, roadmap and windows-ledger entries for the dev-seed slice
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
Due: yarn build:app-shared, prettier --write

fix(151-13): repair the 38 comments the hygiene codemod left broken in tests/
  tests/playwright.config.ts
  tests/scripts/determinism-batch.sh
  tests/scripts/e2e-run.sh
  tests/tests/fixtures/shared/navMenu.fixture.ts
  tests/tests/fixtures/voter/entityDetails.fixture.ts
  tests/tests/fixtures/voter/questionInfo.fixture.ts
  tests/tests/fixtures/voter/resultsPage.fixture.ts
  tests/tests/setup/shared/base.teardown.ts
  tests/tests/specs/_probes/orgMatching.probe.spec.ts
  tests/tests/specs/_probes/popupNotice.probe.spec.ts
  tests/tests/specs/_probes/video.probe.spec.ts
  tests/tests/specs/voter/eperm07-term-trigger.spec.ts
  tests/tests/specs/voter/voter-alliance.spec.ts
  tests/tests/specs/voter/voter-dark-mode.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-nominations.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-13): remove the 14 bare plan identifiers left in tests/ comments
  tests/playwright.config.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/specs/perm/perm-show-feedback-survey.spec.ts
  tests/tests/specs/voter/eperm07-term-trigger.spec.ts
  tests/tests/utils/bankAuthJourneyConstants.ts
  tests/tests/utils/testIds.ts
  tests/tests/utils/testKeys.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-13): document the isolation-probe project and complete the shared-fixture inventory
  tests/README.md
Due: yarn build:app-shared, prettier --write

docs(151-13): correct six false claims about the E2E suite in the Developers' Guide
  apps/docs/src/routes/(content)/developers-guide/development/testing/+page.md
Due: yarn build:app-shared, prettier --write

docs(151-13): correct three rigidity contracts that claimed zero soft assertions
  tests/tests/fixtures/candidate/candidateHomePage.fixture.ts
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-13): disposition slice 05 — the E2E suite, 12 cells with the scan complements named
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-13): record slice 05's cut, criterion 4.3, and PR #867
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/04.md
Due: yarn build:app-shared, prettier --write

docs(151-13): complete the E2E-slice sweep-and-cut plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-13-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-13): record state, roadmap and windows-ledger entries for the E2E slice
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
Due: yarn build:app-shared, prettier --write

fix(151-14): repair five comments the hygiene codemod left broken in the frontend library
  apps/frontend/src/lib/api/utils/auth/__tests__/token-endpoint.test.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.type.ts
  apps/frontend/src/lib/utils/viewTransition.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-14): repair the F-42 comment damage in the frontend eslint config
  apps/frontend/eslint.config.mjs
Due: none

docs(151-14): correct four component usage examples that document a deleted store API
  apps/frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  apps/frontend/src/lib/components/electionSelector/ElectionSelector.svelte
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
Due: none

fix(151-14): stop the two admin job features logging debug output to the server console
  apps/frontend/src/lib/server/admin/features/condenseArguments.ts
  apps/frontend/src/lib/server/admin/features/generateQuestionInfo.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-14): document the three exempted `any` uses, one a11y suppression, and two unused row mappers
  apps/frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  apps/frontend/src/lib/api/adapters/supabase/supabaseAdapter.ts
  apps/frontend/src/lib/api/adapters/supabase/utils/mapRow.ts
  apps/frontend/src/lib/components/button/Button.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-14): rename a corrupted README and repair eight dead local doc links
  apps/frontend/src/lib/api/README.md
  apps/frontend/src/lib/candidate/components/README.md
  apps/frontend/src/lib/components/README.md
  apps/frontend/src/lib/contexts/README.md
  apps/frontend/src/lib/dynamic-components/README.md
  apps/frontend/src/lib/server/api/README.md
  apps/frontend/src/routes/README.md
  apps/frontend/src/routes/candidate/README.md
Due: yarn build:app-shared, prettier --write

docs(151-14): disposition slice 06 — 15 cells, the adapter block proven by enumeration
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-14): record slice 06's cut and PR #868
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/05.md
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/build-slice.sh
Due: yarn build:app-shared, prettier --write

docs(151-14): complete the frontend-library sweep-and-cut plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-14-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(151-14): repair YAML-invalid frontmatter in the plan summary
  .planning/phases/151-ship-v0-2-akita-review-stack/151-14-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-14): record state, roadmap and windows-ledger entries for the frontend-library slice
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-14-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(151-15): repair the comments the hygiene codemod left broken in the routing surface
  apps/frontend/src/params/etPl.ts
  apps/frontend/src/routes/(voters)/(located)/+layout.ts
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/[[entityTab=etPl]]/[[entity=etSg]]/[[id]]/+page.ts
  apps/frontend/src/routes/(voters)/+layout.svelte
  apps/frontend/src/routes/(voters)/constituencies/+page.svelte
  apps/frontend/src/routes/(voters)/constituencies/+page.ts
  apps/frontend/src/routes/(voters)/elections/+page.svelte
  apps/frontend/src/routes/(voters)/elections/+page.ts
  apps/frontend/src/routes/(voters)/info/+page.svelte
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/admin/(protected)/argument-condensation/+page.svelte
  apps/frontend/src/routes/admin/(protected)/question-info/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/elections/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
