Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(87): mark phase planned in STATE.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: capture todo - refactor db-prefixed package scripts to only affect db
  .planning/todos/pending/2026-05-15-refactor-package-scripts-db-prefixed-scripts-only-affect-the.md
Due: yarn build:app-shared, prettier --write

fix(candidate/login): autofocus password only when email prefilled from context
  apps/frontend/src/routes/candidate/login/+page.svelte
Due: none

docs(85-03): plan post-close cascade-tail cleanup (DETERM-12a/13)
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-03-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(85-03): apply --likert-only filter in variant-multi-election setup (DETERM-12a/13)
  packages/dev-seed/src/index.ts
  tests/tests/setup/variant-multi-election.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(85-03): refactor multi-election spec to per-test page fixture
  tests/tests/specs/variants/multi-election.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(85-03): close post-close cleanup — DETERM-12a/13 resolved + cascade-tail unblocked
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(85-04): remove trace: 'off' workarounds from 11 specs
  tests/tests/specs/variants/1e-Nc.spec.ts
  tests/tests/specs/variants/Ne-Nc.spec.ts
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/results-sections.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-navigation.spec.ts
  tests/tests/specs/voter/voter-not-located-redirect.spec.ts
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
  tests/tests/specs/voter/voter-popups.spec.ts
  tests/tests/specs/voter/voter-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(85-04): plan + summary for trace cleanup; archive e2e diagnostic
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-04-PLAN.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/85-04-SUMMARY.md
  .planning/phases/85-variant-project-cascade-rca-fix-investigate-and-close-the-47/post-fix/run-with-traces-restored.json
Due: yarn build:app-shared, prettier --write

docs(88): draft pre-phase-87 convergence sweep context
  .planning/phases/88-pre-phase-87-convergence-sweep/88-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(86.1): insert Phase 86.1 into ROADMAP — Pre-Phase-87 Convergence Sweep
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(86.1): apply ROADMAP / STATE / CONTEXT content updates
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(86.1): plan Phase 86.1 — Pre-Phase-87 Convergence Sweep
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-01-PLAN.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-02-PLAN.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-03-PLAN.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-04-PLAN.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-PATTERNS.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-RESEARCH.md
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(86.1-01): capture D-03 side-effect audit (DETERM-12/13/14 path-b2 safety proof)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-01-side-effect-audit.txt
Due: none

fix(86.1-01): bump answeredVoterPage Skip-Next tail from 3 to 6 iterations (DETERM-12/13/14 fixture-loop unblock)
  tests/tests/fixtures/voter.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86.1-01): capture per-spec smokes — cluster #2 closed, cluster #1 PARTIAL (DETERM-12/13/14)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-01-smoke-variant-constituency.txt
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-01-smoke-voter-detail.txt
Due: none

docs(86.1-01): close plan — answeredVoterPage Skip-Next budget bump (DETERM-12/13/14 fixture-loop unblock)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(86.1-02): voter-feedback-persistence H4 close-transition mitigation (DETERM-13)
  tests/tests/specs/voter/voter-feedback-persistence.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86.1-02): skip voter-feedback-persistence + v2.11+ todo (DETERM-13 RCA budget exceeded; H4 insufficient)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-02-smoke-feedback-persistence.txt
  .planning/todos/pending/2026-05-16-voter-feedback-persistence-second-pass.md
  tests/tests/specs/voter/voter-feedback-persistence.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86.1-02): close plan — voter-feedback-persistence second pass (DETERM-13)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(86.1-03): skip LAYOUT-03 deeplink (DETERM-12 PASS-WITH-DEFERRAL inheritance)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-03-cell1-smoke.txt
  .planning/todos/pending/2026-05-16-voter-popup-hydration-layout-03-deeplink.md
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(86.1-03): skip voter-not-located-redirect CLEAN-02 (DETERM-14 RCA budget exceeded)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-03-cell2-smoke.txt
  .planning/todos/pending/2026-05-16-voter-not-located-redirect-clean-02.md
  tests/tests/specs/voter/voter-not-located-redirect.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(86.1-03): candidate-profile-validation networkidle settle (A11Y-01 chain-head; DETERM-14)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/post-fix/86.1-03-cell3-smoke.txt
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86.1-03): close plan — per-cell deferral reconciliation (DETERM-12 + DETERM-14)
  .planning/phases/86.1-pre-phase-87-convergence-sweep-drive-v2-10-e2e-suite-to-all-/86.1-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(86.1-04): apply Path A1 — mirror Phase 85-03 applyLikertOnlyFilter to variant-constituency.setup.ts
  tests/tests/setup/variant-constituency.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86.1): close STATE.md Current Position after 86.1-04 verdict
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: capture todo - Extend e2e tests to cover election- and constituency-scoped questions
  .planning/todos/pending/2026-05-16-extend-e2e-tests-to-cover-election-and-constituency-scoped-q.md
Due: yarn build:app-shared, prettier --write

docs(todo): augment scoped-questions todo with backend schema blocker
  .planning/todos/pending/2026-05-16-extend-e2e-tests-to-cover-election-and-constituency-scoped-q.md
Due: yarn build:app-shared, prettier --write

wip(87): pause — post-fix stabilization complete, awaiting 85-04 (CASCADE=40 vs ≤5)
  .planning/HANDOFF.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/.continue-here.md
Due: yarn build:app-shared, prettier --write

docs(86.2,86.3): batched discuss-phase — capture phase contexts
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-CONTEXT.md
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-DISCUSSION-LOG.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-CONTEXT.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(86.2): research phase domain — 6 helpers + propagation surface
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(86.2): add validation strategy
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(86.2): pattern map — 6 helpers + 9 anchor specs + fixture
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(86.2): create phase plan — 3 plans for helper extraction + propagation + close gate
  .planning/ROADMAP.md
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-01-PLAN.md
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-02-PLAN.md
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(86.2): mark RESEARCH open questions resolved
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(86.2-01): add helpers/README.md per RESEARCH Q3
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(86.2-03): move CASCADE/did-not-run thresholds from Task 2 to Task 3 (acceptance owner correction)
  .planning/phases/86.2-e2e-suite-refactor-pass-extract-helpers-dedup-assertions-pro/86.2-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(86.2): mark plans ready to execute (STATE update)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(86.3): research phase domain — 8-cell skipped-tests RCA + Validation Architecture
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-RESEARCH.md
Due: yarn build:app-shared, prettier --write
