Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(25-04): implement _getEntityData and _getQuestionData
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(25-04): add failing tests for _getNominationData
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(25-04): implement _getNominationData with entity deduplication
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(25-04): complete entity/question/nomination DataProvider plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-dataprovider/25-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-25): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-dataprovider/25-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-25): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(26): capture phase context
  .planning/phases/26-datawriter/26-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 26 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(26): research phase domain
  .planning/phases/26-datawriter/26-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-26): add validation strategy
  .planning/phases/26-datawriter/26-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(26-datawriter): create phase plan
  .planning/ROADMAP.md
  .planning/phases/26-datawriter/26-01-PLAN.md
  .planning/phases/26-datawriter/26-02-PLAN.md
  .planning/phases/26-datawriter/26-03-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(26): revise plans based on checker feedback
  .planning/phases/26-datawriter/26-01-PLAN.md
  .planning/phases/26-datawriter/26-VALIDATION.md
Due: yarn build:app-shared, prettier --write

feat(26-01): update DataWriter interface and UniversalDataWriter abstract class
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(26-01): update adapters, candidateUserDataStore, and register pages
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/contexts/candidate/candidateUserDataStore.ts
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/password/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(26-01): complete DataWriter interface changes plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-datawriter/26-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(26-03): add failing tests for _setAnswers merge, overwrite, file upload, and error handling
  apps/supabase/supabase/migrations/00003_get_candidate_user_data_rpc.sql
  apps/supabase/supabase/schema/005-nominations.sql
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(26-03): implement _setAnswers with File detection and Storage upload
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(26-03): add failing tests for _updateEntityProperties
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(26-03): implement _updateEntityProperties for termsOfUseAccepted
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(26-02): add failing tests for getBasicUserData, getCandidateUserData, and register
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(26-02): implement _getBasicUserData and _getCandidateUserData
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(26-03): complete setAnswers/updateEntityProperties plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-datawriter/26-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(26-02): complete user data methods plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-datawriter/26-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-26): complete phase execution
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(phase-26): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(27): capture phase context
  .planning/phases/27-adminwriter/27-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 27 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(27): research phase domain
  .planning/phases/27-adminwriter/27-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-27): add validation strategy
  .planning/phases/27-adminwriter/27-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(27): create phase plan
  .planning/ROADMAP.md
  .planning/phases/27-adminwriter/27-01-PLAN.md
  .planning/phases/27-adminwriter/27-02-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(27): revise plans based on checker feedback
  .planning/phases/27-adminwriter/27-01-PLAN.md
  .planning/phases/27-adminwriter/27-VALIDATION.md
Due: yarn build:app-shared, prettier --write

feat(27-01): add admin_jobs table and merge_custom_data RPC
  apps/supabase/supabase/migrations/00004_admin_jobs_and_merge_rpc.sql
  apps/supabase/supabase/schema/019-admin-jobs.sql
Due: none

test(27-01): add pgTAP tests for admin_jobs table and merge_custom_data RPC
  apps/supabase/supabase/tests/database/00-helpers.test.sql
  apps/supabase/supabase/tests/database/10-schema-migrations.test.sql
Due: none

docs(27-01): complete database infrastructure plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/27-adminwriter/27-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(27-02): implement _updateQuestion and _insertJobResult in SupabaseDataWriter
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(27-02): complete admin writer methods plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/27-adminwriter/27-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-27): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/27-adminwriter/27-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-27): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(28): capture phase context
  .planning/phases/28-edge-functions/28-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 28 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
