Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: showing `Nomination`s with not children
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `onChange` and `labelsClass` props for `Toggle`
  frontend/src/lib/components/toggle/Toggle.svelte
  frontend/src/lib/components/toggle/Toggle.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `matching.questionWeights` settings
  backend/vaa-strapi/src/components/settings/matching.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add `QuestionWeightInput` component
  frontend/src/lib/components/questions/QuestionWeightInput.svelte
  frontend/src/lib/components/questions/QuestionWeightInput.type.ts
  frontend/src/lib/components/toggle/Toggle.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.svelte
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/matching/index.ts
  frontend/src/lib/utils/matching/weights.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/tools/translationKey/generateTranslationKeyType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[matching]: edit comments and tests
  packages/matching/src/distance/measure.type.ts
  packages/matching/src/distance/metric.ts
  packages/matching/tests/distance.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: implement question weights for matching
  frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  frontend/src/lib/components/questions/OpinionQuestionInput.type.ts
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/contexts/voter/answerStore.ts
  frontend/src/lib/contexts/voter/answerStore.type.ts
  frontend/src/lib/contexts/voter/countAnswers.ts
  frontend/src/lib/contexts/voter/matchStore.ts
  frontend/src/lib/contexts/voter/parseVoterAnswers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

renewals - working rubrics but unworking frontend due to vite shananigans
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/components/DocumentSidebar.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/components/DocumentUploadZone.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/components/ExtractionReview.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/components/FileViewer.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/components/MetadataForm.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing-deprecated/components/SegmentationReview.svelte
  frontend/src/routes/[[lang=locale]]/api/file-processing/document/[id]/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/extract-metadata/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/extract/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/file/[id]/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/metadata/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/re-review-extraction/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/re-review-segmentation/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/segment/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/upload/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  frontend/vite.config.ts
  packages/chatbot/package.json
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/core/chat.ts
  packages/chatbot/src/defaultConfig/index.ts
  packages/chatbot/src/prompts/phaseRouter.yaml
  packages/chatbot/src/prompts/systemPrompt_phases.yaml
  packages/chatbot/src/prompts/userQueryWithContext.yaml
  packages/chatbot/src/scripts/chatbotEvaluation.ts
  packages/chatbot/src/scripts/chatbotEvaluationConfig.yaml
  packages/chatbot/src/scripts/test.ts
  packages/chatbot/src/scripts/testConfig.yaml
  packages/chatbot/src/utils/promptLoader.ts
  packages/vector-store/package.json
  packages/vector-store/src/types.ts
  packages/vector-store/src/utils.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chat[tests]: they work
  packages/chatbot/src/scripts/conversationTests.ts
  packages/chatbot/src/scripts/conversationTests.yaml
  packages/chatbot/src/scripts/ragTests.ts
  packages/chatbot/src/scripts/singleMessageTests.ts
  packages/chatbot/src/scripts/singleMessageTests.yaml
  packages/chatbot/src/scripts/testConfig.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! build: `render.yaml` example
  render.example.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `questions.resultsPreview` setting
  backend/vaa-strapi/src/components/settings/questions-results-preview.json
  backend/vaa-strapi/src/components/settings/questions.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: check translations with the `generateTranslationKeyType` tool
  frontend/tools/translationKey/generateTranslationKeyType.ts
  frontend/tools/translationKey/utils/flattenKeys.ts
  frontend/tools/translationKey/utils/pathsAndLocales.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `ResultsPreview` component
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/entityChip/EntityChip.svelte
  frontend/src/lib/components/entityChip/EntityChip.type.ts
  frontend/src/lib/components/entityChip/index.ts
  frontend/src/lib/components/entityTag/EntityTag.svelte
  frontend/src/lib/components/entityTag/EntityTag.type.ts
  frontend/src/lib/components/matchScore/MatchScore.svelte
  frontend/src/lib/components/matchScore/MatchScore.type.ts
  frontend/src/lib/i18n/translations/da/components.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/voter/components/resultsPreview/ResultsPreview.svelte
  frontend/src/lib/voter/components/resultsPreview/ResultsPreview.type.ts
  frontend/src/lib/voter/components/resultsPreview/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: remove unnecessary top margin from `Layout`
  backend/vaa-strapi/docker-compose.dev.yml
  frontend/src/routes/[[lang=locale]]/Layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: enable results previews on the Questions route
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: `testConditions` setting
  packages/app-shared/src/index.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
  packages/app-shared/src/types/deepPartial.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings for luxemburg vaa
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: use Euclidean distance metric
  frontend/src/lib/contexts/voter/voterContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: fix `editTranslations` tool
  frontend/tools/editTranslations/editTranslations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: use `deepMergeRecursively` for app settings
  frontend/src/lib/utils/merge.ts
  frontend/src/lib/utils/settings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: implement `testConditions`
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/survey.ts
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/contexts/app/tracking/trackingService.ts
  frontend/src/lib/contexts/app/tracking/trackingService.type.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chatbot: improve state handling
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/core/chat.ts
  packages/chatbot/src/defaultConfig/onboardingMessages.ts
  packages/chatbot/src/prompts/phaseRouter.yaml
  packages/chatbot/src/prompts/systemPrompt_phases.yaml
  packages/chatbot/src/scripts/chatbotTests.ts
  packages/chatbot/src/scripts/singleMessageTests.yaml
  packages/chatbot/src/utils/phaseRouter.ts
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/llm-providers/provider.types.ts
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/vectorStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

broken: some changes
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/core/cannedResponses.ts
  packages/chatbot/src/core/chat.ts
  packages/chatbot/src/core/queryCategories.ts
  packages/chatbot/src/core/ragAgent.ts
  packages/chatbot/src/defaultConfig/chatbotSkills.ts
  packages/chatbot/src/prompts/phaseRouter.yaml
  packages/chatbot/src/prompts/queryRouter.yaml
  packages/chatbot/src/prompts/systemPrompt_phases.yaml
  packages/chatbot/src/utils/conversationLogger.ts
  packages/chatbot/src/utils/messageHistoryFormatter.ts
  packages/chatbot/src/utils/phaseRouter.ts
  packages/chatbot/src/utils/queryRouter.ts
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/prompts/queryRouting.yaml
  packages/vector-store/src/core/utils/index.ts
  packages/vector-store/src/core/utils/queryRouting.ts
  packages/vector-store/src/core/vectorStore.type.ts
  packages/vector-store/src/types.ts
  packages/vector-store/src/utils.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

m
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/controller/index.ts
  packages/chatbot/src/core/ragAgent.ts
  packages/chatbot/src/defaultConfig/config.ts
  packages/chatbot/src/defaultConfig/providers.ts
  packages/chatbot/src/index.ts
  packages/chatbot/src/prompts/queryReformulator.yaml
  packages/chatbot/src/scripts/chatbotTests.ts
  packages/chatbot/src/utils/queryReformulator.ts
  packages/chatbot/tsconfig.json
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/utils/deduplicateResults.ts
  packages/vector-store/src/core/utils/topicAllocation.ts
  packages/vector-store/src/core/vectorStore.type.ts
  packages/vector-store/src/scripts/vectorRetrievalTest.ts
  packages/vector-store/tsconfig.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

checkpoint
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/core/cannedResponses.ts
  packages/chatbot/src/defaultConfig/chatbotSkills.ts
  packages/chatbot/src/index.ts
  packages/chatbot/src/prompts/queryRouter.yaml
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/utils/rerank.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

readme.md instructions
  packages/chatbot/README.md
Due: yarn build:app-shared, prettier --write

feat: add info about question weights to Intro page
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fr/dynamic.json
  frontend/src/lib/i18n/translations/lb/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: hide unnecessary routes
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
Due: none

custom: hide text search from results
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

custom: open feedback in modal instead of popup
  frontend/src/lib/contexts/app/appContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: force submitting of feedback
  frontend/src/lib/dynamic-components/feedback/modal/FeedbackModal.svelte
Due: none

feat[i18n]: update translations
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/entityDetails.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fr/about.json
  frontend/src/lib/i18n/translations/fr/common.json
  frontend/src/lib/i18n/translations/fr/components.json
  frontend/src/lib/i18n/translations/fr/dynamic.json
  frontend/src/lib/i18n/translations/fr/entityDetails.json
  frontend/src/lib/i18n/translations/fr/feedback.json
  frontend/src/lib/i18n/translations/fr/results.json
  frontend/src/lib/i18n/translations/lb/about.json
  frontend/src/lib/i18n/translations/lb/common.json
  frontend/src/lib/i18n/translations/lb/components.json
  frontend/src/lib/i18n/translations/lb/dynamic.json
  frontend/src/lib/i18n/translations/lb/entityDetails.json
  frontend/src/lib/i18n/translations/lb/results.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

chore: format code
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/matchScore/MatchScore.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.svelte
  frontend/src/lib/voter/components/resultsPreview/ResultsPreview.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: none

custom: add control testCondition
  packages/app-shared/src/settings/dynamicSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: provide an abstract API for admin app job management
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/admin/features.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/emergency-cleanup/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! feat[backend]: Admin Job content type
  backend/vaa-strapi/types/generated/components.d.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[admin-app]: get admin features dynamically for the jobs page (from the centralized enum)
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
