Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(11-02): close Phase 11 with summary, update state and roadmap
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-load-testing/11-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(12): capture phase context
  .planning/phases/12-services/12-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 12 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(12): research phase domain
  .planning/phases/12-services/12-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(12): add research and validation strategy
  .planning/phases/12-services/12-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(12): create phase plan
  .planning/ROADMAP.md
  .planning/phases/12-services/12-01-PLAN.md
  .planning/phases/12-services/12-02-PLAN.md
  .planning/phases/12-services/12-03-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(12): revise plans based on checker feedback
  .planning/phases/12-services/12-01-PLAN.md
  .planning/phases/12-services/12-03-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(12-02): add external_id columns and immutability trigger
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/015-external-id.sql
Due: none

feat(12-02): add bulk_import and bulk_delete RPC functions
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/016-bulk-operations.sql
Due: none

feat(12-01): configure storage buckets with RLS policies and cleanup triggers
  apps/supabase/supabase/config.toml
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/014-storage.sql
Due: none

docs(12-02): complete external-id and bulk-operations plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-services/12-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(12-01): add StoredImage validation and storage cleanup configuration
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  apps/supabase/supabase/schema/000-functions.sql
  apps/supabase/supabase/schema/014-storage.sql
  apps/supabase/supabase/seed.sql
Due: none

docs(12-01): complete storage and services foundation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-services/12-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(12-03): create email template resolution RPC and send-email Edge Function
  apps/supabase/supabase/functions/send-email/index.ts
  apps/supabase/supabase/schema/017-email-helpers.sql
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(12-03): regenerate migration and TypeScript types for Phase 12
  apps/supabase/supabase/migrations/00001_initial_schema.sql
  packages/supabase-types/src/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(12-03): complete email service and type finalization plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-services/12-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-12): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-services/12-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(13): capture phase context
  .planning/phases/13-quality-assurance/13-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 13 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(13): research phase domain
  .planning/phases/13-quality-assurance/13-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-13): add validation strategy
  .planning/phases/13-quality-assurance/13-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(13): create phase plan
  .planning/ROADMAP.md
  .planning/phases/13-quality-assurance/13-01-PLAN.md
  .planning/phases/13-quality-assurance/13-02-PLAN.md
  .planning/phases/13-quality-assurance/13-03-PLAN.md
Due: yarn build:app-shared, prettier --write

test(13-01): create pgTAP test helpers and fixtures
  apps/supabase/supabase/tests/database/00-helpers.test.sql
Due: none

chore(v1.1): Monorepo Refresh — config and cleanup
  .changeset/README.md
  .changeset/config.json
  .env.example
  .github/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .yarnrc.yml
  docker-compose.dev.yml
  render.example.yaml
  turbo.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(13-01): add tenant isolation and candidate self-edit tests
  apps/supabase/supabase/tests/database/00-helpers.test.sql
  apps/supabase/supabase/tests/database/01-tenant-isolation.test.sql
  apps/supabase/supabase/tests/database/02-candidate-self-edit.test.sql
Due: none

docs(13-01): complete test infrastructure and core security tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-quality-assurance/13-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(13-02): add anon read access and write denial tests
  apps/supabase/supabase/tests/database/03-anon-read.test.sql
Due: none

test(13-02): add admin CRUD and party admin scope tests
  apps/supabase/supabase/tests/database/04-admin-crud.test.sql
  apps/supabase/supabase/tests/database/05-party-admin.test.sql
Due: none

test(13-03): add storage RLS and RPC security tests
  apps/supabase/supabase/tests/database/06-storage-rls.test.sql
  apps/supabase/supabase/tests/database/07-rpc-security.test.sql
Due: none

docs(13-02): complete anon read, admin CRUD, party admin scope plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-quality-assurance/13-02-SUMMARY.md
  .planning/phases/13-quality-assurance/deferred-items.md
Due: yarn build:app-shared, prettier --write

test(13-03): add trigger and column restriction tests
  apps/supabase/supabase/tests/database/08-triggers.test.sql
  apps/supabase/supabase/tests/database/09-column-restrictions.test.sql
Due: none

docs(13-03): complete storage, RPC, trigger, and column restriction tests
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-quality-assurance/13-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-13): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-quality-assurance/13-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

test(13): complete UAT - 10 passed, 0 issues
  .planning/phases/13-quality-assurance/13-UAT.md
Due: yarn build:app-shared, prettier --write

docs(v2.0): milestone audit — gaps found (DATA-01/02 deleted, Phase 11 unverified)
  .planning/v2.0-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

docs(roadmap): add gap closure phases 14-15
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/14-service-and-auth-bug-fixes/.gitkeep
  .planning/phases/15-questiontemplate-and-verification-closure/.gitkeep
Due: yarn build:app-shared, prettier --write

docs(14): research phase domain
  .planning/phases/14-service-and-auth-bug-fixes/14-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-14): add validation strategy
  .planning/phases/14-service-and-auth-bug-fixes/14-VALIDATION.md
Due: yarn build:app-shared, prettier --write
