Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(gsd): clear stale auto-chain flag
  .planning/config.json
Due: yarn build:app-shared, prettier --write

docs(133): trim prose from phase requirements line for clean ID parsing
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

refactor(133-01): remove hard-nav fallback from voterNavigation (WR-01, IN-02)
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(133-01): complete remove-hard-nav-fallback plan
  .planning/phases/133-fix-phase-132-code-review-gaps/133-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(133-01): record plan 01 state, roadmap progress, and self-check
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(133-02): assert positive candidate-home destination in step 13.5 (IN-01)
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(133-02): complete positive candidate-home URL assertion plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(133-03): record full E2E suite 3x determinism gate results
  .planning/phases/133-fix-phase-132-code-review-gaps/133-03-SUMMARY.md
  .planning/phases/133-fix-phase-132-code-review-gaps/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(133-03): record plan 03 state, roadmap progress, and gate decisions
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

build: add LocalStack auth token to `docker-compose`
  docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(133): persist human verification items as UAT
  .planning/phases/133-fix-phase-132-code-review-gaps/133-UAT.md
Due: yarn build:app-shared, prettier --write

docs(133): add verification + code review reports, refine UAT expectation with review WR-01 timing
  .planning/phases/133-fix-phase-132-code-review-gaps/133-REVIEW.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-UAT.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

test(133): UAT test 1 passed — WR-01 loud-failure path proven by executed experiment
  .planning/phases/133-fix-phase-132-code-review-gaps/133-UAT.md
Due: yarn build:app-shared, prettier --write

test(133): complete UAT - 1 passed, 0 issues
  .planning/phases/133-fix-phase-132-code-review-gaps/133-UAT.md
Due: yarn build:app-shared, prettier --write

docs(133): add security contract (threats_open 0) and mark validation validated
  .planning/phases/133-fix-phase-132-code-review-gaps/133-SECURITY.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(133): canonicalize verification status to passed after UAT
  .planning/phases/133-fix-phase-132-code-review-gaps/133-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-133): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

fix(133): WR-01 correct stuck-screen failure-path comments on continue-button waits
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(133): WR-02 correct maxSteps retry-headroom arithmetic in docstring
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(133): add code review fix report
  .planning/phases/133-fix-phase-132-code-review-gaps/133-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

fix(133): IN-01 drop stale line pointer from navigateToFirstQuestion comment
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(133): IN-04 guard answer-option early return on the first-question stop point
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(133): IN-02 rethrow non-timeout errors from the advanceVoterFlow URL settles
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(133): update code review fix report — Info tier (3 fixed, IN-03 skipped)
  .planning/phases/133-fix-phase-132-code-review-gaps/133-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

docs(quick-260726-ibp): Somali (so) locale plan and summary
  .planning/quick/260726-ibp-create-somali-so-translations-for-all-i1/260726-ibp-PLAN.md
  .planning/quick/260726-ibp-create-somali-so-translations-for-all-i1/260726-ibp-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(todo): capture derive base-200/300 shades from opacity instead of hard-coded hex
  .planning/todos/pending/2026-08-09-derive-base-shades-from-opacity-instead-of-hardcoded-hex.md
Due: yarn build:app-shared, prettier --write

custom: video tweaks
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/components/video/Video.type.ts
  frontend/src/lib/components/video/component-stores.ts
  frontend/src/lib/contexts/layout/layoutContext.ts
  frontend/src/lib/contexts/layout/layoutContext.type.ts
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: enable party matching
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings for kisam-vaa-2026
  frontend/src/lib/components/button/Button.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: question display
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

custom: intro and front page
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/introVideos.json
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/Header.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: translations
  backend/vaa-strapi/src/util/translations/ar/dynamic.json
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/et/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/so/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/lib/i18n/translations/ar/components.json
  frontend/src/lib/i18n/translations/ar/dynamic.json
  frontend/src/lib/i18n/translations/da/components.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/et/components.json
  frontend/src/lib/i18n/translations/et/dynamic.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/so/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: rtl planning
  .planning/config.json
  .planning/phases/rtl-bidi-support/DECISIONS.md
  .planning/phases/rtl-bidi-support/PLAN.md
  .planning/phases/rtl-bidi-support/SUMMARY.md
Due: yarn build:app-shared, prettier --write

custom: invert header colours
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/Header.svelte
Due: none

custom: enable analytics
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(134): context gathered — 3 scope corrections + 16 locked decisions
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/.gitkeep
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-CONTEXT.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(134): research phase domain
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(134): amend context post-research — D-17..D-22 (faded fix Option A, MF2 all-7 + UAT flag)
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(134): create phase plan — 8 plans across 6 waves
  .planning/ROADMAP.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-01-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-02-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-03-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-04-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-05-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-06-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-07-PLAN.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-08-PLAN.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
