Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat[admin]: add link feature-page link and improve info messages
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

tmp[job-monitor]: add pastJobs to feature-monitoring component
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

feat[admin]: add new endpoints to admin UI's jobs api
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/jobs/jobFiltering.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/active/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/past/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin]: add interface JobMessage to tag a timestamp to messages
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[admin]: move API jobs/[[id]] to jobs/single/[[id]]
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/force-fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/progress/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixes[arg-cond]: use UUID for final arguments
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[admin-app]: get admin features dynamically for the jobs page (from the centralized enum)
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

refactor[admin-app]: show warnings before info messages
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
Due: none

clean-up[admin]: remove unused admin jobs store functions
  frontend/src/lib/server/admin/jobs/jobStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[admin]: show the latest jobs
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

feat: remove `InfoSection.visible` custom data property
  frontend/src/lib/api/utils/translateQuestionInfoSections.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[arg-cond]: fix operation tree output dir
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: disable button for arg-cond if a job is already running
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

rename[admin-app]: rename force-fail to abort in admin-related context
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/abort-all/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/abort/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/force-fail/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: job stores and monitoring
  frontend/src/lib/admin/components/jobs/FeatureJobs.svelte
  frontend/src/lib/admin/components/jobs/JobDetails.svelte
  frontend/src/lib/admin/components/jobs/WithPolling.svelte
  frontend/src/lib/admin/components/jobs/index.ts
  frontend/src/lib/admin/features.ts
  frontend/src/lib/contexts/admin/index.ts
  frontend/src/lib/contexts/admin/jobStores.ts
  frontend/src/lib/contexts/admin/jobStores.type.ts
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/contexts/admin/pollingService.type.ts
  frontend/src/lib/i18n/translations/da/adminApp.argumentCondensation.json
  frontend/src/lib/i18n/translations/da/adminApp.common.json
  frontend/src/lib/i18n/translations/da/adminApp.error.json
  frontend/src/lib/i18n/translations/da/adminApp.factorAnalysis.json
  frontend/src/lib/i18n/translations/da/adminApp.jobs.json
  frontend/src/lib/i18n/translations/da/adminApp.login.json
  frontend/src/lib/i18n/translations/da/adminApp.notSupported.json
  frontend/src/lib/i18n/translations/da/adminApp.questionInfo.json
  frontend/src/lib/i18n/translations/en/adminApp.jobs.json
  frontend/src/lib/i18n/translations/fi/adminApp.jobs.json
  frontend/src/lib/i18n/translations/sv/adminApp.jobs.json
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/sorting.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove past jobs sidebar from admin/jobs
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

refactor: `UniversalDataWriter`’s methods for jobs
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[jobId]/abort/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[jobId]/progress/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: inject `authToken` into `AdminContext` utility methods
  frontend/src/lib/contexts/admin/adminContext.ts
  frontend/src/lib/contexts/admin/adminContext.type.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix linter errors
  frontend/src/lib/admin/components/jobs/FeatureJobs.svelte
  frontend/src/lib/admin/components/jobs/JobDetails.svelte
  frontend/src/lib/admin/components/jobs/WithPolling.svelte
  frontend/src/lib/components/controller/InfoMessages.svelte
  frontend/src/lib/components/controller/WarningMessages.svelte
  frontend/src/lib/i18n/translations/sv/adminApp.argumentCondensation.json
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: Admin Job content type
  backend/vaa-strapi/src/api/admin-job/content-types/admin-job/schema.json
  backend/vaa-strapi/src/api/admin-job/controllers/admin-job.ts
  backend/vaa-strapi/src/api/admin-job/routes/admin-job.ts
  backend/vaa-strapi/src/api/admin-job/services/admin-job.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/policies/debug.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/admin/adminContext.ts
  frontend/src/lib/contexts/admin/adminContext.type.ts
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: require admin user on `/api/admin` routes
  frontend/src/hooks.server.ts
  frontend/src/lib/auth/authToken.ts
  frontend/src/lib/auth/getUserData.ts
  frontend/src/lib/auth/index.ts
  frontend/src/lib/server/auth/index.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/+layout.server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/abort-all/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/active/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/past/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[jobId]/abort/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[jobId]/progress/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/login/+server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/logout/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! custom: translations for duf vaa
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
Due: yarn build:app-shared, prettier --write

custom: intro and results pages for duf vaa
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/introVideo.json
Due: yarn build:app-shared, prettier --write

tmp: staging render.yaml
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tmp: override voterApp access for staging
  frontend/src/lib/contexts/app/appContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[Vercel-llm]: add parallelization & schema failure retrial for object generation
  packages/llm-refactor/src/index.ts
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/llm-providers/provider.types.ts
  packages/llm-refactor/tests/llmProvider.test.ts
  packages/llm-refactor/tests/setPromptVars.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[arg-cond]: use new llm package
  packages/argument-condensation/package.json
  packages/argument-condensation/src/api.ts
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/condensation/prompts/promptRegistry.ts
  packages/argument-condensation/src/core/condensation/responseValidators/responseWithArguments.ts
  packages/argument-condensation/src/core/condensation/runner.ts
  packages/argument-condensation/src/core/types/api/apiConfig.ts
  packages/argument-condensation/src/core/types/condensation/condensationInput.ts
  packages/argument-condensation/src/core/types/condensation/condensationResult.ts
  packages/argument-condensation/src/core/types/index.ts
  packages/argument-condensation/src/core/utils/condensation/validateInputTokenCount.ts
  packages/argument-condensation/src/core/utils/index.ts
  packages/argument-condensation/src/core/utils/prompting/createPromptInstance.ts
  packages/argument-condensation/src/index.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
  packages/argument-condensation/tests/unit/promptRegistry.test.ts
  packages/llm-refactor/src/index.ts
  packages/llm-refactor/src/types/commonLLMParams.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[q-info+arg-cond]: use new llm package in question info
  packages/argument-condensation/src/core/condensation/prompts/promptRegistry.ts
  packages/argument-condensation/tests/unit/promptRegistry.test.ts
  packages/argument-condensation/tsconfig.json
  packages/llm-refactor/src/utils/prompting/loadPackagePrompts.ts
  packages/question-info/README.md
  packages/question-info/package.json
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/testScript.ts
  packages/question-info/src/types/generationOptions.ts
  packages/question-info/src/types/generationResult.ts
  packages/question-info/src/utils/promptLoader.ts
  packages/question-info/src/utils/responseTransformer.ts
  packages/question-info/src/utils/schemaGenerator.ts
  packages/question-info/tests/api.test.ts
  packages/question-info/tests/promptValidation.test.ts
  packages/question-info/tests/questionTypes.test.ts
  packages/question-info/tsconfig.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[app-shared][frontend]: localized data types
  agents.md
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCategoryCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCustomData.ts
  frontend/src/lib/api/utils/translateQuestionArguments.ts
  frontend/src/lib/api/utils/translateQuestionTerms.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `LLM_OPENAI_API_KEY` env variable
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/server/constants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat/refactor[backend][frontend]: user roles login and logout routes
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/functions/setDefaultApiPermissions.ts
  backend/vaa-strapi/src/index.ts
  backend/vaa-strapi/src/policies/user-is-admin.ts
  backend/vaa-strapi/types/customStrapiTypes.d.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseUser.ts
  frontend/src/lib/api/base/actionResult.type.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/api/utils/fail.ts
  frontend/src/lib/candidate/utils/loginError.ts
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/sv/error.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/api/fail.ts
  frontend/src/lib/utils/api/index.ts
  frontend/src/routes/[[lang=locale]]/api/auth/login/+server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/logout/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: add job monitor component, use it in admin app
  docker-compose.dev.yml
  frontend/Dockerfile.dev
  frontend/docker-compose.dev.yml
  frontend/src/lib/components/jobs/JobMonitor.svelte
  frontend/src/lib/jobs/README.md
  frontend/src/lib/jobs/jobStore.ts
  frontend/src/lib/jobs/pipelineLogger.ts
  frontend/src/lib/server/llm/llmProvider.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/+layout.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/complete/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/message/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/progress/+server.ts
  frontend/vite.config.ts
  package.json
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/utils/condensation/getAndSliceComments.ts
  packages/argument-condensation/src/question-handlers.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: create a job logger and store for storing long ops
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
  frontend/src/lib/jobs/jobLogger.ts
  frontend/src/lib/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/complete/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/message/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/progress/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: improvements to job management and progress updates
  backend/vaa-strapi/src/functions/generateMockData.ts
  docker-compose.dev.yml
  frontend/Dockerfile.dev
  frontend/docker-compose.dev.yml
  frontend/src/lib/jobs/README.md
  frontend/src/lib/jobs/jobLogger.ts
  frontend/src/lib/jobs/jobStore.ts
  frontend/src/lib/jobs/pipelineLogger.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/force-fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/emergency-cleanup/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/health/+server.ts
  frontend/vite.config.ts
  package.json
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/utils/condensation/calculateLLMCallCounts.ts
  packages/argument-condensation/src/core/utils/index.ts
  packages/core/src/logger/logger.type.ts
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandidateLoginError` messages
  frontend/src/lib/candidate/utils/loginError.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: mock implementation of monitoring view
  backend/vaa-strapi/src/components/settings/access.json
  backend/vaa-strapi/src/functions/mockData/mockAdmins.json
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/ProgressBar.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
  frontend/src/lib/i18n/translations/en/adminApp.argumentCondensation.json
  frontend/src/lib/server/llm/llmProvider.ts
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/+layout.svelte
  packages/argument-condensation/package.json
  packages/argument-condensation/src/core/utils/condensation/isSupportedQuestion.ts
  packages/argument-condensation/src/core/utils/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! feat/refactor[backend][frontend]: user roles login and logout routes
  frontend/src/lib/utils/api/fail.ts
  frontend/src/lib/utils/api/index.ts
  frontend/src/routes/[[lang=locale]]/api/auth/login/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
