Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix(04-05): fix nominations test with null safety in EntityCard and entityCards
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  frontend/src/lib/utils/entityCards.ts
  tests/tests/specs/voter/voter-static-pages.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(04-05): complete nominations test fix plan
  .planning/STATE.md
  .planning/phases/04-voter-app-settings-and-edge-cases/04-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(04-04): fix voter-popups spec and Playwright config for serial execution
  tests/playwright.config.ts
  tests/tests/setup/data.setup.ts
  tests/tests/specs/voter/voter-popups.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(04-04): complete voter-settings and voter-popups fix plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-voter-app-settings-and-edge-cases/04-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-04): complete phase execution and resolve UAT gaps
  .planning/STATE.md
  .planning/phases/04-voter-app-settings-and-edge-cases/04-UAT.md
  .planning/phases/04-voter-app-settings-and-edge-cases/04-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(tests): add resilient voter navigation helpers for parallel test execution
  tests/tests/fixtures/voter.fixture.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(05): capture phase context
  .planning/phases/05-configuration-variants/05-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 5 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(05): research phase domain for configuration variants
  .planning/phases/05-configuration-variants/05-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-5): add validation strategy
  .planning/phases/05-configuration-variants/05-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(05-configuration-variants): create phase plan
  .planning/ROADMAP.md
  .planning/phases/05-configuration-variants/05-01-PLAN.md
  .planning/phases/05-configuration-variants/05-02-PLAN.md
  .planning/phases/05-configuration-variants/05-03-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(05-01): create merge utility, overlay datasets, and testId additions
  tests/tests/data/overlays/constituency-overlay.json
  tests/tests/data/overlays/multi-election-overlay.json
  tests/tests/data/overlays/startfromcg-overlay.json
  tests/tests/utils/mergeDatasets.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(05-01): create variant setup/teardown projects and update Playwright config
  tests/playwright.config.ts
  tests/tests/setup/variant-constituency.setup.ts
  tests/tests/setup/variant-data.teardown.ts
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/setup/variant-startfromcg.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(05-01): complete variant infrastructure plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/05-configuration-variants/05-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(05-02): create multi-election variant spec
  tests/tests/specs/variants/multi-election.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(05-03): add constituency variant spec with hierarchical selection tests
  tests/tests/specs/variants/constituency.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(05-02): create results-sections variant spec
  tests/tests/specs/variants/results-sections.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(05-03): add startFromConstituencyGroup variant spec with orphan municipality test
  tests/tests/specs/variants/startfromcg.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(05-02): complete multi-election and results-sections specs plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-configuration-variants/05-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(05-03): complete constituency and startFromConstituencyGroup variant specs
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/05-configuration-variants/05-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-05): complete phase execution
  .planning/STATE.md
  .planning/phases/05-configuration-variants/05-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(06): research phase domain for CI integration and test organization
  .planning/phases/06-ci-integration-and-test-organization/06-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-6): add validation strategy
  .planning/phases/06-ci-integration-and-test-organization/06-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(06): create phase plan
  .planning/ROADMAP.md
  .planning/phases/06-ci-integration-and-test-organization/06-01-PLAN.md
  .planning/phases/06-ci-integration-and-test-organization/06-02-PLAN.md
Due: yarn build:app-shared, prettier --write

custom: set umami code
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(06-01): update e2e-tests CI job for new test structure
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(06-02): add Playwright tags to all candidate spec files
  tests/tests/specs/candidate/candidate-auth.spec.ts
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-questions.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/candidate/candidate-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(06-01): add CI override comment to .env.example mock data setting
  .env.example
Due: none

feat(06-02): add Playwright tags to all voter and variant spec files
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/multi-election.spec.ts
  tests/tests/specs/variants/results-sections.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
  tests/tests/specs/voter/voter-popups.spec.ts
  tests/tests/specs/voter/voter-results.spec.ts
  tests/tests/specs/voter/voter-settings.spec.ts
  tests/tests/specs/voter/voter-static-pages.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(06-01): complete CI workflow update plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/06-ci-integration-and-test-organization/06-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(06-02): complete spec file tagging plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/06-ci-integration-and-test-organization/06-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-06): complete phase execution
  .planning/STATE.md
  .planning/phases/06-ci-integration-and-test-organization/06-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(07): capture phase context
  .planning/phases/07-advanced-test-capabilities/07-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 7 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(07): research phase domain
  .planning/phases/07-advanced-test-capabilities/07-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-07): add validation strategy
  .planning/phases/07-advanced-test-capabilities/07-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(07): create phase plan
  .planning/ROADMAP.md
  .planning/phases/07-advanced-test-capabilities/07-01-PLAN.md
  .planning/phases/07-advanced-test-capabilities/07-02-PLAN.md
Due: yarn build:app-shared, prettier --write

chore(07-01): add snapshotPathTemplate and toHaveScreenshot defaults to Playwright config
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(07-01): add visual regression spec with 4 screenshot tests and baselines
  tests/playwright.config.ts
  tests/tests/specs/visual/__screenshots__/visual-regression.spec.ts/candidate-preview-desktop.png
  tests/tests/specs/visual/__screenshots__/visual-regression.spec.ts/candidate-preview-mobile.png
  tests/tests/specs/visual/__screenshots__/visual-regression.spec.ts/voter-results-desktop.png
  tests/tests/specs/visual/__screenshots__/visual-regression.spec.ts/voter-results-mobile.png
  tests/tests/specs/visual/visual-regression.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(07-01): complete visual regression testing plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-advanced-test-capabilities/07-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write
