Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-15): stop destructuring the two bare reactive context accessors
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/+layout.svelte
Due: none

fix(151-15): validate the post-login redirect target on both login actions
  apps/frontend/src/routes/admin/login/+page.server.ts
  apps/frontend/src/routes/candidate/login/+page.server.ts
  apps/frontend/src/routes/loginRedirectTarget.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-15): stop the two admin form actions logging debug output to the server console
  apps/frontend/src/routes/admin/(protected)/argument-condensation/+page.server.ts
  apps/frontend/src/routes/admin/(protected)/question-info/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-15): give the Swedish video countdown the input names its callers pass
  apps/frontend/messages/sv/components.json
Due: yarn build:app-shared, prettier --write

docs(151-15): document the admin app, the api tree and the app shell in the routes README
  apps/frontend/src/routes/README.md
Due: yarn build:app-shared, prettier --write

fix(151-15): keep the reactivity-fix comments citation-free
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
  apps/frontend/src/routes/+layout.svelte
Due: none

style(151-15): reflow the appSettings comment in the root layout
  apps/frontend/src/routes/+layout.svelte
Due: none

fix(151-15): close the h1-to-h4 heading skip on the results statistics page
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/statistics/+page.svelte
Due: none

docs(151-15): document the message catalogue for the people who edit it
  apps/frontend/messages/README.md
Due: yarn build:app-shared, prettier --write

docs(151-15): disposition slices 07 and 08 — 24 cells, the scan's complement swept route by route
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/06.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/07.md
Due: yarn build:app-shared, prettier --write

docs(151-15): record slices 07 and 08's cuts and PRs #869 and #870
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-15): complete the routes and message slices sweep-and-cut plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-15-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-15): record state, roadmap and windows-ledger entries for the routes and message slices
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/WINDOWS.md
Due: yarn build:app-shared, prettier --write

fix(151-16): add rel=noopener noreferrer to the docs landing page's external link
  apps/docs/src/routes/+page.svelte
Due: none

docs(151-16): stop the guides citing apps/strapi, a path that never existed
  apps/docs/src/routes/(content)/developers-guide/app-and-repo-structure/+page.md
  apps/docs/src/routes/(content)/developers-guide/backend/authentication/+page.md
  apps/docs/src/routes/(content)/developers-guide/backend/default-data-loading/+page.md
  apps/docs/src/routes/(content)/developers-guide/backend/mock-data-generation/+page.md
  apps/docs/src/routes/(content)/developers-guide/backend/openvaa-admin-tools-plugin-for-strapi/+page.md
  apps/docs/src/routes/(content)/developers-guide/backend/plugins/+page.md
  apps/docs/src/routes/(content)/developers-guide/backend/security/+page.md
  apps/docs/src/routes/(content)/developers-guide/candidate-user-management/password-validation/+page.md
  apps/docs/src/routes/(content)/developers-guide/candidate-user-management/registration-process-in-strapi/+page.md
  apps/docs/src/routes/(content)/developers-guide/configuration/app-customization/+page.md
  apps/docs/src/routes/(content)/developers-guide/configuration/app-settings/+page.md
  apps/docs/src/routes/(content)/developers-guide/deployment/+page.md
  apps/docs/src/routes/(content)/developers-guide/development/running-the-development-environment/+page.md
  apps/docs/src/routes/(content)/developers-guide/localization/supported-locales/+page.md
  apps/docs/src/routes/(content)/developers-guide/troubleshooting/+page.md
Due: yarn build:app-shared, prettier --write

docs(151-16): correct the stale docs/src/routes paths in slice 09's files
  ROADMAP.md
  apps/docs/scripts/generate-navigation-config.ts
  apps/docs/scripts/validate-links.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-16): correct the code-review checklist's four stale guide links
  .agents/code-review-checklist.md
Due: yarn build:app-shared, prettier --write

docs(151-16): stop the Developers' Guide documenting removed yarn scripts
  apps/docs/src/routes/(content)/developers-guide/deployment/+page.md
  apps/docs/src/routes/(content)/developers-guide/development/running-the-development-environment/+page.md
  apps/docs/src/routes/(content)/developers-guide/troubleshooting/+page.md
Due: yarn build:app-shared, prettier --write

docs(151-16): repoint three dead documentation links under .github/
  .github/PULL_REQUEST_TEMPLATE
  .github/workflows/claude-solve-issue.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-16): correct the Developers' Guide workspace inventory
  apps/docs/src/routes/(content)/developers-guide/app-and-repo-structure/+page.md
Due: yarn build:app-shared, prettier --write

docs(151-16): disposition slices 09 and 10, and prepare the F-15 decision
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

chore(151-16): remove the orphaned Capacitor native scaffolding and the dead jest config
  apps/frontend/docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-16): claim README.md and the Capacitor scaffold, on the operator's decision
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/slices.tsv
Due: yarn build:app-shared, prettier --write

docs(151-16): write the PR bodies for slices 08 and 09
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/08.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/09.md
Due: yarn build:app-shared, prettier --write

docs(151-16): record slices 09 and 10 cut and PRs 8 and 9 published
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-16): append the slice 09/10 cut-and-publish record to the manifest
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-16): complete the last-two-code-slices plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-16-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-16): complete the last two code slices plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-16-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-17): cut slice 11 and record what the empty catch-all does not prove
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-17): secret-scan the planning slice before it is pushed
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-SECRET-SCAN.md
Due: yarn build:app-shared, prettier --write

chore(151-17): redact S-07 from the planning record (operator decision)
  .planning/milestones/v1.0-phases/02-candidate-app-coverage/02-03-PLAN.md
  .planning/milestones/v2.10-phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-RESEARCH.md
  .planning/milestones/v2.10-phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/registration-rca.spec.ts
  .planning/milestones/v2.10-phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/trace-run-1.zip
  .planning/milestones/v2.10-phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/trace-run-2.zip
  .planning/milestones/v2.10-phases/84-imgproxy-decoupling-decouple-non-image-tests-from-imgproxy-i/84-RCA-FINDINGS.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-17): record the operator's three decisions and the rescan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-SECRET-SCAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-17): push slice 10 and open PR 11 of 12 (#873)
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/10.md
Due: yarn build:app-shared, prettier --write

docs(151-17): complete the cut-scan-and-publish plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-17-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-17): update STATE and ROADMAP for plan 17
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(151-18): prove byte-identity, taxonomy and the backup; sweep slice 11
  .planning/phases/151-ship-v0-2-akita-review-stack/151-BYTE-IDENTITY-PROOF.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-18): record the D-24 suite run -- RED, 1 failed / 134 passed
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

fix(151-18): take the dev server's one-time route transform out of the perf window
  tests/tests/specs/perf/performance-budget.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
