Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: start milestone v3.0 Frontend Adapter
  .planning/PROJECT.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: complete project research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v3.0 requirements
  .planning/REQUIREMENTS.md
  .planning/todos/pending/merge-app-settings-customization.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v3.0 roadmap (9 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(22): capture phase context
  .planning/phases/22-schema-migrations/22-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 22 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(22): research phase domain for schema migrations
  .planning/phases/22-schema-migrations/22-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-22): add validation strategy
  .planning/phases/22-schema-migrations/22-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(22): create phase plan
  .planning/ROADMAP.md
  .planning/phases/22-schema-migrations/22-01-PLAN.md
  .planning/phases/22-schema-migrations/22-02-PLAN.md
  .planning/phases/22-schema-migrations/22-03-PLAN.md
  .planning/phases/22-schema-migrations/22-04-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(22-01): add customization and terms_of_use_accepted columns to schema source files
  apps/supabase/supabase/schema/003-entities.sql
  apps/supabase/supabase/schema/007-app-settings.sql
  apps/supabase/supabase/schema/013-auth-rls.sql
Due: none

feat(22-01): add upsert_answers RPC function for atomic answer writes
  apps/supabase/supabase/schema/006-answers-jsonb.sql
Due: none

feat(22-01): append SCHM-01/03/04 changes to consolidated migration
  apps/supabase/supabase/migrations/00001_initial_schema.sql
Due: none

docs(22-01): complete schema additions plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-schema-migrations/22-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(22-02): add feedback table with rate limiting trigger
  apps/supabase/supabase/schema/018-feedback.sql
Due: none

feat(22-02): add feedback RLS policies and indexes
  apps/supabase/supabase/schema/009-indexes.sql
  apps/supabase/supabase/schema/010-rls.sql
Due: none

feat(22-02): append SCHM-02 feedback table to consolidated migration
  apps/supabase/supabase/migrations/00001_initial_schema.sql
Due: none

docs(22-02): complete feedback table plan
  .planning/phases/22-schema-migrations/22-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(22-03): add pgTAP tests for Phase 22 schema migrations
  apps/supabase/supabase/tests/database/00-helpers.test.sql
  apps/supabase/supabase/tests/database/10-schema-migrations.test.sql
Due: none

docs(22-03): complete pgTAP tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-schema-migrations/22-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(22-04): regenerate database.ts from Phase 22 schema
  packages/supabase-types/src/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(22-04): add termsOfUseAccepted to COLUMN_MAP
  packages/supabase-types/src/column-map.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(22-04): complete type generation plan (Phase 22 complete)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-schema-migrations/22-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-22): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-schema-migrations/22-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

chore(v1.2): Svelte 5 Migration — Infrastructure — config and cleanup
  .github/workflows/docs.yml
  .github/workflows/main.yaml
  .github/workflows/release.yml
  .husky/pre-commit
  .prettierignore
  .yarnrc.yml
  turbo.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(23): capture phase context
  .planning/phases/23-adapter-foundation/23-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 23 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(23): research phase domain
  .planning/phases/23-adapter-foundation/23-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-23): add validation strategy
  .planning/phases/23-adapter-foundation/23-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(23): create phase plan for adapter foundation
  .planning/ROADMAP.md
  .planning/phases/23-adapter-foundation/23-01-PLAN.md
  .planning/phases/23-adapter-foundation/23-02-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(23-01): add SupabaseDataAdapter type, env vars, and adapter config
  frontend/src/lib/api/adapters/supabase/supabaseAdapter.type.ts
  frontend/src/lib/utils/constants.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(23-01): add mapRow, mapRowToDb, mapRows utilities with tests
  frontend/src/lib/api/adapters/supabase/utils/mapRow.test.ts
  frontend/src/lib/api/adapters/supabase/utils/mapRow.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(23-01): add getLocalized JSONB utility with 3-tier fallback and tests
  frontend/src/lib/api/adapters/supabase/utils/getLocalized.test.ts
  frontend/src/lib/api/adapters/supabase/utils/getLocalized.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(23-01): complete adapter foundation types & utilities plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/23-adapter-foundation/23-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(23-02): create supabaseAdapterMixin with typed client
  frontend/src/lib/api/adapters/supabase/supabaseAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(23-02): add stub adapter classes with singleton exports
  frontend/src/lib/api/adapters/supabase/dataProvider/index.ts
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
  frontend/src/lib/api/adapters/supabase/dataWriter/index.ts
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
  frontend/src/lib/api/adapters/supabase/feedbackWriter/index.ts
  frontend/src/lib/api/adapters/supabase/feedbackWriter/supabaseFeedbackWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(23-02): wire dynamic import switches for Supabase adapters
  frontend/src/lib/api/dataProvider.ts
  frontend/src/lib/api/dataWriter.ts
  frontend/src/lib/api/feedbackWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(23-02): complete adapter classes plan (Phase 23 complete)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/23-adapter-foundation/23-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
