Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-02): record @types/node 24 and TypeScript 6 with their holds and the group-1 gate run
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

wip: phase 169 paused at plan 169-02 task 3 (CI e2e red)
  .planning/HANDOFF.json
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
Due: yarn build:app-shared, prettier --write

test(e2e): give the results election-accordion collapse a route-transition budget
  tests/tests/specs/voter/voter-journey.spec.ts
  tests/tests/utils/selectElection.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-02): complete group 1 plan — CI 12/12 on the group-1 tree
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-02-SUMMARY.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(169-02): update state, roadmap progress, DEPS-03 and the handoff
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

refactor(lint): replace eslint-plugin-import with eslint-plugin-import-x
  .yarnrc.yml
  apps/frontend/src/lib/_guards/eslint-store-guard.test.ts
  package.json
  packages/dev-seed/tests/cli/teardown.test.ts
  packages/shared-config/eslint.config.mjs
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-03): planted import-rule proof, group-2 age and legitimacy evidence
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-planted-import-rules.sh
Due: yarn build:app-shared, prettier --write

chore(lint): move eslint-plugin-svelte to 3 through the catalog
  .yarnrc.yml
  apps/docs/package.json
  apps/frontend/eslint.config.mjs
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(lint): build the shared ESLint config from native flat exports
  .yarnrc.yml
  packages/shared-config/eslint.config.mjs
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(lint): attach caught errors as cause and drop dead initial values
  apps/frontend/src/lib/contexts/tests/noDataRootDerivedAlias.test.ts
  apps/frontend/src/lib/layouts/tests/noRelativeLayoutImports.test.ts
  apps/frontend/src/lib/server/admin/requireAdminIdentity.ts
  apps/frontend/src/lib/utils/color/PreviewColorContrast.svelte
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/utils/condensation/calculateLLMCallCounts.ts
  packages/dev-seed/src/cli/resolve-template.ts
  packages/dev-seed/src/writer.ts
  packages/question-info/src/core/infoGeneration.ts
  tests/tests/support/preflight.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-03): svelte 3 and FlatCompat evidence; ESLint 10 measured and held
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/todos/pending/2026-10-03-eslint-10-held-on-bindable-no-useless-assignment.md
Due: yarn build:app-shared, prettier --write

chore(deps): move prettier-plugin-svelte to 4.1.1
  .yarnrc.yml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move prettier-plugin-tailwindcss to 0.8.1
  .yarnrc.yml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style: reformat for prettier-plugin-tailwindcss 0.8.1
  apps/frontend/src/lib/components/select/Select.svelte
  apps/frontend/src/routes/candidate/help/+page.svelte
Due: none

chore(deps): move eslint-plugin-simple-import-sort to 14.0.0
  .yarnrc.yml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-03): complete group 2 plan — 12/12 gates, ESLint 10 held
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-03-SUMMARY.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-03): update state, roadmap progress and the handoff to 169-04
  .planning/HANDOFF.json
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(deps): move isomorphic-dompurify to 4 and jsdom to 30
  apps/frontend/package.json
  apps/frontend/src/lib/utils/sanitize.test.ts
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(test): move Playwright to 1.63.0 with the matching visual container image
  .yarnrc.yml
  apps/docs/package.json
  tests/scripts/tcp-forward.mjs
  tests/scripts/visual-container.sh
  tests/tests/specs/visual/visual-regression.spec.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move the Tailwind packages to 4.3.3
  .yarnrc.yml
  apps/docs/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move DaisyUI to 5.7.46
  .yarnrc.yml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style: reformat for the DaisyUI 5.7 class order
  apps/docs/src/lib/components/Header.svelte
Due: none

chore(test): move every workspace to Vitest 5.0.2 through the catalog
  .yarnrc.yml
  apps/docs/package.json
  apps/frontend/src/lib/api/base/universalAdapter.test.ts
  apps/frontend/src/lib/api/utils/auth/fetchJwksLeakSafe.test.ts
  apps/frontend/src/lib/utils/motion.test.ts
  apps/supabase/package.json
  package.json
  packages/app-shared/package.json
  packages/app-shared/vitest.config.ts
  packages/argument-condensation/package.json
  packages/argument-condensation/vitest.config.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/data/package.json
  packages/data/vitest.config.ts
  packages/dev-seed/package.json
  packages/dev-seed/tests/ensureProject.test.ts
  packages/dev-seed/tests/projectScopedContaminationIsolation.test.ts
  packages/dev-seed/tests/writer.test.ts
  packages/dev-seed/vitest.config.ts
  packages/filters/package.json
  packages/filters/vitest.config.ts
  packages/llm/package.json
  packages/llm/vitest.config.ts
  packages/matching/package.json
  packages/matching/tests/space.test.ts
  packages/matching/vitest.config.ts
  packages/question-info/package.json
  packages/question-info/vitest.config.ts
  scripts/assert-unit-test-coverage.mjs
  tests/vitest.config.ts
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-04): complete group 4 plan — Vitest 5, jsdom 30, Playwright 1.63, 12/12 gates, E2E 171/171
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-04-SUMMARY.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-04): update state, roadmap progress, DEPS-06 and the handoff to 169-05
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

test(frontend): specify the dev-server restart on the root .env
  apps/frontend/vite.restartOnRootEnv.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(frontend): restart the dev server on root .env changes without vite-plugin-restart
  apps/frontend/README.md
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  apps/frontend/vite.restartOnRootEnv.ts
  security/audit-baseline.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169): add the live dev-server restart probe and record the Vite 6 restart
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-restart-probe.sh
Due: yarn build:app-shared, prettier --write

chore(deps): move Svelte to 5.57.1
  .yarnrc.yml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move SvelteKit to 2.70.3 with the latest 2.x-line adapters
  .yarnrc.yml
  apps/frontend/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(deps): move both apps to Vite 8.3.1 and vite-plugin-svelte 7.3.1
  .yarnrc.yml
  apps/docs/package.json
  apps/frontend/package.json
  apps/frontend/vitest.config.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-05): complete group 3 plan — restart plugin, Kit 2.70.3, Vite 8.3.1, 12/12 gates, E2E 171/171
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-05-SUMMARY.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-05): update state, roadmap progress, DEPS-05 and the handoff to 169-06
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(supabase): move the Supabase CLI to 2.118.0 with the CI pins and regenerated types
  .github/workflows/main.yaml
  .yarnrc.yml
  packages/supabase-types/src/database.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(169-06): CLI 2.118.0 evidence — probe, legitimacy, service images, database.ts hunks, pgTAP, E2E 171/171
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-06): PG17 evidence — server 17.6, pgTAP 1335/1335, E2E 171/171, SQL lint red on is_valid_choice_id (stopped for a decision)
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
Due: yarn build:app-shared, prettier --write

docs(169-06): complete group 5a plan — CLI 2.118.0 + pins + types, 12/12 gates, E2E 171/171; local Postgres 17 deferred pending operator ruling
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-06-SUMMARY.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/169-EVIDENCE.md
  .planning/todos/pending/2026-10-03-pg17-local-blocked-on-is-valid-choice-id-volatility.md
Due: yarn build:app-shared, prettier --write

docs(169-06): update state, roadmap progress and the handoff to 169-07 (local Postgres 17 deferred pending operator ruling)
  .planning/HANDOFF.json
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/169-dependency-bump-to-latest-safe-versions/.continue-here.md
  .planning/state.json
Due: yarn build:app-shared, prettier --write

chore(deps): move @supabase/supabase-js to 2.117.2 through the catalog
  .yarnrc.yml
  package.json
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/tests/cli/localityGuard.test.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(auth): specify cache-header forwarding in the cookie adapter
  apps/frontend/src/lib/supabase/server.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
