Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

Add Strapi preregistration endpoint
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  packages/app-shared/src/auth/getIdTokenClaims.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add translation json:s
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write

Integrate with Signicat's OIDC :wq#
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  packages/app-shared/README.md
  packages/app-shared/package.json
  packages/app-shared/src/auth/getUserData.ts
  packages/app-shared/src/index.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Create a candidate with nomination(s) in Strapi
  .env.example
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  docker-compose.dev.yml
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Rename env variables, getUserInfo => getIdTokenClaims
  .env.example
  docker-compose.dev.yml
  frontend/package.json
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/userinfo/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add translations
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Document ID Number => String in DataWriter / Context
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add navigation between questions (draft)
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/claims/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix param naming
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add select components + session storage items
  .env.example
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add more translations
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Move svelte APIs to universal data writer
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add .env comments
  .env.example
Due: none

Direct user to start screen if session expired
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add preregister to dataWriter
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Edit messages
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write

Revise preregister- function naming
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add candidateApp.preregister to keys
  frontend/src/lib/i18n/translations/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Delete unused imports
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
Due: none

Handle userData & idTokenClaims states in layout (draft)
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

Delete Cancel button
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

Preregistration error handling (draft)
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Comment on BACKEND_API_TOKEN
  .env.example
Due: none

feat: `PUBLIC_DEBUG` env variable for logging debug messages
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/logger.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `/server/constants` utility
  frontend/src/lib/server/constants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Invalidate after getting ID token
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Loading component on callback page
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: none

Submit constituency per election
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/confirmation/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituency/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/election/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Comment on exchangeCodeForIdToken
  frontend/src/lib/api/base/dataWriter.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
  packages/app-shared/README.md
  packages/app-shared/package.json
  packages/app-shared/src/auth/getIdTokenClaims.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

ID token claims to CandidateContext
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/claims/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituencies/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/elections/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Typing and naming improvements
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/api/candidate/preregister/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/claims/+server.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituencies/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/elections/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/email/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Keep top bar settings in top-level layout
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

Clean up
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add a TODO
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Send registration email
  backend/vaa-strapi/config/email-templates/confirm-email.html
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add margins
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
Due: yarn build:app-shared, prettier --write

Content support button
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write

Add comment
  frontend/src/lib/candidate/utils/preregistrationError.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
