Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(dev-seed): default published=true + mirror en across locales
  .planning/todos/pending/frontend-project-id-scoping.md
  packages/dev-seed/src/locales.ts
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/tests/locales.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(dev-seed): prefix-scope teardown storage cleanup + seed entities settings
  .planning/phases/58-templates-cli-default-dataset/58-HUMAN-UAT.md
  packages/dev-seed/src/cli/teardown.ts
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/tests/cli/teardown.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(dev-seed): drop multipleChoiceCategorical from default template
  packages/dev-seed/README.md
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/src/templates/defaults/questions-override.ts
  packages/dev-seed/tests/templates/default.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(dev-seed): spread default nominations across constituencies 3:1
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/src/templates/defaults/nominations-override.ts
  packages/dev-seed/tests/templates/nominations-override.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(planning): file Svelte 5 cleanup + candidate-distribution TODOs
  .planning/todos/pending/check-candidate-distribution.md
  .planning/todos/pending/svelte5-cleanup.md
Due: yarn build:app-shared, prettier --write

docs(59): plan e2e fixture migration (7 plans across 5 waves)
  .planning/ROADMAP.md
  .planning/phases/59-e2e-fixture-migration/59-01-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-02-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-03-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-04-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-05-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-06-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-07-PLAN.md
  .planning/phases/59-e2e-fixture-migration/59-PATTERNS.md
Due: yarn build:app-shared, prettier --write

chore(59-01): add wait-for-healthy.sh for baseline capture
  .planning/phases/59-e2e-fixture-migration/baseline/wait-for-healthy.sh
Due: none

docs(59-01): capture Phase 59 baseline Playwright report
  .planning/phases/59-e2e-fixture-migration/baseline/playwright-report.json
  .planning/phases/59-e2e-fixture-migration/baseline/summary.md
Due: yarn build:app-shared, prettier --write

docs(59-01): complete baseline-capture plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
  .planning/phases/59-e2e-fixture-migration/59-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(59-02): add typed e2e template refs barrel
  tests/tests/utils/e2eFixtureRefs.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-02): migrate testCredentials + 2 debug scripts to e2eFixtureRefs
  tests/debug-questions.ts
  tests/debug-setup.ts
  tests/tests/utils/testCredentials.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-02): migrate 5 spec files off JSON fixtures to e2eFixtureRefs
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(59-02): complete fixture-consumer migration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/59-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(59-03): add variant-constituency filesystem template
  tests/tests/setup/templates/variant-constituency.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-03): add variant-multi-election + variant-startfromcg templates
  tests/tests/setup/templates/variant-multi-election.ts
  tests/tests/setup/templates/variant-startfromcg.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-03): add diff-playwright-reports parity-gate script
  .planning/phases/59-e2e-fixture-migration/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(59-03): complete variant templates + parity diff script plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/59-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(59-04): rewrite seed-test-data.ts as D-59-05 thin wrapper
  tests/seed-test-data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-04): swap data.setup.ts onto @openvaa/dev-seed pipeline
  tests/tests/setup/data.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-04): swap data.teardown.ts onto runTeardown('test-', client)
  tests/tests/setup/data.teardown.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(59-04): swap 3 variant setups + variant teardown onto dev-seed API
  tests/tests/setup/variant-constituency.setup.ts
  tests/tests/setup/variant-data.teardown.ts
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/setup/variant-startfromcg.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(59-04): complete core-swap plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/59-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(59-05): capture post-swap Playwright report
  .planning/phases/59-e2e-fixture-migration/post-swap/playwright-report.json
Due: yarn build:app-shared, prettier --write

docs(59-05): parity FAIL verdict — 22 regressions, 3 root causes
  .planning/phases/59-e2e-fixture-migration/post-swap/diff.md
Due: yarn build:app-shared, prettier --write

docs(59-05): complete post-swap parity plan — PARITY FAIL, Plan 06 BLOCKED
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/59-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(59-05): rename test title snake_case in baseline summary
  .planning/phases/59-e2e-fixture-migration/baseline/summary.md
Due: yarn build:app-shared, prettier --write

fix(59-05): enable comment field on e2e template questions for CAND-12
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(59-05): document Fix #1 blocker in fix-forward.md + STATE note
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/fix-forward.md
Due: yarn build:app-shared, prettier --write

fix(59-05): relax teardown assertion for idempotent dual-teardown
  tests/tests/setup/data.teardown.ts
  tests/tests/setup/variant-data.teardown.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(59-05): keep camelCase title on voter-matching hidden-candidate test
  tests/tests/specs/voter/voter-matching.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(59-05): revert summary.md test title to camelCase matching baseline JSON
  .planning/phases/59-e2e-fixture-migration/baseline/summary.md
Due: yarn build:app-shared, prettier --write

docs(59-05): parity PASS after fix-forward — no regressions
  .planning/phases/59-e2e-fixture-migration/post-swap/diff.md
  .planning/phases/59-e2e-fixture-migration/post-swap/playwright-report.json
Due: yarn build:app-shared, prettier --write

docs(59-06): scrub stale refs to legacy fixtures before deletion
  apps/docs/src/routes/(content)/developers-guide/development/testing/+page.md
  tests/tests/setup/templates/variant-constituency.ts
  tests/tests/setup/templates/variant-multi-election.ts
  tests/tests/setup/templates/variant-startfromcg.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(59-06): delete legacy JSON fixtures + mergeDatasets util
  tests/tests/data/candidate-addendum.json
  tests/tests/data/default-dataset.json
  tests/tests/data/overlays/constituency-overlay.json
  tests/tests/data/overlays/multi-election-overlay.json
  tests/tests/data/overlays/startfromcg-overlay.json
  tests/tests/data/voter-dataset.json
  tests/tests/utils/mergeDatasets.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(59-06): complete plan 06 — 59-06-SUMMARY.md + STATE + ROADMAP + REQUIREMENTS
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/59-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(59-07): capture deps-check.txt artifact for E2E-04
  .planning/phases/59-e2e-fixture-migration/deps-check.txt
Due: none

docs(59-07): author phase VERIFICATION.md with D-24 documentation
  .planning/phases/59-e2e-fixture-migration/59-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(59-07): complete phase verification plan — milestone v2.5 closeable
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/59-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(v2.5): flip historical tracker labels at milestone close
  .planning/ROADMAP.md
  .planning/phases/58-templates-cli-default-dataset/58-HUMAN-UAT.md
  .planning/phases/58-templates-cli-default-dataset/58-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

chore: archive v2.5 milestone files
  .planning/MILESTONES.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.5-REQUIREMENTS.md
  .planning/milestones/v2.5-ROADMAP.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
