Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(131-04): add feedback text-persistence (cancel→reopen) assertion + 3x/probe evidence
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-feedback-survey-3x.txt
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-popup-probe.txt
  tests/tests/specs/perm/perm-show-feedback-survey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(131-04): close todos #3 (popup-hydration CLOSED-AS-STALE) + #4 (feedback FIXED)
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/todos/completed/2026-05-16-voter-feedback-persistence-second-pass.md
  .planning/todos/completed/2026-05-16-voter-popup-hydration-layout-03-deeplink.md
Due: yarn build:app-shared, prettier --write

docs(131-04): complete popup/feedback cold-deeplink cluster plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(131-05): verify terminal-disposition invariant + no-new-skip + CI-clean (OQ 7.3)
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-no-skip-grep.txt
Due: yarn build:app-shared, prettier --write

test(131-05): targeted 3x cold-start gate GATE-GREEN on changed specs; file+escalate candidate-journey load-flake
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-DISCUSSION-POINTS.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/post-fix/131-phase-gate-summary.txt
  .planning/todos/pending/2026-07-22-candidate-journey-link-url-status-load-flake.md
Due: yarn build:app-shared, prettier --write

docs(131-05): complete phase-close plan (terminal-disposition + no-skip + 3x gate)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(131): add code review report
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-131): complete phase — verification, tracking, PROJECT.md evolution
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/131-e2e-reliability-hardening-deferred-flake-race-triage/131-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

chore(config): pin gsd-planner model to opus
  .planning/config.json
Due: yarn build:app-shared, prettier --write

docs(132): capture phase context
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-CONTEXT.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 132 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(132): research milestone-close green gate + svelte-check zero flip
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-132): add validation strategy
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(132): add pattern map
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(132): create phase plan — 3 plans (tracer flake-harden + svelte-check CI flip + 3x close gate)
  .planning/ROADMAP.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-01-PLAN.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-02-PLAN.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(132): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(132-01): harden candidate-journey step 13.5 post-submit nav settle
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(132-01): complete candidate-journey step-13.5 harden plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(132-02): flip svelte-check gate to 0 errors / 0 warnings
  .github/workflows/main.yaml
  apps/frontend/package.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(132-02): terminally close svelte-check-zero todo (COMPLETE)
  .planning/todos/completed/2026-06-12-resolve-all-svelte-check-errors.md
  .planning/todos/pending/2026-06-12-resolve-all-svelte-check-errors.md
Due: yarn build:app-shared, prettier --write

docs(132-02): add plan 02 summary (svelte-check zero-absolute gate flip)
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(132-02): complete svelte-check zero-absolute gate flip plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(132): add gap plan 132-04 (lint remediation for close gate)
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-03-PLAN.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-04-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(132-04): clear 14 @openvaa/frontend lint errors (func-style + import-sort)
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.test.ts
  apps/frontend/src/lib/i18n/tests/__mocks__/app-navigation.ts
  apps/frontend/src/routes/candidate/(protected)/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(132-04): clear 6 tests/ lint errors (import-sort + reasoned disables)
  tests/tests/fixtures/voter/entityDetails.fixture.ts
  tests/tests/specs/candidate/candidate-bank-auth-journey.spec.ts
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/specs/voter/voter-nominations.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(132-04): complete lint-remediation plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(132-03): record green static gates + phase-close svelte-check 0/0
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-static-gates.txt
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-svelte-check-close.txt
Due: none

fix(132-03): bound elections/constituencies-continue visibility waits in advanceVoterFlow
  .planning/todos/completed/2026-07-23-elections-continue-stall-voternavigation-unbounded-wait.md
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(132-03): record 3x green E2E determinism gate evidence
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/.gitkeep
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-full-suite-run1.txt
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-full-suite-run2.txt
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-full-suite-run3.txt
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-no-skip-grep.txt
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/gate/132-phase-gate-summary.txt
Due: none

docs(132-03): milestone-close anchor + COVERAGE + close bookkeeping
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-MILESTONE-CLOSE-ANCHOR.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/COVERAGE.md
  .planning/todos/completed/2026-07-22-candidate-journey-link-url-status-load-flake.md
Due: yarn build:app-shared, prettier --write

docs(132-03): complete milestone-close green-gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(132): add code review report
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-132): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/132-milestone-close-green-gate-svelte-check-zero-flip/132-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-132): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs: add Phase 133 (fix Phase 132 code review gaps)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(133): add phase research
  .planning/phases/133-fix-phase-132-code-review-gaps/.gitkeep
  .planning/phases/133-fix-phase-132-code-review-gaps/133-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-133): add validation strategy
  .planning/phases/133-fix-phase-132-code-review-gaps/133-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(133): add pattern map
  .planning/phases/133-fix-phase-132-code-review-gaps/133-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(133): create phase plan (3 plans — WR-01/IN-02 tracer, IN-01, E2E 3x gate)
  .planning/ROADMAP.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-01-PLAN.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-02-PLAN.md
  .planning/phases/133-fix-phase-132-code-review-gaps/133-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(133): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
