Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(100): create phase plan (questions layout restructure)
  .planning/ROADMAP.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-01-PLAN.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-02-PLAN.md
Due: yarn build:app-shared, prettier --write

test(96-01): add failing tests for sessionStorageState helper
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(96-01): add sessionStorageState helper (CTX-07)
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(96-01): add failing tests for pure-rune survey + tracking producers
  apps/frontend/src/lib/contexts/app/survey.svelte.test.ts
  apps/frontend/src/lib/contexts/app/tracking/trackingService.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(96-01): pure-rune survey + trackingService producers (CTX-06)
  apps/frontend/src/lib/contexts/app/survey.svelte.ts
  apps/frontend/src/lib/contexts/app/tracking/trackingService.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(96-01): appContext seam owns survey/tracking bridges + reactive getters
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/app/appContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(96-01): complete tier-2-bridges plan A (sessionStorageState + pure-rune survey/tracking + reactive getters)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(96-02): voterContext rune-native — drop fromStore inputs, firstQuestionId via sessionStorageState
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(96-02): candidateContext rune-native except getRoute — drop fromStore inputs, prereg ids via rune helpers
  apps/frontend/src/lib/contexts/candidate/candidateContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(96-02): complete Tier-2 orchestrator rewrite plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(96): add code review report
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-REVIEW.md
Due: yarn build:app-shared, prettier --write

fix(96): persist storageState default on init — restore sessionId reload-survival (CR-01)
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.test.ts
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(96): mark CR-01 resolved in review report
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(96): persist E2E gate as UAT (deferred to Phase 101)
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-UAT.md
Due: yarn build:app-shared, prettier --write

docs(phase-96): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

test(100-01): add D-03 answer-survival assertion across question-type boundary
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(100-01): complete questions-layout D-03 answer-survival gate plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(100-02): add questions/+layout.ts parity load (D-01)
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(100-02): hoist question rendering into questions/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
Due: none

feat(100-02): collapse questions/[questionId]/+page.svelte to empty stub
  apps/frontend/src/routes/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

docs(100-02): complete questions-layout-restructure plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-02-SUMMARY.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(100): correct D-03 boundary comment to Boolean→Categorical (WR-03)
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(100): restore Loading fallback for a resolving [questionId] route (WR-01)
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
Due: none

docs(100): add code review report (WR-01/WR-03 fixed, WR-02 dispositioned)
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(100): correct residual Likert4 mention in D-03 reason comment (WR-03)
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(100): persist E2E gates as UAT (deferred to Phase 101) + finalize review
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-REVIEW.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-UAT.md
Due: yarn build:app-shared, prettier --write

docs(phase-100): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): reflect phases 96 + 100 complete (E2E deferred to 101)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(97): research getRoute + consumer codemod phase
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(97): record O-1 Pitfall-1 resolution (Option A) as D-08
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(97): add validation strategy
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(97): add pattern map
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(97): create phase plan (3 plans, 3 waves)
  .planning/ROADMAP.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-01-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-02-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(97): finalize phase plan (D-03 citation, nyquist flag, state/roadmap)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-03-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(97): cross-AI review (claude reviewer)
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-REVIEWS.md
Due: yarn build:app-shared, prettier --write

docs(97): revise plans per cross-AI review (fold getRoute into atomic codemod, D-09)
  .planning/ROADMAP.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-01-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-02-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-03-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(97): finalize plans after checker (live-count annotation, STATE plan_count=2)
  .planning/STATE.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-02-PLAN.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-VALIDATION.md
Due: yarn build:app-shared, prettier --write

fix(97-01): replace adminContext authContext spread with delegating getters
  apps/frontend/src/lib/contexts/admin/adminContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(97-01): read AdminNav isAuthenticated via $derived(ctx.isAuthenticated)
  apps/frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
Due: none

docs(97-01): complete admin auth-reactivity fix plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write
