Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

test(64-01): wire candidate nominations to parties via parent_nomination
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(64-01): derive parentNominationType in supabase adapter
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(64-01): update repro-notes with cascading-findings deviations
  .planning/phases/64-voter-results-reactivity-completion/repro/repro-notes.md
Due: yarn build:app-shared, prettier --write

docs(64-01): complete voter-results reactivity plan summary
  .planning/phases/64-voter-results-reactivity-completion/64-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(64-02): empirically disambiguate D-08 shapes 3+4 deeplink rendering
  .planning/phases/64-voter-results-reactivity-completion/repro/deeplink-repro-notes.md
  .planning/phases/64-voter-results-reactivity-completion/repro/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(64-02): log pre-existing supabase SQL lint warnings as deferred
  .planning/phases/64-voter-results-reactivity-completion/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(64-02): complete deeplink load chain plan summary
  .planning/phases/64-voter-results-reactivity-completion/64-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(64-03): capture canonical post-fix Playwright artifact (pre-Task 2)
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright-report.json
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright.stderr.txt
Due: yarn build:app-shared, prettier --write

fix(64-04): guard removeEventListener with browser check in PreventNavigation
  apps/frontend/src/lib/components/preventNavigation/PreventNavigation.svelte
Due: none

docs(64-04): inventory pre-existing Svelte 5 warnings (Task 1)
  .planning/phases/64-voter-results-reactivity-completion/64-04-WARNINGS-MANIFEST.md
Due: yarn build:app-shared, prettier --write

fix(64-04): rename a11y rules + close non-void elements (Task 2)
  apps/frontend/src/lib/candidate/components/passwordValidator/PasswordValidator.svelte
  apps/frontend/src/lib/components/button/Button.svelte
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/components/loading/Loading.svelte
  apps/frontend/src/lib/components/modal/timed/TimedModal.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/scoreGauge/ScoreGauge.svelte
  apps/frontend/src/lib/components/select/Select.svelte
  apps/frontend/src/lib/components/video/Video.svelte
  apps/frontend/src/routes/Header.svelte
  apps/frontend/src/routes/Layout.svelte
Due: none

fix(64-04): declare mutable refs and counters with $state (Task 3)
  apps/frontend/src/lib/candidate/components/logoutButton/LogoutButton.svelte
  apps/frontend/src/lib/components/expander/Expander.svelte
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/components/loading/Loading.svelte
  apps/frontend/src/lib/components/modal/timed/TimedModal.svelte
  apps/frontend/src/lib/components/questions/QuestionOpenAnswer.svelte
  apps/frontend/src/lib/components/select/Select.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  apps/frontend/src/lib/dynamic-components/survey/banner/SurveyBanner.svelte
  apps/frontend/src/routes/(voters)/(located)/+layout.svelte
  apps/frontend/src/routes/(voters)/nominations/+page.svelte
  apps/frontend/src/routes/candidate/login/+page.svelte
Due: none

fix(64-04): wrap prop reads in $derived/$effect — Svelte 5 reactivity (Task 4)
  apps/frontend/src/lib/candidate/components/logoutButton/LogoutButton.svelte
  apps/frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  apps/frontend/src/lib/components/button/Button.svelte
  apps/frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  apps/frontend/src/lib/components/electionSelector/ElectionSelector.svelte
  apps/frontend/src/lib/components/entityFilters/text/TextEntityFilter.svelte
  apps/frontend/src/lib/components/errorMessage/ErrorMessage.svelte
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/components/input/QuestionInput.svelte
  apps/frontend/src/lib/components/modal/timed/TimedModal.svelte
  apps/frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  apps/frontend/src/lib/components/questions/QuestionArguments.svelte
  apps/frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  apps/frontend/src/lib/components/successMessage/SuccessMessage.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityChildren.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetailsDrawer.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  apps/frontend/src/lib/dynamic-components/feedback/Feedback.svelte
  apps/frontend/src/routes/candidate/login/+page.svelte
Due: none

fix(64-04): resolve genuine a11y violations + justify retained suppressions (Task 5)
  apps/frontend/src/lib/components/input/Input.svelte
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/components/select/Select.svelte
Due: none

fix(64-04): bump voter.fixture.ts timeouts for full-suite render pressure (Task 6)
  tests/tests/fixtures/voter.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(64-04): plan summary
  .planning/phases/64-voter-results-reactivity-completion/64-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(64-03): recapture notes — full-suite still has cascade
  .planning/phases/64-voter-results-reactivity-completion/64-03-RECAPTURE-NOTES.md
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright-report.pre-64-04.json
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright.stderr.pre-64-04.txt
Due: yarn build:app-shared, prettier --write

wip: phase-64 paused at plan-03 task-1 awaiting fix-path decision
  .planning/HANDOFF.json
  .planning/phases/64-voter-results-reactivity-completion/.continue-here.md
Due: yarn build:app-shared, prettier --write

fix(64-04): raise per-test timeout to 90s for full-suite render pressure (Path A continuation)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(64-03): capture v2.6 anchor (attempt 3, post-Option-A) — cascade unchanged but diagnostic shifted
  .planning/phases/64-voter-results-reactivity-completion/64-03-RECAPTURE-NOTES.md
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright-report.json
Due: yarn build:app-shared, prettier --write

test(64-03): capture v2.6 anchor (attempt 4) — D-07 PASS via protocol fix
  .planning/phases/64-voter-results-reactivity-completion/64-03-PLAN.md
  .planning/phases/64-voter-results-reactivity-completion/64-03-RECAPTURE-NOTES.md
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright-report.attempt-3.json
  .planning/phases/64-voter-results-reactivity-completion/post-fix/playwright.stderr.attempt-3.txt
Due: yarn build:app-shared, prettier --write

chore(64-03): regenerate parity-script constants from v2.6 anchor baseline (D-08 + D-09 + Pitfall 5)
  .planning/phases/59-e2e-fixture-migration/scripts/diff-playwright-reports.ts
  .planning/phases/64-voter-results-reactivity-completion/post-fix/diff.md
  .planning/phases/64-voter-results-reactivity-completion/post-fix/regen-constants.mjs
  .planning/phases/64-voter-results-reactivity-completion/post-fix/regen-output.txt
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(64-03): verification report (Step 0 prerequisite for Task 3 checkpoint)
  .planning/phases/64-voter-results-reactivity-completion/64-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

feat(default-seed): densify to 5 constituencies × 8 parties × matrix-distributed candidates (327 total)
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/src/templates/defaults/candidates-override.ts
  packages/dev-seed/src/templates/defaults/nominations-override.ts
  packages/dev-seed/src/templates/defaults/questions-override.ts
  packages/dev-seed/tests/integration/default-template.integration.test.ts
  packages/dev-seed/tests/templates/default.test.ts
  packages/dev-seed/tests/templates/nominations-override.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(64-03): adapter reverse-fills nomination parent → children id arrays
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(64-03): filterStore reaches opinion-category questions; QuestionChoices inputs ref reactive
  apps/frontend/src/lib/components/questions/QuestionChoices.svelte
  apps/frontend/src/lib/contexts/voter/filters/filterStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(64-03): voter-results reactivity hardening — drawer cycle preserves filters + scroll
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/voter/voterContext.svelte.ts
  apps/frontend/src/lib/dynamic-components/entityList/EntityList.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.svelte
  apps/frontend/src/routes/(voters)/(located)/results/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(todos): bind:* + {#key} audits, nominationId routing follow-up
  .planning/todos/pending/results-url-refactor-followups.md
  .planning/todos/pending/svelte5-cleanup.md
Due: yarn build:app-shared, prettier --write

docs(64-03): plan summary — parity gate close + manual smoke + in-flight reactivity fixes
  .planning/phases/64-voter-results-reactivity-completion/.gitkeep
  .planning/phases/64-voter-results-reactivity-completion/64-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(state): Phase 64 closed — v2.6 milestone-close unblocked
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: update retrospective for v2.6
  .planning/REQUIREMENTS.md
  .planning/RETROSPECTIVE.md
Due: yarn build:app-shared, prettier --write

docs(todos): close 5 v2.6-resolved todos; merge session-storage into results-url-refactor
  .planning/todos/done/check-candidate-distribution.md
  .planning/todos/done/entity-list-controls-infinite-loop.md
  .planning/todos/done/root-layout-runes-migration.md
  .planning/todos/done/session-storage-election-constituency.md
  .planning/todos/done/svelte5-hydration-effect-then-bug.md
  .planning/todos/pending/results-url-refactor-followups.md
  .planning/todos/pending/svelte5-cleanup.md
Due: yarn build:app-shared, prettier --write

docs(todos): promote 9 captured notes to 7 pending todos
  .planning/todos/pending/2026-04-25-dev-tooling-cleanup-trio.md
  .planning/todos/pending/2026-04-25-investigate-destructuring-contexts.md
  .planning/todos/pending/2026-04-25-normalise-app-shared-paradigm.md
  .planning/todos/pending/2026-04-25-remove-mergesettings-reexports.md
  .planning/todos/pending/2026-04-27-cleanup-sloppy-typing-supabaseDataProvider.md
  .planning/todos/pending/2026-04-28-add-alliances-to-default-test-data.md
  .planning/todos/pending/2026-04-28-cleanup-nominations-table.md
Due: yarn build:app-shared, prettier --write

docs(state): record v2.7 seed scope — Svelte 5 polish + supabase-adapter loose ends
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.7 Svelte 5 Polish + Supabase-Adapter Loose Ends
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/phases/59-e2e-fixture-migration/post-swap/playwright-report.json
  .planning/phases/59-e2e-fixture-migration/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: define milestone v2.7 requirements
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.7 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: tag 6 pending todos with resolves_phase after milestone v2.7 roadmap
  .planning/todos/pending/2026-04-25-dev-tooling-cleanup-trio.md
  .planning/todos/pending/2026-04-25-investigate-destructuring-contexts.md
  .planning/todos/pending/2026-04-27-cleanup-sloppy-typing-supabaseDataProvider.md
  .planning/todos/pending/2026-04-28-add-alliances-to-default-test-data.md
  .planning/todos/pending/2026-04-28-cleanup-nominations-table.md
  .planning/todos/pending/svelte5-cleanup.md
Due: yarn build:app-shared, prettier --write

docs(65-68): capture phase context for v2.7 milestone (4 phases batch)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/65-svelte-5-audit-sweeps/65-CONTEXT.md
  .planning/phases/65-svelte-5-audit-sweeps/65-DISCUSSION-LOG.md
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-CONTEXT.md
  .planning/phases/66-nominations-schema-adapter-type-cleanup/66-DISCUSSION-LOG.md
  .planning/phases/67-default-seed-alliances/67-CONTEXT.md
  .planning/phases/67-default-seed-alliances/67-DISCUSSION-LOG.md
  .planning/phases/68-dev-tooling-trio/68-CONTEXT.md
  .planning/phases/68-dev-tooling-trio/68-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write
