Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: modal now wraps its contents with ModalContainer
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/Modal.type.ts
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/drawer/DrawerContainer.svelte
  frontend/src/lib/components/modal/timed/TimedModal.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: modal optional container, improve infoSection types, drawer inheritance
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/Modal.type.ts
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/drawer/DrawerContainer.svelte
  frontend/src/lib/components/modal/drawer/index.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

style: fix linting issues
  frontend/src/lib/api/adapters/strapi/utils/index.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: setting for enabling extended question info
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: various improvements related to #673
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/Modal.type.ts
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `floating-icon` variant for `Button`
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: infoSections text -> content
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove actions slot from Drawer
  frontend/src/lib/components/modal/drawer/Drawer.svelte
Due: none

fix: wrap HeadingGroup in button if nextQuestionChoices.length
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

refactor[backend]: reorganize Strapi utils
  backend/vaa-strapi/src/api/app-setting/controllers/app-setting.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/functions/loadDefaultAppSettings.ts
  backend/vaa-strapi/src/functions/loadDynamicTranslations.ts
  backend/vaa-strapi/src/functions/setDefaultApiPermissions.ts
  backend/vaa-strapi/src/util/api.ts
  backend/vaa-strapi/src/util/appCustomization.ts
  backend/vaa-strapi/src/util/appSettings.ts
  backend/vaa-strapi/src/util/drop.ts
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  tests/tests/translations.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `externalId` property
  backend/vaa-strapi/src/api/candidate/content-types/candidate/schema.json
  backend/vaa-strapi/src/api/constituency-group/content-types/constituency-group/schema.json
  backend/vaa-strapi/src/api/constituency/content-types/constituency/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/api/question-category/content-types/question-category/schema.json
  backend/vaa-strapi/src/api/question-type/content-types/question-type/schema.json
  backend/vaa-strapi/src/api/question/content-types/question/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: yarn build:app-shared, prettier --write

feat[backend]: add `externalId` to mock data
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run lint:fix
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

fix: generateMockData question info sections format
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(factor-analysis): add factor analysis package
  packages/factor-analysis/.gitignore
  packages/factor-analysis/README.md
  packages/factor-analysis/package.json
  packages/factor-analysis/src/api.test.ts
  packages/factor-analysis/src/api.ts
  packages/factor-analysis/src/api.type.ts
  packages/factor-analysis/src/factorAnalysis.test.ts
  packages/factor-analysis/src/factorAnalysis.ts
  packages/factor-analysis/src/factorAnalysis.type.ts
  packages/factor-analysis/src/index.ts
  packages/factor-analysis/src/polychoric/correlation.test.ts
  packages/factor-analysis/src/polychoric/correlation.ts
  packages/factor-analysis/src/polychoric/correlation.type.ts
  packages/factor-analysis/src/polychoric/index.ts
  packages/factor-analysis/src/polychoric/matrix.test.ts
  packages/factor-analysis/src/polychoric/matrix.ts
  packages/factor-analysis/src/types/index.ts
  packages/factor-analysis/src/utils/normalDistribution.ts
  packages/factor-analysis/src/utils/statisticalUtils.test.ts
  packages/factor-analysis/src/utils/statisticalUtils.ts
  packages/factor-analysis/tsconfig.json
  packages/factor-analysis/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Loop through questions and open answers from strapi
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  backend/vaa-strapi/src/api/argument-condensation/utils/csv-generator.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  packages/argument-condensation/dist/index.d.ts
  packages/argument-condensation/dist/index.js
  packages/argument-condensation/results/results_v0.csv
  packages/argument-condensation/results/results_v0.json
  packages/argument-condensation/results/results_v0.txt
  packages/argument-condensation/results/results_v0.txt.csv
  packages/argument-condensation/results/results_v0.txt.json
  packages/argument-condensation/results/results_v0.txt.txt
  packages/argument-condensation/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[backend]: increase upload limits to 20mb
  backend/vaa-strapi/config/middlewares.ts
  backend/vaa-strapi/config/plugins.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: import and delete data functions
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/utils/apiResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DataBase.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/Initializer.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/PluginIcon.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/App.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/data.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: rerouting from unprotected Cand App pages
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
Due: none

tmp: fix registration email sending
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: edit and add translations
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/candidateApp.questions.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.questions.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.questions.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: allow customizing `<main>` element
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/Layout.type.ts
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: go to `CandAppHome` when last missing `Question` is answered
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

build: `docker:delete-all` yarn script and fix `sync:translations`
  package.json
Due: yarn build:app-shared, prettier --write

fix: `ChoiceQuestions` with missing `choices` throw
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add `url` type and error handling to `Input`
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/Input.type.ts
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/utils/links.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: allow saving of incomplete Candidate basic infos
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: none

fix: translating objects
  frontend/src/lib/i18n/init.ts
  packages/app-shared/src/data/extendedData.type.ts
  packages/app-shared/src/data/isLocalized.ts
  packages/app-shared/src/data/isLocalizedString.ts
  packages/app-shared/src/data/utils/isPlainObject.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: make `CandAppHelp` route unprotected
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: none

fixup! feat: allow customizing `<main>` element
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: none

refactor: `Expander` styling
  frontend/src/lib/components/expander/Expander.svelte
Due: none

feat: `preRegistration.enable` static setting
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: include metadata in support email
  frontend/src/lib/dynamic-components/feedback/Feedback.svelte
  frontend/src/lib/i18n/translations/en/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/email.ts
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! refactor: make `CandAppHelp` route unprotected
  frontend/src/lib/utils/route/route.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! refactor: make `CandAppHelp` route unprotected
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
Due: none

feat: add more items to `CandidateNav` when not logged in
  frontend/src/lib/components/icon/icons.ts
  frontend/src/lib/components/icon/svg/material/login.ts
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandAppHelp` layout and texts
  frontend/src/lib/i18n/translations/en/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write

fix: show questions correctly with showCategoryTags setting and refactor code
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

refactor: `small-info` and `circled-on-shaded` styles
  frontend/src/app.css
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/components/scoreGauge/ScoreGauge.svelte
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/dynamic-components/footer/Footer.svelte
  frontend/src/lib/dynamic-components/survey/banner/SurveyBanner.svelte
  frontend/src/lib/dynamic-components/survey/popup/SurveyPopup.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! chore: edit and add translations
  frontend/src/lib/i18n/translations/en/candidateApp.help.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
