Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(101): restructure voter-journey D-03 boundary step
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(101): record USER GATE on 101-02 plan
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-02-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(101): scope expectQuestionAndAdvance option count to current question id
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: capture todo - full clearance of remaining non-runes Svelte 4 code
  .planning/todos/pending/2026-06-06-full-clearance-of-remaining-non-runes-svelte-4-code.md
Due: yarn build:app-shared, prettier --write

fix(101): queue candidate notification via onMount, not reactive $effect
  apps/frontend/src/routes/candidate/+layout.svelte
Due: none

fix(101): settle entity-filter options before counting in setSelection
  tests/tests/fixtures/voter/entityFilters.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(phase-101): complete phase — milestone-close green gate passed (84/0 + unit + a11y + 3x determinism)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: capture todos - hide forgot-pwd input after submit + supabase local-dev link host
  .planning/todos/pending/2026-06-07-hide-forgot-password-email-input-after-submitting.md
  .planning/todos/pending/2026-06-07-supabase-email-link-not-pointing-to-localhost-in-local-dev.md
Due: yarn build:app-shared, prettier --write

docs(quick-260607-cd0): e2e test folder cleanup catalogue + overlap analysis + proposed deprecation plan (analysis-only)
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-CONTEXT.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-E2E-CLEANUP-REPORT.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-PLAN.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-RESEARCH.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-SUMMARY.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(quick-260607-cd0): record quick task in STATE.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(e2e): remove dead utils — answerQuestion, translations + paths cascade
  tests/tests/utils/answerQuestion.ts
  tests/tests/utils/paths.ts
  tests/tests/utils/translations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(e2e): clean up helpers/ — drop dead helpers + .helper suffix
  tests/tests/helpers/README.md
  tests/tests/helpers/db-precondition.helper.ts
  tests/tests/helpers/index.ts
  tests/tests/helpers/navigation.ts
  tests/tests/helpers/select.ts
  tests/tests/helpers/settle.ts
  tests/tests/helpers/voter-iteration.helper.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(e2e): track Idura bank-auth manual testing runbook
  tests/IDURA-TEST-RUNBOOK.md
Due: yarn build:app-shared, prettier --write

docs(quick-260607-cd0): record cleanup follow-up execution (items 1-5 + rename + IDURA; item 6 deferred)
  .planning/STATE.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-E2E-CLEANUP-REPORT.md
  .planning/todos/pending/2026-06-07-consolidate-emailhelper-into-emailbucket-fixture.md
Due: yarn build:app-shared, prettier --write

test(e2e): internalise emailHelper into emailBucket fixture, retire emailHelper.ts
  tests/tests/fixtures/shared/emailBucket.fixture.ts
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/specs/perm/perm-localisation-positive.spec.ts
  tests/tests/utils/emailHelper.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260607-cd0): item 6 emailHelper internalised (code done; live-green pending)
  .planning/STATE.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-E2E-CLEANUP-REPORT.md
  .planning/todos/pending/2026-06-07-consolidate-emailhelper-into-emailbucket-fixture.md
Due: yarn build:app-shared, prettier --write

test(e2e): run perf + a11y by default (opt-out via PLAYWRIGHT_NO_*)
  .github/workflows/main.yaml
  tests/README.md
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260607-cd0): close item 6 + e2e cleanup follow-up (all tests pass, live-green)
  .planning/STATE.md
  .planning/quick/260607-cd0-clean-up-e2e-test-folder-catalogue-fixtu/260607-cd0-E2E-CLEANUP-REPORT.md
  .planning/todos/completed/2026-06-07-consolidate-emailhelper-into-emailbucket-fixture.md
Due: yarn build:app-shared, prettier --write

test(e2e): strip phase/change-history pointer comments
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/helpers/index.ts
  tests/tests/specs/a11y/a11y-smoke.spec.ts
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260607-j0y): strip phase/change-history comments from e2e tests
  .planning/STATE.md
  .planning/quick/260607-j0y-remove-phase-change-history-pointer-comm/260607-j0y-PLAN.md
  .planning/quick/260607-j0y-remove-phase-change-history-pointer-comm/260607-j0y-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(e2e): select last option (optionIndex n-1) in voter-journey round-trip + regional steps
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: add resolved Phase 93 e2e regression-clusters debug record
  .planning/debug/phase93-e2e-regression-clusters.md
Due: yarn build:app-shared, prettier --write

fix(dev-seed): force candidateApp notifications off in perm base settings
  packages/dev-seed/src/templates/e2e/perm/shared.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(v2.11): milestone audit (tech_debt) + remove stale v2.10 close artifacts
  .planning/.continue-here.md
  .planning/HANDOFF.json
  .planning/v2.11-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

docs(v2.11): pre-close doc remediation — author 101-VERIFICATION, flip NAVA11Y-03 note, backfill SUMMARY req-IDs
  .planning/REQUIREMENTS.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-01-SUMMARY.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-02-SUMMARY.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-VERIFICATION.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-04-SUMMARY.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-03-SUMMARY.md
  .planning/v2.11-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

chore: archive v2.11 milestone files
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/debug/elections-continue-stall.md
  .planning/milestones/v2.11-MILESTONE-AUDIT.md
  .planning/milestones/v2.11-REQUIREMENTS.md
  .planning/milestones/v2.11-ROADMAP.md
Due: yarn build:app-shared, prettier --write

chore: remove REQUIREMENTS.md for v2.11 milestone
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

chore(todos): archive 8 already-shipped backlog items to done/
  .planning/todos/done/2026-04-25-normalise-app-shared-paradigm.md
  .planning/todos/done/2026-04-25-remove-mergesettings-reexports.md
  .planning/todos/done/2026-04-30-alliance-tab-rendering-and-sections-config.md
  .planning/todos/done/2026-05-08-cleanup-65-01-bind-rationale-comments.md
  .planning/todos/done/2026-05-12-a11y-axe-first-run-violations.md
  .planning/todos/done/2026-05-12-candidate-profile-cascading-race.md
  .planning/todos/done/2026-05-15-refactor-package-scripts-db-prefixed-scripts-only-affect-the.md
  .planning/todos/done/2026-06-01-reenable-perm-per-app-notifications-after-runes-migration.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.12 Runes-Native Cleanup
  .planning/PROJECT.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v2.12 requirements
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.12 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: tag 2 pending todos with resolves_phase after milestone v2.12 roadmap
  .planning/todos/pending/2026-06-04-extend-svelte-store-eslint-guard-app-wide.md
  .planning/todos/pending/2026-06-06-full-clearance-of-remaining-non-runes-svelte-4-code.md
Due: yarn build:app-shared, prettier --write

docs: resolve v2.12 batch discussion → DECISIONS.md + 4 phase CONTEXT.md
  .planning/phases/102-handle-idiom-spike/102-CONTEXT.md
  .planning/phases/103-current-handle-codemod/103-CONTEXT.md
  .planning/phases/104-store-state-rename/104-CONTEXT.md
  .planning/phases/105-straggler-clearance-milestone-close-green-gate/105-CONTEXT.md
  .planning/v2.12-DECISIONS.md
  .planning/v2.12-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(102): research handle-idiom spike domain
  .planning/phases/102-handle-idiom-spike/102-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-102): add validation strategy
  .planning/phases/102-handle-idiom-spike/102-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(102): create phase plan
  .planning/ROADMAP.md
  .planning/phases/102-handle-idiom-spike/102-01-PLAN.md
  .planning/phases/102-handle-idiom-spike/102-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(102): create phase plan (2 plans — decision record + PoC)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(102-01): author handle-idiom classification decision record
  .planning/phases/102-handle-idiom-spike/102-DECISION-RECORD.md
Due: yarn build:app-shared, prettier --write

docs(102): approve DX-5 gate — lock Phase-103 codemod scope (E4 retained)
  .planning/phases/102-handle-idiom-spike/102-DECISION-RECORD.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
