Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(97-02): persist admin auth-reactivity UAT as pending (deferred to verify-work)
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-UAT.md
Due: yarn build:app-shared, prettier --write

chore(97-02): delete + archive one-shot store codemod (D-06)
  .planning/archive/spike-009-store-codemod.mjs
Due: none

docs(97-02): complete plan summary (atomic codemod landed; admin UAT deferred to verify-work)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(97): phase verification (human_needed — admin UAT pending) + end auto-chain
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(auth): admin login via locals.supabase so session cookie is set
  apps/frontend/src/routes/admin/login/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(97): record CONS-03 admin nav UAT pass + supabase-in-routes migration todo
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-UAT.md
  .planning/todos/pending/2026-06-05-migrate-supabase-auth-code-from-routes-to-adapters.md
Due: yarn build:app-shared, prettier --write

docs(97): mark phase complete — CONS-03 human UAT passed (10/10)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(98): add research + validation strategy
  .planning/phases/98-domain-a-wave-4-cleanup/98-RESEARCH.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(98): create phase plan — 4 plans (data-seam, app-seam, deletions, ESLint guard)
  .planning/ROADMAP.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-01-PLAN.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-02-PLAN.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-03-PLAN.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-04-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(98): finalize plans — cite D-04 in plan 03, resolve research open-Qs, record planning complete
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-03-PLAN.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-RESEARCH.md
Due: yarn build:app-shared, prettier --write

refactor(98-01): remove Readable<DataRoot> store bridge from dataContext
  apps/frontend/src/lib/contexts/data/dataContext.svelte.ts
  apps/frontend/src/lib/contexts/data/dataContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(98-01): migrate layout get(dataRoot) consumers to reactiveDataRoot.instance
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
Due: none

docs(98-01): complete data-layer svelte/store removal plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(98-02): reshape appContext store-exports to pure rune handles
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/app/appContext.type.ts
  apps/frontend/src/lib/contexts/app/tracking/trackingService.type.ts
  apps/frontend/src/lib/contexts/app/userPreferences.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(98-02): migrate app-seam consumers off store reads to .current
  apps/frontend/src/lib/dynamic-components/appLogo/AppLogo.svelte
  apps/frontend/src/lib/dynamic-components/dataConsent/DataConsent.svelte
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.svelte
  apps/frontend/src/lib/dynamic-components/footer/Footer.svelte
  apps/frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  apps/frontend/src/lib/dynamic-components/navigation/languages/LanguageSelection.svelte
  apps/frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  apps/frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  apps/frontend/src/lib/dynamic-components/survey/SurveyButton.svelte
  apps/frontend/src/lib/dynamic-components/survey/banner/SurveyBanner.svelte
  apps/frontend/src/routes/(voters)/+layout.svelte
  apps/frontend/src/routes/(voters)/+page.svelte
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/Banner.svelte
  apps/frontend/src/routes/Header.svelte
  apps/frontend/src/routes/admin/+layout.svelte
  apps/frontend/src/routes/admin/login/+page.svelte
  apps/frontend/src/routes/candidate/+layout.svelte
  apps/frontend/src/routes/candidate/help/+page.svelte
  apps/frontend/src/routes/candidate/login/+page.svelte
Due: none

docs(98-02): complete app-layer svelte/store removal plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(98-03): slim persistedState.svelte.ts to rune-only core (CLEAN-01)
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.test.ts
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(98-03): complete dead-store-scaffolding cleanup plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-03-SUMMARY.md
  .planning/phases/98-domain-a-wave-4-cleanup/deferred-items.md
Due: yarn build:app-shared, prettier --write

feat(98-04): add CLEAN-02 ESLint guard banning svelte/store in contexts/routes
  apps/frontend/eslint.config.mjs
  apps/frontend/src/lib/contexts/app/survey.svelte.test.ts
  apps/frontend/src/lib/contexts/app/tracking/trackingService.svelte.test.ts
  apps/frontend/src/routes/candidate/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(98-04): complete CLEAN-02 eslint-guard plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(98): add code review report
  .planning/phases/98-domain-a-wave-4-cleanup/98-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-98): complete phase execution
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): reconcile linear pointer to Phase 101
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(101): research suite re-enable + milestone-close green gate
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-101): add validation strategy
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(101): create phase plan (3 plans, 2 waves)
  .planning/ROADMAP.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-01-PLAN.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-02-PLAN.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(101): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): reconcile Current Position to Phase 101 planned/ready-to-execute
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(101-01): un-quarantine perm-per-app-notifications spec
  tests/tests/specs/perm/perm-per-app-notifications.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(101-01): remove stale quarantine comment in playwright config
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(101): make expectQuestionAndAdvance require known heading text
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(101): document --no-deps standalone recipe for perm-per-app-notifications
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(101): unbreak EntityList — read locale rune handle via .current
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  apps/frontend/src/lib/dynamic-components/entityList/EntityListWithControls.svelte
Due: none

docs: capture todo - fix broken default seed template
  .planning/todos/pending/2026-06-06-fix-broken-default-seed-template.md
Due: yarn build:app-shared, prettier --write

docs: capture todo - disable hover/pointer on disabled Results header button
  .planning/todos/pending/2026-06-06-disable-hover-and-pointer-on-disabled-results-header-button.md
Due: yarn build:app-shared, prettier --write

fix(101): await drawer fly transition before axe scan (contrast false positive)
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(101): Wave 1 complete — 101-01 + 101-02 SUMMARYs + tracking
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-01-SUMMARY.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(101): re-enable candidate-app notification popup
  apps/frontend/src/routes/candidate/+layout.svelte
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
