Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

custom: deployed Umami code
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: terms of use
  frontend/src/lib/candidate/components/termsOfUse/TermsOfUse.svelte
Due: none

feat: llm settings to dynamic settings
  backend/vaa-strapi/src/functions/generateMockData.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

stylefix
  backend/vaa-strapi/src/functions/generateMockData.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Improve debugging
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  backend/vaa-strapi/src/api/argument-condensation/utils/csv-generator.ts
  backend/vaa-strapi/src/api/argument-condensation/utils/debug-data-generator.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  packages/argument-condensation/backend-results/answers.json
  packages/argument-condensation/results/processed_arguments.csv
  packages/argument-condensation/results/processed_arguments.json
  packages/argument-condensation/results/processed_arguments.txt
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix variable name
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  packages/argument-condensation/backend-results/answers.json
  packages/argument-condensation/dist/Condenser.d.ts
  packages/argument-condensation/dist/Condenser.js
  packages/argument-condensation/dist/index.d.ts
  packages/argument-condensation/dist/index.js
  packages/argument-condensation/dist/languageOptions/english.d.ts
  packages/argument-condensation/dist/languageOptions/english.js
  packages/argument-condensation/dist/languageOptions/finnish.d.ts
  packages/argument-condensation/dist/languageOptions/finnish.js
  packages/argument-condensation/dist/types/Argument.d.ts
  packages/argument-condensation/dist/types/Errors.d.ts
  packages/argument-condensation/dist/types/Errors.js
  packages/argument-condensation/dist/types/LanguageConfig.d.ts
  packages/argument-condensation/dist/types/LanguageConfig.js
  packages/argument-condensation/dist/utils/OutputParser.d.ts
  packages/argument-condensation/dist/utils/OutputParser.js
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add real data for questions and extend mockdata capaility to handle real answers
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/mockData/mockAnswers.json
  backend/vaa-strapi/src/functions/mockData/mockArguments.json
  backend/vaa-strapi/src/functions/mockData/mockQuestions.json
  packages/argument-condensation/backend-results/answers.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: update info on component styling
  docs/contributing/style-guides.md
  docs/frontend/styling.md
Due: yarn build:app-shared, prettier --write

feat: log error from `ErrorMessage` component
  frontend/src/lib/components/errorMessage/ErrorMessage.svelte
  frontend/src/lib/components/errorMessage/ErrorMessage.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: bump Github actions
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: lint and format
  backend/vaa-strapi/src/index.ts
  frontend/src/lib/candidate/components/logoutButton/LogoutButton.svelte
  frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.svelte
  frontend/src/lib/candidate/components/passwordValidator/PasswordValidator.svelte
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/expander/Expander.svelte
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/InputGroup.svelte
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/components/questions/QuestionOpenAnswer.svelte
  frontend/src/lib/components/successMessage/SuccessMessage.svelte
  frontend/src/lib/components/warning/Warning.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.svelte
  frontend/src/lib/dynamic-components/footer/Footer.svelte
  frontend/src/lib/dynamic-components/navigation/Navigation.svelte
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/[entityType]/[entityId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.svelte
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: enable unit tests for `@openvaa/strapi`
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.json
  backend/vaa-strapi/vitest.config.ts
  package.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `SingleCardContent` layout component
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: none

refactor: context utilities
  frontend/src/lib/contexts/utils/dataCollectionStore.ts
  frontend/src/lib/contexts/utils/questionBlockStore.ts
  frontend/src/lib/contexts/utils/questionBlockStore.type.ts
  frontend/src/lib/contexts/utils/questionCategoryStore.ts
  frontend/src/lib/contexts/utils/questionStore.ts
  frontend/src/lib/contexts/voter/filters/filterStore.ts
  frontend/src/lib/contexts/voter/index.ts
  frontend/src/lib/contexts/voter/voterContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Candidate.identifier` property
  backend/vaa-strapi/src/api/candidate/content-types/candidate/schema.json
Due: yarn build:app-shared, prettier --write

chore: fix e2d tests
  backend/vaa-strapi/src/functions/mockData/mockInfoQuestions.json
  tests/tests/candidateApp-advanced.spec.ts
  tests/tests/candidateApp-basics.spec.ts
  tests/tests/global-setup.ts
  tests/tests/utils/buildRoute.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: callback properties for `PreventNavigation` component
  frontend/src/lib/components/preventNavigation/PreventNavigation.svelte
  frontend/src/lib/components/preventNavigation/PreventNavigation.type.ts
  frontend/src/lib/components/preventNavigation/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: move `answersLocked` to `AppSettings`
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: extend `Image` type for easier use
  packages/data/src/core/image.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `prominent` variant for `Button`
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `ElectionTag` component
  frontend/src/lib/components/electionTag/ElectionTag.svelte
  frontend/src/lib/components/electionTag/ElectionTag.type.ts
  frontend/src/lib/components/electionTag/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add and edit translations
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/utils/translations/en/dynamic.json
  backend/vaa-strapi/src/functions/utils/translations/fi/dynamic.json
  backend/vaa-strapi/src/functions/utils/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/candidateApp.common.json
  frontend/src/lib/i18n/translations/en/candidateApp.error.json
  frontend/src/lib/i18n/translations/en/candidateApp.notSupported.json
  frontend/src/lib/i18n/translations/en/candidateApp.questions.json
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.common.json
  frontend/src/lib/i18n/translations/fi/candidateApp.error.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.home.json
  frontend/src/lib/i18n/translations/fi/candidateApp.notSupported.json
  frontend/src/lib/i18n/translations/fi/candidateApp.questions.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.common.json
  frontend/src/lib/i18n/translations/sv/candidateApp.error.json
  frontend/src/lib/i18n/translations/sv/candidateApp.notSupported.json
  frontend/src/lib/i18n/translations/sv/candidateApp.questions.json
  frontend/src/lib/i18n/translations/sv/common.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove `Answer` content type
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/src/api/answer/content-types/answer/schema.json
  backend/vaa-strapi/src/api/answer/controllers/answer.ts
  backend/vaa-strapi/src/api/answer/documentation/1.0.0/answer.json
  backend/vaa-strapi/src/api/answer/routes/answer.ts
  backend/vaa-strapi/src/api/answer/services/answer.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/util/removeNullishProps.ts
  backend/vaa-strapi/src/util/setEntityAnswers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `Layout` and `MainContent` components
  frontend/src/lib/dynamic-components/navigation/Navigation.svelte
  frontend/src/lib/dynamic-components/navigation/Navigation.type.ts
  frontend/src/lib/templates/page/parts/VoterNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.ts
  frontend/src/routes/[[lang=locale]]/Header.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: improve component docs
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/categoryTag/CategoryTag.svelte
  frontend/src/lib/components/categoryTag/CategoryTag.type.ts
  frontend/src/lib/components/tabs/Tabs.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: handle errors in `electionId` and `constituencyId` params
  frontend/src/lib/contexts/voter/voterContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Expander` aria label
  frontend/src/lib/components/expander/Expander.svelte
Due: none

build: `sync:translations` yarn script
  package.json
Due: yarn build:app-shared, prettier --write

refactor: use `MainContent` and `Layout` in voter routes
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/[entityType]/[entityId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/about/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
  frontend/src/routes/[[lang=locale]]/+error.svelte
Due: none

fix: `Avatar` image size
  frontend/src/lib/components/avatar/Avatar.svelte
Due: none

chore: mark `strapiDataProvider` test suite as todo
  frontend/tests/strapiDataProvider/strapiDataProvider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Strapi 5 and deps
  backend/vaa-strapi/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat: enable prop forwarding for `Warning`
  frontend/src/lib/components/warning/Warning.svelte
  frontend/src/lib/components/warning/Warning.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: provide `PUBLIC_BROWSER_FRONTEND_URL` env var to backend
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/docker-compose.yml
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/plugins/candidate-admin/server/services/email.js
  docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: enable multiple `Nomination`s for `Candidate`s in Strapi
  backend/vaa-strapi/src/api/candidate/content-types/candidate/schema.json
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: treat empty strings as empty when translating
  frontend/src/lib/i18n/init.ts
  frontend/src/lib/i18n/tests/utils.test.ts
  packages/data/src/i18n/translate.test.ts
  packages/data/src/i18n/translate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: delete unused `docker-compose.yml` files
  backend/vaa-strapi/docker-compose.yml
  docker-compose.yml
  frontend/docker-compose.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
