Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(95-05): token-keyed settingsOverlay registry + layoutContext on use*() API
  apps/frontend/src/lib/contexts/layout/layoutContext.svelte.ts
  apps/frontend/src/lib/contexts/layout/layoutContext.type.ts
  apps/frontend/src/lib/contexts/utils/SettingsOverlay.svelte.test.ts
  apps/frontend/src/lib/contexts/utils/SettingsOverlay.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(95-05): migrate shared chrome + nav callsites to getLayoutContext() no-arg
  apps/frontend/src/lib/dynamic-components/navigation/NavItem.svelte
  apps/frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
  apps/frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  apps/frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  apps/frontend/src/routes/Banner.svelte
  apps/frontend/src/routes/Header.svelte
  apps/frontend/src/routes/Layout.svelte
  apps/frontend/src/routes/MainContent.svelte
Due: none

refactor(95-05): migrate all route-leaf callsites to getLayoutContext() + use*()
  apps/frontend/src/lib/contexts/utils/SettingsOverlay.svelte.ts
  apps/frontend/src/routes/(voters)/(located)/questions/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  apps/frontend/src/routes/(voters)/+layout.svelte
  apps/frontend/src/routes/(voters)/+page.svelte
  apps/frontend/src/routes/(voters)/about/+page.svelte
  apps/frontend/src/routes/(voters)/info/+page.svelte
  apps/frontend/src/routes/(voters)/privacy/+page.svelte
  apps/frontend/src/routes/admin/+layout.svelte
  apps/frontend/src/routes/admin/login/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/preview/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/settings/+page.svelte
  apps/frontend/src/routes/candidate/+layout.svelte
  apps/frontend/src/routes/candidate/forgot-password/+page.svelte
  apps/frontend/src/routes/candidate/login/+page.svelte
  apps/frontend/src/routes/candidate/password-reset/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/+layout.svelte
  apps/frontend/src/routes/candidate/preregister/+layout.svelte
  apps/frontend/src/routes/candidate/preregister/+page.svelte
  apps/frontend/src/routes/candidate/register/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(95-05): complete CTX-04 layout overlay registry plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(95): add code review report
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(95): persist human verification items as UAT
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-UAT.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

feat(99-01): add shared viewTransition helper (shouldAnimate + typed startViewTransition)
  apps/frontend/src/lib/utils/viewTransition.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(99-01): merge View-Transitions + nav-a11y hooks into root layout
  apps/frontend/src/routes/+layout.svelte
Due: none

docs(99-01): complete view-transitions + nav-a11y plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-01-SUMMARY.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/deferred-items.md
Due: yarn build:app-shared, prettier --write

fix(95): sort imports in popupStore + answerStore tests (simple-import-sort)
  apps/frontend/src/lib/contexts/app/popup/popupStore.svelte.test.ts
  apps/frontend/src/lib/contexts/voter/answerStore.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(99-02): name singleton chrome + shared question surfaces; add heading focus markers
  apps/frontend/src/lib/components/questions/QuestionActions.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/Header.svelte
  apps/frontend/src/routes/MainContent.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

feat(99-02): name conditional results surfaces + local Tabs view-transition wrapper (O-1)
  apps/frontend/src/lib/components/tabs/Tabs.svelte
  apps/frontend/src/lib/components/tabs/Tabs.type.ts
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  apps/frontend/src/routes/(voters)/(located)/results/[[electionTab]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(99-02): complete view-transition-name placement + a11y focus markers plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(99-03): extend a11y-smoke with announcer + focus-on-nav assertions
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(99-03): complete navigation-a11y assertions plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-03-SUMMARY.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(99): add code review report
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-REVIEW.md
Due: yarn build:app-shared, prettier --write

fix(99): make afterNavigate focus-reset work app-wide (CR-02, NAVA11Y-02)
  apps/frontend/src/routes/MainContent.svelte
Due: none

docs(99): record operator dispositions in VERIFICATION (CR-02 fixed, CR-01 gap)
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(99): correct NAVA11Y-01/03 traceability (gap + pending live gate)
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(99): gap-closure plan 99-04 — localize route announcer (CR-01/NAVA11Y-01)
  .planning/ROADMAP.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-04-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(99-04): add routeTitle signal + setRouteTitle registrar to layout context
  apps/frontend/src/lib/contexts/layout/layoutContext.svelte.ts
  apps/frontend/src/lib/contexts/layout/layoutContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(99-04): announce localized route title on all routes (CR-01/NAVA11Y-01)
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/MainContent.svelte
  apps/frontend/src/routes/SingleCardContent.svelte
Due: none

test(99-04): assert announcer speaks localized title, not the DB slug (CR-01)
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(99-04): complete localize-route-announcer gap-closure plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(99): refresh code review report for gap-closure delta (99-04)
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-REVIEW.md
Due: yarn build:app-shared, prettier --write

fix(99-04): correct a11y heading assertion + guard announcer cleanup (CR-01 BLOCKER, WR-02)
  apps/frontend/src/lib/contexts/layout/layoutContext.svelte.ts
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(99): record code-review resolution (CR-01/WR-02 fixed, WR-01/WR-03 advisory)
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-REVIEW.md
Due: yarn build:app-shared, prettier --write

test(99): re-verify after CR-01 close — VERIFICATION human_needed (4/4) + persist UAT items
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-UAT.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(test): settle on new question before counting options in voter-journey
  .planning/debug/voter-journey-vt-regression.md
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(95,99): record auto-run UAT results (95: 2 pass/1 visual; 99: a11y gate located-fixture stall)
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-UAT.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-UAT.md
Due: yarn build:app-shared, prettier --write

fix(a11y): unblock a11y-smoke located walk + AccordionSelect listbox role
  .planning/debug/elections-continue-stall.md
  apps/frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  apps/frontend/src/lib/i18n/translations/da/components.json
  apps/frontend/src/lib/i18n/translations/en/components.json
  apps/frontend/src/lib/i18n/translations/et/components.json
  apps/frontend/src/lib/i18n/translations/fi/components.json
  apps/frontend/src/lib/i18n/translations/fr/components.json
  apps/frontend/src/lib/i18n/translations/lb/components.json
  apps/frontend/src/lib/i18n/translations/sv/components.json
  apps/frontend/src/lib/types/generated/translationKey.ts
  tests/tests/fixtures/voter/voter-journey.fixture.ts
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(99): a11y-smoke located walk unblocked (b801cfa6e) — 7/8 green; record entity-details color-contrast as distinct gap
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-UAT.md
Due: yarn build:app-shared, prettier --write

docs(roadmap): carry entity-details color-contrast gap into Phase 101 (deferred from 99 UAT)
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

test(95,99): defer visual UAT items per operator (95-1 SSR no-flash, 99-2 VT cross-fade) — non-blocking
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-UAT.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-UAT.md
Due: yarn build:app-shared, prettier --write

docs(96): add research + validation strategy (Tier-2 bridges)
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-RESEARCH.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(96): create phase plan (2 plans, 2 waves) — Tier-2 bridges
  .planning/ROADMAP.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-01-PLAN.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(96): add pattern map (Tier-2 analogs)
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(100): research questions layout restructure (QLAYOUT-01/02)
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(100): add validation strategy (questions layout restructure)
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(100): add pattern map (unified-layout-with-empty-leaf analogs)
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-PATTERNS.md
Due: yarn build:app-shared, prettier --write
