Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: apply lint
  frontend/src/lib/admin/components/jobs/FeatureJobs.svelte
  frontend/src/lib/admin/components/jobs/JobDetails.svelte
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.svelte
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
  packages/argument-condensation/tests/setup.ts
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
  packages/argument-condensation/vitest.config.ts
  packages/core/src/controller/noOpController.ts
  packages/llm/README.md
  packages/llm/src/index.ts
  packages/llm/src/llm-providers/llmProvider.ts
  packages/llm/src/llm-providers/provider.types.ts
  packages/llm/src/modelPricing.ts
  packages/llm/src/prompts/localizationInstructions.ts
  packages/llm/src/utils/costCalculation.type.ts
  packages/llm/src/utils/latencyTracker.type.ts
  packages/question-info/README.md
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/index.ts
  packages/question-info/src/prompts/en/consts.ts
  packages/question-info/src/prompts/en/generateInfoSections.yaml
  packages/question-info/src/prompts/en/generateTerms.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: handle `abortJob` within `JobDetails`
  frontend/src/lib/admin/components/jobs/FeatureJobs.svelte
  frontend/src/lib/admin/components/jobs/FeatureJobs.type.ts
  frontend/src/lib/admin/components/jobs/JobDetails.svelte
  frontend/src/lib/admin/components/jobs/JobDetails.type.ts
  frontend/src/lib/admin/utils/abortJob.ts
  frontend/src/lib/components/controller/index.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `LanguageSelector` admin component
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.type.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `condenseArguments` and `generateQuestionInfo`
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/features/generateQuestionInfo.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix linter errors
  frontend/src/lib/admin/components/languageFeatures/LanguageSelector.svelte
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: none

chore: fix example code
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[arg-cond][q-info]: fix unit tests
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
  packages/question-info/tests/api.test.ts
  packages/question-info/tests/questionTypes.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix translations tests primary locale
  frontend/src/lib/i18n/tests/translations.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: fix `dev:restart-frontend` script
  package.json
Due: yarn build:app-shared, prettier --write

fix: cache api route in `UNIVERSAL_API_ROUTES`
  frontend/src/lib/api/base/universalApiRoutes.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: replace `example.com` with `openvaa.org` in docs and tests
  backend/vaa-strapi/src/functions/mockData/mockAdmins.json
  docs/admin-app/README.md
  frontend/src/lib/api/base/universalAdapter.test.ts
  frontend/src/lib/api/utils/cachifyUrl.test.ts
  frontend/src/lib/server/admin/jobs/README.md
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: add info about reseeding mock data when testing
  docs/testing.md
Due: yarn build:app-shared, prettier --write

fix: logout api route in `UNIVERSAL_API_ROUTES`
  frontend/src/lib/api/base/universalApiRoutes.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore/fix: e2e tests
  frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  frontend/src/lib/components/errorMessage/ErrorMessage.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  tests/tests/candidateApp-advanced.spec.ts
  tests/tests/candidateApp-basics.spec.ts
  tests/tests/global-setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add `dev:start` script that does not watch for changes
  .github/workflows/main.yaml
  package.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: move Claude settings to non-local file
  .claude/settings.json
  .claude/settings.local.json
Due: yarn build:app-shared, prettier --write

docs: details about Svelte component documentation
  docs/code-review-checklist.md
  docs/contributing.md
Due: yarn build:app-shared, prettier --write

build: ignore local Claude settings
  .gitignore
Due: none

file-processing: add WIP docs
  packages/file-processing/README.md
  packages/file-processing/WIP.md
  packages/file-processing/src/api.ts
  packages/file-processing/src/utils/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

done: file-processing
  packages/file-processing/HANDOFF.md
  packages/file-processing/README.md
  packages/file-processing/WIP.md
Due: yarn build:app-shared, prettier --write

done: file processing
  packages/file-processing/HANDOFF.md
  packages/file-processing/src/core/documentAnalysis.ts
  packages/file-processing/src/core/textSegmentation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

done: package docs
  packages/chatbot/HANDOFF.md
  packages/chatbot/README.md
  packages/chatbot/src/core/rag/ragService.ts
  packages/chatbot/src/core/rag/ragService.type.ts
  packages/file-processing/HANDOFF.md
  packages/file-processing/README.md
  packages/vector-store/README.md
  packages/vector-store/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add some frontend docs
  docs/frontend/README.md
  docs/frontend/chatbot.md
  docs/frontend/chatbotHandoff.md
  frontend/src/routes/[[lang=locale]]/api/chat/README.md
  packages/chatbot/HANDOFF.md
  packages/chatbot/README.md
  packages/chatbot/flowVisualized.png
  packages/chatbot/src/core/chatDataProvider.type.ts
  packages/chatbot/src/core/tools/chatDataProvider.type.ts
  packages/chatbot/src/core/tools/tmpDB/README.md
  packages/chatbot/src/core/tools/tools.ts
  packages/chatbot/src/defaultConfig/chatbotSkills.ts
  packages/chatbot/src/defaultConfig/config.ts
  packages/chatbot/src/defaultConfig/providers.ts
  packages/chatbot/src/server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

minor fix
  docs/frontend/chatbot.md
Due: yarn build:app-shared, prettier --write

docs: edit README
  README.md
Due: yarn build:app-shared, prettier --write

chore[llm]: rename variable
  packages/llm/src/fallbackModels.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[llm]: import `crypto`
  packages/argument-condensation/src/core/condensation/condenser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs[llm]: fix typo
  packages/llm/README.md
Due: yarn build:app-shared, prettier --write

fix: available nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

fix: frontend typescript errors
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/dynamic-components/survey/SurveyButton.type.ts
  frontend/src/lib/server/constants.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/params/entityType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: fix broken links
  packages/argument-condensation/README.md
  packages/core/README.md
  packages/core/src/pipelines/promptRegistry.ts
  packages/data/README.md
  packages/filters/README.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: remove deprecate `loadData` function
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/index.ts
  docker-compose.dev.yml
  render.example.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
