Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Candidate App privacy page
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/app.css
  frontend/src/lib/candidate/components/termsOfUse/TermsOfUse.svelte
  frontend/src/lib/candidate/components/termsOfUse/index.ts
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/en/candidateApp.privacy.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.privacy.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/index.ts
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.privacy.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/privacy/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show a notification to avoid preregistering again
  frontend/src/lib/candidate/components/preregisteredNotification/PreregisteredNotification.svelte
  frontend/src/lib/candidate/components/preregisteredNotification/index.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: poll app for updates and reload if updated
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/svelte.config.js
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: settigs merging
  frontend/src/lib/utils/settings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: reset `CandidateContext` data only after logout is complete
  frontend/src/lib/contexts/candidate/candidateContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[backend]: default settings and customization loading triggers
  backend/vaa-strapi/src/functions/loadDefaultAppSettings.ts
  backend/vaa-strapi/src/functions/loadDynamicTranslations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show loading spinner in `Button`
  frontend/src/app.css
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/sv/common.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add return links to some Candidate App routes
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

fix: reset answers and properties after update in `userDataStore`
  frontend/src/lib/contexts/candidate/userDataStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use `Button.loading` in Candidate App
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: none

build: gitignore `editTranslations` tool output
  frontend/tools/editTranslations/.gitignore
Due: none

fix: umami analytics source url
  frontend/src/lib/components/analytics/umami/UmamiAnalytics.svelte
  frontend/src/lib/components/analytics/umami/UmamiAnalytics.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: 16px min input size for preventing iOS Safari auto-zoom
  frontend/src/app.css
Due: yarn build:app-shared, prettier --write

feat: info for `image` `Input`
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore[backend]: regenerate Strapi types
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/types/generated/components.d.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: increase `text-sm` font size
  frontend/tailwind.config.mjs
Due: none

refactor: `CandAppProfile` layout
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: link layout in `EntityInfo`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat: `locked` `customData` property for `Question`s
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix translations
  frontend/src/lib/i18n/translations/fi/candidateApp.preview.json
Due: yarn build:app-shared, prettier --write

feat[app-shared]: `getCustomData` utility
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/contexts/voter/filters/filterStore.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/getCustomData.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `Alliance` content type
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/alliance/controllers/alliance.ts
  backend/vaa-strapi/src/api/alliance/routes/alliance.ts
  backend/vaa-strapi/src/api/alliance/services/alliance.ts
  backend/vaa-strapi/src/api/constituency/content-types/constituency/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/api/question/content-types/question/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
  backend/vaa-strapi/src/util/api.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `sortQuestions` utility
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  frontend/src/lib/utils/sorting.ts
  packages/data/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[data]: only return available questions in `Entity.answeredQuestions`
  packages/data/src/objects/entities/base/entity.test.ts
  packages/data/src/objects/entities/base/entity.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: placeholder for empty locked question in `CandAppProfile`
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `toNameCase` utility
  frontend/src/lib/utils/text/toNameCase.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: simplify `CandAppLogin` layout with pre-registration
  frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  frontend/src/lib/utils/timing.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: edit translations
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
Due: yarn build:app-shared, prettier --write

refactor: `CandAppQuestion` cancel button label
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

fix: don't show login error when there's no authToken
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove debug message
  frontend/src/lib/contexts/data/dataContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: findData and improved sendEmail admin tools
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/utils/apiResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DataBase.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/RegistrationEmailButton.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/RegistrationEmailToAll.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/RegistrationEmailToOne.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/SendEmail.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/actionResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/emailPlaceholders.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/sendToAll.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: translations for Nuorten vaalikone
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

custom: settings for Nuorten vaalikone
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: AppLogo
  frontend/src/lib/dynamic-components/appLogo/AppLogo.svelte
  frontend/static/images/allianssi-logo-full-black.png
  frontend/static/images/allianssi-logo-full-white.png
  frontend/static/images/nuorisoala-logo-black-fi.png
  frontend/static/images/nuorisoala-logo-black-sv.png
  frontend/static/images/nuorisoala-logo-white-fi.png
  frontend/static/images/nuorisoala-logo-white-sv.png
Due: none

custom: initial data for Nuorten vaalikone
  data/extra-questions-for-helsinki.json
  data/nuorten-vaalikone-2025-initial-data.json
Due: yarn build:app-shared, prettier --write

custom: automatically fill age when preregistering
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: use nickname in Candidate preview
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/preview/+page.svelte
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
