Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: simplify `CandAppLogin` layout with pre-registration
  frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  frontend/src/lib/utils/timing.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[data]: only return available questions in `Entity.answeredQuestions`
  packages/data/src/objects/entities/base/entity.test.ts
  packages/data/src/objects/entities/base/entity.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `toNameCase` utility
  frontend/src/lib/utils/text/toNameCase.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

package: argument-condensation
  backend/vaa-strapi/.env.example
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  packages/argument-condensation/README.md
  packages/argument-condensation/src/Condenser.ts
  packages/argument-condensation/src/index.ts
  packages/argument-condensation/src/languageOptions/english.ts
  packages/argument-condensation/src/languageOptions/finnish.ts
  packages/argument-condensation/src/llm/LLMProvider.ts
  packages/argument-condensation/src/llm/types.ts
  packages/argument-condensation/src/types/Argument.ts
  packages/argument-condensation/src/types/Errors.ts
  packages/argument-condensation/src/types/LanguageConfig.ts
  packages/argument-condensation/src/utils/OutputParser.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: findData and improved sendEmail admin tools
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/utils/apiResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DataBase.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/RegistrationEmailButton.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/RegistrationEmailToAll.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/RegistrationEmailToOne.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/SendEmail.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/actionResult.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/email.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/emailPlaceholders.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/sendToAll.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings for Nuorten vaalikone
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: deployed Umami code
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: terms of use
  frontend/src/lib/candidate/components/termsOfUse/TermsOfUse.svelte
Due: none

custom: automatically fill age when preregistering
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: translations for Nuorten vaalikone
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

custom: AppLogo
  frontend/src/lib/dynamic-components/appLogo/AppLogo.svelte
  frontend/static/images/allianssi-logo-full-black.png
  frontend/static/images/allianssi-logo-full-white.png
  frontend/static/images/nuorisoala-logo-black-fi.png
  frontend/static/images/nuorisoala-logo-black-sv.png
  frontend/static/images/nuorisoala-logo-white-fi.png
  frontend/static/images/nuorisoala-logo-white-sv.png
Due: none

custom: use nickname in Candidate preview
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/preview/+page.svelte
Due: none

fixup! fixup! custom: initial data for Nuorten vaalikone
  data/nuorten-vaalikone-2025-initial-data.json
Due: yarn build:app-shared, prettier --write

custom: initial data for Nuorten vaalikone
  data/nuorten-vaalikone-2025-initial-data.json
Due: yarn build:app-shared, prettier --write

fixup! custom: initial data for Nuorten vaalikone
  data/nuorten-vaalikone-2025-initial-data.json
Due: yarn build:app-shared, prettier --write

fixup! custom: frontpage for Nuorten vaalikone
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: none

fixup! fixup! fixup! custom: initial data for Nuorten vaalikone
  data/extra-questions-for-helsinki.json
  data/nuorten-vaalikone-2025-initial-data.json
Due: yarn build:app-shared, prettier --write

fixup! custom: use nickname in Candidate preview
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/preview/+page.svelte
Due: none

feat: add `url` type and error handling to `Input`
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/Input.type.ts
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/utils/links.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: rerouting from unprotected Cand App pages
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/help/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
Due: none

chore: edit and add translations
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/candidateApp.help.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/en/candidateApp.questions.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/candidateApp.help.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.questions.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.questions.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `ChoiceQuestions` with missing `choices` throw
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: allow saving of incomplete Candidate basic infos
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
Due: none

feat: `preRegistration.enable` static setting
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.server.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: make `CandAppHelp` route unprotected
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: go to `CandAppHome` when last missing `Question` is answered
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

fix: translating objects
  frontend/src/lib/i18n/init.ts
  packages/app-shared/src/data/extendedData.type.ts
  packages/app-shared/src/data/isLocalized.ts
  packages/app-shared/src/data/isLocalizedString.ts
  packages/app-shared/src/data/utils/isPlainObject.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `Expander` styling
  frontend/src/lib/components/expander/Expander.svelte
Due: none

feat: allow customizing `<main>` element
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/Layout.type.ts
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.type.ts
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: `docker:delete-all` yarn script and fix `sync:translations`
  package.json
Due: yarn build:app-shared, prettier --write

refactor: `small-info` and `circled-on-shaded` styles
  frontend/src/app.css
  frontend/src/lib/components/input/shared.ts
  frontend/src/lib/components/scoreGauge/ScoreGauge.svelte
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/dynamic-components/footer/Footer.svelte
  frontend/src/lib/dynamic-components/survey/banner/SurveyBanner.svelte
  frontend/src/lib/dynamic-components/survey/popup/SurveyPopup.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add more items to `CandidateNav` when not logged in
  frontend/src/lib/components/icon/icons.ts
  frontend/src/lib/components/icon/svg/material/login.ts
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `CandAppHelp` layout and texts
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write

feat: include metadata in support email
  frontend/src/lib/dynamic-components/feedback/Feedback.svelte
  frontend/src/lib/i18n/translations/sv/candidateApp.help.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/email.ts
  frontend/src/routes/[[lang=locale]]/candidate/help/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: Candidate pre-registration layouts
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.type.ts
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `access.candidateApp` and `access.voterApp` settings
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/access.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.svelte
  frontend/src/routes/[[lang=locale]]/MaintenancePage.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `elections.showElectionTags` dynamic setting
  backend/vaa-strapi/src/components/settings/elections.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: Candidate App layouts
  frontend/src/lib/components/categoryTag/CategoryTag.svelte
  frontend/src/lib/components/categoryTag/CategoryTag.type.ts
  frontend/src/lib/components/electionTag/ElectionTag.svelte
  frontend/src/lib/components/electionTag/ElectionTag.type.ts
  frontend/src/lib/components/expander/Expander.svelte
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/dynamic-components/entityDetails/InfoItem.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preview.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preview.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preview.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/password/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show notifications to users
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/notifications-notification-data.json
  backend/vaa-strapi/src/components/settings/notifications.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/components/alert/Alert.svelte
  frontend/src/lib/components/icon/index.ts
  frontend/src/lib/components/notification/Notification.svelte
  frontend/src/lib/components/notification/Notification.type.ts
  frontend/src/lib/components/notification/index.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/popup/popupComponent.type.ts
  frontend/src/lib/contexts/app/popup/popupStore.ts
  frontend/src/lib/contexts/app/popup/popupStore.type.ts
  frontend/src/lib/dynamic-components/dataConsent/popup/DataConsentPopup.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
