Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(07-02): create performance budget spec for voter results page
  tests/playwright.config.ts
  tests/tests/specs/perf/performance-budget.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(07-02): add optional visual/perf CI job to GitHub Actions
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(07-02): complete performance budget and CI integration plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/07-advanced-test-capabilities/07-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.0 Supabase Migration
  .planning/PROJECT.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: complete project research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(v1.0): E2E Testing Framework — config and cleanup
  .env.example
  .github/workflows/main.yaml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: define milestone v2.0 requirements
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.0 roadmap (6 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(08): capture phase context
  .planning/phases/08-infrastructure-setup/08-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 8 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(08): update scripts approach — workspace-owned with root aliases
  .planning/phases/08-infrastructure-setup/08-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(08): research phase domain
  .planning/phases/08-infrastructure-setup/08-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(08): add validation strategy
  .planning/phases/08-infrastructure-setup/08-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(08): create phase plan
  .planning/ROADMAP.md
  .planning/phases/08-infrastructure-setup/08-01-PLAN.md
  .planning/phases/08-infrastructure-setup/08-02-PLAN.md
  .planning/phases/08-infrastructure-setup/08-03-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(08-01): initialize Supabase workspace and local dev stack
  apps/supabase/package.json
  apps/supabase/supabase/.gitignore
  apps/supabase/supabase/config.toml
  apps/supabase/supabase/seed.sql
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs(08-01): complete Supabase workspace init plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/config.json
  .planning/phases/08-infrastructure-setup/08-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(08-03): add custom schema lint script with Splinter-derived checks
  apps/supabase/scripts/lint-schema.mjs
Due: none

feat(08-02): create @openvaa/supabase-types package with type generation pipeline
  package.json
  packages/supabase-types/package.json
  packages/supabase-types/src/database.ts
  packages/supabase-types/src/index.ts
  packages/supabase-types/tsconfig.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(08-03): wire lint scripts into workspace and root aliases
  apps/supabase/package.json
  package.json
Due: yarn build:app-shared, prettier --write

docs(08-03): complete database linting plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/08-infrastructure-setup/08-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(08-02): complete supabase type generation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08-infrastructure-setup/08-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-8): complete phase execution — update criterion, mark complete
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08-infrastructure-setup/08-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(09): capture phase context
  .planning/phases/09-schema-and-data-model/09-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 9 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(09): research phase domain — schema, localization, multi-tenant, QuestionTemplate
  .planning/phases/09-schema-and-data-model/09-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(09): add validation strategy
  .planning/phases/09-schema-and-data-model/09-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(09): create phase plan — 3 plans across 2 waves
  .planning/ROADMAP.md
  .planning/phases/09-schema-and-data-model/09-01-PLAN.md
  .planning/phases/09-schema-and-data-model/09-02-PLAN.md
  .planning/phases/09-schema-and-data-model/09-03-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(09): revise plans based on checker feedback
  .planning/phases/09-schema-and-data-model/09-01-PLAN.md
  .planning/phases/09-schema-and-data-model/09-02-PLAN.md
  .planning/phases/09-schema-and-data-model/09-VALIDATION.md
Due: yarn build:app-shared, prettier --write

test(09-03): add failing tests for QuestionTemplate DataObject
  packages/data/src/objects/questions/template/questionTemplate.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(09-01): create multi-tenant tables and localization functions
  apps/supabase/supabase/migrations/20260312200000_create_multi_tenant_tables.sql
  apps/supabase/supabase/migrations/20260312200001_create_localization_functions.sql
Due: none

feat(09-03): implement QuestionTemplate DataObject
  packages/data/src/core/objectTypes.ts
  packages/data/src/internal.ts
  packages/data/src/objects/questions/template/questionTemplate.ts
  packages/data/src/objects/questions/template/questionTemplate.type.ts
  packages/data/src/root/dataRoot.ts
  packages/data/src/root/dataRoot.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(09-01): create all content entity tables and localized views
  apps/supabase/supabase/migrations/20260312200002_create_content_tables.sql
Due: none

docs(09-01): complete multi-tenant, localization, and content tables plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/09-schema-and-data-model/09-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(09-03): complete QuestionTemplate DataObject plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/09-schema-and-data-model/09-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(09-02): add app_settings table, shared answer validation, and both answer storage alternatives
  apps/supabase/supabase/migrations/20260312200003_create_app_settings.sql
  apps/supabase/supabase/migrations/20260312200004_create_answers_jsonb.sql
  apps/supabase/supabase/migrations/20260312200005_create_answers_relational.sql
Due: none

feat(09-02): add indexes, RLS, seed data, and column-map constants
  apps/supabase/supabase/migrations/20260312200006_create_indexes.sql
  apps/supabase/supabase/migrations/20260312200007_enable_rls.sql
  apps/supabase/supabase/seed.sql
  packages/supabase-types/src/column-map.ts
  packages/supabase-types/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(09-02): complete app settings, answer storage, indexes, RLS, seed, and column-map plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/09-schema-and-data-model/09-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-09): complete phase execution
  .planning/STATE.md
  .planning/phases/09-schema-and-data-model/09-VERIFICATION.md
Due: yarn build:app-shared, prettier --write
