Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(77/tests): variant-hidden-required template + setup (SETTINGS-03)
  tests/tests/setup/templates/variant-hidden-required.ts
  tests/tests/setup/variant-hidden-required.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77/config): register variant-hidden-required project chain (Plan 04)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77): voter-visibility-required.spec.ts (SETTINGS-03 voter-hidden cell)
  tests/tests/specs/voter/voter-visibility-required.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77): candidate-required-info.spec.ts (SETTINGS-03 candidate-required cell)
  tests/tests/specs/candidate/candidate-required-info.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(77): file voter-required PRODUCT-GAP follow-up todo (SETTINGS-03 LANDMINE-3)
  .planning/todos/pending/2026-05-12-settings-03-voter-required-product-gap.md
Due: yarn build:app-shared, prettier --write

fix(77/tests): SETTINGS-03 spec hardening (auth refresh + attribute-based disabled assertion + strict-mode positive control)
  tests/tests/setup/variant-hidden-required.setup.ts
  tests/tests/specs/candidate/candidate-required-info.spec.ts
  tests/tests/specs/voter/voter-visibility-required.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(77): Plan 04 SUMMARY — SETTINGS-03 hidden+required (voter PASS-WITH-DEFERRAL)
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(77-05): Task 1 — 3-run cold-start gate deferred-with-rationale (inherits Phase 76 P04 architectural decision)
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/run-1-sorted-status.txt
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/run-1.json
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/run-2-sorted-status.txt
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/run-2.json
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/run-3-sorted-status.txt
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/run-3.json
Due: yarn build:app-shared, prettier --write

test(77-05): Task 2 — parity-gate output + constants regen DEFERRED + IMGPROXY audit CLEAN
  .planning/phases/77-settings-matrix-question-customization-gap-fills/post-fix/parity-gate-output.txt
Due: none

docs(77): Task 3 — 77-VERIFICATION.md (4 SCs assessed; status=human_needed)
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(77): Plan 05 SUMMARY — verification gate complete; status=human_needed
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(78): add validation strategy
  .planning/phases/78-cleanup-hygiene-phase/78-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(78): 7 plans + research RESOLVED + state/roadmap annotations
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/78-cleanup-hygiene-phase/78-01-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-02-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-03-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-04-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-05-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-06-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-07-PLAN.md
  .planning/phases/78-cleanup-hygiene-phase/78-DISCUSSION-LOG.md
  .planning/phases/78-cleanup-hygiene-phase/78-RESEARCH.md
Due: yarn build:app-shared, prettier --write

feat(78-01): rename dev:* supabase scripts to db:*; add dev:clean
  package.json
Due: yarn build:app-shared, prettier --write

docs(78-01): update CLAUDE.md Supabase Commands for db:* rename + dev:clean
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

docs(78-01): land 78-01 SUMMARY + resolve source todo
  .planning/phases/78-cleanup-hygiene-phase/78-01-SUMMARY.md
  .planning/todos/completed/2026-05-10-rename-package-scripts-dev-to-db.md
Due: yarn build:app-shared, prettier --write

refactor(78-03): distribute per-cast // reason: blocks in supabaseDataProvider.ts (CLEAN-03a)
  apps/frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(78-03): eliminate setStore structural cast via inline use (CLEAN-03b)
  apps/frontend/src/lib/contexts/app/getRoute.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(78-03): add Svelte Warning-Accepted Format sub-section to CLAUDE.md (CLEAN-03c)
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

docs(78-03): land 78-03 SUMMARY + resolve 3 source todos (CLEAN-03 trio close)
  .planning/todos/completed/2026-05-09-claude-md-svelte-warning-accepted-format.md
  .planning/todos/completed/2026-05-10-d04-per-cast-reason-distribution.md
  .planning/todos/completed/2026-05-10-getroute-setstore-cast-cleanup.md
Due: yarn build:app-shared, prettier --write

docs(78-03): add 78-03 SUMMARY + resolution addenda to migrated source todos
  .planning/phases/78-cleanup-hygiene-phase/78-03-SUMMARY.md
  .planning/todos/completed/2026-05-09-claude-md-svelte-warning-accepted-format.md
  .planning/todos/completed/2026-05-10-d04-per-cast-reason-distribution.md
  .planning/todos/completed/2026-05-10-getroute-setstore-cast-cleanup.md
Due: yarn build:app-shared, prettier --write

refactor(78-04): tighten i18n t() signature to TranslationKey union
  apps/frontend/src/lib/contexts/i18n/i18nContext.type.ts
  apps/frontend/src/lib/i18n/utils/assertTranslationKey.ts
  apps/frontend/src/lib/i18n/wrapper.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(78-04): add @ts-expect-error regression-locker for TranslationKey
  .planning/phases/78-cleanup-hygiene-phase/deferred-items.md
  apps/frontend/src/lib/i18n/tests/translations.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(78-04): complete CLEAN-04 i18n wrapper tightening plan
  .planning/phases/78-cleanup-hygiene-phase/78-04-SUMMARY.md
  .planning/todos/completed/2026-05-09-tighten-i18n-wrapper.md
Due: yarn build:app-shared, prettier --write

fix(78-06): cluster A — voter-popups CR-02 + multi-election WR-01/WR-03 + CR-01
  tests/tests/specs/variants/multi-election.spec.ts
  tests/tests/specs/voter/voter-popups.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(78-06): cluster B — variants WR-02 + setup hooks WR-04 + IN-05
  tests/tests/setup/auth.setup.ts
  tests/tests/setup/data.setup.ts
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(78-06): cluster C — supabaseAdminClient WR-05/06/07 + candidate-bank-auth IN-01/02
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
  tests/tests/utils/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(78-06): cluster D — IN-03 testId audit + IN-04 strict-inequality
  tests/tests/specs/candidate/candidate-questions.spec.ts
  tests/tests/specs/candidate/candidate-required-info.spec.ts
  tests/tests/specs/candidate/candidate-settings.spec.ts
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(78-06): complete CLEAN-05b Phase 73 review-findings sweep plan
  .planning/phases/78-cleanup-hygiene-phase/78-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(78-02): augment (located) layout redirect with ?next= + URL whitelist
  apps/frontend/src/routes/(voters)/(located)/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(78-02): consume ?next= in selectors + add CLEAN-02 E2E spec
  apps/frontend/src/routes/(voters)/constituencies/+page.svelte
  apps/frontend/src/routes/(voters)/constituencies/+page.ts
  apps/frontend/src/routes/(voters)/elections/+page.svelte
  apps/frontend/src/routes/(voters)/elections/+page.ts
  tests/tests/specs/voter/voter-not-located-redirect.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(78-02): complete CLEAN-02 voter-not-located redirect plan
  .planning/phases/78-cleanup-hygiene-phase/78-02-SUMMARY.md
  .planning/todos/completed/2026-05-10-redirect-unlocated-voter-to-selectors.md
Due: yarn build:app-shared, prettier --write

test(78-05): add failing tests for --likert-only CLI flag
  packages/dev-seed/tests/cli/help.test.ts
  packages/dev-seed/tests/cli/likert-only.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(78-05): add --likert-only CLI flag to @openvaa/dev-seed
  packages/dev-seed/src/cli/help.ts
  packages/dev-seed/src/cli/likert-only.ts
  packages/dev-seed/src/cli/seed.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(78-05): annotate voter.fixture + update CLAUDE.md for --likert-only
  .planning/phases/78-cleanup-hygiene-phase/deferred-items.md
  .planning/todos/completed/2026-05-11-voter-fixture-heterogeneous-question-types.md
  CLAUDE.md
  tests/tests/fixtures/voter.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(78-05): complete CLEAN-05 voter-fixture Path B --likert-only plan
  .planning/phases/78-cleanup-hygiene-phase/78-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(78-07): record 3-run cold-start gate DEFERRED-WITH-RATIONALE markers
  .planning/phases/78-cleanup-hygiene-phase/post-fix/run-1.json
  .planning/phases/78-cleanup-hygiene-phase/post-fix/run-2.json
  .planning/phases/78-cleanup-hygiene-phase/post-fix/run-3.json
Due: yarn build:app-shared, prettier --write

docs(78-07): capture parity-gate output + IMGPROXY audit + constants regen DEFERRED
  .planning/phases/78-cleanup-hygiene-phase/post-fix/parity-gate-output.txt
Due: none

docs(78-07): author VERIFICATION.md + annotate 73-REVIEW.md + update STATE.md
  .planning/STATE.md
  .planning/phases/73-determinism-baseline/73-REVIEW.md
  .planning/phases/78-cleanup-hygiene-phase/78-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(78-07): close cleanup hygiene phase — 5/5 CLEAN reqs + 13+1 review findings closed; constants regen DEFERRED
  .planning/phases/78-cleanup-hygiene-phase/78-07-SUMMARY.md
  .planning/todos/pending/2026-05-12-candidate-profile-cascading-race.md
  .planning/todos/pending/2026-05-12-voters-layout-non-reactive-appsettings.md
Due: yarn build:app-shared, prettier --write
