Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

refactor(88-04): T5 — result-card-contents cell consumes fixtures + asserts test-qu-info-text + 4 score-gauges + election-symbol 10
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(88-04): T6 — add matching: organisations cell asserting 5 outer + Party BB 2 + Party AA 3/5 show-collapse
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(88-04): T7 — voter-vs-entity matrix + organisation details consume fixtures (info-items via regex; 5 members; drop redundant drawer cells)
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(88-04): T8 — add filters: text + filters: dialog cells (7-stage); drop redundant filter cells
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(88-04): T9 — TEXT_RE cleanup (drop 8 dead entries, tighten optionalOpinionsA/B with [<id>] prefix)
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(88-04): Rule 1 fixes uncovered by Gate B integration run
  packages/dev-seed/src/index.ts
  tests/tests/fixtures/entityDetails.fixture.ts
  tests/tests/fixtures/resultsPage.fixture.ts
  tests/tests/setup/setupFromTemplate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(88-04): additional Rule 1 fixes during Gate B integration run
  tests/tests/fixtures/entityDetails.fixture.ts
  tests/tests/fixtures/entityFilters.fixture.ts
  tests/tests/fixtures/resultsPage.fixture.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(88-04): complete TIR3 T3-T9 plan — SUMMARY + STATE row + ROADMAP follow-ups
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(88-04): T8 filters:dialog cold-start green — role-based lookups + reset semantics
  tests/tests/fixtures/entityFilters.fixture.ts
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(88-04): flip Gate B PARTIAL → PASS after T8 filters:dialog fix
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(88-04): add code review report (0 critical / 4 warning / 5 info)
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-04-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-88): add VERIFICATION.md — all 10 acceptance criteria PASS, phase complete
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

chore(88-04): drop dead helpers + ConsoleMessage import from voter-mega-journey
  tests/tests/specs/voter/voter-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(88-04): WR-01 delete dead TemplateQuestionInCardContent type
  packages/dev-seed/src/templates/types.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(88-04): WR-02 replace .catch(() => true) with hard visibility assert
  tests/tests/fixtures/entityFilters.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(88-04): WR-03 delete dead pickByTarget helper
  tests/tests/fixtures/entityFilters.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(88-04): WR-04 remove stranded entity-list-filter-badge testid
  apps/frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  tests/tests/fixtures/entityFilters.fixture.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(88-04): add code review fix report — 4/4 warnings fixed
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/88-04-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

docs(89): capture phase context
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-CONTEXT.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 89 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(89): add research + validation strategy
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-RESEARCH.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(89): add pattern map
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(89): create phase plan — 5 plans across 4 waves
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-01-PLAN.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-02-PLAN.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-03-PLAN.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-04-PLAN.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-LAST-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(89): mark phase 89 execution start
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(89-01): Wave 0 probes — R3/R7/R8 de-risk
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-01-WAVE0-PROBES.txt
Due: none

feat(89-01): mutate baseV1 — hero + info + required + unregistered cand + 3 filtered info qs
  packages/dev-seed/src/templates/baseV1.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(89-01): 3 voter testids + hero/info assertions + narrowed candidate-details matrix
  apps/frontend/src/routes/(voters)/(located)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  tests/tests/specs/voter/voter-mega-journey.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(89-01): surface 8 deferred items per D-89-01 + Task 2 environment cascade
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(89-01): complete baseV1 + voter-mega lockstep absorption plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(89-02): add testIds.candidate.* namespace + 5 frontend testid wirings
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(89-02): author 11 candidate function-fixtures (page objects + emailBucket)
  tests/tests/fixtures/candidate/candidateForgotPasswordPage.fixture.ts
  tests/tests/fixtures/candidate/candidateHomePage.fixture.ts
  tests/tests/fixtures/candidate/candidateLoginPage.fixture.ts
  tests/tests/fixtures/candidate/candidateLogoutButton.fixture.ts
  tests/tests/fixtures/candidate/candidatePasswordSetter.fixture.ts
  tests/tests/fixtures/candidate/candidatePreviewPage.fixture.ts
  tests/tests/fixtures/candidate/candidateProfilePage.fixture.ts
  tests/tests/fixtures/candidate/candidateQuestionPage.fixture.ts
  tests/tests/fixtures/candidate/candidateQuestionsOverviewPage.fixture.ts
  tests/tests/fixtures/candidate/candidateTermsOfUsePage.fixture.ts
  tests/tests/fixtures/candidate/emailBucket.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(89-02): add candidate-mega.ts composition root for 11 fixtures
  tests/tests/fixtures/candidate/candidate-mega.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(89-02): complete candidate fixture library plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(89-03): candidate-mega constants + setup/teardown pair
  tests/tests/setup/candidate-mega.setup.ts
  tests/tests/setup/candidate-mega.teardown.ts
  tests/tests/utils/candidateMegaConstants.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(89-03): append candidate-mega chain to playwright.config.ts
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(89-03): candidate-mega-journey spec — pre-flow + auth/reset/login (steps 1-11)
  tests/tests/specs/candidate/candidate-mega-journey.README.md
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(89-03): candidate-mega-journey spec — profile + question walk + preview + final logout (steps 12-22)
  tests/tests/specs/candidate/candidate-mega-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(89-03): Task 5 — 3-run cold-start determinism gate (deferred ledger)
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-03-VERIFY.txt
Due: none

docs(89-03): complete candidate mega-journey plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(89-04): add 3 settings-permutation templates + register in index
  packages/dev-seed/src/templates/index.ts
  packages/dev-seed/src/templates/permutations/perm-disable-candidate-app.ts
  packages/dev-seed/src/templates/permutations/perm-disable-voter-app.ts
  packages/dev-seed/src/templates/permutations/perm-per-app-notifications.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
