Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(69): UI design contract for Alliance Card Lane A
  .planning/phases/69-alliance-card-lane-a/69-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(72): create phase plan with 3 parallel plans
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/72-package-hygiene-trio/72-01-PLAN.md
  .planning/phases/72-package-hygiene-trio/72-02-PLAN.md
  .planning/phases/72-package-hygiene-trio/72-03-PLAN.md
  .planning/phases/72-package-hygiene-trio/72-PATTERNS.md
  .planning/phases/72-package-hygiene-trio/72-RESEARCH.md
  .planning/phases/72-package-hygiene-trio/72-VALIDATION.md
Due: yarn build:app-shared, prettier --write

refactor(72-01): strip .js extensions from app-shared TS imports + delete stale tsbuildinfo
  packages/app-shared/src/data/isEmoji.ts
  packages/app-shared/src/data/isImage.ts
  packages/app-shared/src/data/isLocalized.ts
  packages/app-shared/src/index.ts
  packages/app-shared/tsconfig.tsbuildinfo
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(72-01): truthful description + dual-build justification for @openvaa/app-shared
  packages/app-shared/README.md
  packages/app-shared/package.json
Due: yarn build:app-shared, prettier --write

docs(72-01): add canonical package paradigm reference + CLAUDE.md anchor
  CLAUDE.md
  packages/README.md
Due: yarn build:app-shared, prettier --write

docs(72-01): complete @openvaa/app-shared paradigm normalisation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/72-package-hygiene-trio/72-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(72-02): rewrite layoutContext imports to use @openvaa/app-shared directly
  apps/frontend/src/lib/contexts/layout/layoutContext.svelte.ts
  apps/frontend/src/lib/contexts/layout/layoutContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(72-02): delete $lib/utils/merge.ts re-export shim (Phase 63 hoist scaffold)
  apps/frontend/src/lib/utils/merge.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(69): create phase plan — 2-plan split for Alliance Card Lane A
  .planning/ROADMAP.md
  .planning/phases/69-alliance-card-lane-a/69-01-PLAN.md
  .planning/phases/69-alliance-card-lane-a/69-02-PLAN.md
  .planning/phases/69-alliance-card-lane-a/69-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(72-02): complete mergeSettings shim retirement plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/72-package-hygiene-trio/72-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(72-03): rename supabase lint script to lint:sql
  apps/supabase/package.json
Due: yarn build:app-shared, prettier --write

refactor(72-03): rename root supabase:lint to supabase:lint:sql + update CLAUDE.md
  CLAUDE.md
  package.json
Due: yarn build:app-shared, prettier --write

docs(72-03): complete supabase lint-script hard rename plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/72-package-hygiene-trio/72-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(69): mark research open questions resolved
  .planning/phases/69-alliance-card-lane-a/69-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-72): update tracking after wave 1
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

fix(69): revise plans 01+02 per checker iteration 1 (2 blockers + 4 warnings)
  .planning/phases/69-alliance-card-lane-a/69-01-PLAN.md
  .planning/phases/69-alliance-card-lane-a/69-02-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 69 planning complete (2 plans)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

refactor(72-01): drop dual ESM+CJS build for @openvaa/app-shared
  packages/README.md
  packages/app-shared/README.md
  packages/app-shared/package.json
  packages/app-shared/tsup.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(phase-72): verification report (PASS, 4/4 SC verified)
  .planning/phases/72-package-hygiene-trio/72-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

feat(69-01): rename OrganizationDetailsContent to ParentEntityDetailsContent + add alliance defaults
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-01): add findOrganizationNominations + getAllianceSummary helpers
  apps/frontend/src/lib/utils/getAllianceSummary.ts
  apps/frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-01): EntityCard alliance branch — subentities + maxSubcards override + summary line
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
Due: none

feat(69-01): EntityDetails alliance drawer + E2E testid consumer renames
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  tests/tests/pages/voter/EntityDetailPage.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-01): widen entityTypePlural + entityTypeSingular matchers for alliances
  apps/frontend/src/params/entityTypePlural.test.ts
  apps/frontend/src/params/entityTypePlural.ts
  apps/frontend/src/params/entityTypeSingular.test.ts
  apps/frontend/src/params/entityTypeSingular.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-01): widen voter results +layout.svelte for alliances (5 sites + 1 testid)
  apps/frontend/src/routes/(voters)/(located)/results/+layout.svelte
Due: none

feat(69-01): i18n — rename entityDetails.tabs.children + add results.alliance.summary across 7 locales
  apps/frontend/src/lib/i18n/translations/da/entityDetails.json
  apps/frontend/src/lib/i18n/translations/da/results.json
  apps/frontend/src/lib/i18n/translations/en/entityDetails.json
  apps/frontend/src/lib/i18n/translations/en/results.json
  apps/frontend/src/lib/i18n/translations/et/entityDetails.json
  apps/frontend/src/lib/i18n/translations/et/results.json
  apps/frontend/src/lib/i18n/translations/fi/entityDetails.json
  apps/frontend/src/lib/i18n/translations/fi/results.json
  apps/frontend/src/lib/i18n/translations/fr/entityDetails.json
  apps/frontend/src/lib/i18n/translations/fr/results.json
  apps/frontend/src/lib/i18n/translations/lb/entityDetails.json
  apps/frontend/src/lib/i18n/translations/lb/results.json
  apps/frontend/src/lib/i18n/translations/sv/entityDetails.json
  apps/frontend/src/lib/i18n/translations/sv/results.json
  apps/frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(69-01): prettier-format regenerated translationKey.ts
  apps/frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-01): dev-seed templates + fixture pin updates + E2E variant pin updates
  packages/dev-seed/src/templates/default.ts
  packages/dev-seed/src/templates/e2e.ts
  packages/dev-seed/tests/templates/e2e-app-settings.test.ts
  packages/dev-seed/tests/templates/variant-app-settings.test.ts
  tests/tests/specs/variants/constituency.spec.ts
  tests/tests/specs/variants/results-sections.spec.ts
  tests/tests/specs/variants/startfromcg.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(69-01): complete Alliance Card Lane A foundation plan + svelte-check fix
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/69-alliance-card-lane-a/69-01-SUMMARY.md
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
Due: yarn build:app-shared, prettier --write

refactor(69-02): matchStore inner loop to sequential for...of accumulator
  apps/frontend/src/lib/contexts/voter/matchStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-02): generalise imputeParentAnswers for AllianceNomination + childProxies cascade
  apps/frontend/src/lib/utils/matching/imputeParentAnswers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(69-02): matchStore Alliance branch + cross-iteration org-proxy cache
  apps/frontend/src/lib/contexts/voter/matchStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(69-02): regression-guard unit test for imputeParentAnswers (Risk #7 + cascade)
  apps/frontend/src/lib/utils/matching/imputeParentAnswers.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(69-01): apply i18n edits to Paraglide source (messages/) — fix-up after Task 7 wrote to legacy scaffold
  apps/frontend/messages/da/entityDetails.json
  apps/frontend/messages/da/results.json
  apps/frontend/messages/en/entityDetails.json
  apps/frontend/messages/en/results.json
  apps/frontend/messages/et/entityDetails.json
  apps/frontend/messages/et/results.json
  apps/frontend/messages/fi/entityDetails.json
  apps/frontend/messages/fi/results.json
  apps/frontend/messages/fr/entityDetails.json
  apps/frontend/messages/fr/results.json
  apps/frontend/messages/lb/entityDetails.json
  apps/frontend/messages/lb/results.json
  apps/frontend/messages/sv/entityDetails.json
  apps/frontend/messages/sv/results.json
Due: yarn build:app-shared, prettier --write

fix(69-01): rewrite alliance summary as 3-key composition (template + candidates + parties)
  apps/frontend/messages/da/results.json
  apps/frontend/messages/en/results.json
  apps/frontend/messages/et/results.json
  apps/frontend/messages/fi/results.json
  apps/frontend/messages/fr/results.json
  apps/frontend/messages/lb/results.json
  apps/frontend/messages/sv/results.json
  apps/frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  apps/frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
  apps/frontend/src/lib/i18n/translations/da/results.json
  apps/frontend/src/lib/i18n/translations/en/results.json
  apps/frontend/src/lib/i18n/translations/et/results.json
  apps/frontend/src/lib/i18n/translations/fi/results.json
  apps/frontend/src/lib/i18n/translations/fr/results.json
  apps/frontend/src/lib/i18n/translations/lb/results.json
  apps/frontend/src/lib/i18n/translations/sv/results.json
  apps/frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(todos): capture i18n wrapper tightening (TranslationKey type + t.get cleanup)
  .planning/todos/pending/2026-05-09-tighten-i18n-wrapper.md
Due: yarn build:app-shared, prettier --write

docs(69-02): complete Phase 69 Alliance Card Lane A — SUMMARY + STATE/ROADMAP/REQUIREMENTS close
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/69-alliance-card-lane-a/69-02-SUMMARY.md
  .planning/todos/pending/2026-05-09-phase-69-parity-gate-followup.md
  .planning/todos/pending/2026-05-09-rewrite-parent-answer-imputation.md
  apps/frontend/src/lib/utils/matching/imputeParentAnswers.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(69): phase verification complete (PASS-WITH-DEFERRALS; parity gate deferred to follow-up todo)
  .planning/phases/69-alliance-card-lane-a/69-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 70 discuss-phase confirmation session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(70): research Svelte 5 / SSR / a11y warning sweep + bind-rationale cleanup phase domain
  .planning/phases/70-svelte-5-ssr-a11y-warning-sweep-bind-rationale-cleanup/70-RESEARCH.md
Due: yarn build:app-shared, prettier --write
