Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat(151-05): define the twelve-slice partition in slices.tsv
  .planning/phases/151-ship-v0-2-akita-review-stack/slices.tsv
Due: none

docs(151-05): record the proven twelve-slice partition in 151-STACK-MANIFEST.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-05): record operator approval of the twelve-slice split
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-05): complete the slice-partition plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-05): complete slice-partition plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(151-06): scaffold 151-DISPOSITION.md with the corrected 31-item index
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-06): record PD-01 and PD-02 in the disposition record
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-06): complete origin/main integration and disposition scaffold
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(151-07): add hygiene-codemod.mjs — comment-span-only planning-reference sweep
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.sh
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.sql
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.svelte
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.ts
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.input.sh
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.input.sql
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.input.svelte
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.input.ts
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/hygiene-codemod.mjs
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-07): correct the codemod's repair pass against the real dry-run diff
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.sh
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.svelte
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/fixtures/hygiene-codemod.expected.ts
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/hygiene-codemod.mjs
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-07): make the section-anchor pattern set exhaustive — six occurrences were reported by nobody
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/hygiene-codemod.mjs
Due: none

docs(151-07): record the Stage-1 hygiene measurement and hand the residue to 151-08
  .planning/WINDOWS.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-HYGIENE-REPORT.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-hygiene-prose-queue.tsv
  .planning/phases/151-ship-v0-2-akita-review-stack/151-hygiene-residue.tsv
  .planning/phases/151-ship-v0-2-akita-review-stack/151-hygiene-summary.json
Due: yarn build:app-shared, prettier --write

docs(151-07): complete mechanical comment-hygiene plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-08): record criterion 3 stage 2 — verdicts, two KEEP exceptions, TODO answer
  .planning/WINDOWS.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-HYGIENE-REPORT.md
Due: yarn build:app-shared, prettier --write

docs(151-08): close criterion 3 — operator-approved, gate red by design
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-HYGIENE-REPORT.md
Due: yarn build:app-shared, prettier --write

docs(151-08): complete comment-hygiene residue plan — criterion 3 closed
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-08-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-09): disposition slices 01a, 01b and 02 — 36 cells, 7 new findings
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

fix(151-09): document the `any` escape and the exported `DeepPartial` in mergeSettings
  packages/app-shared/src/utils/mergeSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-09): reject passphrase-encrypted PEMs in pem-to-jwk instead of failing opaquely
  packages/dev-tools/src/pem-to-jwk.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(151-09): complete the packages divergence list — seven workspaces, not one
  packages/README.md
Due: yarn build:app-shared, prettier --write

chore(151-09): drop the dead apps/strapi ignore block from .prettierignore
  .prettierignore
Due: none

docs(151-09): close the slice 01a/01b/02 cells — all 36 terminal, 5 findings FIXED
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write

docs(151-09): record the real cut of slices 01a, 01b and 02
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(151-09): complete the sweep-and-cut plan for slices 01a, 01b and 02
  .planning/phases/151-ship-v0-2-akita-review-stack/151-09-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-09): complete sweep-and-cut plan for slices 01a, 01b and 02
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(151-09): record the three F-15-blocked deferrals in the windows ledger
  .planning/WINDOWS.md
Due: yarn build:app-shared, prettier --write

docs(151-10): write the PR bodies for stack slices 01a and 01b
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/01a.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/01b.md
Due: yarn build:app-shared, prettier --write

feat(151-10): publish the bottom of the stack — PRs #863 and #864
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-STACK-MANIFEST.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/01a.md
  .planning/phases/151-ship-v0-2-akita-review-stack/pr-bodies/01b.md
Due: yarn build:app-shared, prettier --write

docs(151-10): complete publish-the-bottom-of-the-stack plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-10-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-10): record state and roadmap progress for the publish plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(151-11): correct the app-shared README's retired-backend path
  packages/app-shared/README.md
Due: yarn build:app-shared, prettier --write

fix(151-11): point the schema linter at this project's database and fix its FK check
  apps/supabase/scripts/lint-schema.mjs
Due: none

fix(151-11): repair the send-email RPC call and verify the identity token's issuer
  apps/supabase/supabase/functions/identity-callback/index.ts
  apps/supabase/supabase/functions/send-email/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(151-11): repair the pgTAP anon-read fixture broken by migration 00002's now() guard
  apps/supabase/supabase/tests/database/00-helpers.test.sql
Due: none

docs(151-11): document the Supabase workspace's two SQL directories and its real gate reach
  apps/supabase/README.md
Due: yarn build:app-shared, prettier --write

docs(151-11): disposition slice 03 — 24 cells, counts not samples
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISPOSITION.md
Due: yarn build:app-shared, prettier --write
