Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings for Nuorten vaalikone
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Preregistration nominations to context
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: various improvements related to #673
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/Modal.type.ts
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Display error also if Bank ID fails
  frontend/src/lib/candidate/utils/preregistrationError.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add comment
  frontend/src/lib/candidate/utils/preregistrationError.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add margins
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
Due: yarn build:app-shared, prettier --write

Keep top bar settings in top-level layout
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/signicat/oidc/callback/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: none

Clear ID token button
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+layout.svelte
Due: none

fix: populate dynamic ordering config
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: intro ingress when dynamic ordering is enabled
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
Due: yarn build:app-shared, prettier --write

fix: show shown questions reset button only if dynamic ordering is enabled
  frontend/src/lib/templates/page/parts/VoterNav.svelte
Due: none

feat: Add example prompts and LLM output template
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/prompts/defaultPrompt.json
  backend/vaa-strapi/src/functions/prompts/defaultQuestionsFormat.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: llm-provider related files
  .env.example
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  docker-compose.dev.yml
  packages/llm/README.md
  packages/llm/src/llm-providers/__tests__/openai-provider.test.ts
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: move buttons inside primaryActions slot
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

fix: question options layout
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

rename env vars
  .env.example
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  docker-compose.dev.yml
  packages/llm/README.md
  packages/llm/src/llm-providers/__tests__/openai-provider.test.ts
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

move test to folder
  packages/llm/src/llm-providers/openai-provider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

pass api key from strapi constants
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  packages/llm/src/llm-providers/openai-provider.test.ts
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! fix: question options layout
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

Case-insensitive candidate lookup, email validation
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/email/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Send registration email
  backend/vaa-strapi/config/email-templates/confirm-email.html
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Content support button
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/status/+page.svelte
Due: yarn build:app-shared, prettier --write

Add a TODO
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Clean up i18n
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/routes/[[lang=locale]]/candidate/preregister/(authenticated)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: yarn build:app-shared, prettier --write

Localised email
  backend/vaa-strapi/config/email-templates/confirm-email.html
  frontend/src/lib/i18n/translations/en/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/fi/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/sv/candidateApp.preregister.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: use query param for showing question selection
  frontend/src/lib/contexts/voter/questionBlockStore.ts
  frontend/src/lib/contexts/voter/questionBlockStore.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add initial template for Argument condensation backend
  backend/vaa-strapi/src/api/argument-condensation/controllers/argument-condensation.ts
  backend/vaa-strapi/src/api/argument-condensation/documentation/1.0.0/argument-condensation.json
  backend/vaa-strapi/src/api/argument-condensation/routes/argument-condensation.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  packages/argument-condensation/dist/index.d.ts
  packages/argument-condensation/dist/index.js
  packages/argument-condensation/results/results_v0.csv
  packages/argument-condensation/results/results_v0.json
  packages/argument-condensation/results/results_v0.txt
  packages/argument-condensation/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

address comments
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat/llm (#671)
  .env.example
  .gitignore
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/tsconfig.json
  docker-compose.dev.yml
  packages/llm/.gitignore
  packages/llm/README.md
  packages/llm/package.json
  packages/llm/src/index.ts
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.test.ts
  packages/llm/src/llm-providers/openai-provider.ts
  packages/llm/tsconfig.cjs.json
  packages/llm/tsconfig.esm.json
  packages/llm/tsconfig.json
  packages/llm/vitest.config.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: skip question selection when showing last question
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: question info component
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/modal/index.ts
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: question extended info and drawers, add localization to question info button
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
  frontend/src/lib/components/questions/QuestionBasicInfo.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.type.ts
  frontend/src/lib/dynamic-components/questionInfo/index.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: use question.customData from Strapi for ai question info component
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: add drawer component for question info
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/drawer/index.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: parse customData infoSections translations in strapi adapter
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/utils/index.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: floating X button for drawer
  frontend/src/lib/components/modal/drawer/Drawer.svelte
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
