Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat[chatbot]: improve RAG with query contextualization
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/chatbot/src/core/prompts/systemPrompt_v0.yaml
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/prompts/queryReformulation.yaml
  packages/vector-store/src/core/utils/index.ts
  packages/vector-store/src/core/utils/queryReformulation.ts
  packages/vector-store/src/core/vectorStore.type.ts
  packages/vector-store/src/index.ts
  packages/vector-store/src/scripts/vectorRetrievalTest.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! fixup! fixup! fixup! custom: translations for duf vaa
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/da/results.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! custom: intro and results pages for duf vaa
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/contexts/voter/voterContext.type.ts
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/voting/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! custom: intro and results pages for duf vaa
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
Due: none

fixup! fixup! fixup! fixup! fixup! custom: translations for duf vaa
  frontend/src/lib/i18n/translations/en/results.json
Due: yarn build:app-shared, prettier --write

fixup! fixup! fixup! fixup! fixup! fixup! custom: translations for duf vaa
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
Due: yarn build:app-shared, prettier --write

fixup! fixup! custom: intro and results pages for duf vaa
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
Due: none

feat[chatbot]: minor prompt mod
  packages/vector-store/src/core/prompts/queryReformulation.yaml
  packages/vector-store/src/core/utils/queryReformulation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: reload data on language change
  frontend/src/lib/dynamic-components/navigation/languages/LanguageSelection.svelte
Due: none

feat[llm]: add fallback model use
  packages/llm-refactor/src/fallbackModels.ts
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/modelPricing.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

unfinished: text preservation improvements
  packages/file-processing/src/core/textSegmentation.ts
  packages/file-processing/src/index.ts
  packages/file-processing/src/utils/isTextPreserved.test.ts
  packages/file-processing/src/utils/isTextPreserved.ts
  packages/vector-store/src/scripts/verifySegmentation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[chat]: canned response stream format
  packages/chatbot/src/core/chat.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

improve llm costs accuracy
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/llm-refactor/src/llm-providers/llmProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: intelligent search flag was the wrong way round
  packages/vector-store/src/core/multiVectorStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[RAG]: add doc reranking utility function
  packages/vector-store/package.json
  packages/vector-store/src/core/utils/index.ts
  packages/vector-store/src/core/utils/rerank.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin]: ugly file viewing and editing w/ a queue
  CLAUDE.md
  frontend/src/lib/api/file-processing/types.ts
  frontend/src/routes/[[lang=locale]]/admin/file-processing/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/ExtractionReview.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/FileViewer.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/MetadataForm.svelte
  frontend/src/routes/[[lang=locale]]/api/file-processing/delete/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/file/[id]/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add queue side bar toggle
  frontend/src/routes/[[lang=locale]]/admin/file-processing/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/QueueSidebar.svelte
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

remome # markers from extraction output
  packages/file-processing/src/prompts/pdfToMarkdown.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

vector store docs update
  packages/vector-store/chroma-db/17185b02-72b2-4227-b8fa-d6e38fa23a63/data_level0.bin
  packages/vector-store/chroma-db/275b5136-5f76-4eee-9859-7d58446d14eb/data_level0.bin
Due: none

file processing ui fix
  frontend/src/routes/[[lang=locale]]/admin/file-processing/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/QueueSidebar.svelte
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

working promptfoo test
  packages/chatbot/src/scripts/chatbotEvaluation.ts
  packages/chatbot/src/scripts/chatbotEvaluationConfig.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chat controller
  packages/chatbot/package.json
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix chat page bug
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
Due: none

add conversation state type
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

minor adds
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/SegmentationReview.svelte
  packages/chatbot/src/scripts/chatbotEvaluation.ts
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/vectorStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add conversation phase routing for alignment
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/chatbot/src/api.type.ts
  packages/chatbot/src/controller/chatbotController.ts
  packages/chatbot/src/controller/chatbotController.type.ts
  packages/chatbot/src/controller/index.ts
  packages/chatbot/src/core/chat.ts
  packages/chatbot/src/core/prompts/phaseRouter.yaml
  packages/chatbot/src/core/prompts/systemPrompt_phases.yaml
  packages/chatbot/src/index.ts
  packages/chatbot/src/utils/phaseRouter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

working file-processing ui
  frontend/src/routes/[[lang=locale]]/admin/file-processing/+page.svelte
Due: none

feat[file-upload]: move to use server-side data loading & form actions in non-long-running api ops
  frontend/src/lib/api/file-processing/types.ts
  frontend/src/routes/[[lang=locale]]/admin/file-processing/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/file-processing/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/DocumentSidebar.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/ExtractionReview.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/MetadataForm.svelte
  frontend/src/routes/[[lang=locale]]/admin/file-processing/components/SegmentationReview.svelte
  frontend/src/routes/[[lang=locale]]/api/file-processing/approve-extraction/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/approve-metadata/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/approve-segmentation/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/delete/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/dequeue-documents/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/extract-batch/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/extract-metadata/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/extract/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/queue-documents/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/queue/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/re-review-extraction/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/re-review-segmentation/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/segment/+server.ts
  frontend/src/routes/[[lang=locale]]/api/file-processing/upload/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `answer.hadPreviousAnswer` tracking prop
  frontend/src/lib/contexts/voter/answerStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `question_show` tracking event
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `trackingId_set` tracking event
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add Letterburgish and French translations
  frontend/src/lib/i18n/translations/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[backend]: loading `appSettings` from Strapi
  backend/vaa-strapi/src/util/appSettings.ts
  frontend/src/lib/api/adapters/strapi/utils/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: disable filtering of parent nominations with no children
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
