Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat[admin-app]: use client svelte store in admin app
  frontend/src/lib/jobs/jobStore.ts
  frontend/src/lib/stores/jobStores.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/health/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: add question info page
  frontend/src/lib/api/utils/loadElectionData.ts
  frontend/src/lib/i18n/translations/en/adminApp.questionInfo.json
  frontend/src/lib/i18n/translations/fi/adminApp.questionInfo.json
  frontend/src/lib/i18n/translations/sv/adminApp.questionInfo.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+layout.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `AuthContext`
  docs/frontend/contexts.md
  frontend/src/lib/contexts/auth/authContext.ts
  frontend/src/lib/contexts/auth/authContext.type.ts
  frontend/src/lib/contexts/auth/index.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/contexts/candidate/candidateUserDataStore.ts
  frontend/src/lib/contexts/candidate/candidateUserDataStore.type.ts
  frontend/src/lib/contexts/candidate/index.ts
  frontend/src/lib/contexts/utils/prepareDataWriter.ts
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add `llm` and `argument-condensation` to `frontend` deps
  frontend/package.json
  frontend/tsconfig.json
  packages/argument-condensation/package.json
  packages/argument-condensation/tsconfig.cjs.json
  packages/argument-condensation/tsconfig.esm.json
  packages/llm/package.json
  packages/llm/tsconfig.cjs.json
  packages/llm/tsconfig.esm.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat[admin-app]: failed implementation of saving to custom data
  .gitignore
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! feat[admin-app]: add question info page
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[llm][argument-condensation]: build options
  packages/argument-condensation/src/core/utils/condensation/isSupportedQuestion.ts
  packages/argument-condensation/tsconfig.json
  packages/llm/tsconfig.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use a const for authToken cookie key
  frontend/src/hooks.server.ts
  frontend/src/lib/server/auth/authToken.ts
  frontend/src/lib/server/auth/index.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/+layout.server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/login/+server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/logout/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: remove unnecessary async from `PipelineLogger`
  frontend/src/lib/server/jobs/pipelineLogger.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: move jobs to $lib/server
  frontend/src/lib/components/jobs/JobMonitor.svelte
  frontend/src/lib/server/jobs/README.md
  frontend/src/lib/server/jobs/jobStore.ts
  frontend/src/lib/server/jobs/jobStore.type.ts
  frontend/src/lib/server/jobs/pipelineLogger.ts
  frontend/src/lib/stores/jobStores.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/force-fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/progress/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/emergency-cleanup/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

partial-revert: feat[admin-app]: failed implementation of saving to custom data
  .gitignore
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix formatting
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: none

fixes[arg-cond]: use UUID for final arguments
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `condenseArguments` admin feature
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[llm]: add common LLM params and generation metrics types
  packages/argument-condensation/src/core/types/condensation/condensationInput.ts
  packages/argument-condensation/src/core/types/condensation/condensationResult.ts
  packages/argument-condensation/src/core/types/index.ts
  packages/llm/src/types/commonLLMParams.ts
  packages/llm/src/types/generationMetrics.ts
  packages/llm/src/types/index.ts
  packages/llm/src/types/modelPricing.ts
  packages/llm/tests/openai-provider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! refactor: reorganize admin-only utils and components
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/force-fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/[id]/progress/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/emergency-cleanup/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

clean-up[admin]: remove unused admin jobs store functions
  frontend/src/lib/server/admin/jobs/jobStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: `question/:id/update-custom-data` api route
  backend/vaa-strapi/src/api/question/controllers/customdata.ts
  backend/vaa-strapi/src/api/question/routes/00-customRoutes.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  backend/vaa-strapi/src/util/updateCustomData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tmp: need to clean up api
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: reorganize admin-only utils and components
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/admin/utils/loadElectionData.ts
  frontend/src/lib/server/admin/jobs/README.md
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
  frontend/src/lib/server/admin/jobs/pipelineLogger.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix linter errors
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
Due: none

refactor: move client-side jobStores to `AdminContext`
  frontend/src/lib/contexts/admin/adminContext.ts
  frontend/src/lib/contexts/admin/adminContext.type.ts
  frontend/src/lib/contexts/admin/index.ts
  frontend/src/lib/contexts/admin/jobStores.ts
  frontend/src/lib/contexts/admin/jobStores.type.ts
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/contexts/admin/pollingService.type.ts
  frontend/src/lib/stores/jobStores.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

rename[llm]: improve parse function sign to convey validation capability
  packages/argument-condensation/src/core/utils/index.ts
  packages/llm/src/llm-providers/openai-provider.ts
  packages/llm/src/utils/llmParsing.ts
  packages/llm/src/utils/retryInvalidResponses.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

rename[admin-app]: rename force-fail to abort in admin-related context
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/abort-all/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/abort/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/force-fail/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

tmp[job-monitor]: add pastJobs to feature-monitoring component
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

feat: `DataWriter.updateQuestion` method
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[admin]: show the latest jobs
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

refactor[admin-app]: get admin features dynamically for the jobs page (from the centralized enum)
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

chore[backend]: remove unnecessery logging
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove `InfoSection.visible` custom data property
  frontend/src/lib/api/utils/translateQuestionInfoSections.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: global `Fetch` type
  frontend/src/lib/api/base/universalAdapter.ts
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: provide an abstract API for admin app job management
  frontend/src/lib/admin/features.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/emergency-cleanup/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-app]: disable button for arg-cond if a job is already running
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/start/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor[admin]: move API jobs/[[id]] to jobs/single/[[id]]
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/force-fail/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/single/[id]/progress/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin]: add new endpoints to admin UI's jobs api
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/jobs/jobFiltering.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/active/+server.ts
  frontend/src/routes/[[lang=locale]]/api/admin/jobs/past/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: common Admin App parts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/factor-analysis/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/factor-analysis/+page.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/+layout.svelte
  frontend/src/routes/[[lang=locale]]/admin/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin]: add link feature-page link and improve info messages
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/routes/[[lang=locale]]/admin/(protected)/jobs/+page.svelte
Due: none

refactor[admin-app]: show warnings before info messages
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
Due: none

feat[admin]: add interface JobMessage to tag a timestamp to messages
  frontend/src/lib/admin/components/jobs/JobMonitor.svelte
  frontend/src/lib/components/logger/InfoMessages.svelte
  frontend/src/lib/components/logger/WarningMessages.svelte
  frontend/src/lib/contexts/admin/pollingService.ts
  frontend/src/lib/server/admin/jobs/jobStore.ts
  frontend/src/lib/server/admin/jobs/jobStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
