Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(phase-23): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/23-adapter-foundation/23-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-23): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(24): capture phase context
  .planning/phases/24-auth-migration/24-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 24 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

wip: auth-migration paused before research
  .planning/HANDOFF.json
  .planning/phases/24-auth-migration/.continue-here.md
Due: yarn build:app-shared, prettier --write

docs(24): research phase domain
  .planning/phases/24-auth-migration/24-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-24): add research and validation strategy
  .planning/phases/24-auth-migration/24-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(24): create phase plan
  .planning/ROADMAP.md
  .planning/phases/24-auth-migration/24-01-PLAN.md
  .planning/phases/24-auth-migration/24-02-PLAN.md
  .planning/phases/24-auth-migration/24-03-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(24): revise plans based on checker feedback
  .planning/phases/24-auth-migration/24-01-PLAN.md
  .planning/phases/24-auth-migration/24-02-PLAN.md
  .planning/phases/24-auth-migration/24-03-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(24-02): rewrite hooks route guard and layout loaders for session-based auth
  frontend/src/app.d.ts
  frontend/src/hooks.server.ts
  frontend/src/routes/[[lang=locale]]/admin/+layout.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/+layout.server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(24-01): add failing tests for SupabaseDataWriter auth methods
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(24-01): implement SupabaseDataWriter auth methods
  frontend/src/lib/api/adapters/supabase/dataWriter/supabaseDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(24-02): add failing tests for session-based AuthContext
  frontend/src/lib/contexts/auth/authContext.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(24-01): create auth callback route for PKCE token exchange
  frontend/src/routes/[[lang=locale]]/candidate/auth/callback/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(24-02): rewrite AuthContext and getUserData for session-based auth
  frontend/src/lib/auth/getUserData.ts
  frontend/src/lib/auth/index.ts
  frontend/src/lib/contexts/auth/authContext.ts
  frontend/src/lib/contexts/auth/authContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(24-01): complete SupabaseDataWriter auth methods plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/24-auth-migration/24-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(24-02): complete session infrastructure plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/24-auth-migration/24-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(24-03): refactor login form actions and password pages to use adapter
  frontend/src/routes/[[lang=locale]]/admin/login/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(24-03): update authToken consumers, protected layouts, and delete Strapi auth files
  frontend/src/lib/api/base/universalAdapter.ts
  frontend/src/lib/api/utils/authHeaders.test.ts
  frontend/src/lib/api/utils/authHeaders.ts
  frontend/src/lib/auth/authToken.ts
  frontend/src/lib/contexts/admin/adminContext.ts
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/candidate/candidateUserDataStore.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/+layout.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/argument-condensation/+page.server.ts
  frontend/src/routes/[[lang=locale]]/admin/(protected)/question-info/+page.server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/login/+server.ts
  frontend/src/routes/[[lang=locale]]/api/auth/logout/+server.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(24-03): complete auth route consumer migration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/24-auth-migration/24-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(24-03): update remaining authToken consumers missed by initial migration
  frontend/src/lib/dynamic-components/navigation/admin/AdminNav.svelte
  frontend/src/lib/dynamic-components/navigation/candidate/CandidateNav.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/settings/+page.svelte
Due: none

docs(24-03): finalize summary with additional consumer fixes
  .planning/phases/24-auth-migration/24-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-24): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/phases/24-auth-migration/24-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(25): capture phase context
  .planning/phases/25-dataprovider/25-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 25 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(25): research phase domain
  .planning/phases/25-dataprovider/25-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-25): add validation strategy
  .planning/phases/25-dataprovider/25-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(25): create phase plan
  .planning/ROADMAP.md
  .planning/phases/25-dataprovider/25-01-PLAN.md
  .planning/phases/25-dataprovider/25-02-PLAN.md
  .planning/phases/25-dataprovider/25-03-PLAN.md
  .planning/phases/25-dataprovider/25-04-PLAN.md
Due: yarn build:app-shared, prettier --write

feat(25-02): add get_nominations RPC for single-roundtrip nomination+entity queries
  apps/supabase/supabase/migrations/00002_get_nominations_rpc.sql
Due: none

test(25-01): add failing tests for localizeRow and parseStoredImage
  frontend/src/lib/api/adapters/supabase/utils/localizeRow.test.ts
  frontend/src/lib/api/adapters/supabase/utils/storageUrl.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(25-01): implement localizeRow and parseStoredImage utilities
  frontend/src/lib/api/adapters/supabase/utils/localizeRow.ts
  frontend/src/lib/api/adapters/supabase/utils/storageUrl.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(25-02): extend DPDataType to accept tree format variants for nominations and entities
  frontend/src/lib/api/base/dataTypes.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(25-01): add failing test for toDataObject
  frontend/src/lib/api/adapters/supabase/utils/toDataObject.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(25-01): implement toDataObject utility
  frontend/src/lib/api/adapters/supabase/utils/toDataObject.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(25-02): complete nominations RPC and DPDataType tree extension plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-dataprovider/25-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(25-01): complete shared utilities plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/25-dataprovider/25-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(25-03): add failing tests for 4 DataProvider methods
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(25-03): implement _getAppSettings and _getAppCustomization
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(25-03): complete first 4 DataProvider methods plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-dataprovider/25-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(25-04): add failing tests for _getEntityData and _getQuestionData
  frontend/src/lib/api/adapters/supabase/dataProvider/supabaseDataProvider.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
