Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: remove unused `qa` workflow
  .github/workflows/qa.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Yarn 4.6
  .github/workflows/main.yaml
  .gitignore
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  frontend/Dockerfile
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Node 20.18.1
  .github/workflows/main.yaml
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/README.md
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.tsbuildinfo
  docs/docker-setup-guide.md
  frontend/Dockerfile
  frontend/package.json
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove `strapi-plugin-import-export-entries`
  .github/workflows/main.yaml
  .gitmodules
  .prettierignore
  backend/vaa-strapi/.dockerignore
  backend/vaa-strapi/.prettierignore
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/README.md
  backend/vaa-strapi/config/plugins.ts
  backend/vaa-strapi/eslint.config.mjs
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/mockData/mockCandidateForTesting.json
  backend/vaa-strapi/tsconfig.json
  docs/candidate-app/import-functionality.md
  docs/docker-setup-guide.md
  tests/tests/candidateApp-advanced.spec.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: use yarn 4 workspace syntax
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/plugins/candidate-admin/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

build: upgrade dependencies
  backend/vaa-strapi/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

fix: frontend unit tests
  frontend/package.json
  frontend/src/lib/utils/tests/answers.test.ts
  frontend/src/lib/utils/tests/navigation.test.ts
  frontend/svelte.config.js
  frontend/vitest.config.ts
  package.json
  vitest.workspace.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: add `vitest` to root packaged dev deps
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs: yarn 4 workspaces and internal dependencies
  README.md
Due: yarn build:app-shared, prettier --write

docs: fix typo
  docs/internationalization.md
Due: yarn build:app-shared, prettier --write

feat: question info component
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/modal/index.ts
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: LLM backend as dependency to backend
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.json
  frontend/package.json
  frontend/src/routes/[[lang=locale]]/api/llm/+server.ts
  frontend/tsconfig.json
  packages/llm/package.json
  packages/llm/tsconfig.base.json
  packages/llm/tsconfig.cjs.json
  packages/llm/tsconfig.esm.json
  packages/llm/tsconfig.types.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: use question.customData from Strapi for ai question info component
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: parse customData infoSections translations in strapi adapter
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/utils/index.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add an llm generated mock string in all questions' customData field
  .env.example
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  docker-compose.dev.yml
  frontend/.env.example
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

lint
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add stuff
  frontend/package.json
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/api/generate-arguments/+server.ts
  packages/llm/src/index.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: downgrade `eslint` to 9.14
  backend/vaa-strapi/package.json
  frontend/package.json
  package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat: add `Question` exports
  packages/data/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: translations for the `Input` component
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Input` and `QuestionInput` components
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/Input.type.ts
  frontend/src/lib/components/input/PreviewAllInputs.svelte
  frontend/src/lib/components/input/QuestionInput.svelte
  frontend/src/lib/components/input/QuestionInput.type.ts
  frontend/src/lib/components/input/index.ts
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run lint:fix
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/input/PreviewAllInputs.svelte
  frontend/src/lib/components/input/QuestionInput.svelte
Due: none

chore: remove translations deprecated by the `Input` component
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/common.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: shared types extending `@openvaa/data`
  packages/app-shared/src/data/extendedData.type.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
