Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(94-07): complete de-plan dev-seed templates plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(94-08): rewrite tests + helpers READMEs to current-state only
  tests/README.md
  tests/tests/helpers/README.md
Due: yarn build:app-shared, prettier --write

test(94-08): phase-wide de-planning gate proof — grep empty, typecheck 0, --list 84/72
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-RESIDUAL-GREP-PROOF.txt
Due: none

docs(94-08): complete final README rewrite + phase-gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-08-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(94): fix stale WR-04 docstring + e2e/base comment phrasing (code-review follow-ups)
  packages/dev-seed/src/templates/_helpers/buildMinimal.ts
  tests/tests/setup/shared/setupFromTemplate.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(94): persist human verification items + verification/review artifacts
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-HUMAN-UAT.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-REVIEW.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs: capture todo - test and create E2E spec for full bank authentication flow
  .planning/todos/pending/2026-06-03-full-bank-authentication-flow-e2e-spec.md
Due: yarn build:app-shared, prettier --write

docs: capture todos - post-runes UI recheck + navigation menu tests
  .planning/todos/pending/2026-06-03-add-navigation-menu-tests-both-apps-settings-permutations.md
  .planning/todos/pending/2026-06-03-after-runes-update-check-stale-app-header-styling-banner-ima.md
Due: yarn build:app-shared, prettier --write

docs(94): README prose-accuracy fixes from UAT review
  tests/README.md
  tests/tests/helpers/README.md
Due: yarn build:app-shared, prettier --write

test(94): UAT complete — both human gates pass (e2e 82 passed/2 skipped, README review)
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-HUMAN-UAT.md
  .planning/phases/94-final-e2e-suite-polish-de-planning-reformat-readme-triage/94-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-94): complete phase execution
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

wip: v2.10 milestone complete — paused at clean boundary (Phase 94 done/verified)
  .planning/.continue-here.md
  .planning/HANDOFF.json
Due: yarn build:app-shared, prettier --write

chore: harmonise package scripts — db:* DB-only, dev:* full-stack
  CLAUDE.md
  apps/frontend/README.md
  apps/frontend/package.json
  apps/supabase/scripts/lint-schema.mjs
  package.json
  packages/dev-seed/README.md
  packages/dev-seed/src/cli/help.ts
  packages/dev-seed/src/cli/teardown-help.ts
  packages/dev-seed/src/cli/teardown.ts
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/src/writer.ts
  packages/dev-seed/tests/integration/default-template.integration.test.ts
  tests/seed-test-data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: archive v2.10 milestone — Test Reliability + A11y Compliance + All-Green Suite
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.10-MILESTONE-AUDIT.md
  .planning/milestones/v2.10-REQUIREMENTS.md
  .planning/milestones/v2.10-ROADMAP.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-HUMAN-UAT.md
  .planning/phases/89-continuing-test-refactoring-implement-the-new-candidate-jour/89-VERIFICATION.md
  .planning/phases/92-e2e-test-infrastructure-hardening-typecheck-all-tests-and-el/92-HUMAN-UAT.md
  .planning/quick/260523-u53-implement-all-of-the-deferred-88-nn-test/260523-u53-SUMMARY.md
  .planning/quick/260527-nat-apply-test-inventory-refactor-3-md-to-vo/260527-nat-SUMMARY.md
  .planning/quick/260531-we7-fix-setanswers-number-question-must-be-a/260531-we7-SUMMARY.md
  .planning/quick/260531-x5s-fix-candidate-userdata-save-dropping-ent/260531-x5s-SUMMARY.md
  .planning/quick/260601-hn9-skip-popup-tests-add-todos/260601-hn9-SUMMARY.md
  .planning/quick/260601-iqd-add-voternav-open-close-fixture-and-wire/260601-iqd-01-SUMMARY.md
  .planning/quick/260601-iqd-add-voternav-open-close-fixture-and-wire/260601-iqd-02-SUMMARY.md
  .planning/quick/260603-c0g-fix-3-dev-seed-lint-errors-runes-test-bu/260603-c0g-SUMMARY.md
  .planning/v2.10-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

chore: remove REQUIREMENTS.md for v2.10 milestone close
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.11 Svelte 5 Runes Migration + View Transitions
  .planning/PROJECT.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v2.11 requirements
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.11 roadmap (7 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: tag perm-per-app-notifications todo with resolves_phase 101 (v2.11)
  .planning/todos/pending/2026-06-01-reenable-perm-per-app-notifications-after-runes-migration.md
Due: yarn build:app-shared, prettier --write

docs(99): create Domain B Wave A phase plan (VT + nav-a11y)
  .planning/ROADMAP.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-01-PLAN.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-02-PLAN.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(95): create phase plan — 5 leaf-context rune migrations (CTX-01..05)
  .planning/ROADMAP.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-01-PLAN.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-02-PLAN.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-03-PLAN.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-04-PLAN.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-05-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(v2.11): batch-discussion decisions + plan phases 95 & 99
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/100-domain-b-wave-b-questions-layout-restructure/100-CONTEXT.md
  .planning/phases/101-suite-re-enable-milestone-close-green-gate/101-CONTEXT.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-CONTEXT.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-PATTERNS.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-RESEARCH.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-VALIDATION.md
  .planning/phases/96-domain-a-wave-2-tier-2-bridges/96-CONTEXT.md
  .planning/phases/97-domain-a-wave-3-getroute-consumer-codemod/97-CONTEXT.md
  .planning/phases/98-domain-a-wave-4-cleanup/98-CONTEXT.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-CONTEXT.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-PATTERNS.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-RESEARCH.md
  .planning/phases/99-domain-b-wave-a-view-transitions-navigation-a11y/99-VALIDATION.md
  .planning/todos/pending/2026-06-04-extend-svelte-store-eslint-guard-app-wide.md
  .planning/v2.11-DECISIONS.md
  .planning/v2.11-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

test(95-01): add failing mergeAppSettings purity test
  apps/frontend/src/lib/utils/settings.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-01): make mergeAppSettings pure (no shared-ref mutation)
  apps/frontend/src/lib/utils/settings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-01): fold DB override into appContext $state init (close SSR gap)
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/utils/settings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(95-01): assert DB override is in initial settings value (SSR no-flash)
  apps/frontend/src/lib/utils/settings.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(95-01): complete appContext SSR-gap + mergeAppSettings purity plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-01-SUMMARY.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/deferred-items.md
Due: yarn build:app-shared, prettier --write

refactor(95-02): rune-native dataContext with current/instance split
  apps/frontend/src/lib/contexts/data/dataContext.svelte.ts
  apps/frontend/src/lib/contexts/data/dataContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(95-02): complete dataContext rune migration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(95-03): add failing localStorageState helper tests
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-03): add localStorageState rune-native persistence helper
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(95-03): add Wave-0 voter answerStore unit coverage
  apps/frontend/src/lib/contexts/voter/answerStore.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-03): migrate voter answerStore to localStorageState
  apps/frontend/src/lib/contexts/voter/answerStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-03): migrate candidate candidateUserDataStore to localStorageState
  apps/frontend/src/lib/contexts/candidate/candidateUserDataStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(95-03): complete answer-stores + localStorageState plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(95-04): add failing Wave-0 test for popupStore get current()
  apps/frontend/src/lib/contexts/app/popup/popupStore.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-04): migrate popupStore to pure-rune get current() (CTX-05)
  apps/frontend/src/lib/contexts/app/popup/popupStore.svelte.test.ts
  apps/frontend/src/lib/contexts/app/popup/popupStore.svelte.ts
  apps/frontend/src/lib/contexts/app/popup/popupStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(95-04): migrate +layout.svelte popup consumer to popupQueue.current
  apps/frontend/src/routes/+layout.svelte
Due: none

docs(95-04): complete popupStore CTX-05 rune-migration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/95-domain-a-wave-1-tier-1-leaf-contexts/95-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write
