Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

chore: enable unit tests for `@openvaa/strapi`
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.json
  backend/vaa-strapi/vitest.config.ts
  package.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: extend `Image` type for easier use
  packages/data/src/core/image.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update to Strapi 5 and deps
  backend/vaa-strapi/package.json
  frontend/package.json
  package.json
  packages/app-shared/package.json
  packages/core/package.json
  packages/data/package.json
  packages/filters/package.json
  packages/matching/package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat: `DataWriter` API and proper `CandidateContext`
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/contexts/candidate/candidateContext.type.ts
  frontend/src/lib/contexts/utils/questionBlockStore.ts
  frontend/src/lib/contexts/utils/questionBlockStore.type.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/contexts/voter/voterContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: remove `Answer` content type
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/src/api/answer/content-types/answer/schema.json
  backend/vaa-strapi/src/api/answer/controllers/answer.ts
  backend/vaa-strapi/src/api/answer/documentation/1.0.0/answer.json
  backend/vaa-strapi/src/api/answer/routes/answer.ts
  backend/vaa-strapi/src/api/answer/services/answer.ts
  backend/vaa-strapi/src/api/candidate/controllers/answers.ts
  backend/vaa-strapi/src/api/candidate/routes/00-customRoutes.ts
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/util/removeNullishProps.ts
  backend/vaa-strapi/src/util/setEntityAnswers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: update info on component styling
  docs/contributing/style-guides.md
  docs/frontend/styling.md
Due: yarn build:app-shared, prettier --write

feat: enable multiple `Nomination`s for `Candidate`s in Strapi
  backend/vaa-strapi/src/api/candidate/content-types/candidate/schema.json
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: move `answersLocked` to `AppSettings`
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/functions/generateMockData.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add error message when user data cannot be loaded
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: update Strapi auth routes
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! build: update to Strapi 5 and deps
  backend/vaa-strapi/package.json
Due: yarn build:app-shared, prettier --write

refactor: `Layout` and `MainContent` components
  frontend/src/lib/dynamic-components/navigation/Navigation.svelte
  frontend/src/lib/dynamic-components/navigation/Navigation.type.ts
  frontend/src/lib/templates/page/parts/VoterNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.ts
  frontend/src/routes/[[lang=locale]]/Header.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add drawer component for question info
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/drawer/index.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: parse customData infoSections translations in strapi adapter
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/utils/index.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: question info component
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/questions/QuestionInfo.svelte
  frontend/src/lib/components/questions/QuestionInfo.type.ts
  frontend/src/lib/contexts/app/appContext.ts
  frontend/src/lib/contexts/app/appContext.type.ts
  frontend/src/lib/contexts/app/modal/index.ts
  frontend/src/lib/contexts/app/modal/modalComponent.type.ts
  frontend/src/lib/contexts/app/modal/modalStore.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: use question.customData from Strapi for ai question info component
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: initialize llm backend package
  frontend/package.json
  frontend/tsconfig.json
  packages/llm/.gitignore
  packages/llm/README.md
  packages/llm/package.json
  packages/llm/src/index.ts
  packages/llm/tsconfig.json
  packages/llm/vitest.config.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: example code for using llm backend
  frontend/.env.example
  frontend/src/routes/[[lang=locale]]/api/llm/+server.ts
  packages/llm/src/index.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: llm api provider & openai implementation
  packages/llm/package.json
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: LLM backend as dependency to backend
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/package.json
  backend/vaa-strapi/tsconfig.json
  frontend/package.json
  frontend/src/routes/[[lang=locale]]/api/llm/+server.ts
  frontend/tsconfig.json
  packages/llm/package.json
  packages/llm/tsconfig.base.json
  packages/llm/tsconfig.cjs.json
  packages/llm/tsconfig.esm.json
  packages/llm/tsconfig.types.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

update stuff
  .gitignore
  frontend/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat: add an llm generated mock string in all questions' customData field
  .env.example
  backend/vaa-strapi/Dockerfile
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  docker-compose.dev.yml
  frontend/.env.example
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

lint
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: question extended info and drawers, add localization to question info button
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
  frontend/src/lib/components/questions/QuestionBasicInfo.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/contexts/app/modal/modalStore.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoButton.type.ts
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.type.ts
  frontend/src/lib/dynamic-components/questionInfo/index.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix env variable comments.
  .env.example
  backend/vaa-strapi/.env.example
  frontend/.env.example
Due: none

Fix env variable comments. (#682)
  .env.example
  backend/vaa-strapi/.env.example
  frontend/.env.example
Due: none

Fixed issues from previous commits
  .env.example
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/generateMockData.ts
  backend/vaa-strapi/tsconfig.json
  docker-compose.dev.yml
  packages/llm/package.json
  packages/llm/src/index.ts
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.ts
  packages/llm/tsconfig.cjs.json
  packages/llm/tsconfig.esm.json
  packages/llm/tsconfig.json
  packages/llm/tsconfig.types.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove translations deprecated by the `Input` component
  frontend/src/lib/i18n/translations/en/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/sv/common.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

update README.md
  packages/llm/README.md
Due: yarn build:app-shared, prettier --write

rewrite infosection generation to update only properties we generate
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add this branch CI
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add pr test as well
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Make maxContextTokens configurable
  packages/llm/src/llm-providers/openai-provider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: modal optional container, improve infoSection types, drawer inheritance
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/components/drawer/Drawer.svelte
  frontend/src/lib/components/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/Modal.type.ts
  frontend/src/lib/components/modal/ModalContainer.svelte
  frontend/src/lib/components/modal/ModalContainer.type.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/drawer/Drawer.type.ts
  frontend/src/lib/components/modal/drawer/DrawerContainer.svelte
  frontend/src/lib/components/modal/drawer/index.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/dynamic-components/questionInfo/QuestionExtendedInfoDrawer.svelte
  frontend/src/lib/types/global.d.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
