Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `QuestionExtendedInfo` text spacing
  frontend/src/app.css
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
Due: yarn build:app-shared, prettier --write

refactor: `findNomination` utility
  frontend/src/lib/utils/entityDetails.ts
  frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove deprecated stashed code
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: none

fix: don’t use `$app/server: read` in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localServerAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: add note for `getImpliedConstituencyIds`
  frontend/src/lib/utils/route/impliedParams.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: mock Alliance generation
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: enable `consistent-type-imports` linter rule
  packages/shared-config/eslint.config.mjs
Due: none

refactor: `ConstituencySelector` component code style
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
Due: none

refactor: `parseQuestionInfoSections` utility
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run lint:fix
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

fix[strapi]: `Alliance.parties` relation
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/party/content-types/party/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: yarn build:app-shared, prettier --write

docs: add Code settings to contributor guide
  docs/contributing/CONTRIBUTING.md
Due: yarn build:app-shared, prettier --write

build[data]: `exportTestData` dev tool
  packages/data/README.md
  packages/data/package.json
  packages/data/tools/exportTestData.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: use `LOCAL_DATA_DIR` env variable for `local` adapter data dir
  .env.example
  docker-compose.dev.yml
  frontend/src/lib/server/api/adapters/local/localPaths.ts
  frontend/src/lib/server/api/adapters/local/localServerAdapter.ts
  frontend/src/lib/server/constants.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: unsupported adapter error when using `local` adapter
  frontend/src/lib/api/dataWriter.ts
  frontend/src/lib/contexts/candidate/prepareDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `matchStore` error when there are no nominations
  frontend/src/lib/contexts/voter/matchStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove unnecessary comments
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run prettier
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  packages/core/src/logger/logger.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: update browserslist
  yarn.lock
Due: none

fix: add fallback for missing jwks env variable
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: use main `.env.example` file for Github workflows
  .github/workflows/main.yaml
  backend/vaa-strapi/.env.example
  frontend/.env.example
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: allow populate in `FindData` admin tool
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/README.md
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Do not update nickname question
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update password requirement instructions
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
Due: yarn build:app-shared, prettier --write

feat: `Alliance`s in entity details and lists
  frontend/src/lib/components/entityTag/EntityTag.svelte
  frontend/src/lib/components/entityTag/EntityTag.type.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: don't preselect elections in pre-registration
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
Due: none

feat[backend]: export feedback in Admin Tools
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: County and municipality code to constituency external ID
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `AccordionSelect` component
  frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  frontend/src/lib/components/accordionSelect/AccordionSelect.type.ts
  frontend/src/lib/components/accordionSelect/index.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/timing.ts
  frontend/tailwind.config.mjs
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix `authToken` typing
  frontend/src/lib/contexts/candidate/userDataStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: reduce unnecessary store updates in contexts
  frontend/src/lib/contexts/utils/dataCollectionStore.ts
  frontend/src/lib/contexts/utils/pageDatumStore.ts
  frontend/src/lib/contexts/utils/paramStore.ts
  frontend/src/lib/contexts/utils/parsimoniusDerived.ts
  frontend/src/lib/contexts/utils/questionBlockStore.ts
  frontend/src/lib/contexts/utils/questionCategoryStore.ts
  frontend/src/lib/contexts/utils/questionStore.ts
  frontend/src/lib/contexts/voter/filters/filterStore.ts
  frontend/src/lib/contexts/voter/matchStore.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `QuestionExtendedInfo` component
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
  frontend/src/lib/components/questions/QuestionBasicInfo.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  packages/app-shared/src/data/customData.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: improve functionality with multiple `Election`s
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/lib/components/constituencySelector/ConstituencySelector.type.ts
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/electionSelector/ElectionSelector.svelte
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/sv/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/impliedParams.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.ts
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
