Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: consisten eslint import rules
  package.json
  packages/shared-config/eslint.config.mjs
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

rebase[llm]: include up-to-date llm-refactor package
  packages/llm/src/llm-providers/llmProvider.ts
  packages/llm/src/llm-providers/provider.types.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: package init: add prompts
  packages/file-processing/.gitignore
  packages/file-processing/src/prompts/metadataExtraction.yaml
  packages/file-processing/src/prompts/pdfToMarkdown.yaml
  packages/file-processing/src/prompts/segmentAnalysis.yaml
  packages/file-processing/src/prompts/segmentation.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add text segmentation
  packages/file-processing/package.json
  packages/file-processing/src/core/pdfConversion.type.ts
  packages/file-processing/src/core/textSegmentation.ts
  packages/file-processing/src/core/textSegmentation.type.ts
  packages/file-processing/src/utils/promptLoader.ts
  packages/file-processing/tsconfig.json
  packages/file-processing/vitest.config.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add pdf extraction
  packages/file-processing/src/core/pdfConversion.ts
  packages/file-processing/src/core/pdfConversion.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add prompt loading (ad hoc - pending refactoring)
  packages/file-processing/src/utils/index.ts
  packages/file-processing/src/utils/promptLoader.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add package API with .txt and .pdf support
  packages/file-processing/src/api.ts
  packages/file-processing/src/api.type.ts
  packages/file-processing/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add metadata+fact extraction and summarization logic for documents
  packages/file-processing/src/core/documentAnalysis.ts
  packages/file-processing/src/core/documentAnalysis.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add some source documents for 2024 EU
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_EU.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_auditors.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_bank.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_commission.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_council.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_eu_council.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_institutions.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_justice.txt
  packages/file-processing/src/documents/step0_raw/txt/wikipedia_parliament.txt
  packages/file-processing/src/documents/step0_raw_full/pdf/eu-law-scope.pdf
  packages/file-processing/src/documents/step0_raw_full/pdf/eulytix.pdf
  packages/file-processing/src/documents/step0_raw_full/pdf/how-eu-works.pdf
  packages/file-processing/src/documents/step0_raw_full/pdf/ifes.pdf
  packages/file-processing/src/documents/step0_raw_full/pdf/political-studies-multi-level-governance.pdf
  packages/file-processing/src/documents/step0_raw_full/pdf/political_intelligence.pdf
Due: none

feat[file-processing]: add scripts to process and embed docs in Chroma vector store
  packages/file-processing/src/scripts/embedDocuments.ts
  packages/file-processing/src/scripts/processDocuments.ts
  packages/file-processing/src/scripts/utils/embedding.ts
  packages/file-processing/src/scripts/utils/processing.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[file-processing]: add documentation
  packages/file-processing/HANDOFF.md
  packages/file-processing/README.md
Due: yarn build:app-shared, prettier --write

feat[docs]: mobile navigation
  docs/src/lib/components/Header.svelte
  docs/src/lib/components/Navigation.svelte
  docs/src/lib/components/NavigationItem.svelte
  docs/src/lib/components/TableOfContents.svelte
  docs/src/lib/consts.ts
  docs/src/lib/layouts/MdLayout.svelte
  docs/src/routes/(content)/+layout.svelte
  docs/src/routes/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: further customizations
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/contexts/voter/voterContext.type.ts
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/lib/i18n/translations/en/about.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fr/about.json
  frontend/src/lib/i18n/translations/fr/results.json
  frontend/src/lib/i18n/translations/lb/about.json
  frontend/src/lib/i18n/translations/lb/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/about/+page.svelte
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: further customizations
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
Due: none

fix[data]: `MultipleChoiceQuestions.getChoices`
  packages/data/src/objects/questions/base/multipleChoiceQuestion.test.ts
  packages/data/src/objects/questions/base/multipleChoiceQuestion.ts
  packages/data/src/objects/questions/variants/multipleChoiceCategoricalQuestion.ts
  packages/data/src/objects/questions/variants/singleChoiceCategoricalQuestion.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Expander` on Firefox
  frontend/src/lib/components/questions/QuestionOpenAnswer.svelte
Due: none

custom: results page
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

build: use `en` as the primary locale in translations tooling
  frontend/tools/editTranslations/editTranslations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[i18n]: synchronise translations
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/ee/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/da/candidateApp.common.json
  frontend/src/lib/i18n/translations/da/candidateApp.error.json
  frontend/src/lib/i18n/translations/da/candidateApp.login.json
  frontend/src/lib/i18n/translations/da/common.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/ee/candidateApp.common.json
  frontend/src/lib/i18n/translations/ee/candidateApp.error.json
  frontend/src/lib/i18n/translations/ee/candidateApp.login.json
  frontend/src/lib/i18n/translations/ee/candidateApp.preregister.json
  frontend/src/lib/i18n/translations/ee/common.json
  frontend/src/lib/i18n/translations/ee/dynamic.json
  frontend/src/lib/i18n/translations/fi/adminApp.jobs.json
  frontend/src/lib/i18n/translations/sv/adminApp.jobs.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: YoungVotes mockup customisations
  TODO.md
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionType.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  frontend/src/lib/components/questions/PreferenceOrderList.svelte
  frontend/src/lib/components/questions/WeightedChoices.svelte
  frontend/src/lib/components/questions/splitLabel.ts
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/et/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/insights.json
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/static/images/hero-young-votes-dark.jpg
  frontend/static/images/hero-young-votes.jpg
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: allow missing poster in `Video`
  frontend/src/lib/components/video/Video.svelte
Due: none

custom: YoungVotes render.yaml
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `entityType` order in results
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: YoungVotes mockup translations
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/et/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

custom: use `et` locale
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/insights.json
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: gitignore
  .gitignore
Due: none

custom: results page
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/fr/dynamic.json
  backend/vaa-strapi/src/util/translations/lb/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fr/results.json
  frontend/src/lib/i18n/translations/lb/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `resultsPreview_updated` tracking event
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/voter/components/resultsPreview/ResultsPreview.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: results view events
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: intro and results pages for duf vaa
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/contexts/voter/voterContext.type.ts
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/voting/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
