Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

feat: show link to registration on candidate login page
  frontend/src/lib/i18n/translations/da/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/et/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: don’t update `registrationKey` for registered
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `QuestionArguments` component
  frontend/src/lib/components/questions/QuestionArguments.svelte
  frontend/src/lib/components/questions/QuestionArguments.type.ts
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/et/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: don’t show translation options with one locale
  frontend/src/lib/components/input/Input.svelte
Due: none

feat[admin-tools]: candidate password and registration manager tool
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateAuth.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateAuth.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: routing hooks and candidate login
  frontend/src/hooks.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: add candidate function
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/AddCandidate.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/addCandidate.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: use `customData.vertical` to set display variant
  frontend/src/lib/components/questions/QuestionChoices.svelte
Due: none

feat(dev-tools): add key-generation CLI package
  .gitignore
  docs/key-generation.md
  packages/dev-tools/package.json
  packages/dev-tools/src/keygen.ts
  packages/dev-tools/src/pem-to-jwk.ts
  packages/dev-tools/tsconfig.json
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove legacy apps/frontend/README.md
  apps/frontend/README.md
Due: yarn build:app-shared, prettier --write

docs: add three items to milestone backlog
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.5 Dev Data Seeding Toolkit
  .planning/PROJECT.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v2.5 requirements
  .planning/REQUIREMENTS.md
  .planning/milestones/v2.4-REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.5 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.4-ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(56): capture phase context
  .planning/phases/56-generator-foundations-plumbing/56-CONTEXT.md
  .planning/phases/56-generator-foundations-plumbing/56-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 56 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(56): refine context with 5 new decisions (D-24..D-28)
  .planning/phases/56-generator-foundations-plumbing/56-CONTEXT.md
  .planning/phases/56-generator-foundations-plumbing/56-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 56 context refinement
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(56): research phase domain
  .planning/phases/56-generator-foundations-plumbing/56-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(56): add validation strategy
  .planning/phases/56-generator-foundations-plumbing/56-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(56): add pattern map
  .planning/phases/56-generator-foundations-plumbing/56-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(56): create phase plan — 10 plans across 6 waves for generator foundations & plumbing
  .planning/ROADMAP.md
  .planning/phases/56-generator-foundations-plumbing/56-01-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-02-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-03-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-04-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-05-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-06-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-07-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-08-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-09-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-10-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(56): address plan-checker findings (ISS-01 RESOLVED markers, ISS-02 D-11a/b feedback-skip + app_settings routing, ISS-05 nomination pipeline test)
  .planning/phases/56-generator-foundations-plumbing/56-09-PLAN.md
  .planning/phases/56-generator-foundations-plumbing/56-CONTEXT.md
  .planning/phases/56-generator-foundations-plumbing/56-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 56 planning complete
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(56-01): task 1 - scaffold @openvaa/dev-seed workspace package
  packages/dev-seed/package.json
  packages/dev-seed/src/index.ts
  packages/dev-seed/tsconfig.json
  packages/dev-seed/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(56-01): task 2 - link @openvaa/dev-seed into root devDependencies
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs(56-01): task 3 - amend GEN-03 override signature per D-25
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(56-01): complete generator workspace foundation plan
  .planning/STATE.md
  .planning/config.json
  .planning/phases/56-generator-foundations-plumbing/56-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(56-02): task 1 - add SupabaseAdminClient base in @openvaa/dev-seed
  packages/dev-seed/src/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(56-02): complete admin-client base split plan
  .planning/STATE.md
  .planning/phases/56-generator-foundations-plumbing/56-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(56-03): add template schema, type, and barrel
  packages/dev-seed/src/template/index.ts
  packages/dev-seed/src/template/schema.ts
  packages/dev-seed/src/template/types.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(56-03): add Ctx factory and shared types barrel
  packages/dev-seed/src/ctx.ts
  packages/dev-seed/src/types.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(56-03): add defaultRandomValidEmit answer emitter
  packages/dev-seed/src/emitters/answers.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(56-03): complete template schema + ctx + emitter + types plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/56-generator-foundations-plumbing/56-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(56-04): add elections / constituency_groups / constituencies generators
  packages/dev-seed/src/generators/ConstituenciesGenerator.ts
  packages/dev-seed/src/generators/ConstituencyGroupsGenerator.ts
  packages/dev-seed/src/generators/ElectionsGenerator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(56-04): add organizations / alliances / factions generators
  packages/dev-seed/src/generators/AlliancesGenerator.ts
  packages/dev-seed/src/generators/FactionsGenerator.ts
  packages/dev-seed/src/generators/OrganizationsGenerator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(56-04): add accounts / projects pass-through generators (D-11)
  packages/dev-seed/src/generators/AccountsGenerator.ts
  packages/dev-seed/src/generators/ProjectsGenerator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(56-04): reword sentinel references in generator JSDoc
  packages/dev-seed/src/generators/ConstituencyGroupsGenerator.ts
  packages/dev-seed/src/generators/ElectionsGenerator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(56-04): complete foundation-generators plan
  .planning/STATE.md
  .planning/phases/56-generator-foundations-plumbing/56-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write
