Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(v2.9): operator-approve Phases 76/77/78 GREEN-WITH-DEFERRAL
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/76-profile-a11y/76-VERIFICATION.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-VERIFICATION.md
  .planning/phases/78-cleanup-hygiene-phase/78-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(v2.9): milestone audit — tech_debt verdict (24/24 reqs satisfied)
  .planning/REQUIREMENTS.md
  .planning/v2.9-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

chore: archive v2.9 milestone — E2E Coverage + Suite Determinism
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.9-MILESTONE-AUDIT.md
  .planning/milestones/v2.9-REQUIREMENTS.md
  .planning/milestones/v2.9-ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.10 Test Reliability + A11y Compliance
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/todos/done/2026-05-08-expander-state-referenced-locally.md
  .planning/todos/done/2026-05-08-results-layout-missing-slot-render-tag.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v2.10 requirements
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.10 roadmap (4 phases, 6 REQs)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: tag 3 pending todos with resolves_phase after milestone v2.10 roadmap
  .planning/todos/pending/2026-05-12-a11y-01-product-gap-cells.md
  .planning/todos/pending/2026-05-12-a11y-axe-first-run-violations.md
  .planning/todos/pending/2026-05-12-candidate-profile-cascading-race.md
Due: yarn build:app-shared, prettier --write

docs(79): capture phase context
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-CONTEXT.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 79 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(79): research phase domain — DETERM-04 RCA + DETERM-05 regen + 3-run gate protocol
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-79): add validation strategy
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(79): create phase plan — Determinism Recovery (DETERM-04 + DETERM-05)
  .planning/ROADMAP.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-01-PLAN.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-02-PLAN.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-02F-PLAN.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-03-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(79): revision iter 2 — close B-1/B-2 blockers + W-3/W-5/W-6 warnings
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-02F-PLAN.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-03-PLAN.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(state): mark phase 79 as planned
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(79-01): DETERM-04 RCA dual-hypothesis instrumentation + findings
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-01-SUMMARY.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-RESEARCH.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/RCA-FINDINGS.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/console-run-2.log
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/error-context-run-1.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/error-context-run-2.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/registration-rca.spec.ts
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-callback-goto-run-1.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-callback-goto-run-2.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-login-form-submit-run-1.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-login-settled-run-1.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-login-settled-run-2.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-redirect-settled-run-1.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-set-password-submit-run-1.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/state-after-set-password-submit-run-2.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/trace-run-1.zip
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/rca-traces/trace-run-2.zip
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(79-01): complete Plan 01 — state + roadmap + STATUS.md updates
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-01-SUMMARY.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
Due: yarn build:app-shared, prettier --write

fix(79-02): DETERM-04 — resolve candidate-profile registration cascade via URL-predicate tightening
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-02-SUMMARY.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/iso-run-1.log
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/iso-run-2.log
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/iso-run-3.log
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/mutation-project-run.log
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-0-summary.txt
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-0.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-0.stderr.log
  tests/tests/specs/candidate/candidate-profile.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(79-02F): no-op skip — 79-02 succeeded; XOR contingency not triggered
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-02F-SUMMARY.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/79-02F-skipped.txt
Due: yarn build:app-shared, prettier --write

docs(79-02F): complete no-op fallback — state/roadmap update
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-02F-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(79-03): DETERM-05 constants regen + 3-pair parity gate (v2.10 anchor)
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-03-SUMMARY.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/imgproxy-audit.txt
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/parity-gate-output.txt
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-output.txt
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-1.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-2.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-3.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-4.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-5.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/run-6.json
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/sha-identity.mjs
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/sha256.txt
  .planning/todos/pending/2026-05-13-candidate-profile-image-upload-cascade.md
  .planning/todos/pending/2026-05-13-voter-matching-detail-flakes.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 79 plan 03 complete (DETERM-05 GREEN)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(79): persist verification + human-UAT items for partial SC #1
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-HUMAN-UAT.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-VERIFICATION.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
Due: yarn build:app-shared, prettier --write

docs(79): phase close passed-with-deferral
  .planning/STATE.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-HUMAN-UAT.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/79-VERIFICATION.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/STATUS.md
Due: yarn build:app-shared, prettier --write

docs: add Phase 83 to v2.10 — absorb Phase 79 follow-ups in-milestone
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/todos/pending/2026-05-13-candidate-profile-image-upload-cascade.md
  .planning/todos/pending/2026-05-13-voter-matching-detail-flakes.md
Due: yarn build:app-shared, prettier --write

docs(80): capture phase context
  .planning/phases/80-a11y-axe-cite-and-fix/80-CONTEXT.md
  .planning/phases/80-a11y-axe-cite-and-fix/80-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 80 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(80): research phase a11y axe cite-and-fix domain
  .planning/phases/80-a11y-axe-cite-and-fix/80-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(80): add research + validation strategy
  .planning/phases/80-a11y-axe-cite-and-fix/80-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(80): add patterns map
  .planning/phases/80-a11y-axe-cite-and-fix/80-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(80): create phase plan — 1 bundled plan for A11Y-04 cite-and-fix
  .planning/ROADMAP.md
  .planning/phases/80-a11y-axe-cite-and-fix/80-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(80): plan revision — address checker W-1..W-4 warnings
  .planning/phases/80-a11y-axe-cite-and-fix/80-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(80): record plan completion in state
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(80-01): add NavGroup → NavItem context module (D-03)
  apps/frontend/src/lib/dynamic-components/navigation/navGroupContext.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(80-01): NavGroup hoists h4 + pushes NAV_GROUP context (D-02 + D-03)
  apps/frontend/src/lib/dynamic-components/navigation/NavGroup.svelte
Due: none

feat(80-01): NavItem conditionally wraps in listitem via getContext (D-03)
  apps/frontend/src/lib/dynamic-components/navigation/NavItem.svelte
Due: none

feat(80-01): Button aria-label + Drawer i18n key for floating close (D-05A + D-05B)
  apps/frontend/src/lib/components/button/Button.svelte
  apps/frontend/src/lib/components/modal/drawer/Drawer.svelte
Due: none

test(80-01): a11y-smoke per-rule trio + global-zero regression gate (D-06)
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(80-01): Tabs.svelte add role=tablist — resolves aria-required-parent + list
  apps/frontend/src/lib/components/tabs/Tabs.svelte
Due: none

fix(80-01): a11y-smoke settle-wait — getByRole('tablist') after Task 5b
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
