Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Swedish translation
  frontend/src/lib/i18n/translations/sv/common.json
Due: yarn build:app-shared, prettier --write

fix: no nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

feat/fix[backend]: update `Nominations` and `Candidates`
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `fullWidth` slot in `MainContent`
  frontend/src/lib/components/stretchBackground/StretchBackground.svelte
  frontend/src/lib/components/stretchBackground/StretchBackground.type.ts
  frontend/src/lib/components/stretchBackground/index.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/Layout.svelte
  frontend/src/routes/[[lang=locale]]/MainContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Avatar` bg color and tweak text size
  frontend/src/lib/components/avatar/Avatar.svelte
Due: none

feat: get `QuestionInfoSection` data from the backend
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/utils/index.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionInfoSections.ts
  frontend/src/lib/api/base/universalDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: child match ordering
  frontend/src/lib/utils/matches.ts
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `floating-icon` variant for `Button`
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/button/Button.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: apply `questions.categoryIntros` setting
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

feat: `Select` component with autocomplete support
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/lib/components/select/Select.type.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Support filtering by unconfirmed
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build[backend]: raise max connections to 100
  backend/vaa-strapi/config/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: use vertical `InfoItem` only for `longText`
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

feat: improve `Results` routes
  frontend/src/app.d.ts
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  frontend/src/lib/dynamic-components/entityCard/EntityCardAction.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityChildren.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityDetailsDrawer.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityDetailsDrawer.type.ts
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
  frontend/src/lib/dynamic-components/entityDetails/EntityOpinions.svelte
  frontend/src/lib/dynamic-components/entityDetails/index.ts
  frontend/src/lib/dynamic-components/entityList/EntityListControls.svelte
  frontend/src/lib/i18n/translations/en/entityList.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/entityList.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/entityList.json
  frontend/src/lib/i18n/translations/sv/results.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/entityDetails.ts
  frontend/src/lib/utils/route/parseParams.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/[entityType]/[entityId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/SingleCardContent.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `compareMaybeWrappedEntities`
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Update type
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: add fallback for missing jwks env variable
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run lint:fix
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

refactor: `QuestionExtendedInfo` text spacing
  frontend/src/app.css
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
Due: yarn build:app-shared, prettier --write

fix: `matchStore` error when there are no nominations
  frontend/src/lib/contexts/voter/matchStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: enable `consistent-type-imports` linter rule
  packages/shared-config/eslint.config.mjs
Due: none

chore: code style corrections
  frontend/src/lib/components/button/Button.svelte
  frontend/src/lib/components/infoAnswer/InfoAnswer.svelte
  frontend/src/lib/components/tabs/Tabs.svelte
  frontend/src/lib/components/tabs/Tabs.type.ts
  frontend/src/lib/dynamic-components/navigation/NavItem.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Test with switched first and last name
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: use main `.env.example` file for Github workflows
  .github/workflows/main.yaml
  backend/vaa-strapi/.env.example
  frontend/.env.example
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: unsupported adapter error when using `local` adapter
  frontend/src/lib/api/dataWriter.ts
  frontend/src/lib/contexts/candidate/prepareDataWriter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: question category preselection
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
Due: none

chore[backend]: generate mock answer for `link` questions
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `docker:delete-all` yarn script
  package.json
Due: yarn build:app-shared, prettier --write

feat[backend]: generate mock `Alliance`s
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run prettier
  frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/preregister/+page.svelte
  packages/core/src/logger/logger.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `Tabs` component keyboard use
  frontend/src/lib/components/tabs/Tabs.svelte
Due: none

fix: analytics translation keys
  frontend/src/lib/dynamic-components/dataConsent/DataConsent.svelte
  frontend/src/lib/dynamic-components/dataConsent/DataConsentInfoButton.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
Due: none

feat: Lookup candidates
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/data.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/data.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: County external ID + drop nickname from confirmed first name
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

doc: Update comments
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateNominatorFileImport.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove deprecated stashed code
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: none

feat[frontend][backend]: filter out `unconfirmed` `Nomination`s
  backend/vaa-strapi/src/api/nomination/content-types/nomination/schema.json
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/base/getDataOptions.type.ts
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: enable localization in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localPaths.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: track `QuestionExtendedInfo` events
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
Due: none

refactor: set checkbox background color
  frontend/src/app.css
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
