Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86.3-02): complete cell #4 SETTINGS-01 wave B constituency-filter SKIP-FALLBACK plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(86.3-05): close Phase 86.3 — 8-cell disposition (3 FIX-PASS + 5 SKIP-FALLBACK; anchor SHA bc1c94957b…; CASCADE 37; D-06: RE-PLAN)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-SUMMARY.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/86.3-05-cell7-smoke.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/86.3-05-cell8-smoke.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/86.3-05-voter-app-full-smoke.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/regen-constants.mjs
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/regen-output.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-1-stdout.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-1.json
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-1.sha256
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-2-stdout.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-2.json
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-2.sha256
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-3-stdout.txt
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-3.json
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/run-3.sha256
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/sha-identity.mjs
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/post-fix/sha256.txt
  .planning/todos/pending/2026-05-14-qspec-walkToQuestion-cold-start-race.md
  tests/scripts/diff-playwright-reports.ts
  tests/tests/specs/voter/voter-question-rendering-boolean.spec.ts
  tests/tests/specs/voter/voter-question-rendering-categorical.spec.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(86.3): add code review report
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-86.3): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

fix(86.3): strip stray @voter suffix from cell #5 SKIPPED_TESTS entry (CR WR-01)
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(86.3): document topBarSettings $effect interleave assumption (CR WR-02)
  apps/frontend/src/routes/(voters)/+layout.svelte
Due: none

fix(86.3): document notificationQueued fire-once trade-off (CR WR-03)
  apps/frontend/src/routes/(voters)/+layout.svelte
Due: none

fix(86.3): document popupQueue stable-reference destructure (CR WR-04)
  apps/frontend/src/routes/(voters)/+layout.svelte
Due: none

docs(86.3): add code review fix report
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-REVIEW-FIX.md
Due: yarn build:app-shared, prettier --write

chore(86.3-02): supersede cell #4 SKIP-FALLBACK with WONT-IMPLEMENT
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-SUMMARY.md
  .planning/todos/done/2026-05-13-constituency-filter-product-gap.md
  tests/scripts/diff-playwright-reports.ts
  tests/tests/specs/variants/constituency.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(86.3-02): remove constituency-filter pending todo (now in done/)
  .planning/todos/pending/2026-05-13-constituency-filter-product-gap.md
Due: yarn build:app-shared, prettier --write

fix(86.3-01): wrap topBarSettings mutations in untrack() to break $effect loop
  apps/frontend/src/routes/(voters)/+layout.svelte
Due: none

revert(86.3-01): cell #3 notifications.voterApp reactive $effect → onMount
  apps/frontend/src/routes/(voters)/+layout.svelte
  tests/tests/specs/candidate/candidate-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(86.3-04): rewrite voter-popup-hydration via answeredVoterPage fixture
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(86.3): mark v2 baseline (0 fails + 4 hard-coded skips, 3 runs verified)
  .planning/STATE.md
  .planning/phases/86.3-implement-skipped-tests-close-7-source-skipped-voter-app-can/86.3-SUMMARY.md
  tests/scripts/diff-playwright-reports.ts
  tests/tests/specs/voter/voter-matching.spec.ts
  tests/tests/specs/voter/voter-question-rendering-boolean.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(87): reshape 87-01-PLAN.md for post-86.3-v2 baseline
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(87-01): Task 0 — document post-86.3-v2 baseline + D-05 amendment lineage
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/pre-gate-cascade-check.txt
Due: none

docs(87-01): Task 1a — record run-mode decision (Path A verbal-accept)
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-mode-decision.txt
Due: none

docs(87-01): Task 1b — Path A anchor capture (verbal-accept)
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-1.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-1.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-2.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-2.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-3.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-3.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/sha-identity.mjs
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/sha256.txt
Due: yarn build:app-shared, prettier --write

docs(87-01): Task 1b cleanup — canonical Verdict: line in sha256.txt
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/sha256.txt
Due: none

docs(87-01): Task 2 — atomic constants regen for Phase 87 v2.10 ship anchor
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-CONTEXT.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/regen-output.txt
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-mode-decision.txt
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(87-01): Task 3 — write Phase 87 SUMMARY (v2 reshape milestone-close)
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(87): close Phase 87 — DETERM-15 v2.10 milestone-close anchor
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-01-SUMMARY.md
  .planning/todos/pending/2026-05-21-candidate-settings-notifications-voterapp-mount-lifecycle.md
  .planning/todos/pending/2026-05-21-phase-86-86-1-86-2-verification-md-backfill.md
  .planning/v2.10-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

docs(phase-87): verifier passed + complete phase tracking sync
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-VERIFICATION.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/sha256.txt
Due: yarn build:app-shared, prettier --write

docs(87): Path B promotion — fresh 3-run cold-start replaces Path A verbal-accept anchor
  .planning/STATE.md
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-constants.mjs
  .planning/phases/79-determinism-recovery-cascading-race-fix-constants-regen/post-fix/regen-output.txt
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/87-01-SUMMARY.md
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/path-a/run-1.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/path-a/run-1.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/path-a/run-2.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/path-a/run-2.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/path-a/run-3.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/path-a/run-3.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/regen-output.txt
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-1.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-1.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-2.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-3.json
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/run-3.sha256
  .planning/phases/87-v2-10-all-green-milestone-close-anchor-capture-a-fresh-3-run/post-fix/sha256.txt
  .planning/v2.10-MILESTONE-AUDIT.md
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(001,002): VALIDATED — appSettings + dataRoot as native Svelte 5 runes
  .planning/spikes/001-appsettings-native-rune/README.md
  .planning/spikes/002-dataroot-native-rune/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/+layout.svelte
  apps/frontend/src/routes/runes-test/+page.svelte
  apps/frontend/src/routes/runes-test/contexts/appSettingsRuneContext.svelte.ts
  apps/frontend/src/routes/runes-test/contexts/dataRootRuneContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(003,004,005): VALIDATED — answer stores + matchStore as native Svelte 5
  .planning/spikes/003-voter-answer-store-rune/README.md
  .planning/spikes/004-matchstore-integration/README.md
  .planning/spikes/005-candidate-answer-store-rune/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/+layout.svelte
  apps/frontend/src/routes/runes-test/+page.svelte
  apps/frontend/src/routes/runes-test/contexts/candidateAnswerRuneStore.svelte.ts
  apps/frontend/src/routes/runes-test/contexts/runePersistedState.svelte.ts
  apps/frontend/src/routes/runes-test/contexts/voterAnswerRuneStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(006): VALIDATED — layout settings overlay as native Svelte 5 rune
  .planning/spikes/006-layout-overlay-rune/README.md
  .planning/spikes/CONVENTIONS.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/+page.svelte
  apps/frontend/src/routes/runes-test/layout-overlay/+layout.svelte
  apps/frontend/src/routes/runes-test/layout-overlay/+page.svelte
  apps/frontend/src/routes/runes-test/layout-overlay/MockRoute.svelte
  apps/frontend/src/routes/runes-test/layout-overlay/SettingsOverlay.svelte.ts
  apps/frontend/src/routes/runes-test/layout-overlay/layoutSettingsRune.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spike-wrap-up): package 6 spike findings into project skill
  .claude/skills/spike-findings-voting-advice-application-gsd/SKILL.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/layout-overlay-registry.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/matching-integration.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/persistent-rune-stores.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/reactive-contexts.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/001-appsettings-native-rune/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/001-appsettings-native-rune/appSettingsRuneContext.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/002-dataroot-native-rune/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/002-dataroot-native-rune/dataRootRuneContext.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/003-voter-answer-store-rune/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/003-voter-answer-store-rune/runePersistedState.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/003-voter-answer-store-rune/voterAnswerRuneStore.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/004-matchstore-integration/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/004-matchstore-integration/runes-test-page.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/005-candidate-answer-store-rune/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/005-candidate-answer-store-rune/candidateAnswerRuneStore.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/005-candidate-answer-store-rune/runePersistedState.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/006-layout-overlay-rune/MockRoute.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/006-layout-overlay-rune/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/006-layout-overlay-rune/SettingsOverlay.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/006-layout-overlay-rune/layoutSettingsRune.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/006-layout-overlay-rune/page.svelte
  .planning/spikes/WRAP-UP-SUMMARY.md
  CLAUDE.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(007): VALIDATED — context orchestration + destructure trap reproduces in rune-native
  .planning/spikes/007-context-orchestration-end-to-end/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/voter-context-orchestration/+layout.svelte
  apps/frontend/src/routes/runes-test/voter-context-orchestration/+page.svelte
  apps/frontend/src/routes/runes-test/voter-context-orchestration/CanonicalConsumer.svelte
  apps/frontend/src/routes/runes-test/voter-context-orchestration/DestructureTrapConsumer.svelte
  apps/frontend/src/routes/runes-test/voter-context-orchestration/voterRuneContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(008): VALIDATED — production has real SSR gap in appSettings DB-override merge
  .planning/spikes/008-ssr-hydration-runes/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/ssr-hydration/+layout.svelte
  apps/frontend/src/routes/runes-test/ssr-hydration/+page.svelte
  apps/frontend/src/routes/runes-test/ssr-hydration/appSettingsVariantA.svelte.ts
  apps/frontend/src/routes/runes-test/ssr-hydration/appSettingsVariantB.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(009): VALIDATED — codemod feasibility + surprise production destructure-trap hit
  .planning/spikes/009-store-codemod-feasibility/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/scripts/spike-009-store-codemod.mjs
Due: yarn build:app-shared, prettier --write

spike(010): VALIDATED — adjacent-store inventory + popupStore representative spike
  .planning/spikes/010-adjacent-store-bridges/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/popup-rune/+page.svelte
  apps/frontend/src/routes/runes-test/popup-rune/popupRuneStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

spike(011): VALIDATED — HMR DX non-degraded; documents masked destructure-trap risk
  .planning/spikes/011-hmr-rune-contexts/README.md
  .planning/spikes/MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs(spikes): update CONVENTIONS with patterns 7-8 + anti-patterns from spikes 007-011
  .planning/spikes/CONVENTIONS.md
Due: yarn build:app-shared, prettier --write

docs(spike-wrap-up): package 5 new spike findings (007-011) into project skill
  .claude/skills/spike-findings-voting-advice-application-gsd/SKILL.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/consumer-migration-codemod.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/context-orchestration.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/migration-inventory-and-order.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/reactive-contexts.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/007-context-orchestration-end-to-end/CanonicalConsumer.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/007-context-orchestration-end-to-end/DestructureTrapConsumer.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/007-context-orchestration-end-to-end/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/007-context-orchestration-end-to-end/layout.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/007-context-orchestration-end-to-end/page.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/007-context-orchestration-end-to-end/voterRuneContext.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/008-ssr-hydration-runes/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/008-ssr-hydration-runes/appSettingsVariantA.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/008-ssr-hydration-runes/appSettingsVariantB.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/008-ssr-hydration-runes/layout.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/008-ssr-hydration-runes/page.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/009-store-codemod-feasibility/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/009-store-codemod-feasibility/spike-009-store-codemod.mjs
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/010-adjacent-store-bridges/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/010-adjacent-store-bridges/page.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/010-adjacent-store-bridges/popupRuneStore.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/011-hmr-rune-contexts/README.md
  .planning/spikes/WRAP-UP-SUMMARY.md
  CLAUDE.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

wip: spike-012 (getroute-rune) paused at alignment
  .planning/HANDOFF.json
  .planning/spikes/012-getroute-rune/.continue-here.md
Due: yarn build:app-shared, prettier --write

spike(012): VALIDATED — getRoute rune-native via $derived.by per-field reads
  .planning/HANDOFF.json
  .planning/STATE.md
  .planning/spikes/012-getroute-rune/.continue-here.md
  .planning/spikes/012-getroute-rune/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/routes/runes-test/getroute-rune/+layout.svelte
  apps/frontend/src/routes/runes-test/getroute-rune/+page.svelte
  apps/frontend/src/routes/runes-test/getroute-rune/getRouteRuneStore.svelte.ts
  apps/frontend/src/routes/runes-test/getroute-rune/nested/+page.svelte
  apps/frontend/src/routes/runes-test/getroute-rune/spike012Context.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spike-wrap-up): package spike-012 into project skill (Pattern 3 — getRoute)
  .claude/skills/spike-findings-voting-advice-application-gsd/SKILL.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/migration-inventory-and-order.md
  .claude/skills/spike-findings-voting-advice-application-gsd/references/reactive-contexts.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/012-getroute-rune/README.md
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/012-getroute-rune/getRouteRuneStore.svelte.ts
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/012-getroute-rune/layout.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/012-getroute-rune/nested-page.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/012-getroute-rune/page.svelte
  .claude/skills/spike-findings-voting-advice-application-gsd/sources/012-getroute-rune/spike012Context.svelte.ts
  .planning/spikes/CONVENTIONS.md
  .planning/spikes/WRAP-UP-SUMMARY.md
  CLAUDE.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

roadmap(v2.10): add Phase 88 — E2E test catalog audit + forward-looking baseline
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/88-e2e-test-catalog-audit-remove-add-consolidate-tests-fresh-ba/.gitkeep
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
