Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(76): research + 4 plans + validation strategy
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/76-profile-a11y/76-01-PLAN.md
  .planning/phases/76-profile-a11y/76-02-PLAN.md
  .planning/phases/76-profile-a11y/76-03-PLAN.md
  .planning/phases/76-profile-a11y/76-04-PLAN.md
  .planning/phases/76-profile-a11y/76-RESEARCH.md
  .planning/phases/76-profile-a11y/76-VALIDATION.md
Due: yarn build:app-shared, prettier --write

feat(76-01): extend e2e seed with 3 info questions for A11Y-01/02 anchors
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(76-01): make A11Y-02 anchor answer values disjoint from 'Alpha' substring
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(76-01): A11Y-01 candidate profile validation rejection paths spec
  .planning/phases/76-profile-a11y/deferred-items.md
  tests/playwright.config.ts
  tests/tests/data/test-not-an-image.txt
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(76-01): file PRODUCT-GAP follow-up todo for 3 deferred A11Y-01 cells
  .planning/todos/pending/2026-05-12-a11y-01-product-gap-cells.md
Due: yarn build:app-shared, prettier --write

fix(76-01): stabilize A11Y-01 image cells via pre-filechooser settle delay
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(76-01): complete A11Y-01 candidate profile validation plan
  .planning/phases/76-profile-a11y/76-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(76-03): add @axe-core/playwright@^4.11.3 as root devDep
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

feat(76-03): add PLAYWRIGHT_A11Y conditional-project block
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(76-03): author a11y-smoke spec scanning 5+1 voter-app routes
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(76-03): complete A11Y-03 axe smoke wiring plan
  .planning/phases/76-profile-a11y/76-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(76-02): A11Y-02 reload-persistence tests for display name + bio + social link
  tests/tests/specs/candidate/candidate-profile.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(76-02): promote registration-flake to deterministic-gating + document Plan 02 PASS-WITH-DEFERRAL
  .planning/phases/76-profile-a11y/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(76-02): complete A11Y-02 candidate profile reload-persistence plan
  .planning/phases/76-profile-a11y/76-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(76-04): 3-run cold-start identity gate captures (run-1/2/3 + sorted-status anchors)
  .planning/phases/76-profile-a11y/post-fix/run-1-sha.txt
  .planning/phases/76-profile-a11y/post-fix/run-1-sorted-status.txt
  .planning/phases/76-profile-a11y/post-fix/run-1.json
  .planning/phases/76-profile-a11y/post-fix/run-2-sorted-status.txt
  .planning/phases/76-profile-a11y/post-fix/run-2.json
  .planning/phases/76-profile-a11y/post-fix/run-3-sorted-status.txt
  .planning/phases/76-profile-a11y/post-fix/run-3.json
Due: yarn build:app-shared, prettier --write

test(76-04): capture 3-pair PARITY GATE outputs (FAIL × 3 — inherited auth-setup race)
  .planning/phases/76-profile-a11y/post-fix/parity-gate-output.txt
Due: none

docs(76-04): capture axe smoke first-run baseline + file cite-and-fix follow-up todo
  .planning/phases/76-profile-a11y/76-A11Y-BASELINE.md
  .planning/todos/pending/2026-05-12-a11y-axe-first-run-violations.md
Due: yarn build:app-shared, prettier --write

docs(76-04): author 76-VERIFICATION.md (5/5 SCs assessed; 3 PASS + 2 PASS-WITH-DEFERRAL)
  .planning/phases/76-profile-a11y/76-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(76-04): complete verification gate plan summary (Phase 76 close — operator checkpoint pending)
  .planning/phases/76-profile-a11y/76-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(77): research SETTINGS-01/02/03 surface — flags 3 critical landmines
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(77): add validation strategy
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(77): create Phase 77 plan set (5 plans; SETTINGS-01/02/03 + verification gate)
  .planning/ROADMAP.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-01-PLAN.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-02-PLAN.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-03-PLAN.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-04-PLAN.md
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-05-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(77): state + roadmap annotations for planned phase
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

test(77-01): SETTINGS-01 wave A toggle matrix (10 cells)
  tests/tests/specs/candidate/candidate-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77-01): mark 3 SETTINGS-01 cells as PASS-WITH-DEFERRAL + harden cells
  tests/tests/specs/candidate/candidate-settings.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(77): Plan 01 SUMMARY — SETTINGS-01 wave A toggle matrix
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(77/dev-seed): add test-question-number-1 + customData.filterable for SETTINGS-01 wave B
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77): SETTINGS-01 wave B filter-type matrix (5 cells in voter-results.spec.ts)
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77): SETTINGS-01 wave B constituency-filter PRODUCT-GAP + follow-up todo
  .planning/todos/pending/2026-05-13-constituency-filter-product-gap.md
  tests/tests/specs/variants/constituency.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(77): file FilterGroup OR-mode UI PRODUCT-GAP follow-up todo
  .planning/todos/pending/2026-05-13-filtergroup-or-mode-ui-product-gap.md
Due: yarn build:app-shared, prettier --write

docs(77): resolve folded e2e-filter-type-coverage todo into Plan 02
  .planning/todos/completed/2026-04-27-extend-e2e-filter-type-coverage.md
Due: yarn build:app-shared, prettier --write

docs(77): add Plan 02 resolution addendum to folded filter-type-coverage todo
  .planning/todos/completed/2026-04-27-extend-e2e-filter-type-coverage.md
Due: yarn build:app-shared, prettier --write

fix(77/frontend): TextQuestionFilter render branch + voter.fixture 3-iter Skip-Next loop
  apps/frontend/src/lib/components/entityFilters/EntityFilters.svelte
  tests/tests/fixtures/voter.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77): harden SETTINGS-01 wave B locators against DaisyUI Expander semantics
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(77): Plan 02 SUMMARY — SETTINGS-01 wave B filter-type matrix
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(77/tests): variant-allowopen template + setup (SETTINGS-02)
  tests/tests/setup/templates/variant-allowopen.ts
  tests/tests/setup/variant-allowopen.setup.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77/config): register variant-allowopen project (Plan 03)
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(77): voter-allowopen.spec.ts (SETTINGS-02 display-side cells per LANDMINE-1)
  tests/tests/specs/voter/voter-allowopen.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(77): file voter-authoring PRODUCT-GAP follow-up todo (SETTINGS-02 LANDMINE-1)
  .planning/todos/pending/2026-05-12-settings-02-voter-authoring-product-gap.md
Due: yarn build:app-shared, prettier --write

docs(77): Plan 03 SUMMARY — SETTINGS-02 display-side reframing
  .planning/phases/77-settings-matrix-question-customization-gap-fills/77-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write
