Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

refactor: `findNomination` utility
  frontend/src/lib/utils/entityDetails.ts
  frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: remove deprecated stashed code
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: none

chore[backend]: generate mock answer for `link` questions
  backend/vaa-strapi/src/functions/generateMockData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: Support filtering by unconfirmed
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: catch `getEntityAndTitle` error on `Results` route
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

fix: only show parent link when its included in results
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
Due: none

fix: no nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

refactor: always return `Match`es from `findCandidateNominations`
  frontend/src/lib/utils/matches.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: `compareMaybeWrappedEntities`
  frontend/src/lib/utils/sorting.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build[backend]: raise max connections to 100
  backend/vaa-strapi/config/database.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: parent answer imputation
  frontend/src/lib/contexts/voter/matchStore.ts
  frontend/src/lib/contexts/voter/nominationAndQuestionStore.ts
  frontend/src/lib/contexts/voter/voterContext.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.ts
  frontend/src/lib/utils/matching/imputeParentAnswers.type.ts
  frontend/src/lib/utils/matching/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: set `EntityDetails` tabs based on settings
  frontend/src/lib/dynamic-components/entityDetails/EntityDetails.svelte
Due: none

refactor: make single-option `Select` non-interactive
  frontend/src/lib/components/select/Select.svelte
Due: none

feat[backend]: export feedback in Admin Tools
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/FindData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/importableCollections.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Select` component with autocomplete support
  frontend/src/lib/components/constituencySelector/SingleGroupConstituencySelector.svelte
  frontend/src/lib/components/select/Select.svelte
  frontend/src/lib/components/select/Select.type.ts
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: Swedish translation
  frontend/src/lib/i18n/translations/sv/common.json
Due: yarn build:app-shared, prettier --write

fix: analytics translation keys
  frontend/src/lib/dynamic-components/dataConsent/DataConsent.svelte
  frontend/src/lib/dynamic-components/dataConsent/DataConsentInfoButton.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
Due: none

fix: don’t use `$app/server: read` in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localServerAdapter.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: enable localization in `LocalServerDataProvider`
  frontend/src/lib/server/api/adapters/local/dataProvider/localServerDataProvider.ts
  frontend/src/lib/server/api/adapters/local/localPaths.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: fix `frontend` workdir in Docker
  frontend/Dockerfile
Due: none

refactor: `QuestionExtendedInfo` text spacing
  frontend/src/app.css
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
Due: yarn build:app-shared, prettier --write

chore: run lint:fix
  frontend/src/lib/dynamic-components/entityDetails/EntityInfo.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

Make Sentry optional.
  README.md
  backend/vaa-strapi/config/plugins.ts
  frontend/package.json
  frontend/src/hooks.client.ts
  frontend/src/hooks.server.ts
  frontend/vite.config.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Move configuration to env variables and staticSettings; Conditionally initialize Sentry
  .env.example
  backend/vaa-strapi/config/plugins.ts
  docker-compose.dev.yml
  frontend/.env.example
  frontend/src/hooks.client.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/utils/constants.ts
  frontend/vite.config.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

change test llm key to match new name
  packages/argument-condensation/tests/condenser.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

define core types for a renewed condensation package
  packages/argument-condensation/new_src/core/types/argument.ts
  packages/argument-condensation/new_src/core/types/condensationInput.ts
  packages/argument-condensation/new_src/core/types/condensationResult.ts
  packages/argument-condensation/new_src/core/types/condensationType.ts
  packages/argument-condensation/new_src/core/types/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

create a stub implementation of the main entry point of condensation, the function condenseArguments
  packages/argument-condensation/new_src/core/condenseArguments.ts
  packages/argument-condensation/new_src/core/types/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

create types for metaevaluation
  packages/argument-condensation/new_src/evaluation/metaEvaluation/types/testCase.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/types/testInput.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/types/testOutput.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add readme file to explain metaevaluation approach
  packages/argument-condensation/new_src/evaluation/metaEvaluation/README.md
Due: yarn build:app-shared, prettier --write

synthetic test data that hasn't been yet curated but can be used as mock for building metaeval system
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase1.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase2.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase3.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase4.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase5.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase6.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/contrarianArguments/contrarianTestCase7.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase1.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase2.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase3.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase4.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase5.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase6.json
  packages/argument-condensation/new_src/evaluation/metaEvaluation/testData/supportingArguments/supportingTestCase7.json
Due: yarn build:app-shared, prettier --write

export metaevaluation types through an index.ts file
  packages/argument-condensation/new_src/evaluation/metaEvaluation/types/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

create functions for loading a specific category of evaluation test cases or all of them
  packages/argument-condensation/new_src/evaluation/metaEvaluation/loadMetaEvalData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add performance metrics to meta evaluation result
  packages/argument-condensation/new_src/evaluation/metaEvaluation/types/testOutput.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

create types needed for evaluation
  packages/argument-condensation/new_src/evaluation/types/evaluationInput.ts
  packages/argument-condensation/new_src/evaluation/types/evaluationOutput.ts
  packages/argument-condensation/new_src/evaluation/types/goldenDataset.ts
  packages/argument-condensation/new_src/evaluation/types/goldenTestCase.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

create an abstract condensation evaluator and a stub implementation
  packages/argument-condensation/new_src/evaluation/evaluators/abstractEvaluator.ts
  packages/argument-condensation/new_src/evaluation/evaluators/stubEvaluator.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

improve metaevaluation data loader
  packages/argument-condensation/new_src/evaluation/metaEvaluation/loadMetaEvalData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Add tsx for running TypeScript files directly
  packages/argument-condensation/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

add an example script of the metaevaluation system using stubs
  packages/argument-condensation/new_src/evaluation/metaEvaluation/example.ts
  packages/argument-condensation/new_src/evaluation/metaEvaluation/runMetaEvaluation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
