Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(80-01): verification gate — write 80-A11Y-BASELINE.md + 80-VERIFICATION.md
  .planning/phases/80-a11y-axe-cite-and-fix/80-A11Y-BASELINE.md
  .planning/phases/80-a11y-axe-cite-and-fix/80-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(80): close phase — A11Y-04 resolved (5/5 SCs PASS)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/80-a11y-axe-cite-and-fix/80-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(81): capture phase context
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-CONTEXT.md
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 81 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(81): research phase domain — A11Y-01 PRODUCT-GAP cells email + URL format
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(81): add validation strategy
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(81): map phase patterns
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(81): plan phase — 81-01-PLAN.md
  .planning/ROADMAP.md
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(81): address plan-checker warnings
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-01-PLAN.md
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(81): record planning completion
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(81): begin execution
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(81-01): add invalidEmail i18n key to 7 legacy translation source files
  apps/frontend/src/lib/i18n/translations/da/components.json
  apps/frontend/src/lib/i18n/translations/en/components.json
  apps/frontend/src/lib/i18n/translations/et/components.json
  apps/frontend/src/lib/i18n/translations/fi/components.json
  apps/frontend/src/lib/i18n/translations/fr/components.json
  apps/frontend/src/lib/i18n/translations/lb/components.json
  apps/frontend/src/lib/i18n/translations/sv/components.json
Due: yarn build:app-shared, prettier --write

chore(81-01): regenerate TranslationKey union with invalidEmail member
  apps/frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(81-01): add 'email' variant to InputProps discriminated union
  apps/frontend/src/lib/components/input/Input.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(81-01): add email validation branch + EMAIL_REGEX to Input.svelte
  apps/frontend/src/lib/components/input/Input.svelte
Due: none

feat(81-01): dispatch subtype==='email' to InputProps['type']='email'
  apps/frontend/src/lib/components/input/QuestionInput.svelte
Due: none

feat(81-01): add invalidEmail i18n key to 7 Paraglide message catalogs
  apps/frontend/messages/da/components.json
  apps/frontend/messages/en/components.json
  apps/frontend/messages/et/components.json
  apps/frontend/messages/fi/components.json
  apps/frontend/messages/fr/components.json
  apps/frontend/messages/lb/components.json
  apps/frontend/messages/sv/components.json
Due: yarn build:app-shared, prettier --write

feat(81-01): e2e fixture — sort-21 retrofit + new sort-23 email row + Alpha answer migration
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(81-01): add A11Y-05 + A11Y-06 format-rejection cells to candidate profile validation
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(81-01): add input.blur() after fill() in format-rejection cells
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(81-01): verification gate — 81-VERIFICATION.md + 3 cold-start run JSONs
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-VERIFICATION.md
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/post-fix/run-1.json
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/post-fix/run-2.json
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/post-fix/run-3.json
Due: yarn build:app-shared, prettier --write

docs(81-01): complete A11Y-01 PRODUCT-GAP Cells Email + URL Format plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(81): verification — independent confirm
  .planning/phases/81-a11y-01-product-gap-cells-email-url-format/81-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(81): close phase — A11Y-05 + A11Y-06 resolved (5/5 SCs PASS)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(82): capture phase context — TIGHTEN-SOFT required-empty gate
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-CONTEXT.md
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-DISCUSSION-LOG.md
  .planning/todos/pending/2026-05-13-allow-incomplete-profile-save-gate-opinion-questions.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 82 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(82): research phase domain — TIGHTEN-SOFT save-gate + 2 LANDMINEs
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-82): add validation strategy
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(82): pattern map — 4 file-analog pairs identified
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(82): plan 01 — TIGHTEN-SOFT required-empty save gate + cell 4
  .planning/ROADMAP.md
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-01-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 82 planned (1 plan ready to execute)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): begin phase 82 execution (1 plan in 1 wave)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(82-01): add sort-24 required-empty fixture + Alpha LocalizedString answer
  packages/dev-seed/src/templates/e2e.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(82-01): wire allRequiredFilled into canSubmit (TIGHTEN-SOFT save gate)
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
Due: none

test(82-01): add A11Y-01 cell 4 required-empty save-gate assertion + docstring lift
  tests/tests/specs/candidate/candidate-profile-validation.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(82-01): fold +1 PASS_LOCKED for A11Y-07 cell into parity-script constants
  tests/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(82-01): complete TIGHTEN-SOFT required-empty save gate + cell 4 plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-01-SUMMARY.md
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/post-fix/82-cold-start-run-1.json
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/post-fix/82-cold-start-run-2.json
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/post-fix/82-cold-start-run-3.json
Due: yarn build:app-shared, prettier --write

docs(82): code review — has-issues (1 WR, 2 INFO, all advisory)
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-82): complete phase execution — A11Y-07 closed (4/4 SCs passed)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/82-a11y-01-product-gap-cell-required-empty/82-VERIFICATION.md
  .planning/todos/done/2026-05-12-a11y-01-product-gap-cells.md
Due: yarn build:app-shared, prettier --write

docs(roadmap): fold Phase 82 advisory follow-ups into Phase 83
  .planning/PROJECT.md
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
