Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs: evolve PROJECT.md + RETROSPECTIVE.md after v2.5
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
Due: yarn build:app-shared, prettier --write

chore: remove REQUIREMENTS.md for v2.5 milestone
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: start milestone v2.6 Svelte 5 Migration Cleanup
  .planning/PROJECT.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v2.6 requirements
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.6 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(60): capture phase context
  .planning/phases/60-layout-runes-migration-hydration-fix/60-CONTEXT.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 60 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(60): research layout runes migration + hydration fix
  .planning/phases/60-layout-runes-migration-hydration-fix/60-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-60): add validation strategy
  .planning/phases/60-layout-runes-migration-hydration-fix/60-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(60): UI design contract for layout runes migration phase
  .planning/phases/60-layout-runes-migration-hydration-fix/60-UI-SPEC.md
Due: yarn build:app-shared, prettier --write

docs(state): phase 60 UI-SPEC approved
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(60): add pattern map with analog files
  .planning/phases/60-layout-runes-migration-hydration-fix/60-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(60): create phase plans for layout runes migration + hydration fix
  .planning/ROADMAP.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-01-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-02-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-03-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-04-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-05-PLAN.md
Due: yarn build:app-shared, prettier --write

fix(60): revise plans based on checker feedback (4 blockers + 5 warnings)
  .planning/phases/60-layout-runes-migration-hydration-fix/60-01-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-02-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-03-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-04-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-05-PLAN.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-RESEARCH.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(state): phase 60 planned (5 plans)
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): begin phase 60 execution
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

chore(60-01): restore diff-playwright-reports.ts and baseline report from SHA 3c57949c8
  .planning/phases/59-e2e-fixture-migration/post-swap/playwright-report.json
  .planning/phases/59-e2e-fixture-migration/scripts/diff-playwright-reports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(60-01): scaffold D-09 voter-popup-hydration E2E skeleton
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(60-01): complete Wave 0 prep plan — parity tooling restored + D-09 scaffold
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(60-02): replace $effect + Promise.all().then() with $derived validation on root +layout.svelte
  apps/frontend/src/routes/+layout.svelte
Due: none

fix(60-02): SSR-guard window/navigator in getEmailUrl (Rule 3 auto-fix)
  apps/frontend/src/lib/utils/email.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(60-02): complete root +layout.svelte runes refactor plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(60-03): replace $effect + Promise.all().then() with $derived validation on protected candidate +layout.svelte
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
Due: none

fix(60-03): break $effect reactive loop in protected layout (Rule 1 auto-fix)
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
Due: none

docs(60-03): complete protected-layout runes refactor plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(60-04): finalize D-09 voter-popup-hydration spec + fix 2 blocking effect loops
  apps/frontend/src/lib/components/accordionSelect/AccordionSelect.svelte
  apps/frontend/src/routes/+layout.svelte
  tests/tests/specs/voter/voter-popup-hydration.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(60-04): inline popup rendering in root layout; delete PopupRenderer wrapper
  apps/frontend/src/lib/components/popupRenderer/PopupRenderer.svelte
  apps/frontend/src/lib/components/popupRenderer/index.ts
  apps/frontend/src/routes/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(60-04): complete PopupRenderer empirical-removal plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(60-05): capture post-change Playwright report (--workers=1 deterministic)
  .planning/phases/60-layout-runes-migration-hydration-fix/post-change/playwright-report.json
  .planning/phases/60-layout-runes-migration-hydration-fix/post-change/playwright.stderr.txt
Due: yarn build:app-shared, prettier --write

docs(60-05): parity diff vs 3c57949c8 baseline — PARITY GATE: FAIL documented
  .planning/phases/60-layout-runes-migration-hydration-fix/post-change/diff.md
Due: yarn build:app-shared, prettier --write

docs(60-05): complete SC-4 parity gate plan — pending_review: true
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-60): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-REVIEW.md
  .planning/phases/60-layout-runes-migration-hydration-fix/60-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(61): capture phase context + fold candidate-questions testId failures
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/61-voter-app-question-flow/61-CONTEXT.md
  .planning/phases/61-voter-app-question-flow/61-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 61 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 62 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(62): capture phase context + expand SC-3 scope
  .planning/ROADMAP.md
  .planning/phases/62-results-page-consolidation/62-CONTEXT.md
  .planning/phases/62-results-page-consolidation/62-DISCUSSION-LOG.md
  .planning/todos/pending/results-url-refactor-followups.md
Due: yarn build:app-shared, prettier --write

docs(63): capture phase context (milestone v2.6 close)
  .planning/phases/63-e2e-template-extension-greening/63-CONTEXT.md
  .planning/phases/63-e2e-template-extension-greening/63-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write
