Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `QuestionArguments` component
  frontend/src/lib/components/questions/QuestionArguments.svelte
  frontend/src/lib/components/questions/QuestionArguments.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/et/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[admin-tools]: make candidate search results keyboard-accessible
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateAuth.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix stray doc paste and lint errors
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/addCandidate.ts
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/questions/QuestionChoices.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show link to registration on candidate login page
  frontend/src/lib/i18n/translations/da/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/et/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: permissions refactoring plan
  PLAN-PERMISSION-REFACTORING.md
Due: yarn build:app-shared, prettier --write

test(quick/260824-sdp): lock trackingService's exact own-enumerable surface
  apps/frontend/src/lib/contexts/app/tracking/trackingService.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(quick/260824-sdp): forward dataCtx and tracking via inheritContextMembers
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(quick/260824-sdp): lock dataRoot live-forwarding through the dataCtx inherit
  apps/frontend/src/lib/contexts/app/appContext.spread.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(quick-260824-sdp): Harmonise appContext upstream forwarding via inheritContextMembers
  .planning/STATE.md
  .planning/quick/260824-sdp-harmonise-appcontext-upstream-forwarding/260824-sdp-PLAN.md
  .planning/quick/260824-sdp-harmonise-appcontext-upstream-forwarding/260824-sdp-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: Funded by the EU logo
  docs/src/routes/+page.svelte
  docs/static/images/funded-by-the-eu-en.png
Due: none

custom: YoungVotes mockup customisations
  TODO.md
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionType.ts
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/questions/OpinionQuestionInput.svelte
  frontend/src/lib/components/questions/PreferenceOrderList.svelte
  frontend/src/lib/components/questions/WeightedChoices.svelte
  frontend/src/lib/components/questions/splitLabel.ts
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/et/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/insights.json
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/static/images/hero-young-votes-dark.jpg
  frontend/static/images/hero-young-votes.jpg
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: YoungVotes render.yaml
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: use `et` locale
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/insights.json
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: fix Estonian translations
  frontend/src/lib/i18n/translations/et/dynamic.json
  frontend/src/lib/i18n/translations/et/results.json
Due: yarn build:app-shared, prettier --write

custom: YoungVotes mockup translations
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/et/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

docs: edit refactoring plan
  PRE-SHIP-REFACTORING.md
Due: yarn build:app-shared, prettier --write

fix[docs]: use Co-funded by the EU logo
  docs/src/routes/+page.svelte
  docs/static/images/co-funded-by-the-eu-en.png
  docs/static/images/funded-by-the-eu-en.png
Due: none

custom: EU logo on frontpage
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/static/images/co-funded-by-the-eu-da.png
  frontend/static/images/co-funded-by-the-eu-en.png
  frontend/static/images/co-funded-by-the-eu-et.png
  frontend/static/images/co-funded-by-the-eu-fi.png
Due: none

custom: add EU logo to front page
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/static/images/co-funded-by-the-eu-da.png
  frontend/static/images/co-funded-by-the-eu-en.png
  frontend/static/images/co-funded-by-the-eu-et.png
  frontend/static/images/co-funded-by-the-eu-fi.png
  frontend/static/images/youthvotes-logo-black.png
Due: none

custom: customisation for Tampere Nuva VAA 2026
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  frontend/src/lib/i18n/translations/fi/about.json
  frontend/src/lib/i18n/translations/fi/adminApp.factorAnalysis.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
  frontend/static/images/hero-candidate.png
  frontend/static/images/hero-dark.jpg
  frontend/static/images/hero.jpg
  frontend/static/images/hero.png
  packages/app-shared/src/settings/staticSettings.ts
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

07/12 chore: the frontend app shell — entry points, route params, static assets and build config
  apps/frontend/.env.example
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app.html
  apps/frontend/src/hooks.client.ts
  apps/frontend/src/hooks.server.ts
  apps/frontend/static/fonts/inter-latin-400-normal.woff2
  apps/frontend/static/fonts/inter-latin-700-normal.woff2
  apps/frontend/static/fonts/inter-latin-ext-400-normal.woff2
  apps/frontend/static/fonts/inter-latin-ext-700-normal.woff2
  apps/frontend/static/fonts/inter.css
  apps/frontend/svelte.config.js
  apps/frontend/svelte.config.test.ts
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.tsbuildinfo
  apps/frontend/vite.config.ts
  apps/frontend/vite.projectIdEnv.test.ts
  apps/frontend/vite.projectIdEnv.ts
  apps/frontend/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

07/12 style: formatting, comment and documentation changes — the frontend app shell — entry points, route params, static assets and build config
  apps/frontend/.env.example
  apps/frontend/eslint.config.mjs
  apps/frontend/scripts/flatten-current-codemod.mjs
  apps/frontend/scripts/store-to-state-codemod.mjs
  apps/frontend/src/app.css
  apps/frontend/src/app.d.ts
  apps/frontend/src/params/etPl.test.ts
  apps/frontend/src/params/etPl.ts
  apps/frontend/src/params/etSg.test.ts
  apps/frontend/src/params/etSg.ts
  apps/frontend/static/fonts/OFL.txt
  apps/frontend/static/fonts/README.md
  apps/frontend/vite.config.ts
  apps/frontend/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

08/12 chore[i18n]: corrections to the Paraglide message catalogues
  apps/frontend/messages/da/candidateApp.settings.json
  apps/frontend/messages/da/entityDetails.json
  apps/frontend/messages/en/candidateApp.settings.json
  apps/frontend/messages/en/entityDetails.json
  apps/frontend/messages/et/candidateApp.settings.json
  apps/frontend/messages/et/entityDetails.json
  apps/frontend/messages/fi/candidateApp.settings.json
  apps/frontend/messages/fi/entityDetails.json
  apps/frontend/messages/fr/candidateApp.settings.json
  apps/frontend/messages/fr/entityDetails.json
  apps/frontend/messages/lb/candidateApp.settings.json
  apps/frontend/messages/lb/entityDetails.json
  apps/frontend/messages/sv/candidateApp.settings.json
  apps/frontend/messages/sv/entityDetails.json
Due: yarn build:app-shared, prettier --write

09/12 docs: the documentation site
  apps/docs/package.json
  apps/docs/scripts/generate-navigation-config.ts
  apps/docs/src/lib/navigation.config.ts
  apps/docs/tsconfig.tsbuildinfo
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

10/12 chore: the experimental packages — llm, argument-condensation and question-info
  packages/argument-condensation/package.json
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
  packages/argument-condensation/tests/unit/planValidation.test.ts
  packages/llm/package.json
  packages/question-info/package.json
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/prompts/en/generateBoth.yaml
  packages/question-info/src/prompts/en/generateInfoSections.yaml
  packages/question-info/src/prompts/en/generateTerms.yaml
  packages/question-info/tests/questionTypes.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

11/12 style: formatting, comment and documentation changes — root tooling — CI workflows, lint and format config, scripts and the audit baseline
  .env.example
  .github/trufflehog-exclude-paths.txt
  .github/workflows/main.yaml
  CLAUDE.md
  packages/dev-tools/src/keygen.ts
  packages/dev-tools/src/pem-to-jwk.ts
  packages/shared-config/README.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
