Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fix(140): WR-02 correct false STANDS ALONE claim on bank-auth-journey block, document data-setup-base edge in IDURA-TEST-RUNBOOK.md and tests/README.md
  tests/IDURA-TEST-RUNBOOK.md
  tests/README.md
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(140): add code review fix report — 3 auto iterations, 1 critical open
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-REVIEW-FIX.iter2.md
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-REVIEW-FIX.iter3.md
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-REVIEW-FIX.md
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-REVIEW.iter2.md
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-REVIEW.iter3.md
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-REVIEW.md
Due: yarn build:app-shared, prettier --write

fix(140): CR-01 select election and constituency by identity, not position
  tests/tests/fixtures/candidate/candidatePreregisterPage.fixture.ts
  tests/tests/specs/candidate/candidate-bank-auth-journey.spec.ts
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(140): WR-04 mark the Signicat try/catch blocks deliberately out of scope
  apps/frontend/src/lib/api/utils/auth/__tests__/token-endpoint.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(140): record E2E gate discharge — all three green
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-GATES.md
Due: yarn build:app-shared, prettier --write

fix(140): WR-03 append bank-auth setup to the perm serial chain
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-GATES.md
  packages/dev-seed/src/templates/e2e/perm/notLocated2e2cgShape.ts
  packages/dev-seed/src/templates/e2e/perm/perm-bankauth-notloc.ts
  tests/IDURA-TEST-RUNBOOK.md
  tests/README.md
  tests/playwright.config.ts
  tests/tests/specs/candidate/candidate-bank-auth-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(140): IN-03 assert the documented 401 rejection shape, not merely that something threw
  apps/frontend/src/lib/api/utils/auth/__tests__/token-endpoint.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(140): IN-01 check ALLOWED_TEARDOWN_TABLES against the array bulk_delete deletes by
  packages/dev-seed/tests/cli/allowedTeardownTables.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(140): IN-02 scan the whole testDir for teardown prefixes, not just setup/
  tests/playwright.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(140): record the Info-findings closure and the Gate 1 re-run
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-GATES.md
Due: yarn build:app-shared, prettier --write

docs: add the v0.2 Akita shipping addendum to ROADMAP
  ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs: drop the completed 2025 H2 roadmap line from CLAUDE.md
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

chore: stop tracking machine-local editor and Supabase CLI state
  .gitignore
  .vscode/settings.json
  supabase/.temp/cli-latest
Due: yarn build:app-shared, prettier --write

test(140): complete UAT - 7 passed, 0 issues
  .planning/phases/140-blind-matcher-remediation-teardowns-null-matchers-positive-c/140-UAT.md
Due: yarn build:app-shared, prettier --write

docs: note branching off current tip for the v0.2 Akita shipping addendum
  ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(151): add Ship v0.2 Akita review-stack phase to the v2.15 roadmap
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/.gitkeep
Due: yarn build:app-shared, prettier --write

docs(151): capture phase context
  .planning/phases/151-ship-v0-2-akita-review-stack/151-CONTEXT.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-DISCUSSION-LOG.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 151 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(151): research phase domain
  .planning/phases/151-ship-v0-2-akita-review-stack/151-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(151): add validation strategy
  .planning/phases/151-ship-v0-2-akita-review-stack/151-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(151): map phase patterns to in-repo analogs
  .planning/phases/151-ship-v0-2-akita-review-stack/151-PATTERNS.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(151): create phase plan — 19 plans, tracer-first, 17 waves
  .planning/ROADMAP.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-01-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-02-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-03-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-04-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-05-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-06-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-07-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-08-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-09-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-10-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-11-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-12-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-13-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-14-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-15-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-16-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-17-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-18-PLAN.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-19-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(151): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(151-01): add stack-construction scripts and prove the pipeline end to end
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/build-rename-commit.sh
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/build-slice.sh
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/verify-identity.sh
Due: none

docs(151-01): record the dry-run byte-identity proof
  .planning/phases/151-ship-v0-2-akita-review-stack/151-BYTE-IDENTITY-PROOF.md
Due: yarn build:app-shared, prettier --write

docs(151-01): summarize byte-identity tracer plan
  .planning/phases/151-ship-v0-2-akita-review-stack/151-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-01): complete byte-identity tracer plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(151-02): encode criterion 4.1-4.6 as verify-commit-taxonomy.sh
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/verify-commit-taxonomy.sh
Due: none

feat(151-02): add hygiene-grep-report.sh for criterion 3
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/hygiene-grep-report.sh
Due: none

feat(151-02): add slice-overlap-matrix.sh for criterion 6
  .planning/phases/151-ship-v0-2-akita-review-stack/scripts/slice-overlap-matrix.sh
Due: none

docs(151-02): complete Wave-0 verification and report tooling plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-03): pin the pre-sweep tip in a detached backup worktree
  .planning/phases/151-ship-v0-2-akita-review-stack/151-BASELINE.md
Due: yarn build:app-shared, prettier --write

docs(151-03): measure the lint, format and unit baseline (A5)
  .planning/phases/151-ship-v0-2-akita-review-stack/151-BASELINE.md
Due: yarn build:app-shared, prettier --write

docs(151-03): capture the pre-codemod hygiene baseline
  .planning/phases/151-ship-v0-2-akita-review-stack/151-BASELINE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-hygiene-baseline.tsv
Due: yarn build:app-shared, prettier --write

docs(151-03): summarize backup worktree pin and baseline capture
  .planning/WINDOWS.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(151-03): complete backup worktree pin and baseline capture plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(151-04): measure every cited gate's reach against the execution-time tree
  .planning/phases/151-ship-v0-2-akita-review-stack/151-MEASUREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(151-04): re-measure slice anatomy, rename inventory, and segment overlap
  .planning/phases/151-ship-v0-2-akita-review-stack/151-MEASUREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(151-04): re-confirm the pre-seeded findings and the stale-path target set
  .planning/phases/151-ship-v0-2-akita-review-stack/151-MEASUREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(151-04): complete execution-time re-measurement plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/151-ship-v0-2-akita-review-stack/151-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write
