Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: lock v2.14 E2E discussion-point decisions (operator review complete)
  .planning/v2.14-E2E-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(118): generate context from batched discuss doc
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(118): add phase research (E2E catalog audit groundwork)
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(118): add validation strategy
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(118-e2e-coverage-audit-coverage-plan): create phase plan
  .planning/ROADMAP.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-01-PLAN.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-02-PLAN.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-03-PLAN.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-04-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-01): create v2.14 E2E coverage-plan deliverable with header + grounded catalog inventory
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-01): audit + classify EPERM-01..11 with verified verdicts
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-01): record --likert-only removal cross-cutting finding (A1)
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-01): complete EPERM-coverage-audit plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(118-02): append EFLOW-01..11 coverage map to v2.14 E2E coverage plan
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-02): record EFLOW-10 bank-auth Idura-only retarget verdict (122.2)
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-02): append EQTYP-01..03 coverage map, all DEFERRED to Phase 130
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-02): complete EFLOW + EQTYP coverage map plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(118-03): append EPERM build list (Phase 120) — per-spec project wiring + seed + fixtures + semantic steps
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-03): append EFLOW (Phase 121) + Bank-Auth (Phase 122) build list
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-03): append Extension-Scope Pins (118.4) for EPERM-06/07/09 + EFLOW-01/04/08/09
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-03): complete EPERM/EFLOW build list + extension-scope pins plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(118-04): write Deferred-Build Markers + deferred-cluster build entries
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-04): complete Cross-Cutting Findings + Success-Criteria Satisfaction
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118-04): finalise coverage plan + SUMMARY + STATE/ROADMAP (operator gate pending)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-04-SUMMARY.md
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118): reflect operator coverage notes into build list
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118): fold operator notes into coverage plan + lock bank-auth Option B
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(118): close operator approval gate — Phase 118 complete, 119 unblocked
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/118-e2e-coverage-audit-coverage-plan/118-04-SUMMARY.md
  .planning/v2.14-E2E-COVERAGE-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(119): generate context from approved v2.14 coverage plan
  .planning/phases/119-e2e-fixtures-helpers-seed/119-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(119): add validation strategy
  .planning/phases/119-e2e-fixtures-helpers-seed/119-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(119): create phase plan — 8 plans across 4 waves (fixtures-first + seed + UNBLK-03)
  .planning/ROADMAP.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-01-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-02-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-03-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-04-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-05-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-06-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-07-PLAN.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-08-PLAN.md
Due: yarn build:app-shared, prettier --write

docs(119): add research + pattern map, record planning (STATE/ROADMAP/VALIDATION)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-PATTERNS.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-RESEARCH.md
  .planning/phases/119-e2e-fixtures-helpers-seed/119-VALIDATION.md
Due: yarn build:app-shared, prettier --write

refactor(119-01): remove --likert-only from dev-seed CLI surface + barrel
  packages/dev-seed/src/cli/help.ts
  packages/dev-seed/src/cli/likert-only.ts
  packages/dev-seed/src/cli/seed.ts
  packages/dev-seed/src/index.ts
  packages/dev-seed/tests/cli/help.test.ts
  packages/dev-seed/tests/cli/likert-only.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(119-01): delete dead voterNavigation helpers + scrub --likert-only docs
  CLAUDE.md
  tests/README.md
  tests/tests/setup/shared/setupFromTemplate.ts
  tests/tests/utils/voterNavigation.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-01): complete --likert-only removal + voterNavigation hygiene plan
  .planning/phases/119-e2e-fixtures-helpers-seed/119-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(119-05): add Video/question-info/arguments/term test-ids + registry keys
  apps/frontend/src/lib/components/questions/QuestionArguments.svelte
  apps/frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  apps/frontend/src/lib/components/questions/QuestionExtendedInfoButton.svelte
  apps/frontend/src/lib/components/questions/QuestionExtendedInfoDrawer.svelte
  apps/frontend/src/lib/components/term/Term.svelte
  apps/frontend/src/lib/components/video/Video.svelte
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(119-05): add popup/filter-toggle/about-disclosure test-ids + registry keys
  apps/frontend/src/lib/components/entityFilters/enumerated/EnumeratedEntityFilter.svelte
  apps/frontend/src/lib/dynamic-components/feedback/popup/FeedbackPopup.svelte
  apps/frontend/src/lib/dynamic-components/survey/popup/SurveyPopup.svelte
  apps/frontend/src/routes/(voters)/about/+page.svelte
Due: none

docs(119-05): complete production data-testid + testIds registry plan
  .planning/phases/119-e2e-fixtures-helpers-seed/119-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(119-02): reconcile default.ts docstrings + defensive hideIfMissingAnswers (UNBLK-03)
  packages/dev-seed/src/templates/default.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(119-03): hand-author perm-question-video + perm-interactive-info templates
  packages/dev-seed/src/templates/e2e/perm/perm-interactive-info.ts
  packages/dev-seed/src/templates/e2e/perm/perm-question-video.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(119-03): hand-author perm-org-matching + register all three perm templates
  packages/dev-seed/src/supabaseAdminClient.ts
  packages/dev-seed/src/templates/e2e/perm/perm-interactive-info.ts
  packages/dev-seed/src/templates/e2e/perm/perm-org-matching.ts
  packages/dev-seed/src/templates/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-03): complete e2e perm templates plan (video/interactive-info/org-matching)
  .planning/phases/119-e2e-fixtures-helpers-seed/119-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(119-06): add expectVideo + question-info readers (EPERM-06/07)
  tests/tests/fixtures/shared/video.fixture.ts
  tests/tests/fixtures/voter/questionInfo.fixture.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(119-06): add popupNotice + org-match-score + About-disclosure readers, wire views.ts (EPERM-09/10)
  tests/tests/fixtures/shared/popupNotice.fixture.ts
  tests/tests/fixtures/voter/aboutPage.fixture.ts
  tests/tests/fixtures/voter/resultsPage.fixture.ts
  tests/tests/fixtures/voter/views.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(119-06): complete EPERM fixtures & helpers plan
  .planning/phases/119-e2e-fixtures-helpers-seed/119-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
