Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

fixup! feat: show `Alliance`s in the frontend
  backend/vaa-strapi/src/api/alliance/content-types/alliance/schema.json
  backend/vaa-strapi/src/api/election/content-types/election/schema.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  frontend/src/lib/api/adapters/strapi/utils/parseNominations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings and translations for vyy vaa
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/about.json
  frontend/src/lib/i18n/translations/en/common.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/fi/about.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fi/entityDetails.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  packages/app-shared/src/settings/staticSettings.ts
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add tests
  packages/file-processing/tests/api.test.ts
  packages/file-processing/tests/core/pdfProcessor.test.ts
  packages/file-processing/tests/core/textSegmentation.test.ts
  packages/file-processing/tests/helpers/fakeLLMProvider.ts
  packages/file-processing/tests/utils/isTextPreserved.test.ts
  packages/file-processing/tests/utils/promptLoader.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

a messy commit - refactor soon
  packages/file-processing/build/api.d.ts
  packages/file-processing/build/api.d.ts.map
  packages/file-processing/build/api.js
  packages/file-processing/build/api.type.d.ts
  packages/file-processing/build/api.type.d.ts.map
  packages/file-processing/build/core/documentAnalysis.js
  packages/file-processing/build/core/documentAnalysis.type.d.ts
  packages/file-processing/build/core/documentAnalysis.type.d.ts.map
  packages/file-processing/build/tsconfig.tsbuildinfo
  packages/file-processing/src/api.ts
  packages/file-processing/src/api.type.ts
  packages/file-processing/src/core/documentAnalysis.ts
  packages/file-processing/src/core/documentAnalysis.type.ts
  packages/file-processing/tests/api.test.ts
  packages/file-processing/tests/core/documentAnalysis.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test pass but idk
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/condensation/runner.ts
  packages/argument-condensation/src/core/types/api/apiConfig.ts
  packages/argument-condensation/src/core/types/condensation/condensationInput.ts
  packages/argument-condensation/src/core/types/condensation/condensationResult.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

file processing package done-ish
  packages/file-processing/build/api.d.ts.map
  packages/file-processing/build/api.js
  packages/file-processing/build/api.type.d.ts
  packages/file-processing/build/api.type.d.ts.map
  packages/file-processing/build/core/documentAnalysis.d.ts.map
  packages/file-processing/build/core/documentAnalysis.js
  packages/file-processing/build/core/documentAnalysis.type.d.ts
  packages/file-processing/build/core/documentAnalysis.type.d.ts.map
  packages/file-processing/build/core/textSegmentation.d.ts.map
  packages/file-processing/build/core/textSegmentation.js
  packages/file-processing/build/core/textSegmentation.type.d.ts
  packages/file-processing/build/core/textSegmentation.type.d.ts.map
  packages/file-processing/build/index.d.ts
  packages/file-processing/build/index.d.ts.map
  packages/file-processing/build/index.js
  packages/file-processing/build/tsconfig.tsbuildinfo
  packages/file-processing/src/api.ts
  packages/file-processing/src/api.type.ts
  packages/file-processing/src/core/documentAnalysis.ts
  packages/file-processing/src/core/documentAnalysis.type.ts
  packages/file-processing/src/core/pdfConversion.ts
  packages/file-processing/src/core/textSegmentation.ts
  packages/file-processing/src/core/textSegmentation.type.ts
  packages/file-processing/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

SOS: llm-refactor changes, which need to be reflected everywhere llm calls are madegit add .git add .git add .
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/llm-providers/provider.types.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs[CLAUDE]: add comprehensive project documentation and commit workflow - enables Claude Code to follow project conventions - includes project architecture overview
  CLAUDE.md
  frontend/package.json
  frontend/src/lib/server/admin/features/condenseArguments.ts
  frontend/src/lib/server/admin/features/generateQuestionInfo.ts
  frontend/tsconfig.json
  packages/argument-condensation/README.md
  packages/argument-condensation/src/api.ts
  packages/argument-condensation/src/core/types/api/apiConfig.ts
  packages/file-processing/build/tsconfig.tsbuildinfo
  packages/question-info/README.md
  packages/vector-store/src/core/utils/isRAGRequired.ts
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add fact highlighting
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/vectorStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add retrieval gating
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  packages/vector-store/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

add retrieval gating performance test as script
  packages/vector-store/package.json
  packages/vector-store/src/scripts/testing/README.md
  packages/vector-store/src/scripts/testing/gaterTest.ts
  packages/vector-store/src/scripts/testing/gaterTestDataset.json
  packages/vector-store/src/scripts/testing/gaterTestReport.json
  packages/vector-store/src/scripts/testing/performance.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

use intelligent search - improves results well
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! fixup! custom: translations for duf vaa
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/da/constituencies.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/da/results.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! custom: intro and results pages for duf vaa
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

fixup! fixup! custom: intro and results pages for duf vaa
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: none

fixup! fixup! fixup! custom: translations for duf vaa
  frontend/src/lib/i18n/translations/da/results.json
  frontend/src/lib/i18n/translations/en/results.json
Due: yarn build:app-shared, prettier --write

custom: always show question number
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
Due: none

refactor[vector-store]: modify dir structure for input docs
  packages/vector-store/src/docs/NEW_segmentedTexts/official/eu-simplified_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/official/officialSources_eu-law-scope_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/official/officialSources_eu-legal-fact-sheet_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/official/officialSources_how-eu-works_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/unofficial/unofficial_citized-information-board_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/unofficial/unofficial_eulytix_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/unofficial/unofficial_ifes_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/unofficial/unofficial_political-studies-multi-level-governance_segments.txt
  packages/vector-store/src/docs/NEW_segmentedTexts/unofficial/unofficial_political_intelligence_segments.txt
  packages/vector-store/src/docs/step0_unprocessed/official/txt/eu-simplified.txt
  packages/vector-store/src/docs/step0_unprocessed/unofficial/citized-information-board.pdf
  packages/vector-store/src/docs/step0_unprocessed/unofficial/ifes.pdf
  packages/vector-store/src/docs/step0_unprocessed/unofficial/political-studies-multi-level-governance.pdf
  packages/vector-store/src/docs/step0_unprocessed/unofficial/political_intelligence.pdf
  packages/vector-store/src/docs/step1_markdown/ifes.txt
  packages/vector-store/src/docs/step2_segmented/ifes.txt
  packages/vector-store/src/docs/step3_ready/official/eu-simplified_processed.json
  packages/vector-store/src/docs/step3_ready/official/officialSources_eu-law-scope_processed.json
  packages/vector-store/src/docs/step3_ready/official/officialSources_how-eu-works_processed.json
  packages/vector-store/src/docs/step3_ready/unofficial/unofficial_citized-information-board_processed.json
  packages/vector-store/src/docs/step3_ready/unofficial/unofficial_eulytix_processed.json
  packages/vector-store/src/docs/step3_ready/unofficial/unofficial_ifes_processed.json
  packages/vector-store/src/docs/step3_ready/unofficial/unofficial_political-studies-multi-level-governance_processed.json
  packages/vector-store/src/docs/step3_ready/unofficial/unofficial_political_intelligence_processed.json
  packages/vector-store/src/scripts/NEW_processingPipeline.ts
  packages/vector-store/src/scripts/embeddingScript.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[chatbot]: delete multi route - implement testing with an prompt testing framework
  frontend/src/routes/[[lang=locale]]/chatbot/multi/+page.svelte
Due: none

feat[chatbot]: remove gating, which improves latency a lot
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[chatbot]: modify prompt containing user message & context
  packages/chatbot/src/core/prompts/userQueryWithContext.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: add generic operation metrics base type & llm metrics calculations
  packages/core/src/index.ts
  packages/core/src/pipelines/metrics.type.ts
  packages/llm-refactor/package.json
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/llm-providers/provider.types.ts
  packages/llm-refactor/src/modelPricing.ts
  packages/llm-refactor/src/types/commonLLMParams.ts
  packages/llm-refactor/src/types/llmPipelineResult.ts
  packages/llm-refactor/src/utils/costCalculation.ts
  packages/llm-refactor/src/utils/prompting/loadPackagePrompts.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[arg-cond]: use new result and input config types from llm package
  frontend/package.json
  frontend/src/lib/server/admin/features/condenseArguments.ts
  packages/argument-condensation/README.md
  packages/argument-condensation/src/api.ts
  packages/argument-condensation/src/core/condensation/condenser.ts
  packages/argument-condensation/src/core/condensation/runner.ts
  packages/argument-condensation/src/core/types/api/apiConfig.ts
  packages/argument-condensation/src/core/types/condensation/condensationInput.ts
  packages/argument-condensation/src/core/types/condensation/condensationResult.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserIntegration.test.ts
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[q-info]: use new result and input config types from llm package
  frontend/src/lib/server/admin/features/generateQuestionInfo.ts
  packages/question-info/README.md
  packages/question-info/src/core/infoGeneration.ts
  packages/question-info/src/utils/responseTransformer.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

delete[old-llm-package]: remove unused, ad-hoc LLM package
  frontend/tsconfig.json
  packages/llm/.gitignore
  packages/llm/README.md
  packages/llm/package.json
  packages/llm/src/consts.ts
  packages/llm/src/index.ts
  packages/llm/src/llm-providers/llm-provider.ts
  packages/llm/src/llm-providers/openai-provider.ts
  packages/llm/src/types/commonLLMParams.ts
  packages/llm/src/types/generationMetrics.ts
  packages/llm/src/types/generationOptions.ts
  packages/llm/src/types/index.ts
  packages/llm/src/types/latency.ts
  packages/llm/src/types/llmResponse.ts
  packages/llm/src/types/message.ts
  packages/llm/src/types/modelPricing.ts
  packages/llm/src/types/role.ts
  packages/llm/src/types/tokenUsage.ts
  packages/llm/src/utils/costCalculator.ts
  packages/llm/src/utils/index.ts
  packages/llm/src/utils/latencyTracker.ts
  packages/llm/src/utils/llmParsing.ts
  packages/llm/src/utils/mapToMessageParam.ts
  packages/llm/src/utils/parseRateLimitError.ts
  packages/llm/src/utils/retryInvalidResponses.ts
  packages/llm/src/utils/setPromptVars.ts
  packages/llm/tests/openai-provider.test.ts
  packages/llm/tests/setPromptVars.test.ts
  packages/llm/tsconfig.json
  packages/llm/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: add yarn command to reload packages if changes are made to them during development
  package.json
Due: yarn build:app-shared, prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

fix: arg-cond test
  packages/argument-condensation/tests/unit/handleQuestion.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: add link to a chatbot source
  packages/vector-store/src/docs/step3_ready/official/eu-simplified_processed.json
Due: yarn build:app-shared, prettier --write

feat[chatbot]: add first convo example to system prompt
  packages/chatbot/src/core/prompts/systemPrompt_v0.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[chatbot]: track RAG results' filtering costs
  frontend/src/routes/[[lang=locale]]/api/chat/+server.ts
  frontend/src/routes/[[lang=locale]]/chatbot/single/+page.svelte
  packages/vector-store/src/core/multiVectorStore.ts
  packages/vector-store/src/core/vectorStore.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[chatbot]: minor prompt clean up
  packages/chatbot/src/core/prompts/systemPrompt_v0.yaml
  packages/vector-store/src/core/prompts/searchResultFiltering.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
