Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs(134): plan-checker PASS — 8 plans across 6 waves ready to execute
  .planning/STATE.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-PATTERNS.md
Due: yarn build:app-shared, prettier --write

feat(134-01): typed AxeRoute contract + honest constituencies scan + AA fix
  apps/frontend/src/app.css
  apps/frontend/src/lib/components/constituencySelector/ConstituencySelector.svelte
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(134-01): bring all six axe scans under the typed route contract
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(134-01): complete typed AxeRoute contract + AA contrast fix plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(134-02): swap the numeric filter's dead text-label class for small-label
  apps/frontend/src/lib/components/entityFilters/numeric/NumericEntityFilter.svelte
Due: none

test(134-02): add the results filter-drawer axe scan entry
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(134-02): complete filter-drawer axe coverage + small-label swap plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

feat(134-03): add multiChoice keys to runtime Paraglide questions catalog
  apps/frontend/messages/da/questions.json
  apps/frontend/messages/en/questions.json
  apps/frontend/messages/et/questions.json
  apps/frontend/messages/fi/questions.json
  apps/frontend/messages/fr/questions.json
  apps/frontend/messages/lb/questions.json
  apps/frontend/messages/sv/questions.json
Due: yarn build:app-shared, prettier --write

feat(134-03): add accordionSelect + multipleTextInput keys to runtime catalog
  apps/frontend/messages/da/components.json
  apps/frontend/messages/en/components.json
  apps/frontend/messages/et/components.json
  apps/frontend/messages/fi/components.json
  apps/frontend/messages/fr/components.json
  apps/frontend/messages/lb/components.json
  apps/frontend/messages/sv/components.json
Due: yarn build:app-shared, prettier --write

docs(134-03): complete runtime i18n catalog key closure plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(134-04): add cross-catalog i18n key-set parity check (D-10)
  apps/frontend/src/lib/i18n/tests/translations.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(134-04): log DEF-134-04-01 — dev-seed NF-01 seed-budget failure is out of scope
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/deferred-items.md
Due: yarn build:app-shared, prettier --write

docs(todo): characterize dev-seed NF-01 wall-clock flake (load-dependent, pre-existing)
  .planning/todos/pending/2026-08-10-dev-seed-nf01-wallclock-flake.md
Due: yarn build:app-shared, prettier --write

docs(134-04): complete cross-catalog i18n key-set parity check plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

fix(134-05): stop the candidate questions overview discarding a saved boolean false
  apps/frontend/src/routes/candidate/(protected)/questions/+page.svelte
Due: none

docs(134-05): complete boolean answer guard plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test: commit DEF-133-01 voterIntro clickAndRaceSettle harden (pre-existing, uncommitted)
  tests/tests/utils/voterIntro.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: baseline uncommitted v2.14 audit artifacts ahead of Phase 134 waves 5-6
  .planning/REQUIREMENTS.md
  .planning/phases/133-fix-phase-132-code-review-gaps/deferred-items.md
  .planning/todos/pending/2026-08-09-intro-step-list-renders-before-data-ready.md
  .planning/v2.14-MILESTONE-AUDIT.md
Due: yarn build:app-shared, prettier --write

test(134-06): restore the withheld multi-choice helper text assertion (D-11)
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(134-06): convert step 18.6 into the FIX-03 boolean-answer lock (D-14/D-21)
  tests/tests/specs/candidate/candidate-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(134-06): assert translated accessible names for the multipleText controls and the results listbox
  tests/tests/specs/candidate/candidate-journey.spec.ts
  tests/tests/specs/voter/voter-journey.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(134-06): complete E2E regression lock plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-06-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(134-07): correct FIX-01/02/03 criteria and requirement text against measured evidence
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: yarn build:app-shared, prettier --write

docs(134-07): correct the v2.14 audit findings and CLAUDE.md's stale route paths
  .planning/v2.14-MILESTONE-AUDIT.md
  CLAUDE.md
Due: yarn build:app-shared, prettier --write

docs(134-07): file the D-18 native-speaker review item for the constructed singulars
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-UAT.md
  .planning/todos/pending/2026-08-10-verify-non-english-selectexact-singulars.md
Due: yarn build:app-shared, prettier --write

docs(134-07): complete bookkeeping corrections + D-18 review item plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-07-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(134-08): mark FIX-01/02/03 complete against the recorded gate evidence
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs(134-08): complete verification gate plan
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-08-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(134): mark 8/8 plans complete — E2E 3x green, awaiting verification
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(134): phase verified — PASS WITH CONCERNS, 16/16 must-haves
  .planning/STATE.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(134): close D-18 UAT — selectExact singulars operator-accepted; phase COMPLETE
  .planning/STATE.md
  .planning/phases/134-a11y-contrast-i18n-catalog-boolean-answer-defect-closure/134-UAT.md
  .planning/todos/completed/2026-08-10-verify-non-english-selectexact-singulars.md
Due: yarn build:app-shared, prettier --write

custom: shorten browse heading to parties only
  frontend/src/lib/i18n/translations/ar/results.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/i18n/translations/so/results.json
  frontend/src/lib/i18n/translations/sv/results.json
Due: yarn build:app-shared, prettier --write

feat(frontend): add a share button to the app header
  frontend/src/lib/components/icon/icons.ts
  frontend/src/lib/components/icon/svg/brands/facebook.ts
  frontend/src/lib/components/icon/svg/brands/whatsapp.ts
  frontend/src/lib/components/icon/svg/brands/x.ts
  frontend/src/lib/components/icon/svg/material/content_copy.ts
  frontend/src/lib/components/icon/svg/material/mail.ts
  frontend/src/lib/components/icon/svg/material/share.ts
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/contexts/layout/layoutContext.ts
  frontend/src/lib/contexts/layout/layoutContext.type.ts
  frontend/src/lib/dynamic-components/shareButton/ShareButton.svelte
  frontend/src/lib/dynamic-components/shareButton/ShareButton.type.ts
  frontend/src/lib/dynamic-components/shareButton/index.ts
  frontend/src/lib/i18n/translations/ar/components.json
  frontend/src/lib/i18n/translations/da/components.json
  frontend/src/lib/i18n/translations/en/components.json
  frontend/src/lib/i18n/translations/et/components.json
  frontend/src/lib/i18n/translations/fi/components.json
  frontend/src/lib/i18n/translations/so/components.json
  frontend/src/lib/i18n/translations/sv/components.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+layout.svelte
  frontend/src/routes/[[lang=locale]]/Banner.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(frontend): add Open Graph and Twitter share metadata
  frontend/src/routes/[[lang=locale]]/+layout.svelte
Due: none

docs(135): add Phase 135 — close the three Phase-134 coverage carry-overs
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(135): create 3 plans — dark-theme axe parity, selectExact guard, NF-01 determinism
  .planning/phases/135-close-phase-134-coverage-carry-overs/135-01-PLAN.md
  .planning/phases/135-close-phase-134-coverage-carry-overs/135-02-PLAN.md
  .planning/phases/135-close-phase-134-coverage-carry-overs/135-03-PLAN.md
Due: yarn build:app-shared, prettier --write

test(135-01): add dark twins to the located and answered axe runners
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(135-01): scan the fixture dark twins in a born-dark context, not a post-walk flip
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(135-01): drop the theme-coverage gap caveat now that it is false
  tests/tests/specs/a11y/a11y-smoke.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
