Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs: remove broken TSDoc links
  packages/data/src/root/dataRoot.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: code review instructions for agents
  .agents/code-review-checklist.md
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: update frontend and package documentation
  .env.example
  backend/vaa-strapi/src/extensions/users-permissions/controllers/candidate.ts
  frontend/src/lib/api/README.md
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/candidate/components/README.md
  frontend/src/lib/components/README.md
  frontend/src/lib/components/buttonWithConfirmation/ButtonWithConfirmation.svelte
  frontend/src/lib/components/input/Input.svelte
  frontend/src/lib/components/modal/Modal.svelte
  frontend/src/lib/components/modal/confirmation/ConfirmationModal.svelte
  frontend/src/lib/components/modal/drawer/Drawer.svelte
  frontend/src/lib/components/modal/timed/TimedModal.svelte
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/contexts/README.md
  frontend/src/lib/dynamic-components/README.md
  frontend/src/lib/server/api/README.md 21-40-30-014.md
  frontend/src/lib/utils/aria/focus.ts
  frontend/src/lib/utils/merge.ts
  frontend/src/routes/README.md
  frontend/src/routes/[[lang=locale]]/candidate/README.md
  frontend/tsconfig.tsbuildinfo
  packages/app-shared/src/settings/README.md
  packages/app-shared/src/settings/dynamicSettings.type.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build[app-shared]: fix tsconfig.json
  packages/app-shared/tsconfig.json
Due: yarn build:app-shared, prettier --write

build[all]: bump `eslint` and `lint-staged`
  .lintstagedrc.json
  backend/vaa-strapi/package.json
  frontend/eslint.config.mjs
  frontend/package.json
  package.json
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

build[frontend][backend]: include `docs` when building
  backend/vaa-strapi/Dockerfile
  frontend/Dockerfile
Due: none

chore: fix gitignore
  .gitignore
Due: none

build: `docs` workflow for publshing the site on GH pages
  .github/workflows/docs.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: run prettier separately for `docs`
  .prettierignore
  package.json
Due: yarn build:app-shared, prettier --write

fix: frontend typescript errors
  frontend/src/lib/api/utils/auth/getIdTokenClaims.ts
  frontend/src/lib/dynamic-components/survey/SurveyButton.type.ts
  frontend/src/lib/server/constants.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/params/entityType.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: remove deprecate `loadData` function
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/index.ts
  docker-compose.dev.yml
  render.example.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs: details about Svelte component documentation
  docs/code-review-checklist.md
  docs/contributing.md
Due: yarn build:app-shared, prettier --write

docs: fix broken links
  packages/argument-condensation/README.md
  packages/core/README.md
  packages/core/src/pipelines/promptRegistry.ts
  packages/data/README.md
  packages/filters/README.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: ignore local Claude settings
  .gitignore
Due: none

build: move Claude settings to non-local file
  .claude/settings.json
  .claude/settings.local.json
Due: yarn build:app-shared, prettier --write

feat: add settings to control video and hero content in Candidate App
  backend/vaa-strapi/src/api/app-setting/content-types/app-setting/schema.json
  backend/vaa-strapi/src/components/settings/candidate-app-questions.json
  backend/vaa-strapi/src/components/settings/candidate-app.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/types/generated/components.d.ts
  backend/vaa-strapi/types/generated/contentTypes.d.ts
  docs/src/routes/(content)/publishers-guide/app-settings/+page.md
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix[docs]: newsletter form styling
  docs/src/routes/(content)/about/newsletter/+page.svelte
Due: none

docs[docs][app-shared]: update code review checklist etc.
  .agents/code-review-checklist.md
  docs/src/routes/(content)/about/features/+page.md
  docs/src/routes/(content)/developers-guide/contributing/pull-request/+page.md
  docs/src/routes/(content)/developers-guide/frontend/styling/+page.md
  packages/app-shared/src/settings/README.md
Due: yarn build:app-shared, prettier --write

chore: format
  docs/src/routes/(content)/about/newsletter/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

build[docs]: deploy docs on pushes to `main`
  .github/workflows/docs.yml
  docs/package.json
  frontend/.gitignore
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: consisten eslint import rules
  package.json
  packages/shared-config/eslint.config.mjs
  packages/shared-config/package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write
