Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(102-01): close out handle-idiom decision-record plan (SUMMARY)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/102-handle-idiom-spike/102-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

test(102-02): add PoC unit test for read-only fold, read-write round-trip, getRoute fold
  apps/frontend/src/lib/contexts/app/appContext.poc.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(102-02): add additive PoC handle-idiom surfaces on appContext (read-only fold, get/set pair, getRoute fold)
  apps/frontend/src/lib/contexts/app/appContext.svelte.ts
  apps/frontend/src/lib/contexts/app/appContext.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(102-02): type PoC test getRoute as RouteBuilder (atomic green gate)
  apps/frontend/src/lib/contexts/app/appContext.poc.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(102-02): complete appContext idiom PoC plan (SUMMARY)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/102-handle-idiom-spike/102-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(102): add code review report
  .planning/phases/102-handle-idiom-spike/102-REVIEW.md
Due: yarn build:app-shared, prettier --write

docs(phase-102): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/102-handle-idiom-spike/102-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-102): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(103): research .current handle codemod phase
  .planning/phases/103-current-handle-codemod/103-RESEARCH.md
Due: yarn build:app-shared, prettier --write

docs(phase-103): add validation strategy
  .planning/phases/103-current-handle-codemod/103-VALIDATION.md
Due: yarn build:app-shared, prettier --write

docs(103): create phase plan (2 plans, 2 waves)
  .planning/ROADMAP.md
  .planning/phases/103-current-handle-codemod/103-A-PLAN.md
  .planning/phases/103-current-handle-codemod/103-B-PLAN.md
  .planning/phases/103-current-handle-codemod/103-PATTERNS.md
Due: yarn build:app-shared, prettier --write

docs(103): create phase plan
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

feat(103-A): author idempotent named-handle codemod (extend spike-009)
  .planning/archive/phase-103-current-handle-codemod.mjs
Due: none

docs(103-A): complete codemod-script + poc-test-retarget plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/103-current-handle-codemod/103-A-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(spike-017): VALIDATED — read/write split eliminates dataRoot { current, instance }
  .planning/spikes/017-readwrite-split-dataroot/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/lib/contexts/_spikes-017-019/017-readwrite-split-dataroot.spike.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spike-018): PARTIAL — producer input reads can't be removed, only re-spelled
  .planning/spikes/018-readwrite-split-producer-inputs/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/lib/contexts/_spikes-017-019/018-readwrite-split-producer-inputs.spike.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spike-019): INVALIDATED — read/write split does not touch the destructure trap
  .planning/spikes/019-readwrite-split-destructure-trap/README.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/lib/contexts/_spikes-017-019/019-readwrite-split-destructure-trap.spike.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spikes): update conventions — read/write split refinement + bare-getter trap + test medium
  .planning/spikes/CONVENTIONS.md
Due: yarn build:app-shared, prettier --write

docs(spike-018): refine — what actually snapshots; correct the 'function boundary' framing
  .planning/spikes/018-readwrite-split-producer-inputs/README.md
  .planning/spikes/CONVENTIONS.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/lib/contexts/_spikes-017-019/018b-snapshot-mechanism.spike.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spikes 020-023): class-as-context conversion — all groups validated
  .planning/spikes/020-class-context-core/README.md
  .planning/spikes/021-class-localstorage/README.md
  .planning/spikes/022-class-version-bridge/README.md
  .planning/spikes/023-class-ssr-effect/README.md
  .planning/spikes/CONTEXT-MEMBER-AUDIT.md
  .planning/spikes/CONVENTIONS.md
  .planning/spikes/MANIFEST.md
  apps/frontend/src/lib/contexts/_spikes-020-class-conversion/020-class-core.spike.svelte.test.ts
  apps/frontend/src/lib/contexts/_spikes-020-class-conversion/021-class-localstorage.spike.svelte.test.ts
  apps/frontend/src/lib/contexts/_spikes-020-class-conversion/022-class-version-bridge.spike.svelte.test.ts
  apps/frontend/src/lib/contexts/_spikes-020-class-conversion/023-class-ssr-effect.spike.svelte.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(dataContext): convert to Svelte 5 class — class-as-context proof
  .planning/spikes/017-readwrite-split-dataroot/README.md
  .planning/spikes/CONTEXT-CLASS-PROOF.md
  apps/frontend/src/lib/contexts/_spikes-017-019/017-readwrite-split-dataroot.spike.svelte.test.ts
  apps/frontend/src/lib/contexts/data/dataContext.svelte.ts
  apps/frontend/src/lib/contexts/data/dataContext.type.ts
  apps/frontend/src/routes/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor(filterContext, darkMode): convert to Svelte 5 classes — extend trial set
  .planning/spikes/CONTEXT-CLASS-PROOF.md
  apps/frontend/src/lib/contexts/component/darkMode.svelte.ts
  apps/frontend/src/lib/contexts/filter/filterContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(spikes): LOCK context-as-class decision — wrap up the spike
  .planning/spikes/CONTEXT-CLASS-PROOF.md
  .planning/spikes/MANIFEST.md
Due: yarn build:app-shared, prettier --write

docs: supersede v2.12, start milestone v2.13 Context-as-Class Migration
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.12-MILESTONE-AUDIT.md
  .planning/milestones/v2.12-REQUIREMENTS.md
  .planning/milestones/v2.12-ROADMAP.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-01-PLAN.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-01-SUMMARY.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-02-PLAN.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-02-SUMMARY.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-CONTEXT.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-DECISION-RECORD.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-RESEARCH.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-REVIEW.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-VALIDATION.md
  .planning/milestones/v2.12-phases/102-handle-idiom-spike/102-VERIFICATION.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-A-PLAN.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-A-SUMMARY.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-B-PLAN.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-CONTEXT.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-PATTERNS.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-RESEARCH.md
  .planning/milestones/v2.12-phases/103-current-handle-codemod/103-VALIDATION.md
  .planning/milestones/v2.12-phases/104-store-state-rename/104-CONTEXT.md
  .planning/milestones/v2.12-phases/105-straggler-clearance-milestone-close-green-gate/105-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs: define milestone v2.13 requirements (context-as-class migration)
  .planning/REQUIREMENTS.md
Due: yarn build:app-shared, prettier --write

docs: create milestone v2.13 roadmap (11 phases, 106-116)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs: re-point 2 straggler todos to v2.13 Phase 115 (was superseded v2.12 P105)
  .planning/todos/pending/2026-06-04-extend-svelte-store-eslint-guard-app-wide.md
  .planning/todos/pending/2026-06-06-full-clearance-of-remaining-non-runes-svelte-4-code.md
Due: yarn build:app-shared, prettier --write

docs: consolidate v2.13 discussion points (all 11 phases, checkboxes) for autonomous execution
  .planning/v2.13-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(v2.13): lock discussion-point resolutions + capture 2 C4 follow-up todos
  .planning/todos/pending/2026-06-12-e2e-coverage-user-preferences-and-tracking-events.md
  .planning/todos/pending/2026-06-12-resolve-all-svelte-check-errors.md
  .planning/v2.13-DISCUSSION-POINTS.md
Due: yarn build:app-shared, prettier --write

docs(106): generate phase context (batched discussion; research skipped)
  .planning/phases/106-group-f-helper-classes/106-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(106): create Group F helper classes phase plan
  .planning/ROADMAP.md
  .planning/phases/106-group-f-helper-classes/106-01-PLAN.md
  .planning/phases/106-group-f-helper-classes/106-02-PLAN.md
  .planning/phases/106-group-f-helper-classes/106-03-PLAN.md
  .planning/phases/106-group-f-helper-classes/106-04-PLAN.md
Due: yarn build:app-shared, prettier --write

refactor(106-01): convert popupStore() to class PopupStore
  apps/frontend/src/lib/contexts/app/popup/popupStore.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(106-01): complete PopupStore helper class plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/106-group-f-helper-classes/106-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(106-02): convert settingsOverlay() to class SettingsOverlay
  apps/frontend/src/lib/contexts/utils/SettingsOverlay.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(106-02): complete SettingsOverlay helper class plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/106-group-f-helper-classes/106-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(106-03): convert persistedState handle to a Svelte 5 class
  apps/frontend/src/lib/contexts/utils/persistedState.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(106-03): complete persistedState helper class plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/106-group-f-helper-classes/106-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

refactor(106-04): extract class VideoController from layoutContext
  apps/frontend/src/lib/contexts/layout/VideoController.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

test(106-04): wire VideoController into layoutContext + headless test
  apps/frontend/src/lib/contexts/layout/VideoController.svelte.test.ts
  apps/frontend/src/lib/contexts/layout/layoutContext.svelte.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(106-04): complete VideoController helper class plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/106-group-f-helper-classes/106-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
