Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(30-02): rewrite docker-compose, .env.example, and Dockerfile for Supabase
  .env.example
  docker-compose.dev.yml
  frontend/Dockerfile
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(30-03): update CI workflow to remove Strapi and add Supabase testing
  .github/workflows/main.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(30-03): update dependabot and Render blueprint for Supabase-only
  .github/dependabot.yml
  render.example.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat(30-02): rewrite dev scripts for Supabase CLI and regenerate yarn.lock
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

docs(30-03): complete CI/CD pipeline and deployment config plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-strapi-removal-and-dev-environment/30-03-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(30-02): complete dev environment rewrite plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/30-strapi-removal-and-dev-environment/30-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(30-04): rewrite CLAUDE.md for Supabase-only workflow and clean route.ts
  CLAUDE.md
  frontend/src/lib/utils/route/route.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(30-04): stub Strapi docs pages and update navigation config
  docs/src/lib/navigation.config.ts
  docs/src/routes/(content)/developers-guide/app-and-repo-structure/+page.md
  docs/src/routes/(content)/developers-guide/backend/authentication/+page.md
  docs/src/routes/(content)/developers-guide/backend/customized-behaviour/+page.md
  docs/src/routes/(content)/developers-guide/backend/default-data-loading/+page.md
  docs/src/routes/(content)/developers-guide/backend/intro/+page.md
  docs/src/routes/(content)/developers-guide/backend/mock-data-generation/+page.md
  docs/src/routes/(content)/developers-guide/backend/openvaa-admin-tools-plugin-for-strapi/+page.md
  docs/src/routes/(content)/developers-guide/backend/plugins/+page.md
  docs/src/routes/(content)/developers-guide/backend/preparing-backend-dependencies/+page.md
  docs/src/routes/(content)/developers-guide/backend/re-generating-types/+page.md
  docs/src/routes/(content)/developers-guide/backend/running-the-backend-separately/+page.md
  docs/src/routes/(content)/developers-guide/backend/security/+page.md
  docs/src/routes/(content)/developers-guide/candidate-user-management/registration-process-in-strapi/+page.md
  docs/src/routes/(content)/developers-guide/configuration/app-customization/+page.md
  docs/src/routes/(content)/developers-guide/configuration/app-settings/+page.md
  docs/src/routes/(content)/developers-guide/deployment/+page.md
  docs/src/routes/(content)/developers-guide/development/running-the-development-environment/+page.md
  docs/src/routes/(content)/developers-guide/frontend/accessing-data-and-state-management/+page.md
  docs/src/routes/(content)/developers-guide/frontend/data-api/+page.md
  docs/src/routes/(content)/developers-guide/localization/localization-in-strapi/+page.md
  docs/src/routes/(content)/developers-guide/troubleshooting/+page.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(30-04): complete documentation update plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-strapi-removal-and-dev-environment/30-04-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(phase-30): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-strapi-removal-and-dev-environment/30-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(phase-30): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs: update retrospective for v3.0
  .planning/RETROSPECTIVE.md
Due: yarn build:app-shared, prettier --write

chore: complete v3.0 milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v3.0-REQUIREMENTS.md
  .planning/milestones/v3.0-ROADMAP.md
Due: yarn build:app-shared, prettier --write

fix(30): correct supportsAdminApp to false per SupabaseDataAdapter type
  packages/app-shared/src/settings/staticSettings.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(e2e): create missing testCredentials.ts module
  tests/tests/utils/testCredentials.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(e2e): replace assert with with for JSON import assertions
  tests/tests/setup/data.setup.ts
  tests/tests/setup/variant-constituency.setup.ts
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/setup/variant-startfromcg.setup.ts
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(e2e): update spec files to use snake_case dataset property names
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-matching.spec.ts
  tests/tests/specs/voter/voter-results.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(30): handle _ prefixed relationship fields in bulkImport and linkJoinTables
  tests/tests/utils/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(30): strip non-column fields from bulkImport and handle _elections join
  tests/tests/utils/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix(30): rename question text->name in test datasets to match DB schema
  tests/tests/data/default-dataset.json
  tests/tests/data/overlays/constituency-overlay.json
  tests/tests/data/overlays/multi-election-overlay.json
  tests/tests/data/overlays/startfromcg-overlay.json
  tests/tests/data/voter-dataset.json
Due: yarn build:app-shared, prettier --write

fix(30): strip organization from nomination imports (polymorphic constraint)
  tests/tests/utils/supabaseAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

wip: schema reorganization paused at E2E fix (29/85 pass)
  .continue-here.md
  .planning/HANDOFF.json
Due: yarn build:app-shared, prettier --write

chore(v1.3): Svelte 5 Migration — Content — config and cleanup
  yarn.lock
Due: none

docs(v1.4): Svelte 5 Migration — Candidate App — planning, research, and summaries
  .planning/HANDOFF.json
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/STATE.md
  .planning/milestones/v1.4-REQUIREMENTS.md
  .planning/milestones/v1.4-ROADMAP.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-01-PLAN.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-01-SUMMARY.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-02-PLAN.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-02-SUMMARY.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-03-PLAN.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-03-SUMMARY.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-04-PLAN.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-04-SUMMARY.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-CONTEXT.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-DISCUSSION-LOG.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-RESEARCH.md
  .planning/milestones/v1.4-phases/27-candidate-route-migration/27-VERIFICATION.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-01-PLAN.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-01-SUMMARY.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-02-PLAN.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-02-SUMMARY.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-03-PLAN.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-03-SUMMARY.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-CONTEXT.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-DISCUSSION-LOG.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-RESEARCH.md
  .planning/milestones/v1.4-phases/28-validation-gate/28-VERIFICATION.md
  .planning/todos/done/2026-03-21-fix-candidate-app-mutation-e2e-tests-ses-email-infrastructure.md
Due: yarn build:app-shared, prettier --write

feat(v1.4): Svelte 5 Migration — Candidate App
  apps/frontend/src/hooks.server.ts
  apps/frontend/src/routes/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/+layout.ts
  apps/frontend/src/routes/candidate/(protected)/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/preview/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/profile/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/questions/[questionId]/+page.svelte
  apps/frontend/src/routes/candidate/(protected)/settings/+page.svelte
  apps/frontend/src/routes/candidate/+layout.svelte
  apps/frontend/src/routes/candidate/forgot-password/+page.svelte
  apps/frontend/src/routes/candidate/help/+page.svelte
  apps/frontend/src/routes/candidate/login/+page.svelte
  apps/frontend/src/routes/candidate/password-reset/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/+layout.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/constituencies/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/elections/+page.svelte
  apps/frontend/src/routes/candidate/preregister/(authenticated)/email/+page.svelte
  apps/frontend/src/routes/candidate/preregister/+layout.svelte
  apps/frontend/src/routes/candidate/preregister/+page.svelte
  apps/frontend/src/routes/candidate/preregister/signicat/oidc/callback/+page.svelte
  apps/frontend/src/routes/candidate/preregister/status/+page.svelte
  apps/frontend/src/routes/candidate/privacy/+page.svelte
  apps/frontend/src/routes/candidate/register/+layout.svelte
  apps/frontend/src/routes/candidate/register/+page.svelte
  apps/frontend/src/routes/candidate/register/password/+page.svelte
  apps/strapi/config/plugins.ts
  tests/playwright.config.ts
  tests/tests/specs/candidate/candidate-profile.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/utils/strapiAdminClient.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore(v2.0): Branch Integration — config and cleanup
  .env.example
  .github/dependabot.yml
  .github/workflows/main.yaml
  .yarnrc.yml
  docker-compose.dev.yml
  render.example.yaml
  yarn.lock
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(v2.1): E2E Test Stabilization — planning, research, and summaries
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/idura-ftn-auth-plan.md
  .planning/milestones/v2.1-REQUIREMENTS.md
  .planning/milestones/v2.1-ROADMAP.md
  .planning/milestones/v2.1-phases/40-41-e2e-test-stabilization/.continue-here.md
  .planning/milestones/v2.1-phases/40-41-e2e-test-stabilization/40-41-SUMMARY.md
  .planning/todos/pending/configurable-mock-data.md
  .planning/todos/pending/entity-list-controls-infinite-loop.md
  .planning/todos/pending/password-reset-code-method.md
  .planning/todos/pending/register-page-registrationkey-method.md
  .planning/todos/pending/root-layout-runes-migration.md
  .planning/todos/pending/session-storage-election-constituency.md
  .planning/todos/pending/svelte5-hydration-effect-then-bug.md
Due: yarn build:app-shared, prettier --write

feat(v2.1): E2E Test Stabilization
  apps/frontend/src/app.d.ts
  apps/frontend/src/lib/components/popupRenderer/PopupRenderer.svelte
  apps/frontend/src/lib/components/popupRenderer/index.ts
  apps/frontend/src/lib/contexts/app/appContext.ts
  apps/frontend/src/lib/dynamic-components/feedback/popup/FeedbackPopup.svelte
  apps/frontend/src/routes/(voters)/(located)/results/+layout.svelte
  apps/frontend/src/routes/(voters)/(located)/results/+page.svelte
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/candidate/(protected)/+layout.server.ts
  apps/frontend/src/routes/candidate/(protected)/+layout.svelte
  apps/frontend/src/routes/candidate/password-reset/+page.svelte
  apps/frontend/src/routes/candidate/register/password/+page.svelte
  tests/seed-test-data.ts
  tests/tests/data/default-dataset.json
  tests/tests/data/overlays/constituency-overlay.json
  tests/tests/setup/variant-multi-election.setup.ts
  tests/tests/specs/candidate/candidate-password.spec.ts
  tests/tests/specs/candidate/candidate-questions.spec.ts
  tests/tests/specs/candidate/candidate-registration.spec.ts
  tests/tests/specs/voter/voter-detail.spec.ts
  tests/tests/specs/voter/voter-popups.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(v2.2): Deno Feasibility Study — planning, research, and summaries
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.2-REQUIREMENTS.md
  .planning/milestones/v2.2-ROADMAP.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-01-PLAN.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-01-SUMMARY.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-02-PLAN.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-02-SUMMARY.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-HUMAN-UAT.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-RESEARCH.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-VALIDATION.md
  .planning/milestones/v2.2-phases/42-runtime-validation-and-poc/42-VERIFICATION.md
  .planning/research/ARCHITECTURE.md
  .planning/research/FEASIBILITY.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: yarn build:app-shared, prettier --write

chore(v2.2): Deno Feasibility Study — config and cleanup
  .husky/pre-commit
  .lintstagedrc.json
Due: yarn build:app-shared, prettier --write

chore(v2.3): Idura FTN Auth — config and cleanup
  .env.example
  yarn.lock
Due: none

feat(v2.3): Idura FTN Auth
  apps/frontend/src/lib/api/utils/auth/__tests__/authorize-endpoint.test.ts
  apps/frontend/src/lib/api/utils/auth/__tests__/token-endpoint.test.ts
  apps/frontend/src/lib/api/utils/auth/getIdTokenClaims.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/__fixtures__/fixtures.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/__fixtures__/keys.ts
  apps/frontend/src/lib/api/utils/auth/providers/__fixtures__/tokens.ts
  apps/frontend/src/lib/api/utils/auth/providers/authConfig.ts
  apps/frontend/src/lib/api/utils/auth/providers/idura.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/idura.ts
  apps/frontend/src/lib/api/utils/auth/providers/index.ts
  apps/frontend/src/lib/api/utils/auth/providers/signicat.test.ts
  apps/frontend/src/lib/api/utils/auth/providers/signicat.ts
  apps/frontend/src/lib/api/utils/auth/providers/types.ts
  apps/frontend/src/lib/server/constants.ts
  apps/frontend/src/lib/utils/constants.ts
  apps/frontend/src/lib/utils/route/route.ts
  apps/frontend/src/routes/api/candidate/preregister/+server.ts
  apps/frontend/src/routes/api/oidc/authorize/+server.ts
  apps/frontend/src/routes/api/oidc/callback/+server.ts
  apps/frontend/src/routes/api/oidc/token/+server.ts
  apps/frontend/src/routes/candidate/preregister/+page.svelte
  apps/frontend/src/routes/candidate/preregister/signicat/oidc/callback/+page.svelte
  apps/supabase/package.json
  apps/supabase/supabase/functions/identity-callback/claimConfig.test.ts
  apps/supabase/supabase/functions/identity-callback/claimConfig.ts
  apps/supabase/supabase/functions/identity-callback/index.ts
  apps/supabase/vitest.config.ts
  docs/key-generation.md
  tests/playwright.config.ts
  tests/tests/specs/candidate/candidate-bank-auth.spec.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(v2.3): Idura FTN Auth — planning, research, and summaries
  .claude/skills/database/SKILL.md
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/config.json
  .planning/milestones/v2.3-REQUIREMENTS.md
  .planning/milestones/v2.3-ROADMAP.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-01-PLAN.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-01-SUMMARY.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-02-PLAN.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-02-SUMMARY.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-CONTEXT.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-DISCUSSION-LOG.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-RESEARCH.md
  .planning/milestones/v2.3-phases/45-provider-abstraction-and-configuration/45-VERIFICATION.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-01-PLAN.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-01-SUMMARY.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-02-PLAN.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-02-SUMMARY.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-CONTEXT.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-DISCUSSION-LOG.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-RESEARCH.md
  .planning/milestones/v2.3-phases/46-idura-authorization-and-token-exchange/46-VERIFICATION.md
  .planning/milestones/v2.3-phases/47-edge-function-provider-support/47-01-PLAN.md
  .planning/milestones/v2.3-phases/47-edge-function-provider-support/47-01-SUMMARY.md
  .planning/milestones/v2.3-phases/47-edge-function-provider-support/47-CONTEXT.md
  .planning/milestones/v2.3-phases/47-edge-function-provider-support/47-DISCUSSION-LOG.md
  .planning/milestones/v2.3-phases/47-edge-function-provider-support/47-RESEARCH.md
  .planning/milestones/v2.3-phases/47-edge-function-provider-support/47-VERIFICATION.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-01-PLAN.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-01-SUMMARY.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-02-PLAN.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-02-SUMMARY.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-03-PLAN.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-03-SUMMARY.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-CONTEXT.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-DISCUSSION-LOG.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-RESEARCH.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-UAT.md
  .planning/milestones/v2.3-phases/48-backward-compatibility-and-testing/48-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

chore(v2.4): Full Svelte 5 Rewrite — config and cleanup
  .gitignore
Due: none

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
