Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: category tag display on Questions Intro page
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
Due: none

chore: fix terms of use content translation
  frontend/src/lib/i18n/translations/en/dynamic.json
Due: yarn build:app-shared, prettier --write

fix: filter questions by entity type in Candidate App
  frontend/src/lib/contexts/candidate/candidateContext.ts
  frontend/src/lib/contexts/utils/questionCategoryStore.ts
  frontend/src/lib/contexts/utils/questionStore.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: remove duplicate question index with category tags
  frontend/src/lib/dynamic-components/questionHeading/QuestionHeading.svelte
Due: none

custom: translations for duf vaa
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/da/components.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
Due: yarn build:app-shared, prettier --write

feat: show login prompt on candidate registration page
  frontend/src/lib/i18n/translations/da/candidateApp.register.json
  frontend/src/lib/i18n/translations/en/candidateApp.register.json
  frontend/src/lib/i18n/translations/fi/candidateApp.register.json
  frontend/src/lib/i18n/translations/sv/candidateApp.register.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fixup! build: `render.yaml` example
  render.example.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: import `answersByExternalId`
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/README.md
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/ImportData.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: use link question’s short name in link pill
  frontend/src/lib/components/infoAnswer/InfoAnswer.svelte
Due: none

feat: show `Alliance`s in the frontend
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/dataWriter/strapiDataWriter.ts
  frontend/src/lib/api/adapters/strapi/strapiApi.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseNominations.ts
  frontend/src/lib/api/adapters/strapi/utils/parsePartialNominations.ts
  packages/data/src/objects/nominations/variants/allianceNomination.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show `Questions`’ hero content in Candidate App
  frontend/src/lib/components/hero/Hero.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: none

docs: update sample code for Delete Data admin tool
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/DeleteData.tsx
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings for jyy vaa
  packages/app-shared/src/settings/staticSettings.ts
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: translations for jyy vaa
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/about.json
  frontend/src/lib/i18n/translations/fi/common.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/fi/entityDetails.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/fi/results.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
Due: yarn build:app-shared, prettier --write

feat[Vercel-llm]: refactor llm package to use Vercel AI SDK
  packages/llm-refactor/.gitignore
  packages/llm-refactor/README.md
  packages/llm-refactor/package.json
  packages/llm-refactor/src/index.ts
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/llm-providers/provider.types.ts
  packages/llm-refactor/src/modelPricing.ts
  packages/llm-refactor/src/utils/costCalculation.ts
  packages/llm-refactor/src/utils/costCalculation.type.ts
  packages/llm-refactor/src/utils/index.ts
  packages/llm-refactor/src/utils/latencyTracker.ts
  packages/llm-refactor/src/utils/latencyTracker.type.ts
  packages/llm-refactor/src/utils/parseRateLimitError.ts
  packages/llm-refactor/src/utils/prompting/loadPackagePrompts.ts
  packages/llm-refactor/src/utils/prompting/setPromptVars.ts
  packages/llm-refactor/tests/newProvider.test.ts
  packages/llm-refactor/tests/setPromptVars.test.ts
  packages/llm-refactor/tsconfig.json
  packages/llm-refactor/vitest.config.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[Vercel-llm]: add stopWhen to llm stream options
  packages/llm-refactor/package.json
  packages/llm-refactor/src/index.ts
  packages/llm-refactor/src/llm-providers/llmProvider.ts
  packages/llm-refactor/src/llm-providers/provider.types.ts
  packages/llm-refactor/src/utils/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: available nominations check
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/+layout.svelte
Due: none

refactor[app-shared][frontend]: localized data types
  docs/internationalization.md
  frontend/src/lib/api/adapters/strapi/dataProvider/strapiDataProvider.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/index.ts
  frontend/src/lib/api/adapters/strapi/utils/parseBasics.ts
  frontend/src/lib/api/adapters/strapi/utils/parseCandidate.ts
  frontend/src/lib/api/adapters/strapi/utils/parseCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseOrganization.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCategoryCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCustomData.ts
  frontend/src/lib/api/utils/parseAnswers.ts
  frontend/src/lib/api/utils/translateLocalizedCandidate.ts
  frontend/src/lib/api/utils/translateQuestionArguments.ts
  frontend/src/lib/api/utils/translateQuestionInfoSections.ts
  frontend/src/lib/api/utils/translateQuestionTerms.ts
  frontend/src/lib/api/utils/translateVideoContent.ts
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/components/video/Video.type.ts
  frontend/src/lib/contexts/layout/layoutContext.ts
  frontend/src/lib/contexts/layout/layoutContext.type.ts
  packages/app-shared/README.md
  packages/app-shared/src/data/argumentType.ts
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/extendedData.type.ts
  packages/app-shared/src/data/isLocalized.ts
  packages/app-shared/src/data/localized.type.ts
  packages/app-shared/src/index.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
  packages/argument-condensation/src/core/condensation/prompts/promptRegistry.ts
  packages/argument-condensation/src/core/condensation/runner.ts
  packages/argument-condensation/src/core/types/condensation/condensationType.ts
  packages/argument-condensation/src/question-handlers.ts
  packages/argument-condensation/tests/condensation/condenseQuestions.test.ts
  packages/argument-condensation/tests/condensation/condenserStandalone.test.ts
  packages/argument-condensation/tests/unit/defineCondensationPlan.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[backend]: use email env vars for `users-permissions` emails
  .env.example
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/src/constants.ts
  backend/vaa-strapi/src/extensions/users-permissions/strapi-server.ts
  docker-compose.dev.yml
  docs/candidate-app/candidates.md
  docs/deploying/README.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `/nominations` route
  backend/vaa-strapi/src/components/settings/entities.json
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  backend/vaa-strapi/src/util/translations/fi/dynamic.json
  backend/vaa-strapi/src/util/translations/sv/dynamic.json
  frontend/src/lib/dynamic-components/entityCard/EntityCard.svelte
  frontend/src/lib/dynamic-components/entityCard/EntityCard.type.ts
  frontend/src/lib/dynamic-components/navigation/voter/VoterNav.svelte
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/fi/dynamic.json
  frontend/src/lib/i18n/translations/sv/dynamic.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/lib/utils/route/route.ts
  frontend/src/routes/[[lang=locale]]/(voters)/nominations/+layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/nominations/+layout.ts
  frontend/src/routes/[[lang=locale]]/(voters)/nominations/+page.svelte
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `Image` component
  frontend/src/lib/components/avatar/Avatar.svelte
  frontend/src/lib/components/image/Image.svelte
  frontend/src/lib/components/image/Image.type.ts
  frontend/src/lib/components/image/index.ts
  frontend/src/lib/utils/image.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `hero` `CustomData` property and `Hero` component
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCategoryCustomData.ts
  frontend/src/lib/api/adapters/strapi/utils/parseQuestionCustomData.ts
  frontend/src/lib/api/utils/translateHeroContent.ts
  frontend/src/lib/components/hero/Hero.svelte
  frontend/src/lib/components/hero/Hero.type.ts
  frontend/src/lib/components/hero/index.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  packages/app-shared/src/data/customData.type.ts
  packages/app-shared/src/data/isEmoji.ts
  packages/app-shared/src/data/localized.type.ts
  packages/app-shared/src/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: don't add host name when fetching local urls
  frontend/src/hooks.server.ts
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  frontend/src/lib/api/adapters/apiRoute/apiRoutes.ts
  frontend/src/lib/api/base/universalApiRoutes.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/api/utils/localPathToUrl.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix `exportTestData` tool default export folder
  packages/data/tools/exportTestData.ts
  packages/data/tools/generateTestDataJson.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

refactor: `UniversalAdapter.get` and `post` methods
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.ts
  frontend/src/lib/api/adapters/apiRoute/apiRouteAdapter.type.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.ts
  frontend/src/lib/api/adapters/strapi/strapiAdapter.type.ts
  frontend/src/lib/api/adapters/strapi/strapiData.type.ts
  frontend/src/lib/api/base/dataWriter.type.ts
  frontend/src/lib/api/base/universalAdapter.ts
  frontend/src/lib/api/base/universalAdapter.type.ts
  frontend/src/lib/api/base/universalDataWriter.ts
  frontend/src/lib/api/utils/parseResponse.ts
  frontend/src/routes/[[lang=locale]]/api/oidc/token/+server.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: use `/var/data/local` by default for local data
  .env.example
  frontend/docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: fix terms of use content translation
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
