Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

.lintstagedrc.json:

{
  "*.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}": [
    "yarn build:app-shared",
    "prettier --write",
    "eslint --fix --flag unstable_config_lookup_from_file"
  ],
  "*.{css,json,md}": ["yarn build:app-shared", "prettier --write"]
}

docs: unit and E2E tests
  README.md
  docs/contributing/CONTRIBUTING.md
  docs/testing.md
Due: yarn build:app-shared, prettier --write

build: add healthchecks and upload Docker logs
  .github/workflows/main.yaml
  .github/workflows/qa.yaml
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/docker-compose.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update type naming conventions
  frontend/eslint.config.mjs
  frontend/src/lib/api/dataProvider/local/localDataProvider.ts
  frontend/src/lib/api/dataProvider/strapi/strapiDataProvider.ts
  frontend/src/lib/api/dataProvider/strapi/strapiDataProvider.type.ts
  frontend/src/lib/components/entityFilters/EntityFilters.type.ts
  frontend/src/lib/components/entityListControls/EntityListControls.type.ts
  frontend/src/lib/types/global.d.ts
  frontend/src/lib/utils/analytics/track.ts
  frontend/src/lib/utils/components.ts
  frontend/src/lib/utils/context.ts
  frontend/src/lib/utils/matching/match.ts
  frontend/src/lib/utils/storage.ts
  vaa-filters/src/entity/filterableEntity.ts
  vaa-filters/src/filter/base/castValue.ts
  vaa-filters/src/filter/base/filter.ts
  vaa-filters/src/filter/enumerated/choiceQuestionFilter.ts
  vaa-filters/src/filter/enumerated/enumeratedFilter.ts
  vaa-filters/src/filter/enumerated/objectFilter.ts
  vaa-filters/src/filter/numeric/numericFilter.ts
  vaa-filters/src/filter/numeric/numericQuestionFilter.ts
  vaa-filters/src/filter/rules/rules.ts
  vaa-filters/src/filter/text/textFilter.ts
  vaa-filters/src/filter/text/textPropertyFilter.ts
  vaa-filters/src/filter/text/textQuestionFilter.ts
  vaa-filters/src/group/combineResults.ts
  vaa-filters/src/group/filterGroup.ts
  vaa-filters/src/missingValue/missingValue.ts
  vaa-filters/tests/filter.test.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update linter and prettier configs for frontend, vaa-strapi and root folder
  .prettierignore
  .prettierrc
  backend/vaa-strapi/.eslintignore
  backend/vaa-strapi/.eslintrc.json
  backend/vaa-strapi/eslint.config.mjs
  backend/vaa-strapi/package.json
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/eslint.config.mjs
  frontend/package.json
  package.json
  yarn.lock
Due: yarn build:app-shared, prettier --write

chore: update backend linter to follow styleguide
  backend/vaa-strapi/.prettierignore
  backend/vaa-strapi/eslint.config.mjs
  backend/vaa-strapi/package.json
  backend/vaa-strapi/src/api/answer/controllers/answer.ts
  backend/vaa-strapi/src/api/candidate/controllers/candidate.ts
  backend/vaa-strapi/src/api/constituency/controllers/constituency.ts
  backend/vaa-strapi/src/api/constituency/routes/constituency.ts
  backend/vaa-strapi/src/api/election/controllers/election.ts
  backend/vaa-strapi/src/api/election/routes/election.ts
  backend/vaa-strapi/src/api/feedback/controllers/feedback.ts
  backend/vaa-strapi/src/api/feedback/routes/feedback.ts
  backend/vaa-strapi/src/api/language/controllers/language.ts
  backend/vaa-strapi/src/api/language/routes/language.ts
  backend/vaa-strapi/src/api/nomination/controllers/nomination.ts
  backend/vaa-strapi/src/api/nomination/routes/nomination.ts
  backend/vaa-strapi/src/api/party/controllers/party.ts
  backend/vaa-strapi/src/api/party/routes/party.ts
  backend/vaa-strapi/src/api/question-category/controllers/question-category.ts
  backend/vaa-strapi/src/api/question-category/routes/question-category.ts
  backend/vaa-strapi/src/api/question-type/controllers/question-type.ts
  backend/vaa-strapi/src/api/question-type/routes/question-type.ts
  backend/vaa-strapi/src/api/question/controllers/question.ts
  backend/vaa-strapi/src/api/question/routes/question.ts
  backend/vaa-strapi/src/api/question/services/question.ts
  backend/vaa-strapi/src/plugins/candidate-admin/server/controllers/index.js
  backend/vaa-strapi/src/plugins/candidate-admin/server/routes/index.js
  backend/vaa-strapi/src/plugins/candidate-admin/server/services/index.js
  backend/vaa-strapi/src/plugins/candidate-admin/strapi-admin.js
  backend/vaa-strapi/src/plugins/candidate-admin/strapi-server.js
  backend/vaa-strapi/tests/election/index.js
  backend/vaa-strapi/tests/helpers/strapi.js
  backend/vaa-strapi/tests/user/index.js
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: update function styles to not allow arrow functions
  frontend/eslint.config.mjs
  frontend/src/lib/api/dataProvider/strapi/utils/parseImage.ts
  frontend/src/lib/api/dataProvider/strapi/utils/parseParty.ts
  frontend/src/lib/api/dataProvider/strapi/utils/parseQuestionCategory.ts
  frontend/src/lib/candidate/components/input/MultipleChoiceInput.svelte
  frontend/src/lib/candidate/components/input/PhotoInput.svelte
  frontend/src/lib/candidate/components/logoutButton/LogoutButton.svelte
  frontend/src/lib/candidate/components/passwordField/PasswordField.svelte
  frontend/src/lib/candidate/components/passwordSetter/PasswordSetter.svelte
  frontend/src/lib/candidate/components/textArea/MultilangTextInput.svelte
  frontend/src/lib/candidate/components/textArea/TextArea.svelte
  frontend/src/lib/candidate/templates/login/LoginPage.svelte
  frontend/src/lib/candidate/templates/question/QuestionPage.svelte
  frontend/src/lib/components/entityDetails/EntityDetails.svelte
  frontend/src/lib/components/preventNavigation/PreventNavigation.svelte
  frontend/src/lib/i18n/tests/translations.test.ts
  frontend/src/lib/utils/candidateContext.ts
  frontend/src/lib/utils/context.ts
  frontend/src/lib/utils/darkMode.ts
  frontend/src/lib/utils/onKeyboardFocusOut.ts
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/preview/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/settings/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/PasswordResetPage.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/PasswordSetPage.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `shared-config` module
  packages/shared-config/README.md
  packages/shared-config/eslint.config.mjs
  packages/shared-config/package.json
  packages/shared-config/prettier.config.mjs
  packages/shared-config/tsconfig.base.json
Due: yarn build:app-shared, prettier --write

chore: update typing and fix linter errors in Strapi
  backend/vaa-strapi/config/plugins.ts
  backend/vaa-strapi/src/api/answer/routes/answer.ts
  backend/vaa-strapi/src/api/app-customization/routes/app-customization.ts
  backend/vaa-strapi/src/api/app-setting/routes/app-setting.ts
  backend/vaa-strapi/src/api/candidate/routes/candidate.ts
  backend/vaa-strapi/src/api/constituency/routes/constituency.ts
  backend/vaa-strapi/src/api/election/routes/election.ts
  backend/vaa-strapi/src/api/language/routes/language.ts
  backend/vaa-strapi/src/api/nomination/routes/nomination.ts
  backend/vaa-strapi/src/api/party/routes/party.ts
  backend/vaa-strapi/src/api/question-category/routes/question-category.ts
  backend/vaa-strapi/src/api/question-type/routes/question-type.ts
  backend/vaa-strapi/src/api/question/routes/question.ts
  backend/vaa-strapi/src/functions/loadData.ts
  backend/vaa-strapi/src/plugins/candidate-admin/server/index.js
  backend/vaa-strapi/src/util/acl.ts
  backend/vaa-strapi/src/util/acl.type.ts
  backend/vaa-strapi/tests/app.test.js
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

build: global edits to `.dockerignore`
  .dockerignore
Due: none

Rename SES env variables.
  .env.example
  backend/vaa-strapi/.env.example
  backend/vaa-strapi/config/plugins.ts
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/docker-compose.yml
  backend/vaa-strapi/localstack-init-aws.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/candidate-app/candidates.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Rename SES env variables. (#635)
  .env.example
  backend/vaa-strapi/.env.example
  backend/vaa-strapi/config/plugins.ts
  backend/vaa-strapi/docker-compose.dev.yml
  backend/vaa-strapi/docker-compose.yml
  backend/vaa-strapi/localstack-init-aws.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/candidate-app/candidates.md
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Simplify project build.
  README.md
  frontend/Dockerfile
  package.json
  packages/shared-config/package.json
Due: yarn build:app-shared, prettier --write

Enable only necessary LocalStack AWS services.
  backend/vaa-strapi/docker-compose.dev.yml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix script names.
  package.json
Due: yarn build:app-shared, prettier --write

Allow Svelte to resolve load functions types.
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix error page and adapt for candidate app.
  frontend/src/app.css
  frontend/src/app.d.ts
  frontend/src/lib/i18n/init.ts
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/sv/error.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/Layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/about/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/error/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/+error.svelte
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

Fix error page and adapt by candidate app. (#639)
  README.md
  backend/vaa-strapi/docker-compose.dev.yml
  frontend/Dockerfile
  frontend/src/app.css
  frontend/src/app.d.ts
  frontend/src/lib/i18n/init.ts
  frontend/src/lib/i18n/translations/en/error.json
  frontend/src/lib/i18n/translations/fi/error.json
  frontend/src/lib/i18n/translations/sv/error.json
  frontend/src/lib/i18n/translations/translations.type.ts
  frontend/src/routes/+error.svelte
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/Layout.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/about/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/error/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/+error.svelte
  frontend/src/routes/[[lang=locale]]/candidate/+layout.svelte
  package.json
  packages/shared-config/package.json
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: TODO notes for future `DataWriter` update
  packages/app-shared/src/settings/settings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: run prettier
  frontend/src/lib/candidate/components/input/PhotoInput.svelte
  frontend/src/lib/candidate/templates/question/QuestionPage.svelte
  frontend/src/lib/components/entityCard/EntityCard.svelte
  frontend/src/lib/components/entityDetails/EntityDetails.svelte
  frontend/src/lib/components/entityListControls/EntityListControls.svelte
  frontend/src/lib/components/feedback/Feedback.svelte
  frontend/src/lib/components/survey/SurveyButton.svelte
  frontend/src/lib/components/video/Video.svelte
  frontend/src/lib/templates/page/Page.svelte
  frontend/src/lib/templates/page/parts/VoterNav.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/results/[entityType]/[entityId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/preview/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/profile/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/settings/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/forgot-password/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/password-reset/PasswordResetPage.svelte
  frontend/src/routes/[[lang=locale]]/candidate/register/PasswordSetPage.svelte
Due: none

docs: update timeline
  README.md
Due: yarn build:app-shared, prettier --write

chore: harmonize variant naming
  packages/data/src/objects/entities/base/exports.ts
  packages/data/src/objects/entities/variants/variants.ts
  packages/data/src/objects/nominations/variants/variants.ts
  packages/data/src/root/dataRoot.ts
  packages/data/src/root/dataRoot.type.ts
  packages/data/src/testUtils/parseNominations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: additional exports from `@openvaa/data`
  packages/data/src/core/exports.ts
  packages/data/src/objects/entities/exports.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: rename `Colors.default` property
  packages/data/src/core/colors.type.ts
  packages/data/src/testUtils/testData.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: question getters by category type
  packages/data/src/root/dataRoot.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: allow `any` in rest args
  packages/shared-config/eslint.config.mjs
Due: none

refactor: update `ensureColors`
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/index.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/legacyEnsureColors.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/parseCustomData.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/parseParty.ts
  frontend/src/lib/legacy-api/dataProvider/strapi/utils/parseQuestionCategory.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

chore: split `settings.type.ts`
  packages/app-shared/src/index.ts
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/dynamicSettings.type.ts
  packages/app-shared/src/settings/staticSettings.ts
  packages/app-shared/src/settings/staticSettings.type.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file
