Repository OpenVAA/voting-advice-application: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: translations for duf vaa
  backend/vaa-strapi/src/util/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/dynamic.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/en/results.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: settings for duf vaa
  frontend/static/favicon.png
  packages/app-shared/src/settings/dynamicSettings.ts
  packages/app-shared/src/settings/staticSettings.ts
  render.yaml
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: use `customData.vertical` to set display variant
  frontend/src/lib/components/questions/QuestionChoices.svelte
Due: none

feat[admin-tools]: don’t update `registrationKey` for registered
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/createOrUpdate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/utils/externalRelations.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: don’t show translation options with one locale
  frontend/src/lib/components/input/Input.svelte
Due: none

chore: fix typo in `QuestionBasicInfo` docs
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
Due: none

feat: `QuestionArguments` component
  frontend/src/lib/components/questions/QuestionArguments.svelte
  frontend/src/lib/components/questions/QuestionArguments.type.ts
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/et/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: `QuestionArguments` component
  frontend/src/lib/components/questions/QuestionArguments.svelte
  frontend/src/lib/components/questions/QuestionArguments.type.ts
  frontend/src/lib/components/questions/QuestionChoices.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.svelte
  frontend/src/lib/components/questions/QuestionExtendedInfo.type.ts
  frontend/src/lib/components/questions/index.ts
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/i18n/translations/en/questions.json
  frontend/src/lib/i18n/translations/et/questions.json
  frontend/src/lib/i18n/translations/fi/questions.json
  frontend/src/lib/i18n/translations/sv/questions.json
  frontend/src/lib/types/generated/translationKey.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: show pros and cons in basic info
  frontend/src/lib/components/questions/QuestionBasicInfo.svelte
  frontend/src/lib/components/questions/QuestionBasicInfo.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/candidate/(protected)/questions/[questionId]/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat: show link to registration on candidate login page
  frontend/src/lib/i18n/translations/da/candidateApp.login.json
  frontend/src/lib/i18n/translations/en/candidateApp.login.json
  frontend/src/lib/i18n/translations/et/candidateApp.login.json
  frontend/src/lib/i18n/translations/fi/candidateApp.login.json
  frontend/src/lib/i18n/translations/sv/candidateApp.login.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

fix: routing hooks and candidate login
  frontend/src/hooks.server.ts
  frontend/src/routes/[[lang=locale]]/candidate/login/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: candidate password and registration manager tool
  backend/vaa-strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/CandidateAuth.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateAuth.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/candidateAuth.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: info page
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
Due: none

custom: intro page
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/introVideo.json
Due: yarn build:app-shared, prettier --write

custom: translations
  backend/vaa-strapi/src/util/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/da/candidateApp.basicInfo.json
  frontend/src/lib/i18n/translations/da/candidateApp.home.json
  frontend/src/lib/i18n/translations/da/candidateApp.questions.json
  frontend/src/lib/i18n/translations/da/constituencies.json
  frontend/src/lib/i18n/translations/da/dynamic.json
  frontend/src/lib/i18n/translations/da/questions.json
  frontend/src/lib/types/generated/translationKey.ts
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

feat[admin-tools]: add candidate function
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/api/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/components/AddCandidate.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/admin/src/pages/HomePage.tsx
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/bootstrap.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/controllers/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/routes/admin/index.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/addCandidate.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/addCandidate.type.ts
  backend/vaa-strapi/src/plugins/openvaa-admin-tools/server/src/services/index.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: events and results page
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/lib/contexts/app/tracking/trackingService.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

custom: results events
  frontend/src/lib/contexts/app/tracking/trackingEvent.type.ts
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(01): create gap closure plans for testId reconciliation
  .planning/ROADMAP.md
  .planning/phases/01-infrastructure-foundation/01-09-PLAN.md
  .planning/phases/01-infrastructure-foundation/01-10-PLAN.md
Due: yarn build:app-shared, prettier --write

docs: initialize project
  .planning/PROJECT.md
Due: yarn build:app-shared, prettier --write

docs(state): record phase 1 context session
  .planning/STATE.md
Due: yarn build:app-shared, prettier --write

docs(01-05): complete fixture-extended test layer and page object stubs plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/01-infrastructure-foundation/01-05-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(02): research phase domain
  .planning/phases/02-candidate-app-coverage/02-RESEARCH.md
Due: yarn build:app-shared, prettier --write

fix(01-11): remove orphaned testIds and wire loading-indicator
  frontend/src/lib/components/loading/Loading.svelte
  tests/tests/utils/testIds.ts
Due: yarn build:app-shared, prettier --write, eslint --fix --flag unstable_config_lookup_from_file

docs(01-07): complete shared/dynamic component testIds plan
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/[questionId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/questions/category/[categoryId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/[entityType]/[entityId]/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/(located)/results/statistics/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/about/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/constituencies/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/elections/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/info/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/intro/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/nominations/+page.svelte
  frontend/src/routes/[[lang=locale]]/(voters)/privacy/+page.svelte
Due: none

docs(01-02): complete test dataset and setup/teardown plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/01-infrastructure-foundation/01-02-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs: complete project research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(02): capture phase context
  .planning/phases/02-candidate-app-coverage/02-CONTEXT.md
Due: yarn build:app-shared, prettier --write

docs(phase-01): complete phase execution
  .planning/STATE.md
  .planning/phases/01-infrastructure-foundation/01-VERIFICATION.md
Due: yarn build:app-shared, prettier --write

docs(01-10): complete missing testId wiring plan - Phase 1 complete
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-infrastructure-foundation/01-10-SUMMARY.md
Due: yarn build:app-shared, prettier --write

docs(01-01): complete Playwright upgrade and test infrastructure plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/01-infrastructure-foundation/01-01-SUMMARY.md
Due: yarn build:app-shared, prettier --write

Path conditions:
  yarn build:app-shared: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  prettier --write: (any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}) or (any of: *.{css,json,md})
  eslint --fix --flag unstable_config_lookup_from_file: any of: *.{html,js,jsx,cjs,mjssvelte,ts,tsx,cts,mts,xml,yaml,yml}
